<template>
<div class="container-fluid top-header-mar-no-back">
  <div class="row">
    <div class="col-4">
      <v-text-field
          label="Phase Name"
          v-model="name"
      ></v-text-field>
    </div>
    <div class="col-4">
      <v-text-field
          label="Phase Duration"
          v-model="duration"
      ></v-text-field>
    </div>
    <div class="col-4">
      <v-text-field
          label="No of Series"
          v-model="total_series"
          @input="populateSeries"
      ></v-text-field>
    </div>
  </div>
  <div :key="index" v-for="(num, index) in series" class="row">
    <v-text-field
        class="col-6"
        v-model="series[index].name"
        label="Series Name"
    ></v-text-field>
    <v-text-field
        class="col-6"
        v-model="series[index].duration"
        label="Series Duration"
    ></v-text-field>
  </div>
  <div class="row">
    <div class="col-12">
      <button @click="goBack" class="btn btn-neutral-action">Cancel</button>
      <button @click="createSeriesCup" style="margin-left: 1rem" class="btn btn-fourth">Submit</button>
    </div>
  </div>
</div>
</template>

<script>
import {generateCode} from "../../../filter";
import firebase from 'firebase/app';
import 'firebase/database';

export default {
  name: "create",
  data: function (){
    return {
      name: '',
      duration: '',
      total_series: 0,
      series: []
    }
  },
  methods: {
    goBack(){
      const self = this;
      self.$router.push({ name: "home" }).catch(function () {});
    },
    populateSeries(){
      const self = this;
      let i;
      self.series = [];
      for (i = 0; i < parseInt(self.total_series); i++) {
        let object = {
          id: generateCode(),
          name: '',
          duration: ''
        };
        self.series.push(object)
      }
    },
    createSeriesCup(){
      const self = this;
      let id = 'SC-' +  generateCode().toUpperCase();
      let database = firebase.database();
      let cup = {
        name: self.name,
        duration: self.duration,
        total_series: self.total_series,
        series: self.series
      }
      database.ref('series-cup/' + id).set(cup).then(function () {
        window.location.reload();
      }).catch(function (err) {
        // eslint-disable-next-line
        console.log(err)
      });
    }
  }
}
</script>

<style scoped>

</style>