<template>
<div class="container-fluid top-header-mar-no-back">
  <div>
    <div v-if="!cup_id_change" style="padding: 1rem; background-color: var(--secondary-color); margin: 1rem; color: white">
      Current Series: {{current_series.id || 'BA'}}
      <v-icon @click="openCupIDChange(current_series)" style="margin-left: 1rem; color: white" size="14">mdi-square-edit-outline</v-icon>
    </div>
    <div v-else style="padding: 1rem">
      <v-text-field
          v-model="id"
          label="Series Cup ID"
          append-icon="mdi-check-circle"
          append-outer-icon="mdi-close-circle"
          @click:append="updateCurrentSeriesCup()"
          @click:append-outer="cup_id_change = false"
      ></v-text-field>
    </div>
    <div class="back" :key="index" v-for="(data, index) in series">
      <series-card
          v-bind:info="data"
      ></series-card>
    </div>
  </div>
</div>
</template>

<script>
import firebase from 'firebase/app';
import 'firebase/database';
import SeriesCard from "./series-card"

export default {
  name: "manage",
  components: {SeriesCard},
  data: function (){
    return{
      series: [],
      current_series: {},
      cup_id_change: false,
      id: ''
    }
  },
  methods: {
    openCupIDChange(){
      const self = this;
      self.cup_id_change = true;
    },
    getSeriesCup(){
      let database = firebase.database();
      const self = this;
      database.ref('series-cup').on('value', function(snapshot) {
        let returnArr = [];
        snapshot.forEach(function(childSnapshot) {
          let obj = {
            key: childSnapshot.key,
            val: childSnapshot.val()
          }
          returnArr.push(obj);
          // Fill the local data property with Firebase data
        });
        self.series = returnArr;
      });
    },
    getCurrentSeriesCup(){
      let database = firebase.database();
      const self = this;
      database.ref('current-series-cup').on('value', function(snapshot) {
        self.current_series = snapshot.val();
      });
    },
    updateCurrentSeriesCup(){
      const self = this;
      let database = firebase.database();
      database.ref('current-series-cup/').update({
        id: self.id,
      }).then(function () {
        window.location.reload();
      }).catch(function () {})
    },
  },
  mounted() {
    const self = this;
    self.getSeriesCup();
    self.getCurrentSeriesCup()
  }
}
</script>

<style scoped>
.back{
  background-color: #e6e6e6;
  margin: 1rem !important;
  padding: 1rem !important;
  border-radius: 0.5rem;
}
</style>