<template>
  <div style="position: relative">
    <div v-if="!edit">
      <div>
        <div style="font-size: 2rem">{{info.val.name}}</div>
        <div>{{info.val.duration}}</div>
        <div>Series Cup ID: <span style="margin-left: 1rem; color: var(--third-color-light)">{{info.key}}</span></div>
      </div>
      <div style="margin-top: 1rem">
        <div class="row" :key="ind" v-for="(series, ind) in info.val.series">
          <div>({{ind+1}})</div>
          <div style="margin-left: 1rem">
            {{series.name}} <span style="margin-left: 1rem">({{series.duration}})</span>
          </div>
        </div>
      </div>
      <div style="margin-top: 1rem">
        <div>
          <button v-if="info.val.users" class="btn btn-first-light">Users: {{Object.keys(info.val.users).length}}</button>
        </div>
        <div style="margin-top: 1rem; text-align: left">
          <button v-if="hide" @click="hide = false" class="btn btn-fourth">Show Users</button>
          <button v-else @click="hide = true" class="btn btn-error-color">Hide Users</button>
          <button @click="countTotalStar" style="margin-left: 1rem" class="btn btn-second">Update Series Cup Points</button>
          <button @click="updateRank" style="margin-left: 1rem" class="btn btn-first">Update Series Cup Rank</button>
        </div>
      </div>
      <div v-if="!hide" style="margin-top: 1rem;">
        <div style="margin: 0.5rem 0" :key="ind" v-for="(user, ind) in info.val.users">
          <div style="margin: 0.5rem 0!important;  background-color: #f7f7f7" class="row">
            <div class="col-12" style="color: var(--blue)">{{ind}}</div>
            <div class="col-12" :key="i" v-for="(star, i) in user.stars">
              <div class="row">
                <div class="col-6">{{star.series_name}}</div>
                <div class="col-3">Points: <span style="padding: 0" v-if="star.points">{{star.points}}</span><span style="color: #EA4335" v-else>N/A</span></div>
                <div class="col-3">KP: <span v-if="star.count">{{star.count}}</span><span style="color: #EA4335" v-else>N/A</span></div>
              </div>
            </div>
            <div class="col-12">
              <div>Total Khelo Points: {{user.total_stars}}</div>
              <div>Total Series Points: {{user.total_points}}</div>
              <div>Rank: {{user.rank}}</div>
              <div>Previous Rank: {{user.prev}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <div>
        <div style="font-size: 2rem">
          <v-text-field
              v-model="name"
              label="Phase Name"
          ></v-text-field>
        </div>
        <div>
          <v-text-field
              label="Phase Duration"
              v-model="duration"
          ></v-text-field>
        </div>
        <div>
          <v-text-field
              label="Total Series"
              v-model="total_series"
          ></v-text-field>
        </div>
      </div>
      <div style="margin-top: 1rem">
        <div class="row" :key="ind" v-for="(srs, ind) in series">
          <v-text-field
              class="col-6"
              label="Series Name"
              v-model="srs.name"
          ></v-text-field>
          <v-text-field
              class="col-6"
              label="Series Duration"
              v-model="srs.duration"
          ></v-text-field>
        </div>
      </div>
      <div class="row">
       <div class="col-6">
         <button @click="closeCup" class="btn btn-neutral-action">Close</button>
         <button style="margin-left: 1rem" @click="updateSeries" class="btn btn-fourth">Update</button>
       </div>
       <div style="text-align: right" class="col-6">
         <button style="margin-left: 1rem" @click="addRow" class="btn btn-second">Add Row</button>
         <button style="margin-left: 1rem" @click="removeRow" class="btn btn-first">Remove Row</button>
       </div>
      </div>
    </div>
    <v-icon v-if="!edit" @click="editCup(info.val)" style="position: absolute; right: 0; top: 0" class="btn bt-ico-primary">mdi-square-edit-outline</v-icon>
  </div>
</template>

<script>
import firebase from "firebase/app";
import 'firebase/database';

export default {
  name: "series-card",
  props: {
    info: Object
  },
  data: function (){
    return {
      hide: true,
      edit: false,
      name: '',
      duration: '',
      series: [],
      total_series: '',
    }
  },
  methods: {
    addRow(){
      const self = this;
      self.series.push(
          {
            name: '',
            duration: '',
          }
      );
    },
    removeRow(){
      const self = this;
      self.series.pop()
    },
    closeCup(){
      const self = this;
      self.edit = false;
      self.name = '';
      self.duration = '';
      self.series = [];
      self.total_series = '';
    },
    editCup(obj){
      const self = this;
      self.edit = true;
      self.name = obj.name;
      self.duration = obj.duration;
      self.series = obj.series;
      self.total_series = obj.total_series;
    },
    compareFunc(a,b){
      if(parseInt(a[1].total_stars) < parseInt(b[1].total_stars)){
        return 1
      }
      if(parseInt(a[1].total_stars) > parseInt(b[1].total_stars)){
        return -1
      }
      if(parseInt(a[1].total_stars) === parseInt(b[1].total_stars)){
        if(parseFloat(a[1].total_points) < parseFloat(b[1].total_points)){
          return 1
        }
        if(parseFloat(a[1].total_points) > parseFloat(b[1].total_points)){
          return -1
        }
      }
      return 0
    },
    updateRank(){
      const self = this;
      let objects = self.info.val.users
      let sortable = [];
      for (let key in objects) {
        sortable.push([key, objects[key]]);
      }
      sortable.sort(self.compareFunc);
      let rank = 1;
      let prev = sortable.length;
      for (let i = 0; i < sortable.length; i++) {
        for (let j in objects) {
          if(j === sortable[i][0]) {
            prev = objects[j].rank ? objects[j].rank : prev
            objects[j].rank = rank;
            objects[j].prev = prev;
            rank++
            break;
          }
        }
      }
      let database = firebase.database();
      database.ref('series-cup/' + self.info.key + '/').update({
        users: objects,
      }).then(function () {
        window.location.reload();
      }).catch(function () {})
    },
    countTotalStar(){
      const self = this;
      let database = firebase.database();
      let tot_count = 0;
      let bot_count = 0;
      let users = self.info.val.users
      for(let key in users){
        // eslint-disable-next-line
        let count  = 0;
        let points  = 0;
        if(users[key].stars){
          tot_count++;
          let starObj = users[key].stars
          for (let ckey in starObj) {
            let temp = starObj[ckey].points ? parseFloat(starObj[ckey].points) : 0
            count = count + starObj[ckey].count
            points = points + temp
          }
        }
        // let remaining = count - redeemed;
        database.ref('series-cup/' + self.info.key + '/users/' + key).update({
          total_stars: count,
          total_points: points,
        }).then(function () {
          bot_count++;
          if(tot_count === bot_count){
            // eslint-disable-next-line
            console.log(tot_count)
            // eslint-disable-next-line
            console.log(bot_count)
          }
        }).catch(function () {})
      }
    },
    updateSeries(){
      const self = this;
      let database = firebase.database();
      database.ref('series-cup/' + self.info.key + '/').update({
        name: self.name,
        duration: self.duration,
        series: self.series,
        total_series: self.total_series,
      }).then(function () {
        window.location.reload();
      }).catch(function () {})
    }
  }

}
</script>

<style scoped>

</style>