<template>
  <v-dialog max-width="40.0rem" v-model="open">
    <div class="image-upload-box-wrapper">
      <div class="image-upload-box">
        <div class="title-header">
          Change Photo
          <span style="position: absolute; top: .5rem; right: .5rem"><v-icon @click="closeBox">mdi-close</v-icon></span>
        </div>
        <div class="main-content">
          <div class="image-wrapper">
            <img class="image" :src="changeImgSrc" />
          </div>
          <div v-if="changeButton" class="row action-buttons">
            <div v-if="hasExistingImage" class="col-6">
              <button @click="deleteImage" class="btn btn-close">
                Delete Photo
              </button>
            </div>
            <div v-else class="col-3"></div>
            <div class="col-6">
              <form enctype="multipart/form-data" novalidate>
                <div class="row profile-picture">
                  <div class="photo">
                    <div class="btn btn-first">Change Photo</div>
                  </div>
                </div>
                <div class="profile-picture-upload">
                  <input
                      class="input-file"
                      type="file"
                      id="file"
                      ref="file"
                      accept="image/*"
                      @change="
                      changePhoto($event.target.name, $event.target.files)
                    "
                  />
                </div>
              </form>
            </div>
          </div>
          <div v-else class="row action-buttons">
            <div class="col-6" style="text-align: left">
              <div class="btn btn-neutral-action" @click="resetPrevious">Cancel</div>
            </div>
            <div class="col-6" style="text-align: right">
              <div @click="saveImage" class="btn btn-success-color">Save Photo</div>
            </div>
          </div>
          <div style="color: var(--vicecap)" v-if="warning">
            Image size can not be more than 1 MB
          </div>
        </div>
        <v-overlay absolute :value="loading">
          <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>
      </div>
    </div>
  </v-dialog>
</template>

<script>
import firebase from 'firebase/app';
import 'firebase/database';
import 'firebase/auth';

export default {
  name: "change-image",
  data: function() {
    return {
      user: {},
      open: true,
      src: null,
      changeButton: true,
      changeImgSrc: null,
      imageFile: null,
      warning: false,
      s3key: "",
      change: 0,
      bgColor: "#454545",
      timeOut: 1000,
      snackbar: false,
      snackIcon: "",
      snackMessage: "",
      ripple: false,
      existingImage: {},
      hasExistingImage: false,
      timeout: null,
      uploadValue: 0,
      loading: false,
    };
  },
  methods: {
    changePhoto(fieldName, fileList) {
      if (fileList[0].size / 1024 / 1024 > 1) {
        this.warning = true;
        this.imageFile = null;
      } else {
        this.warning = false;
        this.changeImgSrc = URL.createObjectURL(fileList[0]);
        this.imageFile = fileList[0];
        this.changeButton = false;
        this.uploadValue=0;
      }
    },
    closeBox(){
      const self = this;
      self.open = false;
      self.$emit('close')
    },
    resetPrevious() {
      this.changeImgSrc = this.src;
      this.changeButton = true;
    },
    saveImage() {
      const self = this;
      self.img1 = null;
      self.loading = true;
      const storageRef=firebase.storage().ref('user/' + self.user.uid + '/image').put(self.imageFile);
      storageRef.on(`state_changed`,snapshot=>{
            self.uploadValue = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
          }, error=>{
            // eslint-disable-next-line
            console.log(error.message)
            self.loading = false;
          },
          ()=>{self.uploadValue=100;
            storageRef.snapshot.ref.getDownloadURL().then((url)=>{
              // eslint-disable-next-line
              self.user.updateProfile({
                photoURL: url
              }).then(function() {
                let database = firebase.database();
                database.ref('users/' + self.user.uid).update({
                  imageURL: url
                }).then(function () {
                  self.loading = false;
                  location.reload();
                })
              }).catch(function(error) {
                self.loading = false;
                // eslint-disable-next-line
                console.log(error);
              });
            });
          }
      );
    },
    deleteImage() {
    }
  },
  beforeDestroy(){
    clearTimeout(this.timeout)
  },
  mounted() {
    const self = this;
    self.user = firebase.auth().currentUser;
    if(self.user) {
      self.changeImgSrc = self.user.photoURL;
      self.src = self.user.photoURL;
    }
  }
};
</script>

<style scoped>
.image-upload-box-wrapper {
  background-color: #ffffff;
  width: 100%;
}
.image-upload-box {
}
.title-header {
  position: relative;
  text-align: left;
  font-size: 1.6rem;
  padding: 1rem;
}
.main-content {
}
.image-wrapper {
  padding: 2rem;
  background-color: #000000;
}
.image {
  max-width: 15rem;
  height: auto;
  /*border: .1rem dashed #cccccc;*/
}
.action-buttons {
  padding: 2rem 0 2rem 0;
}
.input-file {
  opacity: 0; /* invisible but it's there! */
  width: 93%;
  height: 3.6rem;
  margin: 0 0.8rem 0 0.8rem;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
  cursor: pointer;
}
.profile-picture {
  position: relative;
  margin: 0 0.8rem !important;
}
.profile-picture-upload {
  position: absolute;
  top: 0;
  left: 1.5rem;
  max-width: 75%;
  margin: 0.6rem 0.8rem;
  cursor: pointer;
}
#file {
  cursor: pointer;
}
.btn-back {
  padding: 0.5rem 1.5rem;
}
</style>
