<template>
  <div class="container-fluid p-2">
    <div style="margin-bottom: 8rem !important;">
      <div class="wrp" :key="faq.ques" v-for="faq in faqs">
        <div class="ques">{{faq.ques}}</div>
        <div class="ans">{{faq.ans}}</div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "faq_component",
        data: function () {
            return {
                faqs: [
                    {
                        ques: 'What is Khelo?',
                        ans: 'Khelo is Bangladesh’s first gamble-free tournament-based online fantasy sports platform.'
                    },
                    {
                        ques: 'What is Fantasy Cricket?',
                        ans: 'Fantasy cricket is a part of the fantasy sports genre. It is an online game in which a virtual team of real cricket players is created and points are scored depending on how those players perform in real life matches. ' +
                            'To win a tournament, players must work towards attaining the maximum points and the highest rank ' +
                            'on the leaderboard. (Source: Wikipidea)'
                    },
                    {
                        ques: 'How Khelo is Gamble-Free?',
                        ans: 'Khelo never requires any kind of money to play, be it real money or online chips. ' +
                            'So unlike other fantasy sports platform you will not be gambling with your hard-earned money here rather ' +
                            'you will be playing for fun and refreshment, and for the love of cricket. Khelo is and always will be gamble-free.' +
                            'Because in Khelo, we do gaming for fun, not to stress ourselves with gambling.'
                    },
                    {
                        ques: 'Do I need to pay to participate in Khelo\'s public tournament?',
                        ans: 'Never! All the events in Khelo are free and always will be. Khelo will never ask you to send or deposit any ' +
                            'money, be it real or virtual.'
                    },
                    {
                        ques: 'Do I need to pay to participate in private tournament?',
                        ans: 'Not at all. Private leagues are free. We do not promote any kind of gambling in any form. ' +
                            'Yet if the any owner(user or users) of a league want it\'s participants to join that league with a entry fee, we will ban that user upon' +
                            ' verifying the claim.'
                    },
                    {
                        ques: 'Can I win any cash playing in Khelo?',
                        ans: 'Unfortunately you will not be winning any cash.' +
                            ' But you can always win exciting prizes from Khelo if you top the global leaderboard. And every tournament will have it\'s' +
                            'unique set of prizes for the winners. Keep participating to increase your chances of winning.'


                    },
                    {
                        ques: 'How do I Sign up (register)?',
                        ans: 'Simple. Go to Sign up/Login page. Now you can sign up with your email or ' +
                            'using google and facebook account. You are just one click away from registering in Khelo.'
                    },
                    {
                        ques: 'How do I change my password?',
                        ans: 'Go to your profile section. Click \'Change Password\'' + 'and change your password. It\'s\' that easy.',
                    },
                    {
                        ques: 'How many Fantasy Cricket teams can I create with the same email Id?',
                        ans: 'For each tournament you can crate only one team using one email id.'
                    },
                    {
                        ques: 'Can I update / edit my information?',
                        ans: 'Yes, you can update some of your information in profile section.'
                    },
                    {
                        ques: 'I’m sure I\'ve got the right email and password but I still can\'t login.',
                        ans: 'That’s unusual! If you are sure that you are a registered user on Khelo and are entering the correct details ' +
                            'but are still unable to login please drop us an email us at info@khelo.io . Our Customer Care team will be more than happy to assist you.'
                    },
                    {
                        ques: 'I did not get any email with the change password link.',
                        ans: 'a) It could have been marked as Spam mail by your mailbox. Please check your spam mail and mark the email from Khelo as ‘Not Spam’. Also, add info@khelo.io to your contacts so that you receive our email the next time\n' +
                            '\n' +
                            'b) You may have entered a different email id than the one used by you during registration.' +
                            ' For any assistance, please drop us an email at info@khelo.io'
                    },
                    {
                        ques: 'I don\'t know much about Fantasy cricket – can I still play?',
                        ans: 'If you are not too sure about your cricketing knowledge, don’t worry we go you covered.' +
                            ' You can gain some valuable experience and knowledge as you play more Fantasy Cricket. ' +
                            'You can also check out our Khelo Facebook group for assistance.'
                    },

                ]
            }
        }
    }
</script>

<style scoped>
  .wrp{
    padding: 1rem;
    background-color: white;
  }
  .ques{
    background-color: var(--black-light-foreground);
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1.6rem;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .ans{
    background-color: white;
    padding: 1rem;
    color: var(--black-light-foreground);
    border-radius: 0 0 0.5rem 0.5rem;
  }
</style>