<template>
  <div class="disable-select">
    <div @click="toggleClassic" class="item head menu">
      Classic
      <v-icon class="arr">{{ classic ? 'mdi-menu-up' : 'mdi-menu-down'}}</v-icon>
    </div>
    <div v-if="classic">
      <div class="item head" style="padding: 1rem">
        <ul>
          <li> Step 1: Click on <span class="scnd">Join Tournament</span></li>
          <li> Step 2: Choose a name for your team (This name will be used for this tournament, you can change it later)</li>
          <li> Step 3: Go to <span class="scnd">Ground</span></li>
          <li> Step 4: Click on <span class="scnd crt">Create Team</span></li>
          <li> Step 5: Choose your initial <span class="scnd mn">15-man</span> squad & <span class="scnd">Save</span></li>
          <li> Step 4: Click on <span class="scnd crt">Pick Team</span></li>
          <li> Step 6: Pick your <span class="scnd sqd">11-man</span> team for the round from your squad</li>
          <li> Step 7: Select your <span class="scnd mn">Captain</span> and <span class="scnd mn">Vice Captain</span></li>
          <li> Step 8: <span class="scnd">Save</span> your team</li>
        </ul>
      </div>
      <div class="item head">
        <div class="itm-ttl">Squad</div>
        <div class="itm-sub">
          Your initial <span class="scnd mn">15 Man</span> squad must be consisted of:
          <ul>
            <li><span class="scnd mn">2</span> Wicketkeepers</li>
            <li><span class="scnd mn">5</span> Batsmen</li>
            <li><span class="scnd mn">3</span> All-rounders</li>
            <li><span class="scnd mn">5</span> Bowlers</li>
          </ul>
        </div>
      </div>
      <div class="item head">
        <div class="itm-ttl">Budget</div>
        <div class="itm-sub">
          The total value of your initial squad must not exceed <span class="scnd nmb">$100</span> million
        </div>
      </div>
      <div class="item head">
        <div class="itm-ttl">Pick Team</div>
        <div class="itm-sub">You can pick your <span class="scnd">11 Man</span> team using any of the combination below:</div>
        <div class="row item">
          <div class="col-4">Player Type</div>
          <div class="col-4">Minimum</div>
          <div class="col-4">Maximum</div>
        </div>
        <div class="row item">
          <div class="col-4">Wicketkeeper</div>
          <div class="col-4">1</div>
          <div class="col-4">N/A</div>
        </div>
        <div class="row item">
          <div class="col-4">Batsmen</div>
          <div class="col-4">3</div>
          <div class="col-4">5</div>
        </div>
        <div class="row item">
          <div class="col-4">All-rounders</div>
          <div class="col-4">1</div>
          <div class="col-4">3</div>
        </div>
        <div class="row item">
          <div class="col-4">Bowler</div>
          <div class="col-4">3</div>
          <div class="col-4">5</div>
        </div>
      </div>
      <div class="item head">
        <div class="itm-ttl">Maximum Player from one team</div>
        <div class="itm-sub">
          Maximum number of any category player can be change based on tournament type, number of teams playing in that tournament.
          It may vary from 3 to 7 players per team.
        </div>
      </div>
      <div class="item head">
        <div class="itm-ttl">Transfers</div>
        <div class="itm-sub">
          After selecting your squad you can buy and sell players in the transfer market.
          Unlimited transfers can be made at no cost until your first deadline/transfer. After that general rules will apply.
          However for every extra transfer beyond the quota 10 points will be deducted from your total points.
        </div>
      </div>
      <div class="item head">
        <div class="itm-ttl">Substitution</div>
        <div class="itm-sub">
          Substitutions happen at the end of the round when all matches have been played. If one or more players from your team do not play in that round he/they will be substituted
          with the substitute players who have the same playing role, if not then according to the substitute order you have provided.
          eg: You have an allrounder who did not play in that round, also you have an allrounder in the bench who played in that round.
          So after the round, the allrounder of the main team will be substituted with the allrounder from the bench. If there is no allrounder in your bench
          but only bowlers and batsman, then the allrounder will be substituted with the first player who played in that round from your bench.
          Your team must have 1 Wicketkeeper, at least 3 Batsman, at least 1 Allrounder and at least 3 Bowler selected at all times.
          If your starting team has 3 Batsman, and one of them did not play, he can only be replaced by another Batsman who played.
          However, a wicketkeeper can only be substituted with a wicketkeeper.
        </div>
      </div>
      <div class="item head" style="padding: 1rem">
        <div class="itm-ttl">Others</div>
        <ul>
          <li> Your scoring will start from the round you joined the tournament.</li>
          <li> Private league scoring will start from the round you joined the league.
            Any point scored by your player before joining any league won't be added to your league point.
            However it will not affect your overall points for global championship.
          </li>
          <li>If there is a 'No Result' or the match is 'Postponed' due to any reason then that match will be considered as 'Cancelled'
            and no points will be awarded for that match. For Test matches, at least 2 innings must be played completely to consider the match as
            'Done'.
          </li>
        </ul>
      </div>
    </div>
    <div @click="toggleSingle" class="item head menu">
      Single Match
      <v-icon class="arr">{{ single ? 'mdi-menu-up' : 'mdi-menu-down'}}</v-icon>
    </div>
    <div v-if="single">
      <div class="item head" style="padding: 1rem">
        <ul>
          <li> Step 1: Click on <span class="scnd">Create Team</span></li>
          <li> Step 2: Pick your <span class="scnd sqd">11-man</span> team</li>
          <li> Step 3: Select your <span class="scnd mn">Captain</span> and <span class="scnd mn">Vice Captain</span></li>
          <li> Step 4: <span class="scnd">Save</span> your team</li>
        </ul>
      </div>
      <div class="item head">
        <div class="itm-ttl">Budget</div>
        <div class="itm-sub">
          The total value of your team must not exceed <span class="scnd nmb">$100</span> million
        </div>
      </div>
      <div class="item head">
        <div class="itm-ttl">Pick Team</div>
        <div class="itm-sub">You can pick your <span class="scnd">11 Man</span> team using any of the combination below:</div>
        <div class="row item">
          <div class="col-4">Player Type</div>
          <div class="col-4">Minimum</div>
          <div class="col-4">Maximum</div>
        </div>
        <div class="row item">
          <div class="col-4">Wicketkeeper</div>
          <div class="col-4">1</div>
          <div class="col-4">2</div>
        </div>
        <div class="row item">
          <div class="col-4">Batsmen</div>
          <div class="col-4">3</div>
          <div class="col-4">5</div>
        </div>
        <div class="row item">
          <div class="col-4">All-rounders</div>
          <div class="col-4">1</div>
          <div class="col-4">3</div>
        </div>
        <div class="row item">
          <div class="col-4">Bowler</div>
          <div class="col-4">3</div>
          <div class="col-4">5</div>
        </div>
      </div>
      <div class="item head">
        <div class="itm-ttl">Maximum Player from one team</div>
        <div class="itm-sub">You can select maximum <span class="scnd nmb">7 players</span> from one team</div>
      </div>
      <div class="item head">
        <div class="itm-ttl">Transfers</div>
        <div class="itm-sub">
          <span class="scnd mn">Unlimited</span> transfers can be made at no cost until the deadline.
        </div>
      </div>
      <div class="item head">
        <div class="itm-ttl">Match Cancellation Policy</div>
        <div class="itm-sub">
          If there is a 'No Result' or the match is 'Postponed' due to any reason then that match will be considered as 'Cancelled'
          and no points will be awarded for that match. For Test matches, at least 2 innings must be played completely to consider the match as
          'Done', otherwise it will be marked as 'Canceled'.
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "how-to-play-component",
        data: function () {
            return {
                classic: false,
                single: false
            }
        },
        methods: {
            toggleClassic(){
                const self = this;
                self.classic = !self.classic;
            },
            toggleSingle(){
                const self = this;
                self.single = !self.single;
            }
        }
    }
</script>

<style scoped>
  li{
    margin: 0.5rem 0;
  }
  .menu{
    padding: 1rem;
    background-color: white !important;
    font-weight: bold;
    border-radius: 0.2rem;
    color: var(--third-color) !important;
    cursor: pointer;
  }
  .item{
    color: white;
    background-color: rgba(0,0,0,0.2);
    margin: 0.5rem !important;
  }
  .head{
    background-color: rgba(0,0,0,0.3);
  }
  .itm-ttl{
    padding: 0.5rem 1.5rem;
    font-size: 1.6rem;
  }
  .itm-sub{
    padding: 0.5rem 1.5rem;
    font-size: 1.4rem;
    background-color: rgba(0,0,0,0.2);
  }
  .arr{
    float: right;
    color: var(--third-color);
  }
  .scnd{
    padding: 0.1rem 0.2rem;
    background-color: var(--secondary-color);
    border-radius: 0.2rem;
  }
  .crt{
    background-color: var(--third-color);
  }
  .mn{
    font-weight: bold;
    color: var(--primary-color-dark);
    background-color: white;
  }
  .nmb{
    font-weight: bold;
    color: var(--fourth-color);
    background-color: white;
  }
  .sqd{
    background-color: var(--success-state);
  }
</style>