<template>
  <div class="container-fluid no-padding disable-select" style="height: 100%; overflow-y: auto">
    <div class="row">
      <div class="col-3 no-padding">
        <div v-bind:class="[{act: activeTab === 'test'}]" @click="changeTab('test')" class="tab">TEST</div>
      </div>
      <div class="col-3 no-padding">
        <div v-bind:class="[{act: activeTab === 'odi'}]" @click="changeTab('odi')" class="tab">ODI</div>
      </div>
      <div class="col-3 no-padding">
        <div v-bind:class="[{act: activeTab === 't20'}]" @click="changeTab('t20')" class="tab">T20</div>
      </div>
      <div class="col-3 no-padding">
        <div v-bind:class="[{act: activeTab === 't10'}]" @click="changeTab('t10')" class="tab">T10</div>
      </div>
    </div>
    <div v-if="!loading" class="mb-2">
      <div @click="batting=!batting" class="row item">
         <div class="col-1 no-padding">
           <div class="ico-wrp">
             <img class="ico" src="../../assets/cricket/all-rounder-1.png">
           </div>
         </div>
         <div style="font-size: 1.8rem" class="col-10 no-padding">
           Batting
         </div>
        <div class="col-1 no-padding">
          <v-icon class="icon-right">{{batting ? 'mdi-chevron-up' : 'mdi-chevron-down'}}</v-icon>
        </div>
      </div>
      <div v-if="batting" class="item-details">
        <div class="row itm-single">
          <div class="col-6 text-left">Run</div>
          <div class="col-6 text-right">{{system.rn}}</div>
        </div>
        <div class="row itm-single">
          <div class="col-6 text-left">Boundary Bonus</div>
          <div class="col-6 text-right">{{system.r4}}</div>
        </div>
        <div class="row itm-single">
          <div class="col-6 text-left">Six Bonus</div>
          <div class="col-6 text-right">{{system.r6}}</div>
        </div>
        <div v-if="bonus.r30" class="row itm-single">
          <div class="col-6 text-left">30 Run Bonus</div>
          <div class="col-6 text-right">{{bonus.r30}}</div>
        </div>
        <div v-if="bonus.r50" class="row itm-single">
          <div class="col-6 text-left">Half Century Bonus</div>
          <div class="col-6 text-right">{{bonus.r50}}</div>
        </div>
        <div v-if="bonus.r100"  class="row itm-single">
          <div class="col-6 text-left">Century Bonus</div>
          <div class="col-6 text-right">{{bonus.r100}}</div>
        </div>
        <div v-if="bonus.r150" class="row itm-single">
          <div class="col-6 text-left">Double Century Bonus</div>
          <div class="col-6 text-right">{{bonus.r150}}</div>
        </div>
        <div class="row itm-single">
          <div class="col-6 text-left">Dismissal for a duck <span style="font-size: 1.1rem">(except bowler)</span></div>
          <div class="col-6 text-right">{{system.r0}}</div>
        </div>
      </div>
      <div @click="bowling=!bowling" class="row item">
        <div class="col-1 no-padding">
          <div class="ico-wrp">
            <img class="ico" src="../../assets/cricket/ball.png">
          </div>
        </div>
        <div style="font-size: 1.8rem" class="col-10 no-padding">
          Bowling
        </div>
        <div class="col-1 no-padding">
          <v-icon class="icon-right">{{bowling ? 'mdi-chevron-up' : 'mdi-chevron-down'}}</v-icon>
        </div>
      </div>
      <div v-if="bowling" class="item-details">
        <div class="row itm-single">
          <div class="col-6 text-left">Wicket</div>
          <div class="col-6 text-right">{{bonus.wckt}}</div>
        </div>
        <div v-if="bonus.wckt2" class="row itm-single">
          <div class="col-6 text-left">2 wicket Bonus</div>
          <div class="col-6 text-right">{{bonus.wckt2}}</div>
        </div>
        <div v-if="bonus.wckt3" class="row itm-single">
          <div class="col-6 text-left">3 wicket Bonus</div>
          <div class="col-6 text-right">{{bonus.wckt3}}</div>
        </div>
        <div v-if="bonus.wckt4" class="row itm-single">
          <div class="col-6 text-left">4 wicket Bonus</div>
          <div class="col-6 text-right">{{bonus.wckt4}}</div>
        </div>
        <div v-if="bonus.wckt5" class="row itm-single">
          <div class="col-6 text-left">5 wicket Bonus <span style="margin-left: 0.5rem" v-if="activeTab === 'test'">(2 innings)</span> </div>
          <div class="col-6 text-right">{{bonus.wckt5}}</div>
        </div>
        <div v-if="bonus.wckt7" class="row itm-single">
          <div class="col-6 text-left">7 wicket Bonus <span style="margin-left: 0.5rem" v-if="activeTab === 'test'">(2 innings)</span></div>
          <div class="col-6 text-right">{{bonus.wckt7}}</div>
        </div>
        <div v-if="bonus.wckt10" class="row itm-single">
          <div class="col-6 text-left">10 wicket Bonus <span style="margin-left: 0.5rem" v-if="activeTab === 'test'">(2 innings)</span></div>
          <div class="col-6 text-right">{{bonus.wckt10}}</div>
        </div>
        <div v-if="bonus.wckt12" class="row itm-single">
          <div class="col-6 text-left">12 wicket Bonus <span style="margin-left: 0.5rem" v-if="activeTab === 'test'">(2 innings)</span></div>
          <div class="col-6 text-right">{{bonus.wckt12}}</div>
        </div>
        <div v-if="bonus.mdn" class="row itm-single">
          <div class="col-6 text-left">Maiden Over</div>
          <div class="col-6 text-right">{{bonus.mdn}}</div>
        </div>
      </div>
      <div @click="fielding=!fielding" class="row item">
        <div class="col-1 no-padding">
          <div class="ico-wrp">
            <img class="ico" src="../../assets/cricket/wicket.png">
          </div>
        </div>
        <div class="col-10 no-padding">
          <div style="font-size: 1.8rem">Fielding</div>
          <div style="font-size: 1rem; color: #3d4249">Substitute players will not get any points for each contribution if he is not a concussion sub.</div>
        </div>
        <div class="col-1 no-padding">
          <v-icon class="icon-right">{{fielding ? 'mdi-chevron-up' : 'mdi-chevron-down'}}</v-icon>
        </div>
      </div>
      <div v-if="fielding" class="item-details">
        <div class="row itm-single">
          <div class="col-6 text-left">
            Dismissal
            <div style="font-size: 1rem; color: #ffffff">(catch and stumping)</div>
          </div>
          <div class="col-6 text-right">{{system.ctc}}</div>
        </div>
        <div class="row itm-single">
          <div class="col-6 text-left">
            Run Out
            <div style="font-size: 1rem; color: #ffffff">(thrower & catcher or direct)</div>
          </div>
          <div class="col-6 text-right">{{system.rn_out}}</div>
        </div>
      </div>
      <div @click="others=!others" class="row item">
        <div class="col-1 no-padding">
          <div class="ico-wrp">
            <img class="ico" src="../../assets/cricket/others.png">
          </div>
        </div>
        <div style="font-size: 1.8rem" class="col-10 no-padding">
          Others
        </div>
        <div class="col-1 no-padding">
          <v-icon class="icon-right">{{others ? 'mdi-chevron-up' : 'mdi-chevron-down'}}</v-icon>
        </div>
      </div>
      <div v-if="others" class="item-details">
        <div class="row itm-single">
          <div class="col-6 text-left">Captain</div>
          <div class="col-6 text-right">{{system.cap}}</div>
        </div>
        <div class="row itm-single">
          <div class="col-6 text-left">Vice-Captain</div>
          <div class="col-6 text-right">{{system.vice}}</div>
        </div>
        <div class="row itm-single">
          <div class="col-6 text-left">In Playing XI</div>
          <div class="col-6 text-right">{{system.xi}}</div>
        </div>
      </div>
      <div @click="srate = !srate" v-if="bonus.sr50" class="row item">
        <div class="col-1 no-padding">
          <div class="ico-wrp">
            <img class="ico" src="../../assets/cricket/batting.png">
          </div>
        </div>
        <div style="font-size: 1.8rem" class="col-10 no-padding">
          Strike Rate <span style="font-size: 1.1rem">(except bowler)</span>
          <div style="font-size: 1rem; color: #3d4249">Min {{bonus.min_ball}} balls to be played</div>
        </div>
        <div class="col-1 no-padding">
          <v-icon class="icon-right">{{srate ? 'mdi-chevron-up' : 'mdi-chevron-down'}}</v-icon>
        </div>
      </div>
      <div v-if="(bonus.sr50) && srate" class="item-details">
        <div v-if="bonus.sr200" class="row itm-single">
          <div class="col-6 text-left">200 or more runs per 100 balls</div>
          <div class="col-6 text-right">{{bonus.sr200}}</div>
        </div>
        <div v-if="bonus.sr175" class="row itm-single">
          <div class="col-6 text-left">Between 175-200 runs per 100 balls</div>
          <div class="col-6 text-right">{{bonus.sr175}}</div>
        </div>
        <div v-if="bonus.sr150" class="row itm-single">
          <div class="col-6 text-left">Between 150-175 runs per 100 balls</div>
          <div class="col-6 text-right">{{bonus.sr150}}</div>
        </div>
        <div v-if="bonus.sr130" class="row itm-single">
          <div class="col-6 text-left">Between 130-150 runs per 100 balls</div>
          <div class="col-6 text-right">{{bonus.sr130}}</div>
        </div>
        <div v-if="bonus.sr100" class="row itm-single">
          <div class="col-6 text-left">Between 80-100 runs per 100 balls</div>
          <div class="col-6 text-right">{{bonus.sr100}}</div>
        </div>
        <div v-if="bonus.sr80" class="row itm-single">
          <div class="col-6 text-left">Between 50-80 runs per 100 balls</div>
          <div class="col-6 text-right">{{bonus.sr80}}</div>
        </div>
        <div v-if="bonus.sr50" class="row itm-single">
          <div class="col-6 text-left">Between 40-50 runs per 100 balls</div>
          <div class="col-6 text-right">{{bonus.sr50}}</div>
        </div>
        <div v-if="bonus.sr40" class="row itm-single">
          <div class="col-6 text-left">Between 30-40 runs per 100 balls</div>
          <div class="col-6 text-right">{{bonus.sr40}}</div>
        </div>
        <div v-if="bonus.sr30" class="row itm-single">
          <div class="col-6 text-left">Below 30 runs per 100 balls</div>
          <div class="col-6 text-right">{{bonus.sr30}}</div>
        </div>
      </div>
      <div @click="eco = !eco" v-if="bonus.eco8 || bonus.eco7" class="row item">
        <div class="col-1 no-padding">
          <div class="ico-wrp">
            <img class="ico" src="../../assets/cricket/economy.png">
          </div>
        </div>
        <div class="col-10 no-padding">
          <div style="font-size: 1.8rem"> Economy Rate </div>
          <div style="font-size: 1rem; color: #3d4249">Min {{bonus.min_overs}} overs to be bowled</div>
        </div>
        <div class="col-1 no-padding">
          <v-icon class="icon-right">{{eco ? 'mdi-chevron-up' : 'mdi-chevron-down'}}</v-icon>
        </div>
      </div>
      <div v-if="(bonus.eco8 || bonus.eco7) && eco" class="item-details">
        <div v-if="bonus.eco3" class="row itm-single">
          <div class="col-6 text-left">3 or less runs per over</div>
          <div class="col-6 text-right">{{bonus.eco3}}</div>
        </div>
        <div v-if="bonus.eco4" class="row itm-single">
          <div class="col-6 text-left">4 or less runs per over</div>
          <div class="col-6 text-right">{{bonus.eco4}}</div>
        </div>
        <div v-if="bonus.eco6" class="row itm-single">
          <div class="col-6 text-left">6 or less runs per over</div>
          <div class="col-6 text-right">{{bonus.eco6}}</div>
        </div>
        <div v-if="bonus.eco7 && parseInt(bonus.eco7) > 0" class="row itm-single">
          <div class="col-6 text-left">7 or less runs per over</div>
          <div class="col-6 text-right">{{bonus.eco7}}</div>
        </div>
        <div v-if="bonus.eco8 && parseInt(bonus.eco8) > 0" class="row itm-single">
          <div class="col-6 text-left">8 or less runs per over</div>
          <div class="col-6 text-right">{{bonus.eco8}}</div>
        </div>
        <div v-if="bonus.eco7 && parseInt(bonus.eco7) < 0" class="row itm-single">
          <div class="col-6 text-left">7 or more runs per over</div>
          <div class="col-6 text-right">{{bonus.eco7}}</div>
        </div>
        <div v-if="bonus.eco9" class="row itm-single">
          <div class="col-6 text-left">9 or more runs per over</div>
          <div class="col-6 text-right">{{bonus.eco9}}</div>
        </div>
        <div v-if="bonus.eco8 && parseInt(bonus.eco8) < 0" class="row itm-single">
          <div class="col-6 text-left">8 or more runs per over</div>
          <div class="col-6 text-right">{{bonus.eco8}}</div>
        </div>
        <div v-if="bonus.eco10" class="row itm-single">
          <div class="col-6 text-left">10 or more runs per over</div>
          <div class="col-6 text-right">{{bonus.eco10}}</div>
        </div>
        <div v-if="bonus.eco12" class="row itm-single">
          <div class="col-6 text-left">12 or more runs per over</div>
          <div class="col-6 text-right">{{bonus.eco12}}</div>
        </div>
      </div>
      <div style="margin: 2rem">
        <ul>
          <li> The Captain of your team will receive 2 times the points he/she scored.</li>
          <li> The Vice-Captain will receive 1.5 times the points for his/her performance.</li>
          <li> Starting points (In Playing XI) are assigned to any player on the basis of announcement of his/her inclusion in the team.
            However, in case the player is unable to start the match after being included in the team sheet,
            he/she will not score any points. Points shall however, be applicable (including starting points) to any player who plays as a replacement of such player to whom starting points were initially assigned.</li>
          <li> 11 players from each side play the game</li>
          <li> None of the events occurring during a Super Over, if any, will be considered for Points to be assigned/applied to a player. </li>
          <li> In case of run-outs involving 3 or more players from the fielding side, points will be awarded only to the last 2 players involved in the run-out.</li>
          <li> Any player scoring a century will only get points for the century and no points will be awarded for half-century. Same goes for double century and or other bonus point. Player will be awarded only for the higher contributions.</li>
          <li> Substitutes on the field will not be awarded points for any contribution they make. However, 'Concussion Substitutes' will be awarded points awarded full points for making an appearance in a match and will be awarded points any contribution they make.</li>
          <li> In case a player is transferred/reassigned to a different team between two scheduled updates, for any reason whatsoever, such transfer/reassignment (by whatever name called) shall not be reflected in the roster of players until next scheduled update. It is clarified that during the intervening period of two scheduled updates, while such player will be available for selection in the team to which the player originally belong, no points will be attributable to such player during the course of such contest.</li>
          <li> Data is provided by reliable sources and once the points have been marked as completed i.e. winners have been declared, no further adjustments will be made. Points awarded live in-game are subject to change as long as the status is 'In progress' or 'In review'. </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    export default {
        name: "points-distribution",
        data: function(){
          return {
              loading: false,
              system: {},
              bonus: {},
              activeTab: 'test',
              batting: false,
              bowling: false,
              fielding: false,
              others: false,
              eco: false,
              srate: false
          }
        },
        methods: {
          changeTab(tab){
              const self = this;
              switch (tab) {
                  case 'test':
                      self.activeTab = tab;
                      self.bonus = self.system.bonus.test;
                      break;
                  case 'odi':
                      self.activeTab = tab;
                      self.bonus = self.system.bonus.odi;
                      break;
                  case 't20':
                      self.activeTab = tab;
                      self.bonus = self.system.bonus.t20;
                      break;
                  case 't10':
                      self.activeTab = tab;
                      self.bonus = self.system.bonus.t10;
                      break;
                  default:
                      self.activeTab = 'test';
                      self.bonus = self.system.bonus.test;
              }
          }
        },
        mounted() {
            const self = this;
            self.loading = true;
            let database = firebase.database()
            database.ref('point_rules').once("value", function (snapshot) {
                self.loading = false;
                self.system = snapshot.val()
                self.bonus = self.system.bonus.test;
            })
        }

    }
</script>

<style scoped>
.tab{
  text-align: center;
  padding: 1rem 0;
  font-size: 1.6rem;
  cursor: pointer;
  background-color: rgba(130, 56, 205, 0.2);
  color: #3d4249;
}
.ico-wrp{
  height: 2rem;
  width: 2rem;
}
.ico{
  height: auto;
  width: 100%;
}
.item{
  padding: 1rem;
  cursor: pointer;
  margin: 0.5rem !important;
  border-bottom: 1px solid #cccccc;
}
.item-details{
  font-size: 1.4rem;
  background-color: white;
  padding: 0.5rem;
}
.itm-single{
  color: white;
  background-color: var(--black-light-foreground);
  margin: 0.2rem !important;
  border-radius: 0.4rem;
  font-size: 1.4rem;
}
.act{
  color: white;
  background-color: var(--third-color);
}
.icon-right{
  color: #050505;
  float: right;
}
</style>