<template>
  <div class="container-fluid">
    <div class="ttl-sub">
      Khelo is committed to protecting the privacy of its users and strives
      to provide a safe user experience. The privacy policy describes how
      your personal information is collected, used, shared, and secured, as
      well as your choices regarding use, access, and correction of your
      personal information. By creating an account on our website you agree
      to the collection, use, and transfer of your data as described in this
      Privacy Policy. If you want you may revoke your consent to this
      policy. To do so, please contact us. If you revoke your consent, your
      account and profile information will be removed from our website and
      database.
    </div>
    <div class="mt-2">
      <div class="ttl-top">The Information we collect</div>
      <div class="ttl-sub">
        We collect and store information when you choose to give it to us.
        This includes:
      </div>
      <ul class="ttl-sub">
        <li>
          Contact information like name, email address and
          phone number.
        </li>
        <li>
          Information imported by you from third party applications:
          Facebook and Google.
        </li>
        <li>Information you provide to us when you contact Khelo.</li>
        <li>
          Your activity on Khelo, including the teams you make, view,
          and searches.
        </li>
      </ul>
    </div>
    <div class="mt-2 pb-2">
      <div class="ttl-top">Why we use this information</div>
      <div class="ttl-sub">
        We use personal information and data for our legitimate interests,
        namely:
      </div>
      <ul class="ttl-sub">
        <li>To operate Khelo and other related services.</li>
        <li>To contact and communicate with you when you contact us.</li>
        <li>To analyze, improve and optimize Khelo's algorithm.</li>
        <li>To protect Khelo's Services and the rights of its users.</li>
        <li>
          To enforce terms of Khelo’s services and prevent fraud and abuse
          of Khelo systems.
        </li>
        <li>
          To provide personalized or targeted content, services, and
          advertisement from Khelo.
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
    export default {
        name: "faq_component"
    }
</script>

<style scoped>
  .ttl-top {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    margin-top: 4rem;
  }
  .ttl-sub {
    text-align: left;
    font-size: 1.6rem;
    color: #666666;
    padding-top: 2rem;
  }
</style>