<template>
  <div>
    <div v-if="!playerView">
      <v-toolbar flat style="background-color: var(--primary-color)" dark >
        <v-icon @click="goBack" style="font-size: 2rem">mdi-arrow-left</v-icon>
        <v-spacer></v-spacer>
        <v-toolbar-title>
          <div style="font-size: 1.6rem; text-align: right">Statistics</div>
        </v-toolbar-title>
      </v-toolbar>
      <div class="row plr-head">
        <div class="head-name">
          <div>Player</div>
          <v-icon @click="sortArrayPlayersByPlayer" color="white" size="24">{{!byPlayer ? 'mdi-menu-up' : 'mdi-menu-down'}}</v-icon>
        </div>
        <div class="points my-auto text-left">
          <div>Rank</div>
          <v-icon @click="sortArrayPlayersByRank" color="white" size="24">{{!byRank ? 'mdi-menu-up' : 'mdi-menu-down'}}</v-icon>
        </div>
        <div class="points my-auto text-center">
          <div>Points</div>
          <v-icon @click="sortArrayPlayersByPoints" color="white" size="24">{{!byPoints ? 'mdi-menu-up' : 'mdi-menu-down'}}</v-icon>
        </div>
        <div class="price my-auto text-right">
          <div>Price</div>
          <v-icon @click="sortArrayPlayersByPrice" color="white" size="24">{{!byPrice ? 'mdi-menu-up' : 'mdi-menu-down'}}</v-icon>
        </div>
      </div>
      <div class="row plr" :key="index" v-for="(player, index) in players">
        <div class="rank">
          <v-icon @click="viewThisPlayer(player)" style="font-size: 1.6rem; color: #cccccc">mdi-information</v-icon>
        </div>
        <div class="image-wrp">
          <img @error="replaceByDefault" class="image" :src="player.imageURL">
        </div>
        <div class="name my-auto">
          <div style="font-size: 1.2rem">{{player.name}}</div>
          <div style="font-size: 1rem; color: #707070">{{player.team}}</div>
        </div>
        <div class="points my-auto text-left">
          {{player.rank}}
        </div>
        <div class="points my-auto text-center">
          {{player.total_points}}
        </div>
        <div class="price my-auto text-right">
          ${{player.price}}m
        </div>
      </div>
    </div>
    <div style="position: relative" v-else>
      <div class="row">
        <div class="image-wrp-single">
          <img class="image-single" :src="currentPlayer.imageURL">
        </div>
        <div class="name-single my-auto">
          <div style="font-size: 1.2rem; color: palegreen">#{{currentPlayer.rank}}</div>
          <div style="font-size: 2.4rem">{{currentPlayer.name}}</div>
          <div style="font-size: 1.6rem; color: papayawhip">{{currentPlayer.playingRole}}</div>
          <div style="font-size: 1.4rem; color: #707070">{{currentPlayer.team}}</div>
          <div v-if="currentPlayer.country.toLowerCase() !== currentPlayer.team.toLowerCase()" style="font-size: 1.4rem; color: #707070">{{currentPlayer.country}}</div>
        </div>
      </div>
      <div :key="round.key" v-for="round in currentPlayer.rounds">
        <div v-if="!EmptyObject(round.matches)">
          <div class="round-header-name">
            Round {{round.key.substring(1)}}
            <span style="float: right">Pts: {{round.points}}</span>
          </div>
          <div v-if="round.played">
            <div :key="index" v-for="(match, index) in round.matches">
              <div v-if="match.stats.played" class="stat-wrp">
                <div class="rh">vs {{getOpponent(index, round.key)}}</div>
                <div class="row round-header">
                  <div class="stats">Statistics</div>
                  <div class="stats1">Value</div>
                  <div class="stats2">Points</div>
                </div>
                <div class="row">
                  <div class="stats">In Playing XI</div>
                  <div class="stats1">--</div>
                  <div class="stats2">5</div>
                </div>
                <div v-if="isTest">
                  <div v-if="match.stats.batted">
                    <div v-if="parseInt(match.stats.runs) > 0" class="row">
                      <div class="stats">Runs Scored (First Innings)</div>
                      <div class="stats1">{{match.stats.runs}}</div>
                      <div class="stats2">{{match.stats.runs}}</div>
                    </div>
                    <div v-if="parseInt(match.stats.fours) > 0" class="row">
                      <div class="stats">Boundary Bonus (First Innings)</div>
                      <div class="stats1">{{match.stats.fours}}</div>
                      <div class="stats2">{{match.stats.fours}}</div>
                    </div>
                    <div v-if="parseInt(match.stats.sixs) > 0" class="row">
                      <div class="stats">Six Bonus (First Innings)</div>
                      <div class="stats1">{{match.stats.sixs}}</div>
                      <div class="stats2">{{match.stats.sixs * 2}}</div>
                    </div>
                    <div v-if="getMilestoneBonus(match.stats.runs).hasBonus" class="row">
                      <div class="stats">Bonus for a {{getMilestoneBonus(match.stats.runs).type}} (First Innings)</div>
                      <div class="stats1">--</div>
                      <div class="stats2">{{getMilestoneBonus(match.stats.runs).points}}</div>
                    </div>
                    <div v-if="getDuckMinus(match.stats.runs)" class="row">
                      <div class="stats">Dismissal for a duck (First Innings)</div>
                      <div class="stats1">{{match.stats.runs}}</div>
                      <div class="stats2">-10</div>
                    </div>
                  </div>
                  <div v-if="match.stats.batted_2">
                    <div v-if="parseInt(match.stats.runs_2) > 0" class="row">
                      <div class="stats">Runs Scored (Second Innings)</div>
                      <div class="stats1">{{match.stats.runs_2}}</div>
                      <div class="stats2">{{match.stats.runs_2}}</div>
                    </div>
                    <div v-if="parseInt(match.stats.fours_2) > 0" class="row">
                      <div class="stats">Boundary Bonus (Second Innings)</div>
                      <div class="stats1">{{match.stats.fours_2}}</div>
                      <div class="stats2">{{match.stats.fours_2}}</div>
                    </div>
                    <div v-if="parseInt(match.stats.sixs_2) > 0" class="row">
                      <div class="stats">Six Bonus (Second Innings)</div>
                      <div class="stats1">{{match.stats.sixs_2}}</div>
                      <div class="stats2">{{match.stats.sixs_2 * 2}}</div>
                    </div>
                    <div v-if="getMilestoneBonus(match.stats.runs_2).hasBonus" class="row">
                      <div class="stats">Bonus for a {{getMilestoneBonus(match.stats.runs_2).type}} (Second Innings)</div>
                      <div class="stats1">--</div>
                      <div class="stats2">{{getMilestoneBonus(match.stats.runs_2).points}}</div>
                    </div>
                    <div v-if="getDuckMinus(match.stats.runs_2)" class="row">
                      <div class="stats">Dismissal for a duck (Second Innings)</div>
                      <div class="stats1">{{match.stats.runs}}</div>
                      <div class="stats2">-10</div>
                    </div>
                  </div>
                </div>
                <div v-else>
                  <div v-if="match.stats.batted">
                    <div v-if="parseInt(match.stats.runs) > 0" class="row">
                      <div class="stats">Runs Scored</div>
                      <div class="stats1">{{match.stats.runs}}</div>
                      <div class="stats2">{{match.stats.runs}}</div>
                    </div>
                    <div v-if="parseInt(match.stats.fours) > 0" class="row">
                      <div class="stats">Boundary Bonus</div>
                      <div class="stats1">{{match.stats.fours}}</div>
                      <div class="stats2">{{match.stats.fours}}</div>
                    </div>
                    <div v-if="parseInt(match.stats.sixs) > 0" class="row">
                      <div class="stats">Six Bonus</div>
                      <div class="stats1">{{match.stats.sixs}}</div>
                      <div class="stats2">{{match.stats.sixs * 2}}</div>
                    </div>
                    <div v-if="getMilestoneBonus(match.stats.runs).hasBonus" class="row">
                      <div class="stats">Bonus for a {{getMilestoneBonus(match.stats.runs).type}}</div>
                      <div class="stats1">--</div>
                      <div class="stats2">{{getMilestoneBonus(match.stats.runs).points}}</div>
                    </div>
                    <div v-if="getDuckMinus(match.stats.runs)" class="row">
                      <div class="stats">Dismissal for a duck</div>
                      <div class="stats1">{{match.stats.runs}}</div>
                      <div class="stats2">-10</div>
                    </div>
                    <div class="row" v-if="getSRBonus(match.stats).hasBonus">
                      <div class="stats">{{getSRBonus(match.stats).reason}}</div>
                      <div class="stats1">{{getSRBonus(match.stats).sr}}</div>
                      <div class="stats2">{{getSRBonus(match.stats).points}}</div>
                    </div>
                  </div>
                </div>
                <div v-if="match.stats.bowled">
                  <div v-if="getWicketBonus(match.stats).points > 0" class="row">
                    <div class="stats">Wicket</div>
                    <div class="stats1">{{match.stats.wickets}}</div>
                    <div class="stats2">{{getWicketBonus(match.stats).points}}</div>
                  </div>
                  <div v-if="getWicketBonus(match.stats).hasBonus" class="row">
                    <div class="stats">{{getWicketBonus(match.stats).type}}</div>
                    <div class="stats1">--</div>
                    <div class="stats2">{{getWicketBonus(match.stats).bonus}}</div>
                  </div>
                  <div v-if="!isTest && parseInt(match.stats.maidens) > 0" class="row">
                    <div class="stats">Maiden Bonus</div>
                    <div class="stats1">{{match.stats.maidens}}</div>
                    <div class="stats2">{{getMaidenBonus(match.stats.maidens)}}</div>
                  </div>
                  <div v-if="!isTest && getECOBonus(match.stats).hasBonus" class="row">
                    <div class="stats">{{getECOBonus(match.stats).reason}}</div>
                    <div class="stats1">{{match.stats.economy}}</div>
                    <div class="stats2">{{getECOBonus(match.stats).points}}</div>
                  </div>
                  <div v-if="!isTest && match.stats.noball > 0" class="row">
                    <div class="stats">No Ball</div>
                    <div class="stats1">{{match.stats.noball}}</div>
                    <div class="stats2">-{{match.stats.noball}}</div>
                  </div>
                </div>
                <div v-if="isTest">
                  <div v-if="parseInt(match.stats.stump + match.stats.stump_2) > 0" class="row">
                    <div class="stats">Stumping</div>
                    <div class="stats1">{{parseInt(match.stats.stump + match.stats.stump_2)}}</div>
                    <div class="stats2">{{parseInt(match.stats.stump + match.stats.stump_2) * 10}}</div>
                  </div>
                  <div v-if="parseInt(match.stats.catch + match.stats.catch_2) > 0" class="row">
                    <div class="stats">Catch</div>
                    <div class="stats1">{{parseInt(match.stats.catch + match.stats.catch_2)}}</div>
                    <div class="stats2">{{parseInt(match.stats.catch + match.stats.catch_2) * 6}}</div>
                  </div>
                  <div v-if="parseInt(match.stats.run_out + match.stats.run_out_2) > 0" class="row">
                    <div class="stats">Run out</div>
                    <div class="stats1">{{parseInt(match.stats.run_out + match.stats.run_out_2)}}</div>
                    <div class="stats2">{{parseInt(match.stats.run_out + match.stats.run_out_2) * 8}}</div>
                  </div>
                </div>
                <div v-else>
                  <div v-if="parseInt(match.stats.catch) > 0" class="row">
                    <div class="stats">Dismissals</div>
                    <div class="stats1">{{match.stats.catch}}</div>
                    <div class="stats2">{{parseInt(match.stats.catch) * 6}}</div>
                  </div>
                  <div v-if="parseInt(match.stats.run_out) > 0" class="row">
                    <div class="stats">Run out</div>
                    <div class="stats1">{{match.stats.run_out}}</div>
                    <div class="stats2">{{parseInt(match.stats.run_out) * 8}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-else>
            <div style="background-color: var(--primary-color); text-align: left" class="round-header-name">Did not play</div>
          </div>
        </div>
      </div>
      <div style="position: absolute; top: 0.5rem; right: 0.5rem">
        <v-icon color="white" @click="cancelViewThisPlayer">mdi-close</v-icon>
      </div>
    </div>
  </div>
</template>

<script>
    import {IsEmptyObject} from "../../filter";
    import firebase from 'firebase/app';
    import 'firebase/database';
    export default {
        name: "statistics-component",
        props: {
            tournament: Object,
            type: String
        },
        data: function(){
          return {
              players: [],
              imageURL: require('@/assets/al.svg'),
              byPoints: false,
              byPrice: false,
              byPlayer: false,
              byRank: false,
              playerView: false,
              currentPlayer: {},
              EmptyObject: IsEmptyObject,
              isTest: false
          }
        },
        methods: {
            getOpponent(match_id, round_key){
                const self = this;
                let rounds = self.tournament.rounds;
                let teams = self.tournament.teams;
                let opponent = '';
                for(let i = 0; i < rounds.length; i++) {
                    if(rounds[i].key === round_key) {
                        let matches = rounds[i].matches;
                        for(let m = 0; m < matches.length; m++) {
                            if(matches[m].match_id === match_id) {
                                if(matches[m].tm_1 === self.currentPlayer.team_id) {
                                    opponent = matches[m].tm_2
                                } else {
                                    opponent = matches[m].tm_1
                                }
                            }
                        }
                    }
                }
                for (let t = 0; t < teams.length; t++) {
                    if(teams[t].id === opponent) return teams[t].name
                }
            },
            getECOBonus(stats){
                const self = this;
                let object = {
                    hasBonus: false,
                    points: 0,
                    reason: ''
                };
                let match_type = self.tournament.match_type;
                if(match_type.toUpperCase() === 'ODI') {
                    if(stats.economy && stats.overs && parseInt(stats.overs) >= 4) {
                        if(parseFloat(stats.economy) <= 3) {
                            object.points = '2';
                            object.hasBonus = true;
                            object.reason = 'Economy rate less than 3';
                        } else if(parseFloat(stats.economy) <= 6){
                            object.points = '1';
                            object.hasBonus = true;
                            object.reason = 'Economy rate less than 6';
                        } else if(parseFloat(stats.economy) >= 9){
                            object.points = '-2';
                            object.hasBonus = true;
                            object.reason = 'Economy rate greater than 9';
                        } else if(parseFloat(stats.economy) >= 7){
                            object.reason = 'Economy rate greater than 7';
                            object.points = '-1';
                            object.hasBonus = true;
                        }
                    }
                    return object
                }
                if(match_type.toUpperCase() === 'T20') {
                    if(stats.economy && stats.overs && parseInt(stats.overs) >= 2) {
                        if(parseFloat(stats.economy) <= 4) {
                            object.points = '4';
                            object.hasBonus = true;
                            object.reason = 'Economy rate less than 4';
                        } else if(parseFloat(stats.economy) <= 7){
                            object.points = '2';
                            object.hasBonus = true;
                            object.reason = 'Economy rate less than 7';
                        } else if(parseFloat(stats.economy) >= 12){
                          object.points = '-4';
                          object.hasBonus = true;
                          object.reason = 'Economy rate greater than 12';
                        } else if(parseFloat(stats.economy) >= 10){
                            object.points = '-2';
                            object.hasBonus = true;
                            object.reason = 'Economy rate greater than 10';
                        } else if(parseFloat(stats.economy) >= 8){
                            object.reason = 'Economy rate greater than 8';
                            object.points = '-1';
                            object.hasBonus = true;
                        }
                    }
                    return object
                }
                if(match_type.toUpperCase() === 'T10') {
                    if(stats.economy && stats.overs) {
                        if(parseFloat(stats.economy) <= 6) {
                            object.points = '2';
                            object.hasBonus = true;
                            object.reason = 'Economy rate less than 6';
                        } else if(parseFloat(stats.economy) <= 8){
                            object.points = '1';
                            object.hasBonus = true;
                            object.reason = 'Economy rate less than 8';
                        } else if(parseFloat(stats.economy) >= 12){
                            object.points = '-2';
                            object.hasBonus = true;
                            object.reason = 'Economy rate greater than 12';
                        } else if(parseFloat(stats.economy) >= 10){
                            object.reason = 'Economy rate greater than 10';
                            object.points = '-1';
                            object.hasBonus = true;
                        }
                    }
                    return object
                }
            },
            getSRBonus(stats){
                const self = this;
                let object = {
                    hasBonus: false,
                    points: 0,
                    reason: ''
                };
                let role = self.currentPlayer.playingRole;
                let match_type = self.tournament.match_type;
                if(!role.toLowerCase().includes('bowler')){
                    let sr = Math.floor((parseInt(stats.runs) / parseInt(stats.balls))*100);
                    object.sr = sr;
                    if(match_type.toUpperCase() === 'ODI') {
                        if(stats.balls && parseInt(stats.balls) >= 20) {
                            if(sr < 30) {
                                object.hasBonus = true;
                                object.points = 6;
                                object.reason = 'Strike Rate below 30';
                            } else if(sr < 40) {
                                object.hasBonus = true;
                                object.points = 4;
                                object.reason = 'Strike Rate below 40';
                            } else if(sr < 50) {
                                object.hasBonus = true;
                                object.points = 2;
                                object.reason = 'Strike Rate below 50';
                            }
                        }
                        return object
                    }
                    if(match_type.toUpperCase() === 'T20') {
                        if(stats.balls && parseInt(stats.balls) >= 10) {
                            if(sr < 30) {
                                object.hasBonus = true;
                                object.points = -8;
                                object.reason = 'Strike Rate below 30';
                            } else if(sr < 40) {
                                object.hasBonus = true;
                                object.points = -6;
                                object.reason = 'Strike Rate below 40';
                            } else if(sr < 50) {
                                object.hasBonus = true;
                                object.points = -4;
                                object.reason = 'Strike Rate below 50';
                            } else if(sr < 80) {
                                object.hasBonus = true;
                                object.points = -2;
                                object.reason = 'Strike Rate below 80';
                            } else if(sr >= 200) {
                              object.hasBonus = true;
                              object.points = 8;
                              object.reason = 'Strike Rate above 200';
                            } else if(sr >= 175) {
                              object.hasBonus = true;
                              object.points = 6;
                              object.reason = 'Strike Rate above 175';
                            } else if(sr >= 150) {
                              object.hasBonus = true;
                              object.points = 4;
                              object.reason = 'Strike Rate above 150';
                            } else if(sr >= 130) {
                              object.hasBonus = true;
                              object.points = 2;
                              object.reason = 'Strike Rate above 130';
                            }
                        }
                        return object
                    }
                    if(match_type.toUpperCase() === 'T10') {
                        if(stats.balls && parseInt(stats.balls) >= 10) {
                            if(sr < 30) {
                                object.hasBonus = true;
                                object.points = 10;
                                object.reason = 'Strike Rate below 30';
                            } else if(sr < 40) {
                                object.hasBonus = true;
                                object.points = 8;
                                object.reason = 'Strike Rate below 40';
                            } else if(sr < 50) {
                                object.hasBonus = true;
                                object.points = 6;
                                object.reason = 'Strike Rate below 50';
                            } else if(sr < 80) {
                                object.hasBonus = true;
                                object.points = 4;
                                object.reason = 'Strike Rate below 80';
                            } else if(sr < 100) {
                                object.hasBonus = true;
                                object.points = 2;
                                object.reason = 'Strike Rate below 100';
                            }
                        }
                        return object
                    }
                } else {
                    return object
                }
            },
            getWicketBonus(stats){
                const self = this;
                let object = {
                    hasBonus: false,
                    points: 0,
                    type: '',
                    bonus: 0
                };
                let wicket = stats.wickets;
                let match_type = self.tournament.match_type;
                if(match_type.toUpperCase() === 'TEST') {
                    let total = parseInt(stats.wickets) + parseInt(stats.wickets_2);
                    object.points = total * 20;
                    if(total >= 12) {
                        object.hasBonus = true;
                        object.bonus = 60;
                        object.type = '12-Wicket Bonus';
                    } else if(total >= 10){
                        object.hasBonus = true;
                        object.bonus = 50;
                        object.type = '10-Wicket Bonus';
                    } else if(total >= 7){
                      object.hasBonus = true;
                      object.bonus = 30;
                      object.type = '7-Wicket Bonus';
                    } else if(total >= 5){
                      object.hasBonus = true;
                      object.bonus = 10;
                      object.type = '5-Wicket Bonus';
                    }
                    return object
                }
                if(match_type.toUpperCase() === 'ODI') {
                    object.points = parseInt(wicket) * 20;
                    if(parseInt(wicket) >= 5) {
                        object.hasBonus = true;
                        object.bonus = 20;
                        object.type = '5-Wicket Haul';
                    } else if(parseInt(wicket) === 4){
                        object.hasBonus = true;
                        object.bonus = 10;
                        object.type = '4-Wicket Haul';
                    }
                    return object
                }
                if(match_type.toUpperCase() === 'T20') {
                    object.points = parseInt(wicket) * 25;
                    if(parseInt(wicket) >= 5) {
                        object.hasBonus = true;
                        object.bonus = 50;
                        object.type = '5-Wicket Haul';
                    } else if(parseInt(wicket) === 4){
                        object.hasBonus = true;
                        object.bonus = 30;
                        object.type = '4-Wicket Haul';
                    } else if(parseInt(wicket) === 3){
                      object.hasBonus = true;
                      object.bonus = 20;
                      object.type = '3-Wicket Haul';
                    } else if(parseInt(wicket) === 2){
                      object.hasBonus = true;
                      object.bonus = 10;
                      object.type = '2-Wicket Haul';
                    }
                    return object
                }
                if(match_type.toUpperCase() === 'T10') {
                    object.points = parseInt(wicket) * 25;
                    if(parseInt(wicket) >= 4) {
                        object.hasBonus = true;
                        object.bonus = 20;
                        object.type = '4-Wicket Haul';
                    } else if(parseInt(wicket) >= 2){
                        object.hasBonus = true;
                        object.bonus = 10;
                        object.type = '2-Wicket Haul';
                    }
                    return object
                }
            },
            getMaidenBonus(maidens){
                const self = this;
                let match_type = self.tournament.match_type;
                if(match_type.toUpperCase() === 'ODI') {
                    return parseInt(maidens) * 4;
                }
                if(match_type.toUpperCase() === 'T20') {
                    return parseInt(maidens) * 10;
                }
                if(match_type.toUpperCase() === 'T10') {
                    return parseInt(maidens) * 10;
                }
            },
            getDuckMinus(runs){
                const self = this;
                let role = self.currentPlayer.playingRole
                return !role.toLowerCase().includes('bowler') && parseInt(runs) === 0;
            },
            getMilestoneBonus(runs){
                const self = this;
                let object = {
                    hasBonus: false,
                    points: 0,
                    type: ''
                };
                let match_type = self.tournament.match_type;
                if(match_type.toUpperCase() === 'TEST') {
                    if(parseInt(runs) >= 200) {
                        object.hasBonus = true;
                        object.points = 50;
                        object.type = 'Double Century';
                    } else if(parseInt(runs) >= 100){
                        object.hasBonus = true;
                        object.points = 20;
                        object.type = 'Century';
                    } else if(parseInt(runs) >= 50){
                        object.hasBonus = true;
                        object.points = 10;
                        object.type = 'Half Century';
                    }
                    return object
                }
                if(match_type.toUpperCase() === 'ODI') {
                    if(parseInt(runs) >= 100){
                        object.hasBonus = true;
                        object.points = 20;
                        object.type = 'Century';
                    } else if(parseInt(runs) >= 50){
                        object.hasBonus = true;
                        object.points = 10;
                        object.type = 'Half Century';
                    }
                    return object
                }
                if(match_type.toUpperCase() === 'T20') {
                    if(parseInt(runs) >= 100){
                      object.hasBonus = true;
                      object.points = 50;
                      object.type = 'Century';
                    } else if(parseInt(runs) >= 50){
                      object.hasBonus = true;
                      object.points = 30;
                      object.type = 'Half Century';
                    } else if(parseInt(runs) >= 30){
                      object.hasBonus = true;
                      object.points = 20;
                      object.type = '30 Run Bonus';
                    }
                    return object
                }
                if(match_type.toUpperCase() === 'T10') {
                    if(parseInt(runs) >= 100) {
                        object.hasBonus = true;
                        object.points = 40;
                        object.type = 'Century';
                    } else if(parseInt(runs) >= 50){
                        object.hasBonus = true;
                        object.points = 20;
                        object.type = 'Half Century';
                    } else if(parseInt(runs) >= 30){
                        object.hasBonus = true;
                        object.points = 10;
                        object.type = '30 Run Bonus';
                    }
                    return object
                }
            },
            viewThisPlayer(player){
                const self = this;
                self.currentPlayer = player;
                self.playerView = true;
            },
            cancelViewThisPlayer(){
                const self = this;
                self.currentPlayer = {};
                self.playerView = false;
            },
            replaceByDefault(e) {
                const self = this;
                e.target.src = self.imageURL
            },
            goBack(){
                this.$emit('cancel')
            },
            sortArrayPlayersByRank(){
                const self = this;
                self.byPoints = false;
                self.byPrice = false;
                self.byPlayer = false;
                if(self.byRank) {
                    self.players.sort((a, b) => (parseInt(a.rank) >= parseInt(b.rank) ? 1 : -1));
                } else {
                    self.players.sort((a, b) => (parseInt(a.rank) <= parseInt(b.rank) ? 1 : -1));
                }
                self.byRank = !self.byRank;
            },
            sortArrayPlayersByPoints(){
                const self = this;
                self.byRank = false;
                self.byPrice = false;
                self.byPlayer = false;
                if(self.byPoints) {
                    self.players.sort((a, b) => (parseInt(a.total_points) >= parseInt(b.total_points) ? 1 : -1));
                } else {
                    self.players.sort((a, b) => (parseInt(a.total_points) <= parseInt(b.total_points) ? 1 : -1));
                }
                self.byPoints = !self.byPoints;
            },
            sortArrayPlayersByPrice(){
                const self = this;
                self.byRank = false;
                self.byPoints = false;
                self.byPlayer = false;
                if(self.byPrice) {
                    self.players.sort((a, b) => (parseFloat(a.price) >= parseFloat(b.price) ? 1 : -1));
                } else {
                    self.players.sort((a, b) => (parseFloat(a.price) <= parseFloat(b.price) ? 1 : -1));
                }
                self.byPrice = !self.byPrice;
            },
            sortArrayPlayersByPlayer(){
                const self = this;
                self.byRank = false;
                self.byPoints = false;
                self.byPrice = false;
                if(self.byPlayer) {
                    self.players.sort((a, b) => (a.name >= b.name ? 1 : -1));
                } else {
                    self.players.sort((a, b) => (a.name <= b.name ? 1 : -1));
                }
                self.byPlayer = !self.byPlayer;
            },
        },
        mounted() {
            const self = this;
            if(!self.EmptyObject(self.tournament)) {
                let database = firebase.database();
                self.isTest = self.tournament.match_type.toUpperCase() === 'TEST';
                if(self.type && self.type === 'series'){
                    database.ref('series/' + self.tournament.id + '/pool/').once('value', function (snap) {
                        self.players = snap.val();
                    }).catch(()=> {
                        self.goBack()
                    });
                } else {
                    database.ref('tournaments/' + self.tournament.id + '/pool/').once('value', function (snap) {
                        self.players = snap.val();
                    }).catch(()=> {
                        self.goBack()
                    });
                }
            }
        }
    }
</script>

<style scoped>
.plr{
  padding: 0.5rem;
  margin: 0.5rem 0 !important;
  background-color: var(--black-background);
  color: white;
}
.plr-head{
  padding: 0.5rem;
  background-color: var(--secondary-color);
  color: white;
}
.head-name{
  width: 60%;
  margin: auto;
}
.rank{
  width: 8%;
  margin: auto;
}
.image-wrp{
  width: 10%;
  height: 4rem;
  margin: auto;
}
.name{
  width: 42%;
  padding: 0 0.5rem;
  font-size: 1.2rem;
  overflow-x: hidden;
}
.points{
  width: 10%;
  margin: auto;
}
.price{
  width: 18%;
  margin: auto;
}
.image{
  max-width: 4rem;
  width: 100%;
  height: 100%;
}
.image-wrp-single{
  width: 30%;
  height: auto;
  margin: auto;
}
.image-single{
  max-width: 10rem;
  width: 100%;
  height: 100%;
}
.name-single{
  width: 70%;
  padding: 1rem 1rem 1rem 2rem;
  color: white;
}
.round-header-name{
  background-color: var(--secondary-color);
  color: white;
  padding: 0.5rem 1rem;
  margin: 1rem;
}
.round-header{
  background-color: #cccccc;
  color: #050505;
}
.stats{
  width: 50%;
  padding: 0.5rem;
}
.stats1{
  width: 25%;
  padding: 0.5rem;
}
.stats2{
  width: 25%;
  padding: 0.5rem 1rem 0.5rem;
  text-align: right;
}
.stat-wrp{
  background-color: white;
  margin: 1rem;
  box-shadow: 0 .3rem .6rem 0 rgba(0, 0, 0, 0.16);
}
.rh{
  background-color: var(--primary-color-light);
  color: white;
  padding: 1rem 0.5rem;
}
</style>