<template>
    <div>
        <div v-if="!loading">
            <v-toolbar flat style="background-color: var(--primary-color)" dark >
                <v-icon @click="goBack" style="font-size: 2rem">mdi-arrow-left</v-icon>
                <v-spacer></v-spacer>
                <v-toolbar-title>
                    <div style="font-size: 1.2rem; text-align: right"> Round {{tournament.act_round}} transfer ends in </div>
                    <div style="text-align: right" :key="timeChange">
                        {{GET_DEADLINE(tournament.act_round, tournament.rounds).day}}d:
                        {{GET_DEADLINE(tournament.act_round, tournament.rounds).hour}}h:
                        {{GET_DEADLINE(tournament.act_round, tournament.rounds).minute}}m
                    </div>
                </v-toolbar-title>
            </v-toolbar>
            <div class="play-ground">
                <div class="eve wicket-keeper">
                    <div>Wicketkeeper</div>
                </div>
                <div class="row">
                    <div :key="index" v-for="(player, index) in selected_count['wk'].players" class="col-2 usr">
                        <div @click="openDialog3(player, index)" class="image-wrapper">
                            <img class="image" :src="getPlayerByKey(player).imageURL">
                        </div>
                        <div v-bind:class="[{noV: selected_count['cap'] === player || selected_count['vc'] === player}]" class="points">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
                        <div v-if="selected_count['cap'] === player" class="points captain">cap</div>
                        <div v-if="selected_count['vc'] === player" class="points vcap">vice</div>
                    </div>
                </div>
                <div class="eve batsman">
                    <div>Batsman</div>
                </div>
                <div class="row">
                    <div :key="index" v-for="(player, index) in selected_count['bts'].players" class="col-2 usr">
                        <div @click="openDialog3(player, index)" class="image-wrapper">
                            <img class="image" :src="getPlayerByKey(player).imageURL">
                        </div>
                        <div v-bind:class="[{noV: selected_count['cap'] === player || selected_count['vc'] === player}]" class="points">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
                        <div v-if="selected_count['cap'] === player" class="points captain">cap</div>
                        <div v-if="selected_count['vc'] === player" class="points vcap">vice</div>
                    </div>
                </div>
                <div class="eve all-rounder">
                    <div>All-rounder</div>
                </div>
                <div class="row">
                    <div :key="index" v-for="(player, index) in selected_count['al'].players" class="col-2 usr">
                        <div @click="openDialog3(player, index)" class="image-wrapper">
                            <img class="image" :src="getPlayerByKey(player).imageURL">
                        </div>
                        <div v-bind:class="[{noV: selected_count['cap'] === player || selected_count['vc'] === player}]" class="points">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
                        <div v-if="selected_count['cap'] === player" class="points captain">cap</div>
                        <div v-if="selected_count['vc'] === player" class="points vcap">vice</div>
                    </div>
                </div>
                <div class="eve bowler">
                    <div>Bowler</div>
                </div>
                <div class="row">
                    <div :key="index" v-for="(player, index) in selected_count['bow'].players" class="col-2 usr">
                        <div @click="openDialog3(player, index)" class="image-wrapper">
                            <img class="image" :src="getPlayerByKey(player).imageURL">
                        </div>
                        <div v-bind:class="[{noV: selected_count['cap'] === player || selected_count['vc'] === player}]" class="points">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
                        <div v-if="selected_count['cap'] === player" class="points captain">cap</div>
                        <div v-if="selected_count['vc'] === player" class="points vcap">vice</div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between" style="margin: 2rem 1rem !important;">
                <button @click="saveSelection" :disabled="!validSelection" style="width: 100%" class="btn btn-success-color">Save</button>
            </div>
            <v-dialog max-width="300" v-model="dialog3" persistent>
                <v-toolbar flat style="max-height: 6.4rem; background-color: var(--primary-color-dark)" dark >
                    <v-avatar>
                        <img
                                :src=getPlayerByKey(selected_player).imageURL
                                alt="John"
                        >
                    </v-avatar>
                    <v-spacer></v-spacer>
                    <v-toolbar-title style="font-size: 1.4rem">
                        <div>{{getPlayerByKey(selected_player).name}}</div>
                        <div style="font-size: 1.2rem; background-color: white; color: #050505; padding: 0 0.5rem" v-if="!EmptyObject(selected_player)">vs  {{getTotalMatches(selected_player)}}</div>
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon dark @click="closeDialog">
                        <v-icon style="font-size: 2rem">mdi-close</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-card style="border-radius: 0; max-width: 100%; background-color: #f7f7f7; overflow-y: auto; overflow-x: hidden">
                    <div class="dlg-btn">
                        <button @click="makeCaptain" style="width: 100%" class="btn btn-second">Make Captain</button>
                    </div>
                    <div class="dlg-btn">
                        <button @click="makeViceCaptain" style="width: 100%" class="btn btn-fourth">Make Vice Captain</button>
                    </div>
                </v-card>
            </v-dialog>
        </div>
        <v-overlay absolute :value="loading">
            <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>
    </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import {getDeadLineByCurrentRound, getOnlyFirstName, getTruncateNameTeam, IsEmptyObject} from "../../../filter";
    export default {
        name: "cap-selection",
        props: {
            tournament: Object,
            user: Object
        },
        data: function () {
            return {
                loading: false,
                selected_count: {
                    'wk': {
                        selected: 0,
                        maxPlayer: 2,
                        minPlayer: 1,
                        name: 'Wicketkeeper',
                        players: [],
                    },
                    'bts': {
                        selected: 0,
                        maxPlayer: 5,
                        minPlayer: 3,
                        name: 'Batsman',
                        players: [],
                    },
                    'al': {
                        selected: 0,
                        maxPlayer: 3,
                        minPlayer: 1,
                        name: 'All-rounder',
                        players: [],
                    },
                    'bow': {
                        selected: 0,
                        maxPlayer: 5,
                        minPlayer: 3,
                        name: 'Bowler',
                        players: [],
                    },
                    cap: '',
                    vc: ''
                },
                players: [],
                noTimeForThisRound: false,
                EmptyObject: IsEmptyObject,
                dialog3: false,
                selected_player: {},
                plyr_indx: undefined,
                GET_TEAM_NAME: getTruncateNameTeam,
                GET_FIRST_NAME: getOnlyFirstName,
                GET_DEADLINE: getDeadLineByCurrentRound,
                timeChange: 0,
                interval: null,
                prev_cap: '',
                prev_vc: '',
                currentUser: firebase.auth().currentUser
            }
        },
        methods: {
            goBack(){
                const self = this;
                self.$emit('go-back')
            },
            saveChange(){
                const self = this;
                self.$emit('save-change')
            },
            replaceByDefault(e) {
                const self = this;
                e.target.src = self.imageURL
            },
            makeCaptain() {
                const self = this;
                if(self.selected_count['vc'] === self.selected_player) {
                    self.selected_count['vc'] = self.selected_count['cap']
                }
                self.selected_count['cap'] = self.selected_player
                self.closeDialog()
            },
            makeViceCaptain() {
                const self = this;
                if(self.selected_count['cap'] === self.selected_player) {
                    self.selected_count['cap'] = self.selected_count['vc']
                }
                self.selected_count['vc'] = self.selected_player
                self.closeDialog()
            },
            closeDialog(){
                const self = this;
                self.dialog3 = false;
                setTimeout(function () {
                    self.selected_player = {};
                    self.plyr_indx = undefined;
                }, 300)
            },
            openDialog3(player, index){
                const self = this;
                self.dialog3 = true;
                self.selected_player = player;
                self.plyr_indx = index;
            },
            getTeamNameByKey(key){
                const self = this;
                let i;
                for(i = 0; i < self.tournament.teams.length; i++) {
                    if(self.tournament.teams[i].id === key){
                        return self.tournament.teams[i]
                    }
                }
            },
            getOpponent(key){
                const self = this;
                let teams = self.tournament.teams;
                for(let i = 0; i < teams.length; i++){
                    if(key.toLowerCase() === teams[i].id.toLowerCase()) {
                        return teams[i].name
                    }
                }
            },
            getTotalMatches(player){
                const self = this;
                let player_team = self.getPlayerByKey(player).team_id;
                let rounds = self.tournament.rounds;
                let active_round = 'r' + self.tournament.act_round;
                let opponents = ''
                for(let i = 0; i < rounds.length; i++) {
                    if(rounds[i].key.toLowerCase() === active_round.toLowerCase()) {
                        if(rounds[i].matches){
                            for(let j = 0; j < rounds[i].matches.length; j++) {
                                if(rounds[i].matches[j].tm_1.toLowerCase() === player_team.toLowerCase()
                                    || rounds[i].matches[j].tm_2.toLowerCase() === player_team.toLowerCase()){
                                    if(rounds[i].matches[j].tm_1.toLowerCase() === player_team.toLowerCase()) {
                                        opponents = opponents + self.getOpponent(rounds[i].matches[j].tm_2) + ', '
                                    } else {
                                        opponents = opponents + self.getOpponent(rounds[i].matches[j].tm_1) + ', '
                                    }
                                }
                            }
                        }
                    }
                }
                return opponents.substring(0, opponents.length - 2)
            },
            getPlayerByKey(key){
                const self = this;
                let i;
                let array = self.players;
                let player = {};
                for(i = 0; i <array.length; i++) {
                    if(array[i].key === key) {
                        player = array[i].data;
                    }
                }
                return player;
            },
            setPlayers(players) {
                const self = this;
                let returnArr = [];
                players.forEach(function(childSnapshot) {
                    let object = {
                        key: childSnapshot.key,
                        data: childSnapshot
                    };
                    returnArr.push(object);
                });
                self.players = returnArr;
            },
            saveSelection(){
                const self = this;
                self.loading = true;
                if(getDeadLineByCurrentRound(self.tournament.act_round, self.tournament.rounds).distance > 0 && self.tournament.transfer_open){
                    let rounds = self.user.rounds;
                    let roundKey = 'r' + self.tournament.act_round;
                    let time_now = new Date().getTime()
                    if(rounds) {
                        let i;
                        for(i=0; i < rounds.length; i++) {
                            if(rounds[i].key === roundKey) {
                                rounds[i].cap = self.selected_count.cap;
                                rounds[i].vc = self.selected_count.vc;
                                rounds[i].updated_on = time_now;
                                break;
                            }
                        }
                        let data = {
                            my_sqd: self.selected_count,
                            rounds: rounds,
                        };
                        let database = firebase.database();
                        database.ref('series/' + self.tournament.id + '/users/' + self.currentUser.uid).update(data)
                            .then(function () {
                                self.loading = false;
                                self.saveChange()
                            }).catch(function () {
                            self.loading = false;
                            self.snackbar = true;
                            self.snackbarMessage = 'Sorry, something went wrong. Please try again later.'
                            self.snackColor = 'error';
                        })
                    }
                } else {
                    self.loading = false;
                    self.snackbar = true;
                    self.snackbarMessage = 'Times up'
                    self.snackColor = 'error';
                    setTimeout(()=> {
                        self.goBack()
                    }, 500)
                }
            },
        },
        computed: {
            validSelection(){
                const self = this;
                return self.selected_count.cap && self.selected_count.vc && (self.selected_count.vc !== self.prev_vc || self.selected_count.cap !== self.prev_cap)
            }
        },
        mounted(){
            const self = this;
            self.loading = true;
            if(!self.EmptyObject(self.tournament)) {
                let database = firebase.database();
                let tournament_ref = database.ref('series/' + self.tournament.id);
                let query = tournament_ref.child('users').orderByKey().equalTo(self.currentUser.uid).limitToFirst(1)
                query.on('value', function (snap) {
                  let u = snap.val();
                  self.noTimeForThisRound = getDeadLineByCurrentRound(self.tournament.act_round, self.tournament.rounds).distance <= 0 || !self.tournament.transfer_open;
                  if(u) {
                  self.team_created = u[self.currentUser.uid].tm_crt;
                  database.ref('series/' + self.tournament.id + '/pool/').once('value', function (snap) {
                    self.setPlayers(snap.val())
                    let mySqd = self.user.my_sqd;
                    self.selected_count['wk'].players = mySqd['wk'].players;
                    self.selected_count['wk'].selected = mySqd['wk'].selected;
                    self.selected_count['bts'].players = mySqd['bts'].players;
                    self.selected_count['bts'].selected = mySqd['bts'].selected;
                    self.selected_count['al'].players = mySqd['al'].players;
                    self.selected_count['al'].selected = mySqd['al'].selected;
                    self.selected_count['bow'].players = mySqd['bow'].players;
                    self.selected_count['bow'].selected = mySqd['bow'].selected;
                    self.selected_count.cap = mySqd.cap;
                    self.selected_count.vc = mySqd.vc;
                    self.prev_cap = mySqd.cap;
                    self.prev_vc = mySqd.vc;
                    self.loading = false;
                  }).catch(()=> {
                    self.goBack()
                  });
                } else {
                    self.$router.push({name: 'dashboard'}).catch()
                }});
            }
        },
        beforeDestroy() {
            clearInterval(this.interval);
        },
        created() {
            const self = this;
            self.interval = setInterval(() => {
                self.timeChange++;
            }, 1000);
        },
    }
</script>

<style scoped>
    .play-ground{
        margin: 0.5rem;
        font-size: 1.6rem;
    }
    .eve{
        color: white;
        padding: 0.2rem 0.5rem;
        background-color: var(--black-background);
    }
    .points{
        background-color: var(--primary-color);
        color: white;
        text-align: center;
        width: 6rem;
        font-size: 1.2rem;
        overflow: hidden;
    }
    .image-wrapper{
        overflow: hidden;
        width: 6rem;
        height: 7rem;
        cursor: pointer;
    }
    .image{
        width: 100%;
        height: 100%;
        border-radius: 0.4rem 0.4rem 0 0;
        background-color: #ffffff;
    }
    .usr{
        max-width: 8rem;
        padding: 1rem 0.5rem 1rem 0;
    }
    .captain{
        background-color: var(--captain);
    }
    .vcap{
        background-color: var(--vicecap);
    }
    .dlg-btn{
        margin: 1rem !important;
    }
</style>