<template>
    <div v-if="!EmptyObject(data)" style="background-color: var(--primary-color)" class="container-fluid top-header-mar">
        <div style="height: 100%" v-if="!loading">
            <div v-if="!selectionMode">
                <v-toolbar flat style="background-color: var(--primary-color)" dark >
                    <v-icon @click="gotoMyTournaments" style="font-size: 2rem">mdi-arrow-left</v-icon>
                    <v-spacer></v-spacer>
                    <v-toolbar-title>
                        <div style="font-size: 1rem; text-align: right">{{data.name}}</div>
                        <div style="font-size: 1rem; text-align: right">{{new Date(data.start_date).toString().substring(0,11)}} to {{new Date(data.end_date).toString().substring(0,11)}}</div>
                    </v-toolbar-title>
                </v-toolbar>
                <div v-if="!EmptyObject(rounds) && !data.archive" class="timer-row">
                    <div style="text-align: center; font-size: 1.2rem; padding: 0; margin: 0.1rem 0; background-color: white; color: black">
                        Points for Round {{displayPoints.key.substring(1)}}
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4 no-padding">
                            <div class="timer-col">
                                <div style="font-size: 2.4rem; font-weight: bold">{{parseInt(displayPoints.average) || 0}}</div>
                                <div style="font-size: 1.2rem; color: white">Average</div>
                            </div>
                        </div>
                        <div class="col-4 no-padding">
                            <div class="timer-col" style="margin: 0 0.5rem">
                                <div style="font-size: 2.4rem; font-weight: bold">
                                    {{data.users[currentUser.uid].rounds && data.users[currentUser.uid].rounds[displayPoints.key] ? data.users[currentUser.uid].rounds[displayPoints.key] : 0}}
                                </div>
                                <div style="font-size: 1.2rem; color: white">Your Points</div>
                            </div>
                        </div>
                        <div class="col-4 no-padding">
                            <div class="timer-col">
                                <div style="font-size: 2.4rem; font-weight: bold">{{displayPoints.max_points || 0}}</div>
                                <div style="font-size: 1.2rem; color: white">Highest <v-icon v-if="displayPoints.max_id" style="margin-left: 0.5rem" size="18" @click="seePoints(displayPoints.max_id)" color="white">mdi-eye</v-icon> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center; background-color: white; color: #050505">
                    {{user.tm_name}}
                </div>
                <div style="margin: 0.5rem 0 0">
                    <div @click="pickTeam" v-if="user.tm_crt && data.users[currentUser.uid] && GET_DEADLINE(data.act_round, data.rounds).distance > 0 && !data.archive && data.transfer_open" class="item-list">
                        Pick Team <v-icon class="icon-right">mdi-chevron-right</v-icon>
                    </div>
                    <div @click="transfers" v-if="data.users[currentUser.uid] && GET_DEADLINE(data.act_round, data.rounds).distance > 0 && !data.archive && data.transfer_open" class="item-list">
                        {{user.tm_crt ? 'Transfer': 'Create Squad'}} <v-icon class="icon-right">mdi-chevron-right</v-icon>
                    </div>
                    <div @click="seePoints(currentUser.uid)" v-if="user.tm_crt && !data.archive" class="item-list">
                        Points <v-icon class="icon-right">mdi-chevron-right</v-icon>
                    </div>
                    <div @click="seeLeaderBoard" class="item-list">
                        Leaderboard (Overall)<v-icon class="icon-right">mdi-chevron-right</v-icon>
                    </div>
                    <div @click="seeLeaderBoardRoundAll" class="item-list">
                        Leaderboard (By Round) <v-icon class="icon-right">mdi-chevron-right</v-icon>
                    </div>
<!--                    <div v-if="user.tm_crt" @click="gotoH2HLeague" class="item-list">-->
<!--                        H2H Leagues <v-icon class="icon-right">mdi-chevron-right</v-icon>-->
<!--                    </div>-->
                    <div @click="seeStatistics" class="item-list">
                        Statistics <v-icon class="icon-right">mdi-chevron-right</v-icon>
                    </div>
                    <div @click="seeFixture" v-if="!data.archive" class="item-list">
                        Fixtures <v-icon class="icon-right">mdi-chevron-right</v-icon>
                    </div>
                    <div @click="gotoPointSystem" v-if="!data.archive" class="item-list">
                        Points System <v-icon class="icon-right">mdi-chevron-right</v-icon>
                    </div>
                    <div @click="gotoRulesSection" v-if="!data.archive" class="item-list">
                        Rules <v-icon class="icon-right">mdi-chevron-right</v-icon>
                    </div>
                    <div @click="gotoPrizeSection" class="item-list">
                        Prizes <v-icon class="icon-right">mdi-chevron-right</v-icon>
                    </div>
                </div>
            </div>
            <div style="height: 100%; overflow-y: auto" v-else>
                <div style="background-color: var(--black-light-foreground); height: 100%; overflow-y: auto" v-if="teamViewMode">
                    <points-view
                            v-bind:user_id="user_id"
                            v-bind:user_name="user_name"
                            v-bind:user_team="user_team"
                            v-bind:tournament="data"
                            v-bind:user="point_see_user"
                            v-on:cancel-view="goBack"
                    ></points-view>
                </div>
                <div style="background-color: var(--black-light-foreground); height: 100%; overflow-y: auto" v-if="selectTeam">
                    <team-selection
                            v-bind:tournament="data"
                            v-bind:user="user"
                            v-on:save-change="saveSel"
                            v-on:go-back="goBack"
                    ></team-selection>
                </div>
                <div style="background-color: var(--black-light-foreground); height: 100%; overflow-y: auto" v-if="transfer">
                    <transfer-view
                            v-bind:tournament="data"
                            v-bind:user="user"
                            v-on:save-change="saveSel"
                            v-on:go-back="goBack"
                    ></transfer-view>
                </div>
                <div style="height: 100%; overflow-y: auto" v-if="leaderboardView">
                    <leader-board
                            v-on:cancel="goBack"
                            v-bind:tournament-obj="data"
                    ></leader-board>
                </div>
                <div style="background-color: var(--black-light-foreground); height: 100%; overflow-y: auto" v-if="fixtureView">
                    <fixture
                            v-on:cancel="goBack"
                            v-bind:tournament-obj="data"
                    ></fixture>
                </div>
                <div v-if="rulesView">
                    <rules-view
                            v-on:cancel="goBack"
                            v-bind:rules="data.rules"
                            v-bind:rounds="data.rounds"
                            v-bind:is-classic="true"
                            v-bind:is-series="true"
                    ></rules-view>
                </div>
                <div style="background-color: var(--black-light-foreground); height: 100%; overflow-y: auto" v-if="statisticsView">
                    <statistics-view
                            v-on:cancel="goBack"
                            v-bind:tournament="data"
                            v-bind:type="'series'"
                    ></statistics-view>
                </div>
                <div style="height: 100%; overflow-y: auto" v-if="leaderBoardRound">
                    <leaderboard-round
                            v-on:cancel="goBack"
                            v-bind:tournament="data"
                    ></leaderboard-round>
                </div>
                <div style="height: 100%; overflow-y: auto" v-if="leaderBoardRoundAll">
                    <leaderboard-round-all
                            v-on:cancel="goBack"
                            v-bind:tournament="data"
                    ></leaderboard-round-all>
                </div>
                <div style="height: 100%; overflow-y: auto" v-if="h2hMode">
                    <htoh-league
                            v-on:cancel="goBack"
                            v-bind:tournament="data"
                    ></htoh-league>
                </div>
            </div>
        </div>
        <div v-else class="row" style="height: 100%">
            <div class="my-auto mx-auto">
                <v-progress-circular
                        :size="100"
                        :width="4"
                        color="white"
                        indeterminate
                ></v-progress-circular>
            </div>
        </div>
        <v-snackbar
                :color="snackbarColor"
                :timeout="2000"
                v-model="snackbar"
                centered
                bottom
        >
            {{snackbarMessage}}
        </v-snackbar>
    </div>
</template>

<script>
    import {required, maxLength} from "vuelidate/lib/validators";
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import TransferView from "./team.vue"
    import TeamSelection from "./cap-selection";
    import PointsView from "./points";
    import LeaderBoard from "./leaderboard-component";
    import Fixture from "../fixture-component";
    import RulesView from "../team-rules";
    import StatisticsView from "../../common/statistics-component"
    import LeaderboardRound from "../leaderboard-round-wise";
    import LeaderboardRoundAll from "./leader-board-round-wise";
    import HtohLeague from "./headtohead";
    import {IsEmptyObject, getDeadLineByCurrentRound} from "../../../filter";
    export default {
        name: "tournament-single",
        components: {
            TeamSelection,
            TransferView,
            PointsView,
            LeaderBoard,
            Fixture,
            RulesView,
            StatisticsView,
            LeaderboardRound,
            LeaderboardRoundAll,
            HtohLeague,
        },
        validations: {
            league_name: {required, maxLength: maxLength(32)},
        },
        data: function(){
            return {
                snackbar: false,
                snackbarMessage: '',
                snackbarColor: '#5C2593',
                loading: false,
                dialog: false,
                currentUser: firebase.auth().currentUser,
                id: '',
                tournament: {},
                data: {},
                user: {},
                rounds: [],
                showLeague: false,
                selectionMode: false,
                selectTeam: false,
                teamViewMode: false,
                leaderboardView: false,
                fixtureView: false,
                createShowLeague: false,
                leagueCode: '',
                league_name: '',
                max_participants: 25,
                maxParticipants: [25,50,100],
                yourLeague: false,
                myLeagues: {},
                privateLeagues: {},
                myPrivateLeagues: {},
                EmptyObject: IsEmptyObject,
                leagueSettings: false,
                editableLeague: {},
                editableLeagueKey: '',
                leagueLeaderboardView: false,
                displayPoints: {},
                GET_DEADLINE: getDeadLineByCurrentRound,
                rulesView: false,
                statisticsView: false,
                transfer: false,
                point_see_user: {},
                user_id: '',
                user_name: '',
                user_team: '',
                leaderBoardRound: false,
                leaderBoardRoundAll: false,
                h2hMode: false,
            }
        },
        methods: {
            resetExcept(){
                const self = this;
                self.selectTeam = false;
                self.teamViewMode = false;
                self.leaderboardView = false;
                self.leagueSettings = false;
                self.fixtureView = false;
                self.leagueLeaderboardView = false
                self.rulesView = false;
                self.statisticsView = false;
                self.transfer = false;
                self.leaderBoardRound = false;
                self.leaderBoardRoundAll = false;
                self.h2hMode = false;
            },
            getTournament(){
                const self = this;
                self.loading = true;
                let database = firebase.database();
                let tournament_ref = database.ref('series/' + self.id);
                tournament_ref.child('data').on('value', function (snap) {
                    self.data = snap.val()
                    if(self.data) {
                        self.rounds = self.data.rounds;
                        let round = {};
                        if(parseInt(self.data.act_round) === 1 || (parseInt(self.data.act_round) === parseInt(self.data.tot_round) && !self.data.transfer_open)) {
                          round = self.getRoundByKey(self.rounds, self.data.act_round);
                          self.displayPoints = round;
                        } else {
                          round = self.getRoundByKey(self.rounds, parseInt(self.data.act_round - 1));
                          self.displayPoints = round;
                      }
                    }
                    self.loading = false;
                });
                let query = tournament_ref.child('users').orderByKey().equalTo(self.currentUser.uid).limitToFirst(1)
                query.on('value', function (snap) {
                    let u = snap.val();
                    if(u) {
                        self.user = u[self.currentUser.uid]
                    } else {
                        self.$router.push({name: 'dashboard'}).catch()
                    }
                });
            },
            getRoundByKey(rounds, key){
                for(let i =0; i < rounds.length; i++) {
                    if(parseInt(rounds[i].key.substring(1)) === parseInt(key)) return rounds[i]
                }
            },
            gotoMyTournaments(){
                const self = this;
                self.$router.go(-1)
            },
            transfers(){
                const self = this;
                self.resetExcept()
                self.selectionMode = true;
                self.transfer = true;
            },
            pickTeam(){
                const self = this;
                self.resetExcept()
                self.selectionMode = true;
                self.selectTeam = true;
            },
            seePoints(id){
                const self = this;
                self.resetExcept();
                self.user_id = id;
                let database = firebase.database();
                database.ref('users/' + id).once('value', function (snapshot) {
                    self.user_name = snapshot.val() && snapshot.val().name;
                    database.ref('series/' + self.id + '/users/' + id).once('value', function (snapshot_2) {
                        self.point_see_user = snapshot_2.val();
                        self.user_team = snapshot_2.val().tm_name
                        self.selectionMode = true;
                        self.teamViewMode = true;
                    });
                });
            },
            gotoH2HLeague(){
                const self = this;
                self.resetExcept();
                self.selectionMode = true;
                self.h2hMode = true;
            },
            seeLeaderBoard(){
                const self = this;
                self.resetExcept();
                self.selectionMode = true;
                self.leaderboardView = true;
            },
            seeLeaderBoardRound(){
                const self = this;
                self.resetExcept()
                self.selectionMode = true;
                self.leaderBoardRound = true;
            },
            seeLeaderBoardRoundAll(){
                const self = this;
                self.resetExcept()
                self.selectionMode = true;
                self.leaderBoardRoundAll = true;
            },
            seeFixture(){
                const self = this;
                self.resetExcept();
                self.selectionMode = true;
                self.fixtureView = true;
            },
            seeStatistics(){
                const self = this;
                self.resetExcept();
                self.selectionMode = true;
                self.statisticsView = true;
            },
            saveSel(){
                const self = this;
                self.selectionMode = false;
                self.resetExcept()
                setTimeout(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Saved Successfully.'
                    self.snackbarColor = 'success';
                }, 100)
            },
            goBack(){
                const self = this;
                self.selectionMode = false;
                self.resetExcept()
            },
            gotoPointSystem(){
                const self = this;
                self.$router.push({name: 'points-distribution'}).catch()
            },
            gotoRulesSection(){
                const self = this;
                self.resetExcept();
                self.selectionMode = true;
                self.rulesView = true;
            },
            gotoPrizeSection(){
              const self = this;
              let query = {
                q: self.data.id
              };
              if(self.data.series_cup) {
                query.series_cup = true;
              }
              self.$router.push({name: "tournament-prizes",
                query: query,
                type: 'match',
              }).catch()
            }
        },
        computed: {
            nameErrors() {
                const errors = [];
                if (!this.$v.league_name.$dirty) return errors;
                !this.$v.league_name.maxLength &&
                errors.push('Maximum 32 Characters');
                !this.$v.league_name.required &&
                errors.push('Required');
                return errors;
            }
        },
        mounted(){
            const self = this;
            if(self.currentUser.emailVerified) {
                self.id = self.$route.query.q;
                self.getTournament()
            } else {
                self.$router.push({name: 'dashboard'}).catch()
            }

        }
    }
</script>

<style scoped>
    .timer-row{
        background-color: rgba(0,0,0,0.5);
        color: white;
        padding: 2rem;
        font-size: 1.4rem;
    }
    .timer-col{
        text-align: center;
        padding: 1rem 0;
        color: white;
        border: 1px solid white;
    }
    .item-list{
        background-color: rgba(0,0,0,0.1);
        color: #ffffff;
        padding: 1rem 0.5rem;
        margin: 1rem 0.5rem;
        border-radius: 0.2rem;
        font-size: 1.4rem;
        cursor: pointer;
    }
    .icon-right{
        color: white;
        float: right;
    }
    .icon-left{
        color: white;
        float: left;
    }
    .item-list-league{
        background-color: rgba(0,0,0,0.5);
        color: #ffffff;
        padding: 1rem 0.5rem;
        margin: 0.5rem;
        border-radius: 0.2rem;
        font-size: 1.4rem;
    }
    .item-list-league-col{
        padding: 0.5rem;
        margin: 0.5rem 0 !important;
        background-color: white;
        color: #050505;
        border-radius: 0.2rem;
    }
    .form-control {
        height: 3.3rem;
        border: 0 solid #eeeeee !important;
        background-color: white !important;
        font-size: 1.4rem;
    }
    .form-control:focus {
        box-shadow: none !important;
    }
</style>