<template>
    <div class="container-fluid p-1 disable-select">
        <div v-if="!EmptyObject(tournament)">
            <v-toolbar flat style="background-color: var(--primary-color)" dark >
                <v-icon @click="goBack" style="font-size: 2rem">mdi-arrow-left</v-icon>
                <v-spacer></v-spacer>
                <v-toolbar-title>
                    <div @click="openFixture" style="font-size: 1.4rem; text-align: right; cursor: pointer; text-decoration: underline">
                        Fixture
                    </div>
                </v-toolbar-title>
            </v-toolbar>
            <div v-if="noTimeForThisRound && parseInt(tournament.act_round) === parseInt(tournament.tot_round)">
                <div class="eve" style="margin: 0.5rem; text-align: center">
                    Thank you for participating in this tournament. Check leaderboard to know your rank.
                </div>
            </div>
            <div v-else>
                <div class="eve" style="background-color: var(--third-color-dark); margin: 0.5rem; text-align: center;">
                    Round {{tournament.act_round}} transfer deadline
                    <span style="margin-right: 1rem">{{GET_DEADLINE(tournament.act_round, tournament.rounds).deadline.substring(0,21)}}</span>
                </div>
                <div class="row features">
                    <div class="col-4 no-padding">
                        <div class="fchip">
                            <div class="fchip-ttl">Free Transfer</div>
                            <div v-bind:class="[{lmtCrs: free_transfer === 0}]" class="fchip-val">{{free_transfer}}</div>
                        </div>
                    </div>
                    <div class="col-4 no-padding">
                        <div class="fchip" style="margin: 0 0.5rem">
                            <div class="fchip-ttl">Active Round</div>
                            <div class="fchip-val">{{tournament.act_round}}</div>
                        </div>
                    </div>
                    <div class="col-4 no-padding">
                        <div class="fchip">
                            <div class="fchip-ttl">Bank</div>
                            <div v-bind:class="[{lmtCrs: cr_limit - cr_used <= 0}]" class="fchip-val">${{cr_limit - cr_used}}m</div>
                        </div>
                    </div>
                </div>
                <div class="row features">
                    <div class="col-4 no-padding">
                        <div class="fchip">
                            <div class="fchip-ttl">Hit Taken</div>
                            <div v-bind:class="[{lmtCrs: transfer_cost > 0}]" class="fchip-val">{{transfer_cost}}</div>
                        </div>
                    </div>
                    <div v-if="step === 1" class="col-4 no-padding">
                        <div class="fchip" style="margin: 0 0.5rem">
                            <div class="fchip-ttl">Squad</div>
                            <div v-bind:class="[{lmtCrs: totalPlayer !== sqd_number}]" style="color: var(--success-state)" class="fchip-val">{{totalPlayer}}/{{sqd_number}}</div>
                        </div>
                    </div>
                    <div v-if="step === 1" class="col-4 no-padding">
                        <div class="fchip">
                            <div class="fchip-ttl">Max/Team</div>
                            <div class="fchip-val">{{tournament.rules.max_pf1tm}}</div>
                        </div>
                    </div>
                    <div v-if="step > 1" class="col-4 no-padding">
                        <div class="fchip" style="margin: 0 0.5rem 0 0.5rem">
                            <div class="fchip-ttl">Transfer</div>
                            <div v-bind:class="[{lmtCrs: projected_cost > 0}]" class="fchip-val"><span v-if="trans_count > 0">-</span>{{trans_count}}</div>
                        </div>
                    </div>
                    <div v-if="step > 1" class="col-4 no-padding">
                        <div class="fchip" style="margin: 0 0.5rem 0 0.5rem">
                            <div class="fchip-ttl">Cost</div>
                            <div v-bind:class="[{lmtCrs: projected_cost > 0}]" class="fchip-val"><span v-if="projected_cost > 0">-</span>{{projected_cost}}</div>
                        </div>
                    </div>
                </div>
                <div v-if="!loading" style="padding: 0.5rem">
                    <div v-if="step === 1">
                        <div class="row" style="background-color: var(--black-background); border-radius: 0; color: white">
                            <div style="cursor: pointer; border-top: 0.4rem solid transparent" v-bind:class="[{selC: selection_ongoing === 'wk'}, {errS: totalPlayer === sqd_number && selected_count['wk'].selected < selected_count['wk'].minPlayer}]" @click="openDialog('wk')" class="col-3 p-2 text-center">WK ({{selected_count['wk'].selected}})</div>
                            <div style="cursor: pointer; border-top: 0.4rem solid transparent" v-bind:class="[{selC: selection_ongoing === 'bts'}, {errS: totalPlayer === sqd_number && selected_count['bts'].selected < selected_count['bts'].minPlayer}]" @click="openDialog('bts')" class="col-3 p-2 text-center">BAT ({{selected_count['bts'].selected}})</div>
                            <div style="cursor: pointer; border-top: 0.4rem solid transparent" v-bind:class="[{selC: selection_ongoing === 'al'}, {errS: totalPlayer === sqd_number && selected_count['al'].selected < selected_count['al'].minPlayer}]" @click="openDialog('al')" class="col-3 p-2 text-center">AR ({{selected_count['al'].selected}})</div>
                            <div style="cursor: pointer; border-top: 0.4rem solid transparent" v-bind:class="[{selC: selection_ongoing === 'bow'}, {errS: totalPlayer === sqd_number && selected_count['bow'].selected < selected_count['bow'].minPlayer}]" @click="openDialog('bow')" class="col-3 p-2 text-center">BOWL ({{selected_count['bow'].selected}})</div>
                        </div>
                        <div v-bind:class="[{errS: totalPlayer === sqd_number && selected_count[selection_ongoing].selected < selected_count[selection_ongoing].minPlayer}]" v-if="selection_ongoing" class="row eve" style="color: var(--black-background); background-color: var(--white); border-radius: 0; margin-top: 0.5rem !important;">
                            Select {{selected_count[selection_ongoing].minPlayer}} - {{selected_count[selection_ongoing].maxPlayer}} {{selected_count[selection_ongoing].name}}
                        </div>
                        <div>
                            <div style="background-color: var(--error-state); border-radius: 0; font-size: 1.2rem" class="eve" v-if="selectionError">{{stg_one_err_msg}}</div>
                            <div class="row p-hd">
                                <div class="nm text-left" style="padding-right: 0.1rem">
                                    <div>Selected by</div>
                                    <v-icon @click="sortArrayPlayersBySelect" color="white">{{!bySelect ? 'mdi-menu-up' : 'mdi-menu-down'}}</v-icon>
                                </div>
                                <div class="pnts text-center">
                                    <div>Points</div>
                                    <v-icon @click="sortArrayPlayersByPoints" color="white">{{!byPoints ? 'mdi-menu-up' : 'mdi-menu-down'}}</v-icon>
                                </div>
                                <div class="price text-center">
                                    <div>Price</div>
                                    <v-icon @click="sortArrayPlayersByPrice" color="white">{{!byPrice ? 'mdi-menu-up' : 'mdi-menu-down'}}</v-icon>
                                </div>
                                <div class="select text-right">
                                    <div v-bind:class="[{lmtCrs: cr_limit - cr_used <= 0}]">${{cr_limit - cr_used}}m</div>
                                </div>
                            </div>
                            <div class="row player-card" :key="index" v-for="(player, index) in sortedPlayers">
                                <div class="pnts">
                                    <img @error="replaceByDefault" class="image-sn" :src="player.data.imageURL ? player.data.imageURL: imageURL" alt="Smiley face">
                                </div>
                                <div class="name">
                                    <div style="font-size: 1.2rem; text-align: left; color: #050505; margin-top: 0.5rem">{{player.data.name}} <v-icon size="10" color="red" v-if="!player.data.available">mdi-cancel</v-icon> </div>
                                    <div style="font-size: 1rem; text-align: left; color: var(--secondary-color)">{{GET_TEAM_NAME(player.data.team)}}</div>
                                    <div style="font-size: 1.4rem; text-align: left; color: #050505">{{player.data.selected_by}}%</div>
                                </div>
                                <div class="pnts">
                                    <div style="font-size: 1.4rem; text-align: center; color: #050505">{{player.data.total_points}}</div>
                                </div>
                                <div class="price">
                                    <div style="font-size: 1.4rem; text-align: center; color: #050505">{{'$' + player.data.price + 'm'}}</div>
                                </div>
                                <div class="select" style="text-align: right; padding-right: 0.1rem !important;">
                                    <v-icon size="14" class="bt-ico-default" v-if="!isSelected(player)" @click="selectThisPlayer(player)">mdi-plus</v-icon>
                                    <v-icon size="14" class="bt-ico-success" v-else @click="removeThisPlayer(player)">mdi-check</v-icon>
                                </div>
                            </div>
                        </div>
                        <div v-if="!noTimeForThisRound" class="cont-but row justify-content-center" style="padding: 2rem; text-align: left">
                            <div class="col-12 pl-1 no-padding" style="text-align: right">
                                <button style="width: 100%" v-if="validSelection" class="btn btn-fourth" @click="gotoTransferPage">Next</button>
                            </div>
                        </div>
                        <div style="text-align: right" v-else>
                            <div class="eve" style="text-align: center; background-color: var(--error-state)">Round {{tournament.act_round}} transfer closed.
                                Wait for the next window to make your changes.
                            </div>
                        </div>
                    </div>
                    <div v-if="step === 2">
                        <div class="play-ground">
                            <div class="eve wicket-keeper">
                                <div>Wicketkeeper</div>
                            </div>
                            <div class="row">
                                <div :key="index" v-for="(player, index) in selected_count['wk'].players" class="col-2 usr">
                                    <div @click="openDialog3(player, index)" class="image-wrapper">
                                        <img class="image" :src="getPlayerByKey(player).imageURL">
                                    </div>
                                    <div v-bind:class="[{noV: selected_count['cap'] === player || selected_count['vc'] === player}]" class="points">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
                                    <div v-if="selected_count['cap'] === player" class="points captain">cap</div>
                                    <div v-if="selected_count['vc'] === player" class="points vcap">vice</div>
                                </div>
                            </div>
                            <div class="eve batsman">
                                <div>Batsman</div>
                            </div>
                            <div class="row">
                                <div :key="index" v-for="(player, index) in selected_count['bts'].players" class="col-2 usr">
                                    <div @click="openDialog3(player, index)" class="image-wrapper">
                                        <img class="image" :src="getPlayerByKey(player).imageURL">
                                    </div>
                                    <div v-bind:class="[{noV: selected_count['cap'] === player || selected_count['vc'] === player}]" class="points">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
                                    <div v-if="selected_count['cap'] === player" class="points captain">cap</div>
                                    <div v-if="selected_count['vc'] === player" class="points vcap">vice</div>
                                </div>
                            </div>
                            <div class="eve all-rounder">
                                <div>All-rounder</div>
                            </div>
                            <div class="row">
                                <div :key="index" v-for="(player, index) in selected_count['al'].players" class="col-2 usr">
                                    <div @click="openDialog3(player, index)" class="image-wrapper">
                                        <img class="image" :src="getPlayerByKey(player).imageURL">
                                    </div>
                                    <div v-bind:class="[{noV: selected_count['cap'] === player || selected_count['vc'] === player}]" class="points">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
                                    <div v-if="selected_count['cap'] === player" class="points captain">cap</div>
                                    <div v-if="selected_count['vc'] === player" class="points vcap">vice</div>
                                </div>
                            </div>
                            <div class="eve bowler">
                                <div>Bowler</div>
                            </div>
                            <div class="row">
                                <div :key="index" v-for="(player, index) in selected_count['bow'].players" class="col-2 usr">
                                    <div @click="openDialog3(player, index)" class="image-wrapper">
                                        <img class="image" :src="getPlayerByKey(player).imageURL">
                                    </div>
                                    <div v-bind:class="[{noV: selected_count['cap'] === player || selected_count['vc'] === player}]" class="points">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
                                    <div v-if="selected_count['cap'] === player" class="points captain">cap</div>
                                    <div v-if="selected_count['vc'] === player" class="points vcap">vice</div>
                                </div>
                            </div>
                            <div class="eve" style="font-size: 1.2rem; color: papayawhip; background-color: var(--error-state)" v-if="!validSelection || !selected_count['cap'] || !selected_count['vc']">
                                <v-icon style="margin-right: 0.5rem; font-size: 1.4rem; margin-bottom: 0.2rem" color="white">mdi-information</v-icon> Please Select your captain and vice-captain.
                            </div>
                            <div v-else class="eve" style="background-color: var(--success-state); font-size: 1rem">
                                <v-icon style="margin-right: 0.5rem; font-size: 1.4rem; margin-bottom: 0.1rem" color="white">mdi-check-circle</v-icon>
                                Your team looks perfect. Save your selection.
                            </div>
                        </div>
                        <div class="row justify-content-between" style="margin: 2rem 0.5rem !important;">
                            <div class="col-6 p-2 no-padding" style="text-align: left">
                                <button style="width: 100%" class="btn btn-neutral-outline" @click="step = step - 1">Previous</button>
                            </div>
                            <div class="col-6 p-2 no-padding" style="text-align: right">
                                <button style="width: 100%" v-if="validSelection && selected_count['cap'] && selected_count['vc']" class="btn btn-fourth" @click="gotoTransferPageFinal">Next</button>
                                <button style="width: 100%" :disabled="true" v-else class="btn btn-error-color">Select Cap & VC</button>
                            </div>
                        </div>
                    </div>
                    <div style="margin: 0.5rem" v-if="step === 3">
                        <div style="font-size: 1.4rem; color: white; margin: 1rem 0 !important;" v-if="trans_count > 0 && team_created">
                            <div style="background-color: var(--secondary-color); font-size: 1.4rem; margin: 1rem 0; text-align: center; padding: 0.5rem; border-radius: 0.4rem">
                                You are about to transfer {{trans_count}} player(s).
                            </div>
                            <div class="row">
                                <div class="col-6 pr-1 no-padding">
                                    <div style="background-color: var(--black-background); border-radius: 0.4rem; padding: 1rem">
                                        <div style="padding: 0.5rem" class="fchip-ttl">
                                            <v-icon style="margin-right: 1rem; font-size: 2rem; margin-bottom: 0.3rem" color="success">mdi-check-circle</v-icon>  Transfer In
                                        </div>
                                        <div :key="index" v-for="(item, index) in trans_in">
                                            <div class="row" style="background-color: var(--black-light-foreground); border: 1px solid var(--black-background); border-radius: 0.4rem">
                                                <div class="col-3">
                                                    <div class="image-wrapper-fnl">
                                                        <img class="image" :src="item.imageURL">
                                                    </div>
                                                </div>
                                                <div class="col-8 my-auto">
                                                    <div>{{item.name}}</div>
                                                    <div>{{item.playingRole}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 pl-1 no-padding">
                                    <div style="background-color: var(--black-background); border-radius: 0.4rem; padding: 1rem">
                                        <div style="padding: 0.5rem" class="fchip-ttl">
                                            <v-icon style="margin-right: 1rem; font-size: 2rem; margin-bottom: 0.3rem" color="error">mdi-cancel</v-icon> Transfer Out
                                        </div>
                                        <div :key="index" v-for="(item, index) in trans_out">
                                            <div class="row" style="background-color: var(--black-light-foreground); border: 1px solid var(--black-background); border-radius: 0.4rem">
                                                <div class="col-3">
                                                    <div class="image-wrapper-fnl">
                                                        <img class="image" :src="item.imageURL">
                                                    </div>
                                                </div>
                                                <div class="col-8 my-auto">
                                                    <div>{{item.name}}</div>
                                                    <div>{{item.playingRole}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="color: white; background-color: var(--secondary-color); font-size: 1.4rem; margin: 1rem 0; text-align: center; padding: 0.5rem; border-radius: 0.4rem">
                            Transfer(s) will be activated in Round {{tournament.act_round}} if made before deadline.
                        </div>
                        <div class="eve" style="margin: 0; padding: 1rem; border-radius: 0.4rem; background-color: rgba(0,0,0,0.2)">
                            <div style="font-size: 1.6rem" class="row">Transfer Summery</div>
                            <div>
                                <div style="background-color: var(--black-light-foreground)" class="row">
                                    <div class="col-8 p-1 text-left">Transfer Made</div>
                                    <div class="col-4 p-1 text-right">{{trans_count}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-8 p-1 text-left">Free Transfer</div>
                                    <div class="col-4 p-1 text-right">{{free_transfer}}</div>
                                </div>
                                <div style="background-color: var(--black-light-foreground)" class="row">
                                    <div  class="col-8 p-1 text-left">Additional Transfer</div>
                                    <div class="col-4 p-1 text-right">
                                        {{parseInt(trans_count) > parseInt(free_transfer) ? parseInt(trans_count) - parseInt(free_transfer) : 0 }}
                                        ( {{parseInt(projected_cost) > 0 ? -projected_cost : 0}}pts )
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 p-1 text-left">Left in the bank</div>
                                    <div class="col-4 p-1 text-right">${{cr_limit - cr_used}}m</div>
                                </div>
                            </div>
                        </div>
                        <div v-if="trans_count <= 0 && can_transfer" class="eve" style="margin: 0.5rem; text-align: center; background-color: var(--info)">
                            You have not made any transfer but changed your cap or vice cap. Please press 'Confirm' to save your selection.
                        </div>
                        <div class="row justify-content-center" style="margin: 2rem 0.5rem !important;">
                            <div class="col-6 p-2 no-padding" style="text-align: left">
                                <button style="width: 100%" class="btn btn-neutral-outline" @click="step = step - 1">Previous</button>
                            </div>
                            <div class="col-6 p-2 no-padding" style="text-align: right">
                                <button style="width: 100%" v-if="validSelection && can_transfer && selected_count['cap'] && selected_count['vc'] && !loading" class="btn btn-success-color" @click="saveSelection">Confirm</button>
                                <button style="width: 100%" :disabled="true" v-else class="btn btn-success-color">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
                <v-overlay absolute :value="loading">
                    <v-progress-circular indeterminate size="64"></v-progress-circular>
                </v-overlay>
                <v-dialog v-model="dialog2" scrollable fullscreen hide-overlay transition="dialog-bottom-transition">
                    <v-card style="height: 100vh; overflow-y: auto; width: 100%; overflow-x: hidden; background-color: white">
                        <v-toolbar flat style="max-height: 6.4rem; background-color: var(--primary-color-dark)" dark >
                            <v-btn icon dark @click="dialog2 = false">
                                <v-icon style="font-size: 2rem">mdi-arrow-left</v-icon>
                            </v-btn>
                            <v-toolbar-title style="font-size: 1.6rem">Round {{tournament.act_round}} Fixture</v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-toolbar-items>
                                <v-btn style="font-size: 1.4rem" dark text @click="dialog2 = false">Done</v-btn>
                            </v-toolbar-items>
                        </v-toolbar>
                        <div>
                            <div :key="index" v-for="(match, index) in fixture_round.matches">
                                <div class="row justify-content-between" style="padding: 1rem !important; margin: 0.5rem !important; border: 1px solid #EBF2FE">
                                    <div v-if="match.tm_1" class="col-5 no-padding mx-auto">
                                        <div class="img-cls-wrp">
                                            <img class="img-cls" :src="getTeamNameByKey(match.tm_1).imageURL">
                                        </div>
                                        <div style="text-align: left; font-size: 1.4rem;">{{getTeamNameByKey(match.tm_1).name}}</div>
                                    </div>
                                    <div v-else class="col-6 no-padding mx-auto">
                                        <div class="img-cls-wrp mr-auto">
                                            <img class="img-cls" src="@/assets/logo/icon_logo.png">
                                        </div>
                                        <div style="text-align: left; font-size: 1.4rem; margin-left: 1.25rem;">TBD</div>
                                    </div>
                                    <div class="col-2 my-auto no-padding" style="text-align: center">VS</div>
                                    <div v-if="match.tm_2" class="col-5 no-padding">
                                        <div class="img-cls-wrp ml-auto">
                                            <img class="img-cls" :src="getTeamNameByKey(match.tm_2).imageURL">
                                        </div>
                                        <div style="text-align: right; font-size: 1.4rem">{{getTeamNameByKey(match.tm_2).name}}</div>
                                    </div>
                                    <div v-else class="col-6 no-padding mx-auto">
                                        <div class="img-cls-wrp ml-auto">
                                            <img class="img-cls" src="@/assets/logo/icon_logo_white.png">
                                        </div>
                                        <div style="text-align: right; font-size: 1.4rem; margin-right: 1.25rem">TBD</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </v-card>
                </v-dialog>
                <v-dialog max-width="300" v-model="dialog3" persistent>
                    <v-toolbar flat style="max-height: 6.4rem; background-color: var(--primary-color-dark)" dark >
                        <v-avatar>
                            <img
                              :src=getPlayerByKey(selected_player).imageURL
                              alt="John"
                            >
                        </v-avatar>
                        <v-spacer></v-spacer>
                        <v-toolbar-title style="font-size: 1.4rem">
                            <div>{{getPlayerByKey(selected_player).name}}</div>
                            <div style="font-size: 1.2rem; background-color: white; color: #050505; padding: 0 0.5rem" v-if="!EmptyObject(selected_player)">vs  {{getTotalMatches(selected_player)}}</div>
                        </v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn icon dark @click="closeDialog">
                            <v-icon style="font-size: 2rem">mdi-close</v-icon>
                        </v-btn>
                    </v-toolbar>
                    <v-card style="border-radius: 0; max-width: 100%; background-color: #f7f7f7; overflow-y: auto; overflow-x: hidden">
                        <div class="dlg-btn">
                            <button @click="makeCaptain" style="width: 100%" class="btn btn-second">Make Captain</button>
                        </div>
                        <div class="dlg-btn">
                            <button @click="makeViceCaptain" style="width: 100%" class="btn btn-fourth">Make Vice Captain</button>
                        </div>
                    </v-card>
                </v-dialog>
                <v-snackbar
                        dark
                        :timeout="2000"
                        v-model="snackbar"
                        top
                        :color="snackColor"
                >
                    <span style="font-size: 1.4rem">{{snackbarMessage}}</span>
                </v-snackbar>
            </div>
        </div>
    </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import {getDeadLineByCurrentRound, getOnlyFirstName, getTruncateNameTeam, IsEmptyObject} from "../../../filter";
    export default {
        name: "team",
        props: {
            tournament: Object,
            user: Object
        },
        data: function () {
            return {
                GET_TEAM_NAME: getTruncateNameTeam,
                GET_FIRST_NAME: getOnlyFirstName,
                currentUser: firebase.auth().currentUser,
                step: 1,
                dialog: false,
                dialog2: false,
                players: [],
                wicketKeepers: [],
                batsmen: [],
                bowlers: [],
                allRounders: [],
                imageURL: require('@/assets/user.svg'),
                sortedPlayers: [],
                selectedPlayers: [],
                selection_ongoing: '',
                selected_count: {
                    'wk': {
                        selected: 0,
                        maxPlayer: 2,
                        minPlayer: 1,
                        name: 'Wicketkeeper',
                        players: [],
                    },
                    'bts': {
                        selected: 0,
                        maxPlayer: 5,
                        minPlayer: 3,
                        name: 'Batsman',
                        players: [],
                    },
                    'al': {
                        selected: 0,
                        maxPlayer: 3,
                        minPlayer: 1,
                        name: 'All-rounder',
                        players: [],
                    },
                    'bow': {
                        selected: 0,
                        maxPlayer: 5,
                        minPlayer: 3,
                        name: 'Bowler',
                        players: [],
                    },
                    cap: '',
                    vc: ''
                },
                totalPlayer: 0,
                teams: [],
                mxpf1tm: 7,
                cr_limit: 0,
                cr_used: 0,
                sqd_val: 0,
                previous_selection: [],
                trans_out: [],
                trans_in: [],
                trans_count: 0,
                free_transfer: 0,
                team_created: false,
                transfer_cost: 0,
                projected_cost: 0,
                stg_one_err_msg: "",
                snackbar: false,
                snackbarMessage: '',
                snackColor: '#000000',
                selectionError: false,
                page1ErrorReason: 'Select 2 Wicketkeepers, 5 Batsmen, 3 All-Rounders & 5 Bowler.',
                noTimeForThisRound: false,
                byPoints: false,
                byPrice: false,
                byPlayer: false,
                bySelect: false,
                GET_DEADLINE: getDeadLineByCurrentRound,
                sqd_number: 11,
                loading: false,
                EmptyObject: IsEmptyObject,
                fixture_round: {},
                dialog3: false,
                selected_player: {},
                plyr_indx: undefined,
                can_transfer: false,
                prev_cap: '',
                prev_vc: '',
                deduction_scale: 20
            }
        },
        methods: {
            makeCaptain() {
                const self = this;
                if(self.selected_count['vc'] === self.selected_player) {
                    self.selected_count['vc'] = self.selected_count['cap']
                }
                self.selected_count['cap'] = self.selected_player
                self.closeDialog()
            },
            makeViceCaptain() {
                const self = this;
                if(self.selected_count['cap'] === self.selected_player) {
                    self.selected_count['cap'] = self.selected_count['vc']
                }
                self.selected_count['vc'] = self.selected_player
                self.closeDialog()
            },
            closeDialog(){
                const self = this;
                self.dialog3 = false;
                setTimeout(function () {
                    self.selected_player = {};
                    self.plyr_indx = undefined;
                }, 300)
            },
            openDialog3(player, index){
                const self = this;
                self.dialog3 = true;
                self.selected_player = player;
                self.plyr_indx = index;
            },
            openFixture() {
                const self = this;
                self.dialog2 = true;
                let active_round = 'r' + self.tournament.act_round;
                for(let i = 0; i < self.tournament.rounds.length; i++) {
                    if(self.tournament.rounds[i].key.toUpperCase() === active_round.toUpperCase()) {
                        self.fixture_round = self.tournament.rounds[i]
                        self.dialog2 = true;
                        break;
                    }
                }
            },
            getTeamNameByKey(key){
                const self = this;
                let i;
                for(i = 0; i < self.tournament.teams.length; i++) {
                    if(self.tournament.teams[i].id === key){
                        return self.tournament.teams[i]
                    }
                }
            },
            getOpponent(key){
                const self = this;
                let teams = self.tournament.teams;
                for(let i = 0; i < teams.length; i++){
                    if(key.toLowerCase() === teams[i].id.toLowerCase()) {
                        return teams[i].name
                    }
                }
            },
            getTotalMatches(player){
                const self = this;
                let player_team = self.getPlayerByKey(player).team_id;
                let rounds = self.tournament.rounds;
                let active_round = 'r' + self.tournament.act_round;
                let opponents = ''
                for(let i = 0; i < rounds.length; i++) {
                    if(rounds[i].key.toLowerCase() === active_round.toLowerCase()) {
                        if(rounds[i].matches){
                            for(let j = 0; j < rounds[i].matches.length; j++) {
                                if(rounds[i].matches[j].tm_1.toLowerCase() === player_team.toLowerCase()
                                    || rounds[i].matches[j].tm_2.toLowerCase() === player_team.toLowerCase()){
                                    if(rounds[i].matches[j].tm_1.toLowerCase() === player_team.toLowerCase()) {
                                        opponents = opponents + self.getOpponent(rounds[i].matches[j].tm_2) + ', '
                                    } else {
                                        opponents = opponents + self.getOpponent(rounds[i].matches[j].tm_1) + ', '
                                    }
                                }
                            }
                        }
                    }
                }
                return opponents.substring(0, opponents.length - 2)
            },
            replaceByDefault(e) {
                const self = this;
                e.target.src = self.imageURL
            },
            goBack(){
                const self = this;
                self.$emit('go-back')
            },
            getErrorReason(player){
                const self = this;
                if(self.selected_count[self.selection_ongoing].selected + 1 > self.selected_count[self.selection_ongoing].maxPlayer) {
                    self.stg_one_err_msg = 'You can select only ' + self.selected_count[self.selection_ongoing].maxPlayer +
                        ' ' + self.selected_count[self.selection_ongoing].name + '.'
                } else if(player && self.teams[player.data.team_id].selected + 1 > self.mxpf1tm) {
                    self.stg_one_err_msg = 'You can select only ' + self.mxpf1tm +
                        ' from one team.'
                } else if(player && (self.cr_used + parseFloat(player.data.price)) > self.cr_limit ) {
                    self.stg_one_err_msg = 'You do not have sufficient balance in your bank.'
                } else if(self.totalPlayer+1 >= self.sqd_number) {
                    self.stg_one_err_msg = 'You have already selected 11 Players'
                } else {
                    self.stg_one_err_msg = ''
                }
            },
            getPlayerByKey(key){
                const self = this;
                let i;
                let array = self.players;
                let player = {};
                for(i = 0; i <array.length; i++) {
                    if(array[i].key === key) {
                        player = array[i].data;
                    }
                }
                return player;
            },
            isPresent(key, array){
                let i;
                for(i = 0; i <array.length; i++) {
                    if(array[i] === key) return true;
                }
                return false
            },
            gotoTransferPageFinal(){
                const self = this;
                self.can_transfer = self.prev_cap !== self.selected_count.cap || self.prev_vc !== self.selected_count.vc || self.trans_count > 0;
                self.step = 3;
            },
            gotoTransferPage(){
                const self = this;
                self.step = 2;
                self.trans_in = [];
                self.trans_out = [];
                self.trans_count = 0;
                let i, player;
                for(i = 0; i < self.selectedPlayers.length; i++) {
                    if(!self.isPresent(self.selectedPlayers[i], self.previous_selection)) {
                        player = self.getPlayerByKey(self.selectedPlayers[i])
                        self.trans_in.push(player)
                        self.trans_count++;
                    }
                }
                for(i = 0; i < self.previous_selection.length; i++) {
                    if(!self.isPresent(self.previous_selection[i], self.selectedPlayers)) {
                        player = self.getPlayerByKey(self.previous_selection[i])
                        self.trans_out.push(player)
                    }
                }
                if(!self.team_created || self.free_transfer === "unlimited") {
                    self.projected_cost = 0
                } else {
                    if(parseInt(self.trans_count) > parseInt(self.free_transfer)) {
                        self.projected_cost = (parseInt(self.trans_count) - parseInt(self.free_transfer)) * parseInt(self.deduction_scale)
                    } else {
                        self.projected_cost = 0
                    }
                }
            },
            isSelected(player){
                const self = this;
                let i;
                for(i = 0; i < self.selectedPlayers.length; i++) {
                    if(self.selectedPlayers[i] === player.key) {
                        return true;
                    }
                }
                return false
            },
            removeThisPlayer(player){
                const self = this;
                let i;
                for(i = 0; i < self.selected_count[self.selection_ongoing].players.length; i++) {
                    if(self.selected_count[self.selection_ongoing].players[i] === player.key) {
                        self.selected_count[self.selection_ongoing].players.splice(i, 1);
                        self.selected_count[self.selection_ongoing].selected--;
                        self.totalPlayer--;
                        break
                    }
                }
                self.cr_used = self.cr_used - parseFloat(player.data.price);
                const index = self.selectedPlayers.findIndex(key => key === player.key);
                if(index !== -1){
                    self.selectedPlayers.splice(index, 1);
                }
                if(self.selected_count.cap === player.key) self.selected_count.cap = '';
                if(self.selected_count.vc === player.key) self.selected_count.vc = '';
                self.selectionError = false;
                self.teams[player.data.team_id].selected--;
            },
            selectThisPlayer(player){
                const self = this;
                if(self.selected_count[self.selection_ongoing].selected < self.selected_count[self.selection_ongoing].maxPlayer
                    && self.totalPlayer < self.sqd_number && self.teams[player.data.team_id].selected < self.mxpf1tm
                    && (self.cr_used + parseFloat(player.data.price)) <= self.cr_limit
                ) {
                    self.selectionError = false;
                    self.selected_count[self.selection_ongoing].selected++;
                    self.totalPlayer++;
                    self.teams[player.data.team_id].selected++;
                    self.cr_used = self.cr_used + parseFloat(player.data.price);
                    self.selected_count[self.selection_ongoing].players.push(player.key);
                    self.selectedPlayers.push(player.key)
                } else {
                    self.getErrorReason(player);
                    self.selectionError = true;
                    self.snackbar = true;
                    self.snackColor = '#DB0027';
                    self.snackbarMessage = self.stg_one_err_msg;
                }
            },
            sortArrayPlayersByPoints(){
                const self = this;
                self.byPrice = false;
                self.byPlayer = false;
                self.bySelect = false;
                if(self.byPoints) {
                    self.sortedPlayers.sort((a, b) => (parseInt(a['data'].total_points) >= parseInt(b['data'].total_points) ? 1 : -1));
                } else {
                    self.sortedPlayers.sort((a, b) => (parseInt(a['data'].total_points) <= parseInt(b['data'].total_points) ? 1 : -1));
                }
                self.byPoints = !self.byPoints;
            },
            sortArrayPlayersByPrice(){
                const self = this;
                self.byPoints = false;
                self.byPlayer = false;
                self.bySelect = false;
                if(self.byPrice) {
                    self.sortedPlayers.sort((a, b) => (parseFloat(a['data'].price) >= parseFloat(b['data'].price) ? 1 : -1));
                } else {
                    self.sortedPlayers.sort((a, b) => (parseFloat(a['data'].price) <= parseFloat(b['data'].price) ? 1 : -1));
                }
                self.byPrice = !self.byPrice;
            },
            sortArrayPlayersByPlayer(){
                const self = this;
                self.byPrice = false;
                self.byPoints = false;
                self.bySelect = false;
                if(self.byPlayer) {
                    self.sortedPlayers.sort((a, b) => (self.GET_FIRST_NAME(a['data'].name) >= self.GET_FIRST_NAME(b['data'].name) ? 1 : -1));
                } else {
                    self.sortedPlayers.sort((a, b) => (self.GET_FIRST_NAME(a['data'].name) <= self.GET_FIRST_NAME(b['data'].name) ? 1 : -1));
                }
                self.byPlayer = !self.byPlayer;
            },
            sortArrayPlayersBySelect(){
                const self = this;
                self.byPrice = false;
                self.byPoints = false;
                self.byPlayer = false;
                if(self.bySelect) {
                    self.sortedPlayers.sort((a, b) => (parseFloat(a['data'].selected_by) >= parseFloat(b['data'].selected_by) ? 1 : -1));
                } else {
                    self.sortedPlayers.sort((a, b) => (parseFloat(a['data'].selected_by) <= parseFloat(b['data'].selected_by) ? 1 : -1));
                }
                self.bySelect = !self.bySelect;
            },
            openDialog(type){
                const self = this;
                if(self.selection_ongoing !== type){
                    self.selection_ongoing = type;
                    self.selectionError = false;
                    self.byPlayer = false;
                    self.byPrice = false;
                    self.bySelect = false;
                    self.byPoints = true;
                    switch (type) {
                        case 'wk':
                            self.sortedPlayers = self.wicketKeepers;
                            self.sortedPlayers.sort((a, b) => (parseInt(a['data'].total_points) > parseInt(b['data'].total_points) ? 1 : -1));
                            break;
                        case 'bts':
                            self.sortedPlayers = self.batsmen;
                            self.sortedPlayers.sort((a, b) => (parseInt(a['data'].total_points) < parseInt(b['data'].total_points) ? 1 : -1));
                            break;
                        case 'al':
                            self.sortedPlayers = self.allRounders;
                            self.sortedPlayers.sort((a, b) => (parseInt(a['data'].total_points) < parseInt(b['data'].total_points) ? 1 : -1));
                            self.byPoints = true;
                            break;
                        case 'bow':
                            self.sortedPlayers = self.bowlers;
                            self.sortedPlayers.sort((a, b) => (parseInt(a['data'].total_points) < parseInt(b['data'].total_points) ? 1 : -1));
                            break;
                        default:
                            self.sortedPlayers = self.players;
                            break;
                    }
                }
            },
            saveSelection(){
                const self = this;
                self.loading = true;
                if(getDeadLineByCurrentRound(self.tournament.act_round, self.tournament.rounds).distance > 0 && self.tournament.transfer_open){
                    let rounds = self.user.rounds;
                    let roundKey = 'r' + self.tournament.act_round;
                    let deduct_points = 0;
                    let time_now = new Date().getTime()
                    if(rounds && self.team_created) {
                        let i;
                        for(i=0; i < rounds.length; i++) {
                            if(rounds[i].key === roundKey) {
                                if(self.free_transfer === "unlimited") {
                                    deduct_points = 0;
                                } else {
                                    if(parseInt(self.trans_count) > parseInt(self.free_transfer)) {
                                        deduct_points = ((parseInt(self.trans_count) - parseInt(self.free_transfer))* parseInt(self.deduction_scale)) + parseInt(rounds[i].deduct_points)
                                    } else {
                                        deduct_points = parseInt(rounds[i].deduct_points)
                                    }
                                }
                                rounds[i] = {
                                    key: roundKey,
                                    trns_made: parseInt(self.trans_count) + parseInt(rounds[i].trns_made),
                                    deduct_points: deduct_points,
                                    in_eleven_wk: self.selected_count['wk'].players,
                                    in_eleven_bts: self.selected_count['bts'].players,
                                    in_eleven_al: self.selected_count['al'].players,
                                    in_eleven_bow: self.selected_count['bow'].players,
                                    cap: self.selected_count.cap,
                                    vc: self.selected_count.vc,
                                    updated_on: time_now
                                };
                                break;
                            }
                        }
                        if(rounds.length === i) {
                            rounds[i] = {
                                key: roundKey,
                                trns_made: parseInt(self.trans_count) + parseInt(rounds[i].trns_made),
                                deduct_points: deduct_points,
                                in_eleven_wk: self.selected_count['wk'].players,
                                in_eleven_bts: self.selected_count['bts'].players,
                                in_eleven_al: self.selected_count['al'].players,
                                in_eleven_bow: self.selected_count['bow'].players,
                                cap: self.selected_count.cap,
                                vc: self.selected_count.vc,
                                updated_on: time_now
                            }
                        }
                    } else {
                        rounds = [
                            {
                                key: roundKey,
                                trns_made: 0,
                                deduct_points: deduct_points,
                                in_eleven_wk: self.selected_count['wk'].players,
                                in_eleven_bts: self.selected_count['bts'].players,
                                in_eleven_al: self.selected_count['al'].players,
                                in_eleven_bow: self.selected_count['bow'].players,
                                cap: self.selected_count.cap,
                                vc: self.selected_count.vc,
                                updated_on: time_now
                            }
                        ]
                    }
                    let data = {
                        doj: self.user.doj,
                        tm_crt: true,
                        my_sqd: self.selected_count,
                        rounds: rounds,
                        bank: parseFloat(parseFloat(self.cr_limit) - parseFloat(self.cr_used))
                    };
                    let database = firebase.database();
                    database.ref('series/' + self.tournament.id + '/users/' + self.currentUser.uid).update(data)
                        .then(function () {
                            self.loading = false;
                            self.$emit('save-change')
                        }).catch(function () {
                        self.loading = false;
                        self.snackbar = true;
                        self.snackbarMessage = 'Sorry, something went wrong. Please try again later.'
                        self.snackColor = 'error';
                    })
                } else {
                    self.loading = false;
                    self.snackbar = true;
                    self.snackbarMessage = 'Times up'
                    self.snackColor = 'error';
                    setTimeout(()=> {
                        self.goBack()
                    }, 500)
                }
            },
            setPlayers(players) {
                const self = this;
                let returnArr = [];
                self.players = [];
                self.wicketKeepers = [];
                self.batsmen = [];
                self.bowlers = [];
                self.allRounders = [];
                self.selectedPlayers = []
                self.previous_selection = []
                players.forEach(function(childSnapshot) {
                    let object = {
                        key: childSnapshot.key,
                        data: childSnapshot
                    };
                    if(childSnapshot.playingRole && childSnapshot.playingRole.toUpperCase().includes('WICKET')) {
                        self.wicketKeepers.push(object)
                    } else if(childSnapshot.playingRole && childSnapshot.playingRole.toUpperCase().includes('ALL')) {
                        self.allRounders.push(object)
                    } else if(childSnapshot.playingRole && childSnapshot.playingRole.toUpperCase().includes('BOWLER')) {
                        self.bowlers.push(object)
                    } else {
                        self.batsmen.push(object)
                    }
                    returnArr.push(object);
                });
                self.players = returnArr;
            },
            updateRules(rules){
                const self = this;
                self.deduction_scale = rules.deduct_scale;
                self.mxpf1tm = rules.max_pf1tm;
                self.selected_count['wk'].minPlayer = rules.min_wk;
                self.selected_count['wk'].maxPlayer = rules.max_wk;
                self.selected_count['bts'].minPlayer = rules.min_bts;
                self.selected_count['bts'].maxPlayer = rules.max_bts;
                self.selected_count['al'].minPlayer = rules.min_al;
                self.selected_count['al'].maxPlayer = rules.max_al;
                self.selected_count['bow'].minPlayer = rules.min_bow;
                self.selected_count['bow'].maxPlayer = rules.max_bow;
                self.sqd_number = parseInt(rules.sqd_number);
            },
            setUpSquad(sqd, pool){
                const self = this;
                let res = [], i, j;
                for(i=0; i < sqd.length; i++) {
                    for(j=0; j < pool.length; j++){
                        if(sqd[i] === pool[j].key) {
                            res.push(pool[j].key);
                            self.selectedPlayers.push(pool[j].key)
                            self.previous_selection.push(pool[j].key)
                            self.sqd_val = self.sqd_val + parseFloat(pool[j].data.price);
                            self.teams[pool[j].data.team_id].selected++;
                            break;
                        }
                    }
                }
                return res;
            },
        },
        computed: {
            validSelection(){
                const self = this;
                return self.totalPlayer === self.sqd_number && self.cr_used <= self.cr_limit
                    && self.selected_count['wk'].selected <= self.selected_count['wk'].maxPlayer
                    && self.selected_count['wk'].selected >= self.selected_count['wk'].minPlayer
                    && self.selected_count['bts'].selected <= self.selected_count['bts'].maxPlayer
                    && self.selected_count['bts'].selected >= self.selected_count['bts'].minPlayer
                    && self.selected_count['al'].selected <= self.selected_count['al'].maxPlayer
                    && self.selected_count['al'].selected >= self.selected_count['al'].minPlayer
                    && self.selected_count['bow'].selected <= self.selected_count['bow'].maxPlayer
                    && self.selected_count['bow'].selected >= self.selected_count['bow'].minPlayer;
            }
        },
        mounted(){
            const self = this;
            self.loading = true;
            if(!self.EmptyObject(self.tournament)) {
                let database = firebase.database();
                self.updateRules(self.tournament.rules)
                let tournament_ref = database.ref('series/' + self.tournament.id);
                let query = tournament_ref.child('users').orderByKey().equalTo(self.currentUser.uid).limitToFirst(1)
                query.on('value', function (snap) {
                  let u = snap.val();
                  self.noTimeForThisRound = getDeadLineByCurrentRound(self.tournament.act_round, self.tournament.rounds).distance <= 0 || !self.tournament.transfer_open;
                  if(u) {
                    let i;
                    for(i=0; i < self.tournament.teams.length; i++) {
                      self.teams[self.tournament.teams[i].id] = {
                        players: self.tournament.teams[i].players ? self.tournament.teams[i].players.length : 0,
                        selected: 0,
                      }
                    }
                    self.team_created = u[self.currentUser.uid].tm_crt;
                    database.ref('series/' + self.tournament.id + '/pool/').once('value', function (snap) {
                      self.setPlayers(snap.val())
                      if(self.team_created){
                        let mySqd = self.user.my_sqd;
                        self.selected_count['wk'].players = self.setUpSquad(mySqd['wk'].players, self.wicketKeepers);
                        self.selected_count['wk'].selected = mySqd['wk'].selected;
                        self.selected_count['bts'].players = self.setUpSquad(mySqd['bts'].players, self.batsmen);
                        self.selected_count['bts'].selected =mySqd['bts'].selected;
                        self.selected_count['al'].players = self.setUpSquad(mySqd['al'].players, self.allRounders);
                        self.selected_count['al'].selected =mySqd['al'].selected;
                        self.selected_count['bow'].players = self.setUpSquad(mySqd['bow'].players, self.bowlers);
                        self.selected_count['bow'].selected =mySqd['bow'].selected;
                        self.selected_count.cap = mySqd.cap;
                        self.selected_count.vc = mySqd.vc;
                        self.prev_cap = mySqd.cap;
                        self.prev_vc = mySqd.vc;
                        self.cr_limit = parseFloat(self.user.bank) + parseFloat(self.sqd_val);
                        self.cr_used = parseFloat(self.sqd_val);
                        self.totalPlayer = self.sqd_number;
                        if(self.tournament.fr_trns === 'unlimited') {
                          self.free_transfer = self.tournament.fr_trns;
                          self.transfer_cost = 0;
                        } else {
                          let rounds = self.user.rounds;
                          let roundKey = 'r' + self.tournament.act_round;
                          if(rounds && rounds.length > 1) {
                            let p;
                            for(p=0; p < rounds.length; p++) {
                              if(rounds[p].key === roundKey) {
                                self.free_transfer = parseInt(rounds[p].trns_made) <= parseInt(self.tournament.fr_trns)
                                    ? parseInt(self.tournament.fr_trns) - parseInt(rounds[p].trns_made) : 0;
                                self.transfer_cost = parseInt(rounds[p].deduct_points);
                                break;
                              }
                            }
                          } else {
                            self.free_transfer = 'unlimited';
                            self.transfer_cost = 0;
                          }
                          }
                        } else {
                        self.free_transfer = 'unlimited';
                        self.transfer_cost = 0;
                        self.cr_used = 0;
                        self.cr_limit = parseFloat(self.tournament.users[self.currentUser.uid].bank);
                      }
                      self.loading = false;
                      self.openDialog('wk');
                    }).catch(()=> {
                      self.goBack()
                    });
                  } else {
                    self.$router.push({name: 'dashboard'}).catch()
                  }
                });
            }
        }
    }
</script>

<style scoped>
    .selC{
        border-top: 0.4rem solid var(--white) !important;
    }
    .cont-but{
        position: absolute;
        bottom: 1rem;
        right: 0;
        z-index: 100;
        width: 100%;
        background-color: transparent;
    }
    .icon-right{
        color: var(--white);
    }
    .play-ground{
        margin: 0.5rem;
        font-size: 1.6rem;
    }
    .eve{
        color: white;
        padding: 0.2rem 0.5rem;
        background-color: var(--black-background);
    }
    .points{
        background-color: var(--primary-color);
        color: white;
        text-align: center;
        width: 6rem;
        font-size: 1.2rem;
        overflow: hidden;
    }
    .tm{
        background-color: var(--fourth-color);
        font-size: 1rem;
    }
    .tm1{
        background-color: var(--third-color);
        font-size: 1rem;
    }
    .player-card{
        padding: 1rem 1rem 10rem!important;
        border-bottom: 0.1rem solid #cccccc;
        background-color: var(--white);
    }
    .usr-image{
        width: 100%;
        height: 100%;
        border-radius: 0.4rem 0.4rem 0 0;
    }
    .user-img{
        height: 8.8rem !important;
        border-radius: 0.4rem !important;
        background-image: linear-gradient(
                120deg,
                rgba(255, 255, 255, 0.9),
                rgba(170, 170, 170, 0.9)
        )
    }
    .image-wrapper{
        overflow: hidden;
        width: 6rem;
        height: 7rem;
        cursor: pointer;
    }
    .image-wrapper-pop{
        overflow: hidden;
        max-width: 3rem;
        height: auto;
        cursor: pointer;
    }
    .image-wrapper-fnl{
        overflow: hidden;
        width: 4rem;
        height: 5rem;
        cursor: pointer;
    }
    .image-wrapper-single{
        overflow: hidden;
        width: 10rem;
        height: auto;
        border-radius: 0.4rem;
        cursor: pointer;
    }
    .image{
        width: 100%;
        height: 100%;
        border-radius: 0.4rem 0.4rem 0 0;
        background-color: #ffffff;
    }
    .usr{
        max-width: 8rem;
        padding: 1rem 0.5rem 1rem 0;
    }
    .captain{
        background-color: var(--captain);
    }
    .vcap{
        background-color: var(--vicecap);
    }
    .features{
        padding: 0.5rem !important;
        font-size: 1.4rem;
        color: white;
    }
    .fchip{
        background-color: var(--black-background);
        color: white;
        border-radius: 0.4rem;
        padding: 0.5rem;
        height: 100%;
        position: relative;
    }
    .fchip-ttl{
        padding: 0 0 3.2rem 0;
        text-align: center;
    }
    .fchip-val{
        background-color: var(--black-light-foreground);
        padding: 0.5rem;
        border-radius: 0.5rem;
        text-align: center;
        position: absolute;
        bottom: 0.5rem;
        width: calc(100% - 1rem);
        margin: auto;
    }
    .pchip{
        background-color: var(--primary-color-dark);
        color: white;
        position: relative;
        font-size: 1.4rem;
        height: 100%;
    }
    .pcrErr{
        background-color: var(--error-state) !important;
        color: white !important;
    }
    .p-hd{
        font-size: 1.4rem;
        color: var(--white);
        background-color: var(--third-color-dark);
        padding: 1rem;
    }
    .lmtCrs{
        color: var(--error-state) !important;
    }
    .select{
        width: 10%;
        margin: auto;
    }
    .name{
        width: 40%;
        font-size: 1.2rem;
        overflow-x: hidden;
        margin: auto 0;
        padding: 0 1rem;
    }
    .pnts{
        width: 15%;
        margin: auto;
    }
    .price{
        width: 20%;
        margin: auto;
    }
    .image-sn{
        max-width: 6rem;
        width: 100%;
        height: 100%;
    }
    .nm{
        width: 55%;
        font-size: 1.2rem;
    }
    .img-cls-wrp{
        height: 5rem;
        width: 5rem;
    }
    .img-cls{
        height: 100%;
        width: 100%;
    }
    .phone{
        display: block;
    }
    .dlg-btn{
        margin: 1rem !important;
    }
    .errS{
        background-color: var(--error-state) !important;
        color: white !important;
    }
</style>