<template>
<div>
  <div class="footer">
    <div class="container-in">
      <div class="row">
        <div class="col-sm-4">
          <div class="footer-h">About us</div>
          <div class="horizontal-line"></div>
          <div class="footer-p">
            Khelo is Bangladesh's first gamble-free online fantasy sports platform. We are totally gamble-free and always will be.
            <br />
            <b>Enjoy!</b>
            <div class="gap"></div>
            <b>
              <font style="font-size:1.8rem">Contact Us</font>
            </b>
            <br />feel free to mail us at
            <b>info@khelo.io</b>
          </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4" style="z-index:9999">
          <div class="footer-h">Useful Links</div>
          <div class="horizontal-line"></div>
          <a @click="goToLinkedPage('faq')" class="footer-p">FAQ</a><br />
          <a  @click="goToLinkedPage('points-system')" class="footer-p">Points System</a>
          <br />
          <a target="_blank" href="https://docs.google.com/document/d/1DAwPbsEsIgzqQUfTjrlP8pGCCItj1YWZgq13150JInw/edit?usp=sharing" class="footer-p">Terms and conditions</a>
          <br />
          <a @click="goToLinkedPage('privacy-policy')" class="footer-p">Privacy policy</a>
          <br />
          <div class="gap"></div>
          <a class="footer-p" target="_blank" href="https://www.facebook.com/khelo.io/"><img src="@/assets/facebook.svg" style="width:3rem;height:auto;margin-right:1rem"><span>Follow our page on facebook</span></a>
          <br/>
          <div class="gap" style="height: 0.5rem"></div>
          <a class="footer-p" target="_blank" href="https://www.facebook.com/groups/khelo/"><img src="@/assets/group.png" style="width:3rem;height:auto;margin-right:1rem"><span>Join the facebook community</span></a>
        </div>
        <div class="col-sm-3">
          <div class="logo-container">
            <img src="@/assets/logo/logo-circle-dark.svg" class="logo" />
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="copyright">Copyright © 2020 khelo. All Rights Reserved</div>
</div>
</template>

<script>
export default {
    data: function () {
        return {

        }
    },
    methods: {
        goToLinkedPage(route){
            this.$router.push({name: route}).catch()
        }
    }
};
</script>

<style scoped>
a:hover {
  text-decoration: underline !important;
  color: white !important;
}
.footer {
  width: 100%;
  background-color: #3c3d41;
  overflow: hidden;
}
.container-in {
  width: 100%;
  padding: 2.5% 20%;
}
@media (max-width: 1550px) {
  .container-in {
    padding: 0 15%;
  }
}

@media (max-width: 1420px) {
  .container-in {
    padding: 0 10%;
  }
}
.footer-h {
  font-size: 3rem;
  color: white;
}
.footer-p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
}
.footer-m {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
}
.gap {
  height: 2rem;
  width: 100%;
  background: transparent;
}
.logo-container {
  height: 100%;
  width: 100%;
  position: relative;
}
.logo {
  width: 60%;
  position: absolute;
  bottom: -4rem;
  right: -4rem;
  opacity: 0.3;
}
.copyright {
  width: 100%;
  background-color: #333333;
  text-align: center;
  padding: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  z-index: 100;
}
@media (max-width: 800px) {
  .container-in {
    padding: 0 5%;
  }
  .phone-mode {
    display: block;
  }
  .pc-mode {
    display: none;
  }
  .font-align {
    text-align: center;
  }
}
</style>