<template>
  <div>
    <div class="top">
      <div :class="{navContainer:!logo,navContainerTemp:tempNav,navContainerWhite:logo}">
        <div class="container-in" style="height: 10rem;">
          <div :class="{navContent:!logo,navContentWhite:logo}">
            <div class="logo">
              <img v-show="logo" src="@/assets/logo/logo.svg" style="width:20rem;height:auto" />
              <img
                v-show="!logo"
                src="@/assets/logo/logo_white.svg"
                style="width:20rem;height:auto"
              />
            </div>
            <div @click="gotoLogin" class="disable-select">Login / Sign Up</div>
          </div>
        </div>
      </div>
      <div class="horizontal-center">
        <div class="container-in" style="height:100%">
          <div class="row-temp" style="height:100%">
            <div class="vertical-center">
              <div class="header font-align">WE ARE GAMBLE FREE</div>
              <div
                class="slogan font-align"
              >Khelo is Bangladesh's First Gamble-Free Fantasy Sports Platform</div>
            </div>
            <div style="position:relative">
              <img
                v-if="parseInt(position, 10)<35"
                src="@/assets/iphone.png"
                class="iphone pc-mode"
                :style="{top:position}"
              />
              <img v-else src="@/assets/screen1.png" class="iphone pc-mode" :style="{top:position}" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fixback pc-mode">
      <div class="white-back vertical-center" id="team">
        <div class="container-in">
          <div class="info-container">
            <div class="info-header">Create your team</div>
            <div class="horizontal-line"></div>
            <div
              class="info-details"
            >Create your team and compete against the whole country to win exciting prizes</div>
          </div>
        </div>
      </div>

      <div class="gradient-back">
        <div
          class="container-in"
          style="position:relative;height:100%;display:flex;flex-direction:row;justify-content:space-between;align-items:center"
        >
          <img src="@/assets/screen3.png" style="height:40rem" />
          <img src="@/assets/screen2.png" style="height:40rem" />
          <div class="vertical-center">
            <div class="info-container" style="max-width:80rem">
              <div class="info-header gradient-back-text">Create your own league</div>
              <div class="horizontal-line" style="background-color:white"></div>
              <div
                class="info-details gradient-back-text"
              >Create your very own private leagues and compete with friends</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="phone-mode">
      <div
        class="container-in"
        style="display:block;padding-top:10rem;padding-bottom:10rem"
        align="middle"
      >
        <div class="info-header font-align">Create your team</div>
        <div class="horizontal-line"></div>
        <div
          class="info-details font-align"
        >Create your team and compete against the whole country and win exciting prizes</div>
        <img src="@/assets/screen1.png" style="width:80%;height:auto;margin-top:4rem" />
      </div>

      <div
        class="container-in phone-section"
        style="display:block;padding-top:10rem;padding-bottom:10rem"
        align="middle"
      >
        <div class="info-header gradient-back-text">Create your own league</div>
        <div class="horizontal-line" style="background-color:white"></div>
        <div
          class="info-details gradient-back-text"
        >Create your league and compete with your friends</div>
        <div
          style="position:relative;height:100%;display:flex;flex-direction:row;justify-content:space-between;align-items:center;margin-top:2rem"
        >
          <div style="display:flex;flex:1;padding:1rem">
            <img src="@/assets/screen3.png" style="width:100%" />
          </div>
          <div style="display:flex;flex:1;padding:1rem">
            <img src="@/assets/screen2.png" style="width:100%" />
          </div>
        </div>
      </div>
    </div>

    <div class="flexback">
      <div class="white-back" style="height:100%">
        <div class="gap"></div>
        <div class="container-in">
          <div class="header" style="color:var(--primary-color)" align="middle">Ongoing Tournaments</div>
          <div class="horizontal-line" style="margin-bottom:3rem"></div>
          <div :key="index" v-for="(tournament, index) in tournaments" class="row justify-content-center">
            <div class="col-sm-4">
              <tournaments
                v-bind:tournament="tournament"
              >
              </tournaments>
            </div>
          </div>
        </div>
        <div class="gap"></div>
      </div>
    </div>

    <Footer></Footer>
  </div>
</template>

<script>
import firebase from 'firebase/app';
import 'firebase/auth';
import 'firebase/database'
import Tournaments from "./tournament";
import Footer from "./footer";
export default {
  components: {
    Tournaments,
    Footer
  },
  data: function() {
    return {
      logo: null,
      tempNav: false,
      position: null,
      width: null,
      divisable: null,
      teamHeight: null,
      tournaments: []
    };
  },
  methods: {
        handleScroll() {
            if (
                window.scrollY > 18 &&
                window.scrollY < this.teamHeight + 500 - 70 * this.divisable
            ) {
                this.position = 15 + window.scrollY / this.divisable + "rem";
            }

            if (window.scrollY < 80) {
                this.tempNav = false;
            }
            if (window.scrollY > 80) {
                this.tempNav = true;
            }
            if (window.scrollY > 450) {
                this.logo = true;
                this.tempNav = false;
            } else {
                this.logo = false;
            }
        },
        resizeWidth() {
            this.width = window.innerWidth;
            if (this.width <= 1336) this.divisable = 8;
            else this.divisable = 10;
        },
        gotoLogin() {
            this.$router.push({ name: "login" }).catch();
        },
        getPublicTournaments(){
            const self = this;
            let database = firebase.database()
            database.ref('public-tournaments').on("value", function (snapshot) {
                snapshot.forEach(function(childSnapshot) {
                    if(childSnapshot.val().active){
                        let key = childSnapshot.key;
                        let object = {
                            key : key
                        };
                        if(childSnapshot.val().type === 'tournament'){
                            database.ref('tournaments/' + key + '/data').on("value", function (sChild) {
                                let val = sChild.val()
                                object.users = val.users || {}
                                object.name = val.name || '';
                                object.prizes = val.prizes || {};
                                object.imageURL = val.imageURL || require('../assets/logo/logo.png');
                                self.tournaments.push(object);
                            });
                        } else if(childSnapshot.val().type === 'match'){
                            database.ref('single-matches/' + key + '/data').on("value", function (sChild) {
                                let val = sChild.val()
                                object.users = val.users || {}
                                object.name = val.name || '';
                                object.prizes = val.prizes || {};
                                object.imageURL = val.imageURL || require('../assets/logo/logo.png');
                                self.tournaments.push(object);
                            });
                        }
                    }
                });
            })
        }
    },
  created() {
    window.addEventListener("scroll", this.handleScroll);
    window.addEventListener("resize", this.resizeWidth);
    this.resizeWidth();
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  mounted() {
    const self = this;
    self.position = "15rem";
    self.teamHeight = document.getElementById("team").clientHeight;
    self.getPublicTournaments()

  },
};
</script>

<style scoped>
.top {
  height: 500px;
  background-image: linear-gradient(
      120deg,
      rgba(110, 22, 153, 0.9),
      rgba(140, 14, 157, 0.9),
      rgba(206, 1, 167, 0.9)
    ),
    url("../assets/cricket/fan.jpg");
  background-size: cover;
  background-position: center;
}
.phone-section {
  background-image: linear-gradient(
      120deg,
      rgba(110, 22, 153, 0.65),
      rgba(140, 14, 157, 0.65),
      rgba(206, 1, 167, 0.65)
    ),
    url("../assets/cricket/stadium.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  height: 10rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  z-index: 100;
  transition: 0.4s;
}
.navContainerTemp {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  height: 10rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  z-index: 100;
  transition: 0.4s;
  width: 100vw;
}
.navContainerWhite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  height: 10rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.4s;
  box-shadow: 0 0 10px 5px rgba(110, 22, 153, 0.15);
  z-index: 100;
}
.navContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
  width: 100%;
}
.navContentWhite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
  width: 100%;
}
.container-in {
  width: 100%;
  padding: 0 20%;
}
.header {
  font-size: 3.65rem;
  color: white;
  letter-spacing: 1.2rem;
}
.slogan {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.7);
}
.vertical-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.horizontal-center {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.row-temp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.iphone {
  height: 60rem;
  width: auto;
  position: absolute;
  right: 0;
  z-index: 10;
  top: 15rem;
}
.fixback {
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/cricket/stadium.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  z-index: 10;
}
.info-header {
  font-size: 4rem;
  color: #333333;
}
.info-details {
  font-size: 1.5rem;
  color: grey;
}
.gradient-back-text {
  color: white;
}
.horizontal-line {
  width: 100%;
  height: 1px;
  margin: 1rem 0;
  background-color: var(--primary-color);
}
.white-back {
  background-color: white;
  height: 50vh;
}
.gradient-back {
  background: transparent;
  background-image: linear-gradient(
    120deg,
    rgba(110, 22, 153, 0.65),
    rgba(140, 14, 157, 0.65),
    rgba(206, 1, 167, 0.65)
  );
  height: 50vh;
}
.gap {
  height: 10rem;
  width: 100%;
  background: transparent;
}
.nav-content-left {
}
.logo {
  width: 20rem;
  height: auto;
}
.info-container {
  max-width: 50rem;
}
.phone-mode {
  display: none;
}
.pc-mode {
  display: block;
}
.font-align {
  text-align: left;
}

@media (max-width: 1550px) {
  .container-in {
    padding: 0 15%;
  }
}

@media (max-width: 1420px) {
  .container-in {
    padding: 0 10%;
  }
}
@media (max-width: 800px) {
  .container-in {
    padding: 0 5%;
  }
  .phone-mode {
    display: block;
  }
  .pc-mode {
    display: none;
  }
  .font-align {
    text-align: center;
  }
}
</style>