<template>
  <div style="max-width: 40rem; margin: auto">
    <div class="form-reg">
      <div style="text-align: center; margin: 2vh 0 1rem 0">
        <div @click="googleRegistration" class="log-in google" style="color:#fff; width: 100%">
          <img style="width: 2.4rem; height: 2.4rem; float: left; background-color: white; border-radius: 5rem" src="@/assets/google.png"/>
          <span style="padding-left: 0.5rem; font-size: 1.6rem"><span>Continue with</span> Google</span>
        </div>
      </div>
      <div style="text-align: center; margin: 1rem 0">
        <div @click="facebookRegistration" class="log-in facebook" style="width: 100%">
          <v-icon style="font-size: 2.4rem; float: left" color="#fff">mdi-facebook</v-icon
          ><span style="padding-left: 0.5rem; font-size: 1.6rem"><span>Continue with</span> Facebook</span>
        </div>
      </div>
      <div class="sign-in-text">
        -or-
      </div>
      <v-form ref="form" @submit.prevent="loginUser" lazy-validation>
        <div>
          <v-text-field
            color="#8238CD"
            dense
            v-model="email"
            label="Email"
            :error-messages="emailErrors"
            prepend-inner-icon="mdi-email"
            outlined
          ></v-text-field>
        </div>
        <div>
          <v-text-field
            color="#8238CD"
            dense
            v-model="password"
            label="Password"
            :error-messages="passwordErrors"
            prepend-inner-icon="mdi-lock"
            :append-icon="showIcon1 ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showIcon1 ? 'text' : 'password'"
            @click:append="showIcon1 = !showIcon1"
            outlined
            autocomplete="on"
          ></v-text-field>
        </div>
        <div style="text-align: center">
          <button class="btn btn-first-light" style="width: 100%; font-size: 1.6rem !important;" @submit="loginUser">
            Sign in
          </button>
        </div>
      </v-form>
      <div class="row">
        <div class="col-8 no-padding">
          <div class="not-acc-text">New to <span>Khelo</span>?
            <span @click="gotoRegistration" style="cursor: pointer; color: var(--secondary-color); font-weight: bold">Sign up now.</span>
          </div>
        </div>
        <div class="col-4 no-padding">
          <div @click="openDialog" class="not-acc-text" style="text-align: right; cursor: pointer">Forgot Password?</div>
        </div>
      </div>
      <div v-if="error" style="text-align: center; color: var(--error-state)">{{errorMessage}}</div>
    </div>
    <v-dialog persistent max-width="400" v-model="dialog">
      <v-card  style="max-width: 100%; overflow-y: auto; overflow-x: hidden;">
        <v-toolbar flat style="max-height: 6.4rem; background-color: var(--secondary-color)" dark >
          <v-toolbar-title style="font-size: 1.6rem">
            Confirm Email
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon dark @click="dialog = false">
              <v-icon style="font-size: 2rem">mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-form v-model="valid" ref="form" @submit.prevent="sendResetPasswordLink" lazy-validation style="margin: 2rem 2rem 2rem">
          <div>
            <v-text-field
              color="#8238CD"
              dense
              v-model="resetEmail"
              label="Email"
              :rules="Rules"
              prepend-inner-icon="mdi-email"
              outlined
            ></v-text-field>
          </div>
          <div style="text-align: right">
            <button @submit="sendResetPasswordLink" class="btn btn-third">Submit</button>
          </div>
        </v-form>
      </v-card>
    </v-dialog>
    <v-snackbar
      :timeout="2000"
      v-model="snackbar"
      centered
      top
    >
      {{snackbarMessage}}
    </v-snackbar>
  </div>
</template>

<script>
    import {required, minLength, maxLength, email} from "vuelidate/lib/validators";
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import {EMAIL_VALIDATOR} from "../filter";
    export default {
        name: "Registration",
        data: function () {
            return {
                dialog: false,
                valid: true,
                resetEmail: '',
                email: '',
                password: '',
                rePassword: '',
                showIcon1: false,
                showIcon2: false,
                error: false,
                errorMessage: '',
                Rules: [
                    v => !!v || "Required",
                    v => EMAIL_VALIDATOR(v) || "Must be a valid email"
                ],
                snackbar: false,
                snackbarMessage: ''
            }
        },
        validations: {
            email: {required, email,},
            password: { required, minLength: minLength(6), maxLength: maxLength(32) },
        },
        methods: {
            async loginUser(){
                const self = this;
                self.$v.$touch();
                if (!self.$v.$anyError) {
                    try{
                        const data = await firebase.auth().signInWithEmailAndPassword(self.email, self.password)
                        if(!data.additionalUserInfo.isNewUser && data.additionalUserInfo.providerId.toLowerCase() === 'password') {
                            self.$router.push({ name: "user" }).catch(function () {});
                        } else {
                            firebase.auth().signOut().catch();
                        }
                    }catch (e) {
                        self.error = true;
                        self.errorMessage = e.message;
                    }
                }
            },
            facebookRegistration(){
                const self = this;
                self.$emit('sign-up-facebook')
            },
            googleRegistration(){
                const self = this;
                self.$emit('sign-up-google')
            },
            gotoRegistration(){
                const self = this;
                self.$emit('sign-up')
            },
            sendResetPasswordLink(){
                const self = this;
                if (self.$refs.form.validate()) {
                    firebase.auth().sendPasswordResetEmail(self.resetEmail).then(function() {
                        self.snackbar = true;
                        self.snackbarMessage = 'Email Sent';
                        self.dialog = false;
                    }).catch(function(error) {
                        self.snackbar = true;
                        self.snackbarMessage = error.message;
                        self.dialog = false;
                    });
                }
            },
            openDialog(){
                const self = this;
                self.dialog = true;
            }
        },
        computed: {
            emailErrors() {
                const errors = [];
                if (!this.$v.email.$dirty) return errors;
                !this.$v.email.email &&
                errors.push('Invalid Email');
                !this.$v.email.required &&
                errors.push('Required');
                return errors;
            },
            passwordErrors() {
                const errors = [];
                if (!this.$v.password.$dirty) return errors;
                !this.$v.password.minLength &&
                errors.push('Must be at least 6 character long');
                !this.$v.password.maxLength &&
                errors.push('Can be at best 32 character long');
                !this.$v.password.required &&
                errors.push('Required');
                return errors;
            },
        },
    }
</script>

<style scoped>
  .form-reg{
    margin-top: 2rem !important;
    padding: 2rem;
    border-radius: 0.4rem;
    box-shadow: 0 .3rem .6rem 0 rgba(0, 0, 0, 0.16);
  }
  .back-image-wrapper{
    overflow: hidden;
    width: 100%;
    height: auto;
  }
  .back-image{
    width: 100%;
    height: 100%;
    background-color: white;
  }
</style>