<template>
  <div>
    <div style="font-size: 1.4rem; height: 100vh" class="row align-items-center">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 no-padding" style="height:100%">
        <div class="main-body" style="height:100%">
         
            <v-app-bar height="60px" style="position:absolute;top:0;left:0">
              <v-toolbar-title class="nav-bar-image-wrapper">
                <img @click="goHome" class="nav-bar-image" src="./../assets/logo/logo.svg">
              </v-toolbar-title>
              <v-spacer></v-spacer>
              <button @click="login = false" v-if="login" class="btn btn-third"><b>Sign up</b></button>
              <button @click="login = true" v-else class="btn btn-first-light"><b>Sign in</b></button>
            </v-app-bar>
            <div class="vertical-center">
              <div class="top-header-mar-no-back">
              <login-component
                v-if="login"
                v-on:sign-up="login = false"
                v-on:sign-up-facebook="facebookRegistration"
                v-on:sign-up-google="googleRegistration"
              ></login-component>
              <sign-up-component
                v-else
                v-on:login="login = true"
                v-on:sign-up-facebook="facebookRegistration"
                v-on:sign-up-google="googleRegistration"
              ></sign-up-component>
              </div>
            </div>
        </div>
      </div>
      <div style="height: 100vh; overflow-y: hidden" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 no-padding phone-mode">
        <div class="back-image-wrapper">
          <div class="horizontal-center">
            <div class="container-in" style="height:100%">
              <div class="row-temp" style="height:100%">
                <div class="vertical-center">
                  <div class="mid-image-wrapper">
                    <img class="mid-image" src="../assets/logo/logo_white.svg">
                  </div>
                  <div class="header font-align">WE ARE GAMBLE FREE</div>
                  <div
                    class="slogan font-align"
                  >Khelo is Bangladesh's First Gamble-Free Fantasy Sports Platform</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase/app';
import 'firebase/database';
import 'firebase/auth';
import LoginComponent from "../views/login-component";
import SignUpComponent from "../views/registration-component";
export default {
  name: 'Home',
  components: {
      LoginComponent,
      SignUpComponent
  },
  data: function () {
      return {
          login: true,
          error: false,
          errorMessage: '',
          imageURL: "https://firebasestorage.googleapis.com/v0/b/crictreat-f4cb5.appspot.com/o/avatars%2Fcricketer.svg?alt=media&token=4e67cd8b-a412-4f20-b2ea-9e49c27093fb"
      }
  },
  methods: {
      goHome(){
        this.$router.push({name: 'home'}).catch()
      },
      facebookRegistration(){
          const self = this;
          firebase.auth().signInWithPopup(new firebase.auth.FacebookAuthProvider()).then(function (result) {
              let token = JSON.stringify(result.credential.accessToken);
              localStorage.setItem("fb-token", token);
              if(result.additionalUserInfo.isNewUser) {
                  self.addUserToDatabase(result)
              } else {
                  self.$router.push({ name: "user" }).catch(function () {});
              }
          }).catch(function(error) {
              self.error = true;
              if (error.code === 'auth/account-exists-with-different-credential') {
                  let email = error.email;
                  firebase.auth().fetchSignInMethodsForEmail(email).then(function(methods) {
                      self.errorMessage = 'Account exists with different credentials. Please use ' + methods[0] + 'to sign in';
                  });
              } else {
                  self.errorMessage = error.message;
              }
          });
      },
      googleRegistration(){
          const self = this;
          firebase.auth().signInWithPopup(new firebase.auth.GoogleAuthProvider()).then(function (result) {
              let token = JSON.stringify(result.credential.accessToken);
              localStorage.setItem("google-token", token);
              if(result.additionalUserInfo.isNewUser) {
                  self.addUserToDatabase(result)
              } else {
                  self.$router.push({ name: "user" }).catch(function () {});
              }
          }).catch(function(error) {
              self.error = true;
              if (error.code === 'auth/account-exists-with-different-credential') {
                  let email = error.email;
                  firebase.auth().fetchSignInMethodsForEmail(email).then(function(methods) {
                      self.errorMessage = 'Account exists with different credentials. Please use ' + methods[0] + 'to sign in';
                  });
              } else {
                  self.errorMessage = error.message;
              }
          });
      },
      addUserToDatabase(data){
          const self = this;
          let database = firebase.database();
          let user = data.user;
          database.ref('users/' + user.uid).set({
              email: user.email,
              name: user.displayName,
              phone: user.phoneNumber,
              imageURL: user.imageURL || self.imageURL
          }).then(function () {
              self.$router.push({ name: "user" }).catch(function () {});
          }).catch(function (error) {
              self.error = true;
              self.errorMessage = error.message;
              firebase.auth().signOut().catch();
          });
      },
  }
}
</script>
<style scoped>
  .mid-image-wrapper{
    height: auto;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
  .mid-image{
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .back-image-wrapper{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(110, 22, 153, 0.8),
      rgba(130, 56, 205, 0.8),
      rgba(206, 1, 167, 0.8)
    ),
    url("../assets/cricket/stadium.jpg");
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
  }
  .container-in {
    width: 100%;
    padding: 0 10%;
  }
  .header {
    font-size: 3.65rem;
    color: white;
    letter-spacing: 1.2rem;
  }
  .slogan {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.7);
  }
  .vertical-center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .horizontal-center {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  .row-temp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .font-align {
    text-align: center;
  }
</style>
