<template>
  <div>
    <div style="font-size: 1.4rem; height: 100vh; overflow-y: hidden" class="row">
      <div style="height: 100vh" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 no-padding">
        <div style="height: 100vh" class="main-body">
          <section style="height: 100vh">
            <v-app-bar flat height="60px">
              <v-toolbar-title class="nav-bar-image-wrapper">
                <img @click="goHome" class="nav-bar-image" src="./../assets/logo/logo.svg">
              </v-toolbar-title>
              <v-spacer></v-spacer>
              <button @click="goToLogIn" class="btn btn-first-light">Sign in</button>
            </v-app-bar>
            <div style="height: 100%; overflow-y: auto">
              <privacy-policy></privacy-policy>
            </div>
          </section>
        </div>
      </div>
      <div style="overflow-y: hidden; height: 100vh;" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 no-padding phone-mode">
        <div class="back-image-wrapper">
          <div class="horizontal-center">
            <div class="container-in" style="height:100%">
              <div class="row-temp" style="height:100%">
                <div class="vertical-center">
                  <div class="mid-image-wrapper">
                    <img class="mid-image" src="../assets/logo/logo_white.svg">
                  </div>
                  <div class="header font-align">WE ARE GAMBLE FREE</div>
                  <div
                    class="slogan font-align"
                  >Khelo is Bangladesh's First Gamble-Free Fantasy Sports Platform</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import PrivacyPolicy from "./common/privacy_component"
    export default {
        name: "points-calculation",
        components: {
            PrivacyPolicy
        },
        methods: {
            goHome(){
                this.$router.push('/').then()
            },
            goToLogIn(){
                this.$router.push({name: 'login'}).catch()
            }
        }
    }
</script>

<style scoped>
  .mid-image-wrapper{
    height: auto;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
  .mid-image{
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .back-image-wrapper{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(110, 22, 153, 0.8),
      rgba(130, 56, 205, 0.8),
      rgba(206, 1, 167, 0.8)
    ),
    url("../assets/cricket/stadium.jpg");
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
  }
  .container-in {
    width: 100%;
    padding: 0 10%;
  }
  .header {
    font-size: 3.65rem;
    color: white;
    letter-spacing: 1.2rem;
  }
  .slogan {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.7);
  }
  .vertical-center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .horizontal-center {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  .row-temp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .font-align {
    text-align: center;
  }
</style>