<template>
  <div class="row">
    <div style="height: 100vh; overflow-y: auto" class="col-sm-12 col-md-12 col-lg-6 col-xl-5 no-padding">
      <div style="max-width: 40rem; margin: auto">
        <header class="">
          <div class="nav-bar row">
            <div class="col-8 disable-select">
              <div @click="gotoHomePage" class="logo-image-wrapper">
                <img class="logo-img" src="../assets/logo/logo.png">
              </div>
            </div>
            <div class="col-4">
              <div class="float-right">
                <!--<v-btn @click="gotoLogIn" dark small depressed color="#8C6F8C">Login</v-btn>-->
              </div>
            </div>
          </div>
        </header>
        <section class="mid-body">
          <div class="container no-padding">
            <div class="form-reg">
              <div style="text-align: center; margin: 2vh 0 1rem 0">
                <div @click="googleRegistration" class="log-in google" style="color:#fff; width: 100%">
                  <img
                    style="width: 2.4rem; height: 2.4rem; float: left; background-color: white; border-radius: 5rem"
                    src="@/assets/google.png"
                  /> <span style="padding-left: 0.5rem; font-size: 1.6rem"><span>Sign up with</span> Google</span>
                </div>
              </div>
              <div style="text-align: center; margin: 1rem 0">
                <div @click="facebookRegistration" class="log-in facebook" style="width: 100%">
                  <v-icon style="font-size: 2.4rem; float: left" color="#fff">mdi-facebook</v-icon
                  ><span style="padding-left: 0.5rem; font-size: 1.6rem"><span>Sign up with</span> Facebook</span>
                </div>
              </div>
              <div class="sign-in-text">
                -or-
              </div>
              <v-form ref="form" @submit.prevent="createUser" lazy-validation>
                <div>
                  <v-text-field
                    v-model="name"
                    label="Full Name"
                    :error-messages="nameErrors"
                    prepend-inner-icon="mdi-email"
                    outlined
                  ></v-text-field>
                </div>
                <div>
                  <v-text-field
                    v-model="email"
                    label="Email"
                    :error-messages="emailErrors"
                    prepend-inner-icon="mdi-email"
                    outlined
                  ></v-text-field>
                </div>
                <div>
                  <v-text-field
                    v-model="phone"
                    label="Phone"
                    :error-messages="phoneErrors"
                    prepend-inner-icon="mdi-email"
                    outlined
                  ></v-text-field>
                </div>
                <div>
                  <v-text-field
                    v-model="password"
                    label="Password"
                    :error-messages="passwordErrors"
                    prepend-inner-icon="mdi-lock"
                    :append-icon="showIcon1 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showIcon1 ? 'text' : 'password'"
                    @click:append="showIcon1 = !showIcon1"
                    outlined
                    autocomplete="on"
                  ></v-text-field>
                </div>
                <div>
                  <v-text-field
                    v-model="rePassword"
                    label="Repeat Password"
                    :error-messages="repeatPasswordErrors"
                    prepend-inner-icon="mdi-lock"
                    :append-icon="showIcon2 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showIcon2 ? 'text' : 'password'"
                    @click:append="showIcon2 = !showIcon2"
                    outlined
                    autocomplete="on"
                  ></v-text-field>
                </div>
                <div style="text-align: center; width: 100%">
                  <button
                    v-if="!loading"
                    @click="createUser"
                    class="btn btn-second"
                    style="width: 100%; background-color: var(--primary-color) !important;"> Sign up
                  </button>
                </div>
              </v-form>
              <div class="not-acc-text">Already have an account?
                <span @click="gotoLogin" style="cursor: pointer; color: var(--secondary-color); font-weight: bold">
                    Sign in.
                  </span>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-7 phone-mode no-padding">
      <div class="back-image-wrapper">
        <img class="back-image" src="@/assets/cricket/stadium.jpg">
      </div>
    </div>
  </div>
</template>

<script>
    import {required, minLength, maxLength, email, sameAs, helpers} from "vuelidate/lib/validators";
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    const phone_validator = helpers.regex(
        "phone_validator",
        /^(?:\+?(?:88|01)?)(?:\d{11}|\d{13})$/
    );
    export default {
        name: "Registration",
        data: function () {
            return {
                name: '',
                email: '',
                phone: '',
                password: '',
                rePassword: '',
                showIcon1: false,
                showIcon2: false,
                loading: false,
            }
        },
        validations: {
            name: {
                required
            },
            email: {
                required,
                email,
                minLength: minLength(4),
                maxLength: maxLength(64)
            },
            phone: {
                required,
                phone_validator,
                minLength: minLength(10),
                maxLength: maxLength(15)
            },
            password: { required, minLength: minLength(6), maxLength: maxLength(32) },
            rePassword: { required, sameAsPassword: sameAs('password')},
        },
        methods: {
            async createUser(){
                const self = this;
                self.$v.$touch();
                if (!self.$v.$anyError) {
                    self.loading = true;
                    try{
                        const data = await firebase.auth().createUserWithEmailAndPassword(self.email, self.password)
                        if(data.additionalUserInfo.isNewUser) {
                            data.user.updateProfile({
                                displayName: self.name,
                            }).then(function() {
                                self.addUserToDatabase(data);
                            }).catch(function(error) {
                                // eslint-disable-next-line
                                console.log(error);
                            });
                        }
                    }catch (e) {
                        // eslint-disable-next-line
                        console.log(e)
                    }
                }
            },
            facebookRegistration(){
                const self = this;
                let provider = new firebase.auth.FacebookAuthProvider();
                firebase.auth().signInWithPopup(provider).then(function(result) {
                    // This gives you a Facebook Access Token. You can use it to access the Facebook API.
                    // let token = result.credential.accessToken;
                    // The signed-in user info.
                    // let user = result.user;
                    if(result.additionalUserInfo.isNewUser) {
                        self.addUserToDatabase(result)
                    } else {
                        self.loading = false;
                        firebase.auth().currentUser.getIdTokenResult().then(function (idTokenResult) {
                            if(idTokenResult.claims.moderator) {
                                self.$router.push({ name: "admin" }).catch(function () {});
                            } else {
                                self.$router.push({ name: "user" }).catch(function () {});
                            }
                        }).catch(function (err) {
                            // eslint-disable-next-line
                            console.log(err)
                        });
                    }
                    // console.log(token)
                    // console.log(user)
                    // ...
                }).catch(function(error) {
                    // Handle Errors here.
                    // let errorCode = error.code;
                    // let errorMessage = error.message;
                    // The email of the user's account used.
                    // let email = error.email;
                    // The firebase.auth.AuthCredential type that was used.
                    let credential = error.credential;
                    // console.log(errorCode)
                    // console.log(errorMessage)
                    // console.log(email)
                    // eslint-disable-next-line
                    console.log(credential)
                    // ...
                });
            },
            googleRegistration(){
                const self = this;
                let provider = new firebase.auth.GoogleAuthProvider();
                firebase.auth().signInWithPopup(provider).then(function(result) {
                    // This gives you a Facebook Access Token. You can use it to access the Facebook API.
                    // let token = result.credential.accessToken;
                    // The signed-in user info.
                    // let user = result.user;
                    if(result.additionalUserInfo.isNewUser) {
                        self.addUserToDatabase(result)
                    } else {
                        self.loading = false;
                        firebase.auth().currentUser.getIdTokenResult().then(function (idTokenResult) {
                            if(idTokenResult.claims.moderator) {
                                self.$router.push({ name: "admin" }).catch(function () {});
                            } else {
                                self.$router.push({ name: "user" }).catch(function () {});
                            }
                        }).catch(function (err) {
                            // eslint-disable-next-line
                            console.log(err)
                        });
                    }
                    // console.log(token)
                    // console.log(user)
                    // ...
                }).catch(function(error) {
                    // Handle Errors here.
                    // let errorCode = error.code;
                    // let errorMessage = error.message;
                    // The email of the user's account used.
                    // let email = error.email;
                    // The firebase.auth.AuthCredential type that was used.
                    let credential = error.credential;
                    // console.log(errorCode)
                    // console.log(errorMessage)
                    // console.log(email)
                    // eslint-disable-next-line
                    console.log(credential)
                    // ...
                });
            },
            addUserToDatabase(data){
                const self = this;
                let database = firebase.database();
                let user = data.user;
                database.ref('users/' + user.uid).set({
                        email: user.email,
                        name: self.name,
                        phone: self.phone
                }).then(function () {
                    self.loading = false;
                    self.$router.push({ name: "user" }).catch(function () {});
                    // console.log(resp)
                }).catch(function () {
                    // console.log(err)
                });
            },

            gotoHomePage(){
                const self = this;
                self.$router.push({ name: "home" }).catch(function () {});
            },
            gotoLogin(){
                const self = this;
                self.$router.push({ name: "home" }).catch(function () {});
            }
        },
        computed: {
            nameErrors() {
                const errors = [];
                if (!this.$v.name.$dirty) return errors;
                !this.$v.name.required && errors.push('Required');
                return errors;
            },
            phoneErrors() {
                const errors = [];
                if (!this.$v.phone.$dirty) return errors;
                !this.$v.phone.phone_validator &&
                errors.push('Invalid');
                !this.$v.phone.required &&
                errors.push('Required');
                return errors;
            },
            emailErrors() {
                const errors = [];
                if (!this.$v.email.$dirty) return errors;
                !this.$v.email.email &&
                errors.push('Invalid');
                !this.$v.email.required &&
                errors.push('Required');
                return errors;
            },
            passwordErrors() {
                const errors = [];
                if (!this.$v.password.$dirty) return errors;
                !this.$v.password.minLength &&
                errors.push('Must be at least 6 character long');
                !this.$v.password.maxLength &&
                errors.push('Can be at best 32 character long');
                !this.$v.password.required &&
                errors.push('Required');
                return errors;
            },
            repeatPasswordErrors() {
                const errors = [];
                if (!this.$v.password.$dirty) return errors;
                !this.$v.rePassword.sameAsPassword &&
                errors.push('Password do not match');
                return errors;
            }
        }
    }
</script>

<style scoped>
  .form-reg{
    background-color: white;
    margin: auto;
    padding: 2rem;
    border-radius: 0.4rem;
  }
  .back-image-wrapper{
    overflow: hidden;
    width: 100%;
    height: auto;
  }
  .back-image{
    width: 100%;
    height: 100%;
    background-color: white;
  }
</style>