<template>
  <div style="max-width: 40rem; margin: auto">
    <div class="form-reg">
      <div style="text-align: center; margin: 2vh 0 1rem 0">
        <div @click="googleRegistration" class="log-in google" style="color:#fff; width: 100%">
          <img
            style="width: 2.4rem; height: 2.4rem; float: left; background-color: white; border-radius: 5rem"
            src="@/assets/google.png"
          /> <span style="padding-left: 0.5rem; font-size: 1.6rem"><span>Sign up with</span> Google</span>
        </div>
      </div>
      <div style="text-align: center; margin: 1rem 0">
        <div @click="facebookRegistration" class="log-in facebook" style="width: 100%">
          <v-icon style="font-size: 2.4rem; float: left" color="#fff">mdi-facebook</v-icon
          ><span style="padding-left: 0.5rem; font-size: 1.6rem"><span>Sign up with</span> Facebook</span>
        </div>
      </div>
      <div class="sign-in-text">
        -or-
      </div>
      <v-form ref="form" @submit.prevent="createUser" lazy-validation>
        <div>
          <v-text-field
            color="#8238CD"
            dense
            v-model="name"
            label="Full Name"
            :error-messages="nameErrors"
            prepend-inner-icon="mdi-email"
            outlined
          ></v-text-field>
        </div>
        <div>
          <v-text-field
            color="#8238CD"
            dense
            v-model="email"
            label="Email"
            :error-messages="emailErrors"
            prepend-inner-icon="mdi-email"
            outlined
          ></v-text-field>
        </div>
        <div>
          <v-text-field
            color="#8238CD"
            dense
            v-model="phone"
            label="Phone"
            :error-messages="phoneErrors"
            prepend-inner-icon="mdi-email"
            outlined
          ></v-text-field>
        </div>
        <div>
          <v-text-field
            color="#8238CD"
            dense
            v-model="password"
            label="Password"
            :error-messages="passwordErrors"
            prepend-inner-icon="mdi-lock"
            :append-icon="showIcon1 ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showIcon1 ? 'text' : 'password'"
            @click:append="showIcon1 = !showIcon1"
            outlined
          ></v-text-field>
        </div>
        <div>
          <v-text-field
            color="#8238CD"
            dense
            v-model="rePassword"
            label="Repeat Password"
            :error-messages="repeatPasswordErrors"
            prepend-inner-icon="mdi-lock"
            :append-icon="showIcon2 ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showIcon2 ? 'text' : 'password'"
            @click:append="showIcon2 = !showIcon2"
            outlined
          ></v-text-field>
        </div>
        <div style="text-align: center; width: 100%">
          <button
            @submit="createUser"
            class="btn btn-third"
            style="width: 100%;"> Sign up
          </button>
        </div>
      </v-form>
      <div class="not-acc-text">Already have an account?
        <span @click="gotoLogin" style="cursor: pointer; color: var(--secondary-color); font-weight: bold">Sign in.</span>
      </div>
      <div v-if="error" style="text-align: center; color: var(--error-state)">{{errorMessage}}</div>
    </div>
  </div>
</template>

<script>
    import {required, minLength, maxLength, email, sameAs, helpers} from "vuelidate/lib/validators";
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    const phone_validator = helpers.regex(
        "phone_validator",
        /^(?:\+?(?:88|01)?)(?:\d{11}|\d{13})$/
    );
    export default {
        name: "Registration",
        data: function () {
            return {
                name: '',
                email: '',
                phone: '',
                password: '',
                rePassword: '',
                showIcon1: false,
                showIcon2: false,
                error: false,
                errorMessage: '',
            }
        },
        validations: {
            name: {
                required
            },
            email: {
                required,
                email,
                minLength: minLength(4),
                maxLength: maxLength(64)
            },
            phone: {
                required,
                phone_validator,
                minLength: minLength(10),
                maxLength: maxLength(15)
            },
            password: { required, minLength: minLength(6), maxLength: maxLength(32) },
            rePassword: { required, sameAsPassword: sameAs('password')},
        },
        methods: {
            async createUser(){
                const self = this;
                self.$v.$touch();
                if (!self.$v.$anyError) {
                    try{
                        const data = await firebase.auth().createUserWithEmailAndPassword(self.email, self.password)
                        if(data.additionalUserInfo.isNewUser) {
                            data.user.updateProfile({
                                displayName: self.name,
                                phoneNumber: self.phone
                            }).then(function() {
                                self.addUserToDatabase(data);
                            }).catch(function(error) {
                                self.error = true;
                                self.errorMessage = error.message;
                                firebase.auth().signOut().catch();
                            });
                        } else {
                            firebase.auth().signOut().catch();
                        }
                    } catch (e) {
                        self.error = true;
                        self.errorMessage = e.message;
                    }
                }
            },
            facebookRegistration(){
                const self = this;
                self.$emit('sign-up-facebook')
            },
            googleRegistration(){
                const self = this;
                self.$emit('sign-up-google')
            },
            addUserToDatabase(data){
                const self = this;
                let database = firebase.database();
                let user = data.user;
                database.ref('users/' + user.uid).set({
                    email: user.email,
                    name: self.name,
                    phone: self.phone,
                    imageURL: 'https://firebasestorage.googleapis.com/v0/b/crictreat-f4cb5.appspot.com/o/avatars%2FKhelo%20Avatars-10.png?alt=media&token=5c78d9de-519a-43ee-ab60-0dc437d788e5'
                }).then(function () {
                    self.$router.push({ name: "user" }).catch(function () {});
                }).catch(function (error) {
                    self.error = true;
                    self.errorMessage = error.message;
                    firebase.auth().signOut().catch();
                });
            },
            gotoLogin(){
                const self = this;
                self.$emit('login')
            }
        },
        computed: {
            nameErrors() {
                const errors = [];
                if (!this.$v.name.$dirty) return errors;
                !this.$v.name.required && errors.push('Required');
                return errors;
            },
            phoneErrors() {
                const errors = [];
                if (!this.$v.phone.$dirty) return errors;
                !this.$v.phone.phone_validator &&
                errors.push('Invalid');
                !this.$v.phone.required &&
                errors.push('Required');
                return errors;
            },
            emailErrors() {
                const errors = [];
                if (!this.$v.email.$dirty) return errors;
                !this.$v.email.email &&
                errors.push('Invalid');
                !this.$v.email.required &&
                errors.push('Required');
                return errors;
            },
            passwordErrors() {
                const errors = [];
                if (!this.$v.password.$dirty) return errors;
                !this.$v.password.minLength &&
                errors.push('Must be at least 6 character long');
                !this.$v.password.maxLength &&
                errors.push('Can be at best 32 character long');
                !this.$v.password.required &&
                errors.push('Required');
                return errors;
            },
            repeatPasswordErrors() {
                const errors = [];
                if (!this.$v.password.$dirty) return errors;
                !this.$v.rePassword.sameAsPassword &&
                errors.push('Password do not match');
                return errors;
            }
        }
    }
</script>

<style scoped>
  .form-reg{
    margin-top: 2rem !important;
    padding: 2rem;
    border-radius: 0.4rem;
    box-shadow: 0 .3rem .6rem 0 rgba(0, 0, 0, 0.16);
  }
</style>