<template>
  <div class="container-t">
    <img @error="replaceByDefault" :src="tournamentObj.imageURL" v-show="!leaderboard" class="img" v-on:mouseover="leaderboard=true"/>
    <div v-show="leaderboard" v-on:mouseleave="leaderboard=false" class="leaderboard">
      <div v-if="usersRank.length > 0">
        <h3 style="font-weight:bold">Leader Board</h3>
        <div class="horizontal-line"></div>
        <h3 v-if="usersRank[0] && usersRank[0][1].tm_name">#{{usersRank[0][1].rank}} {{usersRank[0][1].tm_name}}</h3>
        <h3 v-if="usersRank[1] && usersRank[0][1].tm_name">#{{usersRank[1][1].rank}} {{usersRank[1][1].tm_name}}</h3>
        <h3 v-if="usersRank[2] && usersRank[0][1].tm_name">#{{usersRank[2][1].rank}} {{usersRank[2][1].tm_name}}</h3>
      </div>
      <div v-else>
        <h3 style="font-weight:bold">Prizes</h3>
        <div class="horizontal-line"></div>
        <div style="padding: 1rem">
          Play this tournament and win
          <span style="color: var(--third-color)">Jersey, </span>
          <span style="padding: 0.5rem; color: var(--third-color)">T-Shirt, </span>
          <span style="color: var(--third-color)">Mug</span>
          <span style="padding: 0.5rem">and other exciting prizes</span>
        </div>
      </div>
    </div>
    <div class="play">
     {{tournamentObj.name}}
      <div class="bubble">
        <v-icon @click="gotoSignIn" style=" color:var(--primary-color)">mdi-arrow-right</v-icon>
      </div>
    </div>
  </div>
</template>

<script>
import {IsEmptyObject} from "../filter";
export default {
    name: "tournament-single",
    props: {
        tournament: Object
    },
    data:function(){
        return{
            leaderboard: false,
            tournamentObj: {},
            EmptyObject: IsEmptyObject,
            usersRank: [],
            imageURL: require('../assets/logo/logo.png'),
            prizes: []
        }
    },
    methods: {
        replaceByDefault(e) {
            const self = this;
            e.target.src = self.imageURL
        },
        gotoSignIn(){
            this.$router.push({name: 'login'}).catch()
        },
    },
    mounted(){
        const self = this;
        if(!self.EmptyObject(self.tournament)) {
            self.tournamentObj = self.tournament;
            let objects = self.tournamentObj.users ? self.tournamentObj.users : [];
            let sortable = [];
            for (let key in objects) {
                if(parseInt(objects[key].rank) !== 0) sortable.push([key, objects[key]]);
            }
            sortable.sort((a, b) => (parseInt(a[1].rank) >= parseInt(b[1].rank) ? 1 : -1));
            let i = sortable.length > 3 ? 3 : sortable.length;
            let j;
            let temp = [];
            for(j=0; j < i ; j++) {
                temp.push(sortable[j])
            }
            self.usersRank = temp
        }
    }
};
</script>

<style scoped>
.container-t {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.4s;
}
.container-t:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px 5px rgba(110, 22, 153, 0.15);
}
.img {
  width: 100%;
  height: 20rem;
  transition: 0.4s;
}
.play {
  padding: 1rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.bubble {
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  transition: 0.4s;
  cursor: pointer;
}
.bubble:hover {
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  transition: 0.4s;
}
.leaderboard{
    height: 20rem;
    width: 100%;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--primary-color);
    padding: 2rem;
}

</style>