<template>
  <div>
    <v-dialog persistent max-width="400" v-model="dialog">
      <v-card  style="max-width: 100%; overflow-y: auto; overflow-x: hidden;">
        <v-toolbar flat style="max-height: 6.4rem; background-color: var(--secondary-color)" dark >
          <v-toolbar-title style="font-size: 1.6rem">
            Reset Password
          </v-toolbar-title>
        </v-toolbar>
        <div style="margin: 2rem 2rem 2rem">
          <div>
            <v-text-field
              color="#8238CD"
              dense
              v-model="password"
              label="Password"
              :error-messages="passwordErrors"
              prepend-inner-icon="mdi-lock"
              :append-icon="showIcon1 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="showIcon1 ? 'text' : 'password'"
              @click:append="showIcon1 = !showIcon1"
              outlined
            ></v-text-field>
          </div>
          <div>
            <v-text-field
              color="#8238CD"
              dense
              v-model="rePassword"
              label="Repeat Password"
              :error-messages="repeatPasswordErrors"
              prepend-inner-icon="mdi-lock"
              :append-icon="showIcon2 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="showIcon2 ? 'text' : 'password'"
              @click:append="showIcon2 = !showIcon2"
              outlined
            ></v-text-field>
          </div>
          <div style="text-align: right">
            <button @click="handleResetPassword" class="btn btn-third">Submit</button>
          </div>
        </div>
      </v-card>
    </v-dialog>
    <v-snackbar
      :timeout="2000"
      v-model="snackbar"
      centered
      top
    >
      {{snackbarMessage}}
    </v-snackbar>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import {required, minLength, maxLength, sameAs} from "vuelidate/lib/validators";
    export default {
        name: "verification-page",
        data: function(){
          return {
              dialog: false,
              password: '',
              rePassword: '',
              showIcon1: false,
              showIcon2: false,
              actionCode: '',
              snackbar: false,
              snackbarMessage: ''
          }
        },
        validations: {
            password: { required, minLength: minLength(6), maxLength: maxLength(32) },
            rePassword: { required, sameAsPassword: sameAs('password')},
        },
        methods: {
            handleVerifyEmail(actionCode) {
                const self = this;
                firebase.auth().applyActionCode(actionCode).then(function() {
                    localStorage.setItem("message", JSON.stringify("Email Confirmed"));
                    self.$router.push({ name: "home" }).catch()
                }).catch(function(error) {
                    self.snackbar = true;
                    self.snackbarMessage = error.message;
                });
            },
            handleResetPassword(){
                const self = this;
                self.$v.$touch();
                if (!self.$v.$anyError) {
                    firebase.auth().verifyPasswordResetCode(self.actionCode).then(function() {
                        firebase.auth().confirmPasswordReset(self.actionCode, self.password).then(function() {
                            self.snackbar = true;
                            self.snackbarMessage = 'Password reset successfully. Please log in with new password.';
                            setTimeout(function () {
                                self.$router.push({ name: "home" }).catch()
                            }, 2000)
                        }).catch(function(error) {
                            self.snackbar = true;
                            self.snackbarMessage = error.message;
                        });
                    }).catch(function(error) {
                        self.snackbar = true;
                        self.snackbarMessage = error.message;
                    });
                }
            },
            resetPassword(actionCode){
                const self = this;
                self.actionCode = actionCode;
                self.dialog = true;
            },
            verificationConfirmation(){
                const self = this;
                let mode = self.$route.query.mode;
                let actionCode = self.$route.query.oobCode;
                switch (mode) {
                    case 'resetPassword':
                        // Display reset password handler and UI.
                        self.resetPassword(actionCode);
                        break;
                    // case 'recoverEmail':
                    //     // Display email recovery handler and UI.
                    //     self.handleRecoverEmail(auth, actionCode, lang);
                    //     break;
                    case 'verifyEmail':
                        // Display email verification handler and UI.
                        self.handleVerifyEmail(actionCode);
                        break;
                    default:
                    // Error: invalid mode.
                }
            }
        },
        computed: {
            passwordErrors() {
                const errors = [];
                if (!this.$v.password.$dirty) return errors;
                !this.$v.password.minLength &&
                errors.push('Must be at least 6 character long');
                !this.$v.password.maxLength &&
                errors.push('Can be at best 32 character long');
                !this.$v.password.required &&
                errors.push('Required');
                return errors;
            },
            repeatPasswordErrors() {
                const errors = [];
                if (!this.$v.password.$dirty) return errors;
                !this.$v.rePassword.sameAsPassword &&
                errors.push('Password do not match');
                return errors;
            }
        },
        mounted(){
            const self = this;
            self.verificationConfirmation()
        }
    }
</script>

<style scoped>

</style>