<template>
  <div class="container-fluid top-header-mar-no-back">
    <v-toolbar absolute flat style="background-color: #f7f7f7; top: 60px; width: 100%; height: 60px" light >
      <div style="margin: 0 -11px !important;" class="row">
        <div class="col-6 no-padding">
          <div v-bind:class="[{act: activeTab === 'classic'}]" @click="changeTab('classic')" class="tab">CLASSIC</div>
        </div>
        <div class="col-6 no-padding">
          <div v-bind:class="[{act: activeTab === 'single'}]" @click="changeTab('single')" class="tab">SINGLE MATCH</div>
        </div>
      </div>
    </v-toolbar>
    <div v-if="classic_mode">
      <classic-mode>
      </classic-mode>
    </div>
    <div v-else>
      <match-mode></match-mode>
    </div>
  </div>
</template>

<script>
    import ClassicMode from "./classic-mode"
    import MatchMode from "./series-mode"
    export default {
        name: "dashboard",
        components: {
            ClassicMode,
            MatchMode
        },
        data: function () {
            return {
                activeTab: 'classic',
                classic_mode: true,
            }
        },
        methods: {
            changeTab(tab){
                const self = this;
                self.activeTab = tab;
                self.classic_mode = self.activeTab === 'classic';
            }
        },
    }
</script>

<style scoped>
  .tab{
    text-align: center;
    padding: 1rem 0;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: #f7f7f7;
    color: #050505;
    border-bottom: 5px solid transparent;
  }
  .act{
    border-bottom: 5px solid var(--third-color);
    color: var(--third-color) !important;
  }
</style>