<template>
  <div style="height: 100vh; overflow-y: hidden">
    <div style="height: 100vh">
      <v-app-bar
        style="background-color: var(--primary-color-dark)"
        flat absolute dark
        height="60px"
      >
        <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
        <v-toolbar-title class="nav-bar-image-wrapper">
          <img class="nav-bar-image" src="../../assets/logo/logo_white.svg">
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-spacer></v-spacer>
        <v-btn @click="logoutCallback" style="margin-right: 2rem" icon>
          <v-icon>mdi-logout</v-icon>
        </v-btn>
      </v-app-bar>
      <v-navigation-drawer
        overlay-opacity="0.7"
        v-model="drawer"
        absolute
        temporary
      >
        <v-list-item @click="gotoThisRoute('profile')">
          <v-list-item-avatar>
            <v-img :src="imageUrl"></v-img>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title style="font-size: 1.4rem">{{name}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-list dense nav>

          <v-list-item
            v-bind:class="[{wrpActv: isActive(item.route)}]"
            v-for="(item, index) in items"
            :key="index"
            link
            @click="gotoThisRoute(item.route)"
          >
            <v-list-item-icon>
              <v-icon v-bind:class="[{wrpActvIcon: isActive(item.route)}]">{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title style="font-size: 1.4rem; line-height: 2rem;">{{ item.name }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
      <div style="height: 100vh; overflow-y: hidden">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    export default {
        name: "home",
        data: function() {
            return {
                drawer: false,
                items: [
                    {
                        icon: 'mdi-home',
                        name: 'Home',
                        route: 'dashboard'
                    },
                ],
                imageUrl: 'https://www-trimatra-me.s3-ap-southeast-1.amazonaws.com/svg-images/avatar.svg',
                verified: false,
                email: '',
                name: '',
                currentUser: {},
                activeRoute: 'dashboard',
            }
        },
        methods: {
            isActive(key){
                return key === this.activeRoute
            },
            async logoutCallback(){
                const self = this;
                try{
                    const user = await firebase.auth().signOut()
                    // eslint-disable-next-line
                    console.log(user)
                    self.$router.push({ name: "home" }).catch(function () {});
                } catch (e) {
                    // eslint-disable-next-line
                    console.log(e)
                }
            },
            gotoThisRoute(name) {
                const self = this;
                self.activeRoute = name;
                self.$router.push(name).catch(function () {})
            }
        },
        mounted(){
            const self = this;
            self.currentUser = firebase.auth().currentUser;
            if(self.currentUser) {
                self.verified = !!self.currentUser.emailVerified;
                self.email = self.currentUser.email;
                self.name = self.currentUser.displayName;
                self.imageUrl = self.currentUser.photoURL || self.imageUrl;
            }
        }
    }
</script>

<style scoped>
  .wrpActv{
    color: var(--third-color-dark) !important;
    background-color: rgba(192,0,163,0.1);
  }
  .wrpActvIcon{
    color: var(--third-color-dark) !important;
  }
</style>