<template>
  <div class="disable-select" v-if="!EmptyObject(match)">
    <v-toolbar flat style="background-color: var(--primary-color-dark)" dark >
      <v-icon @click="goBack" style="font-size: 2rem">mdi-arrow-left</v-icon>
      <v-spacer></v-spacer>
      <v-toolbar-title>
        <div style="font-size: 1.4rem; text-align: right">{{match.tournament_name}}</div>
        <div style="font-size: 1rem; text-align: right">{{match.tm_1_name + ' vs ' + match.tm_2_name}}</div>
      </v-toolbar-title>
    </v-toolbar>
    <div style="text-align: center; margin-top: 2rem">
      <button v-if="isAdmin" style="margin-right: 2rem" class="btn btn-error-color" @click="autoUpdateScore">Auto Update</button>
      <button v-if="!fetching" @click="fetchDataFromCricApi(false)" class="btn btn-error-color-outline">Fetch Data</button>
      <button v-else class="btn btn-neutral-action">Loading . . . .</button>
    </div>
    <div :key="change">
      <div style="margin: 1rem">
        <score-card
            v-bind:bat-first="bat_first"
            v-bind:bowling-first="bowling_first"
            v-bind:inning-name="first_inning"
            v-bind:inning-key="inning_key"
            v-on:cancel="goBack"
            v-on:update-score="updateScore"
        ></score-card>
        <score-card
            v-bind:bat-first="bowling_first"
            v-bind:bowling-first="bat_first"
            v-bind:inning-name="second_inning"
            v-bind:inning-key="inning_key"
            v-on:cancel="goBack"
            v-on:update-score="updateScoreSecondInnings"
        ></score-card>
      </div>
      <div v-if="match.tournament_type.toUpperCase() === 'TEST'" style="margin: 1rem">
        <second-innings-score-card
            v-bind:bat-first="bat_first"
            v-bind:bowling-first="bowling_first"
            v-bind:inning-name="first_inning"
            v-bind:inning-key="inning_key"
            v-on:cancel="goBack"
            v-on:update-score="updateScore"
        ></second-innings-score-card>
        <second-innings-score-card
            v-bind:bat-first="bowling_first"
            v-bind:bowling-first="bat_first"
            v-bind:inning-name="second_inning"
            v-bind:inning-key="inning_key"
            v-on:cancel="goBack"
            v-on:update-score="updateScoreSecondInnings"
        ></second-innings-score-card>
      </div>
    </div>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/auth';
    import {IsEmptyObject} from "../../filter";
    import ScoreCard from "./scorecard-component";
    import SecondInningsScoreCard from "./second_innigs_component";
    export default {
        name: "rounds",
        components: {
            ScoreCard,
            SecondInningsScoreCard
        },
        props: {
            matchObj: Object
        },
        data: function () {
            return {
                match: {},
                EmptyObject: IsEmptyObject,
                bat_first: [],
                bowling_first: [],
                first_inning: '',
                second_inning: '',
                inning_key: '',
                all_players: {},
                change: 0,
                unique_id: '',
                fetching: false,
                results: [],
                timer: null,
                currentUser: firebase.auth().currentUser,
                isAdmin: false,
            }
        },
        methods: {
            goBack(){
                this.$emit('cancel')
            },
            updateScore(){
                const self = this;
                self.$emit('update-score-inn', self.match.match_id, self.match.tm_1_xi, self.match.tm_2_xi)
            },
            updateScoreSecondInnings(){
                const self = this;
                self.$emit('update-score-inn', self.match.match_id, self.match.tm_1_xi, self.match.tm_2_xi)
            },
            setFieldingStats(player, team, type, player2){
              for(let i = 0; i < team.length; i++) {
                if(player === team[i].pid) {
                  if(type === 1) {
                    if(team[i].catch >= 0) team[i].catch += 1;
                    else team[i].catch = 1;
                  }
                  if(type === 2) {
                    if(team[i].run_out >= 0) team[i].run_out += 1;
                    else team[i].run_out = 1;
                  }
                  break;
                }
              }
              if(player2 !== null){
                for(let i = 0; i < team.length; i++) {
                  if(player2 === team[i].pid) {
                    if(team[i].run_out >= 0) team[i].run_out += 1;
                    else team[i].run_out = 1;
                    break;
                  }
                }
              }
            },
            setFieldingStats_2(player, team, type, player2){
              for(let i = 0; i < team.length; i++) {
                if(player === team[i].pid) {
                  if(type === 1) {
                    if(team[i].catch_2 >= 0) team[i].catch_2 += 1;
                    else team[i].catch_2 = 1;
                  }
                  if(type === 2) {
                    if(team[i].run_out_2 >= 0) team[i].run_out_2 += 1;
                    else team[i].run_out_2 = 1;
                  }
                  break;
                }
              }
              if(player2 !== null){
                for(let i = 0; i < team.length; i++) {
                  if(player2 === team[i].pid) {
                    if(team[i].run_out_2 >= 0) team[i].run_out_2 += 1;
                    else team[i].run_out_2 = 1;
                    break;
                  }
                }
              }
            },
            setBattingStats(player, team, fieldingTeam){
              const self = this;
              for(let i= 0; i < team.length; i++){
                if(player.player_id === team[i].pid) {
                  if(player.scoreboard === "S1" || player.scoreboard === "S2"){
                    team[i].runs = player.score || 0;
                    team[i].balls = player.ball || 0;
                    team[i].fours = player.four_x || 0;
                    team[i].sixs = player.six_x || 0;
                    team[i].srate = player.rate || 0;
                    team[i].dnbt = false;
                    if(player.catch_stump_player_id !== null) {
                      if(player.bowling_player_id === null){ // no bowling id means run out
                        self.setFieldingStats(player.catch_stump_player_id, fieldingTeam, 2, player.runout_by_id)
                      } else { // catch or stump
                        self.setFieldingStats(player.catch_stump_player_id, fieldingTeam, 1, null)
                      }
                    }
                    if(player.score === 0 && player.ball >= 0 && player.fow_ball === 0 && player.fow_score === 0) {
                      team[i].dnbt = true;
                    }
                    break;
                  } else {
                    team[i].runs_2 = player.score || 0;
                    team[i].balls_2 = player.ball || 0;
                    team[i].fours_2 = player.four_x || 0;
                    team[i].sixs_2 = player.six_x || 0;
                    team[i].srate_2 = player.rate || 0;
                    team[i].dnbt_2 = false;
                    if(player.catch_stump_player_id !== null) {
                      if(player.bowling_player_id === null){ // no bowling id means run out
                        self.setFieldingStats_2(player.catch_stump_player_id, fieldingTeam, 2, player.runout_by_id)
                      } else { // catch or stump
                        self.setFieldingStats_2(player.catch_stump_player_id, fieldingTeam, 1, null)
                      }
                    }
                    if(player.score === 0 && player.ball >= 0 && player.fow_balls === 0 && player.fow_score === 0) {
                      team[i].dnbt_2 = true;
                    }
                    break;
                  }
                }
              }
            },
            setBowlingStats(player, team){
              for(let i= 0; i < team.length; i++){
                if(player.player_id === team[i].pid) {
                  if(player.scoreboard === "S1" || player.scoreboard === "S2"){
                    team[i].overs = player.overs || 0;
                    team[i].maidens = player.medians || 0;
                    team[i].given_runs = player.runs || 0;
                    team[i].wickets = player.wickets || 0;
                    team[i].economy = player.rate || 0;
                    team[i].noball = player.noball || 0;
                    team[i].wide = player.wide || 0;
                    team[i].dnbl = false;
                    break;
                  } else {
                    team[i].overs_2 = player.overs || 0;
                    team[i].maidens_2 = player.medians || 0;
                    team[i].given_runs_2 = player.runs || 0;
                    team[i].wickets_2 = player.wickets || 0;
                    team[i].economy_2 = player.rate || 0;
                    team[i].noball_2 = player.noball || 0;
                    team[i].wide_2 = player.wide || 0;
                    team[i].dnbl_2 = false;
                    break;
                  }
                }
              }
            },
            fetchDataFromCricApi(auto){
              const self = this;
              self.fetching = true;
              self.$http({
                method: 'get',
                url: 'https://u5j331454i.execute-api.us-east-1.amazonaws.com/dev/fixture?id=' + self.unique_id,
                headers: {
                  "content-type": 'application/json',
                }
              }).then(function (resp) {
                self.fetching = false;
                self.results = resp.data.data;
                if(self.results.status !== 'NS') {
                  let batting =  self.results.batting;
                  let bowling = self.results.bowling;
                  for(let x=0; x < self.match.tm_1_xi.length; x++){
                    self.match.tm_1_xi[x].catch = 0
                    self.match.tm_1_xi[x].run_out = 0
                    self.match.tm_1_xi[x].stump = 0
                    if(self.match.tournament_type.toUpperCase() === 'TEST'){
                      self.match.tm_1_xi[x].catch_2 = 0
                      self.match.tm_1_xi[x].run_out_2 = 0
                      self.match.tm_1_xi[x].stump_2 = 0
                      self.match.tm_1_xi[x].dnbt_2 = true;
                      self.match.tm_1_xi[x].dnbl_2 = true;
                    }
                  }
                  for(let x=0; x < self.match.tm_2_xi.length; x++){
                    self.match.tm_2_xi[x].catch = 0
                    self.match.tm_2_xi[x].run_out = 0
                    self.match.tm_2_xi[x].stump = 0
                    if(self.match.tournament_type.toUpperCase() === 'TEST'){
                      self.match.tm_2_xi[x].catch_2 = 0
                      self.match.tm_2_xi[x].run_out_2 = 0
                      self.match.tm_2_xi[x].stump_2 = 0
                      self.match.tm_2_xi[x].dnbt_2 = true
                      self.match.tm_2_xi[x].dnbl_2 = true
                    }
                  }
                  for(let i = 0; i < batting.length; i++){
                    if(batting[i].team_id === parseInt(self.match.tm_1)){
                      self.setBattingStats(batting[i], self.match.tm_1_xi, self.match.tm_2_xi)
                    } else {
                      self.setBattingStats(batting[i], self.match.tm_2_xi, self.match.tm_1_xi)
                    }
                  }
                  for(let j = 0; j < bowling.length; j++){
                    if(bowling[j].team_id === parseInt(self.match.tm_1)){
                      self.setBowlingStats(bowling[j], self.match.tm_1_xi)
                    } else {
                      self.setBowlingStats(bowling[j], self.match.tm_2_xi)
                    }
                  }
                }
                self.change++;
                if(auto){
                  self.updateScore();
                }
              }).catch(function () {
                self.fetching = false;
              })
            },
            autoUpdateScore(){
              const self = this;
              self.fetchDataFromCricApi(true)
              self.timer = setTimeout(function (){
                self.autoUpdateScore()
              }, 900000)
            }
        },
        mounted(){
            const self = this;
            // eslint-disable-next-line
            self.currentUser.getIdTokenResult().then(function (idTokenResult) {
              self.isAdmin = !!idTokenResult.claims.moderator;
            }).catch(function () {
              self.isAdmin = false;
            });
            if(!self.EmptyObject(self.matchObj)) {
                self.match = self.matchObj;
                self.unique_id = self.match.unique_id;
                if(self.match.bat_first === self.match.tm_1) {
                    self.bat_first = self.match.tm_1_xi;
                    self.bowling_first = self.match.tm_2_xi;
                    self.first_inning = self.match.tm_1_name;
                    self.second_inning = self.match.tm_2_name;
                    self.inning_key = self.match.tm_1;
                } else {
                    self.bat_first = self.match.tm_2_xi;
                    self.bowling_first = self.match.tm_1_xi;
                    self.first_inning = self.match.tm_2_name;
                    self.second_inning = self.match.tm_1_name;
                    self.inning_key = self.match.tm_2;
                }
            }
        },
      beforeDestroy() {
          const self = this;
          clearInterval(self.timer)
      }
    }
</script>

<style scoped>
  .img-cls-wrp{
    height: 4rem;
    width: 4rem;
  }
  .img-cls{
    height: 100%;
    width: 100%;
  }
</style>