<template>
  <div :key="change" class="score-card">
    <div style="font-size: 2rem; background-color: var(--third-color-dark); color: white;
    padding: 1rem 1.5rem; border-radius: 0.4rem 0.4rem 0 0">
      {{inn_name.toUpperCase()}} INNINGS
      <v-icon @click="collapse_item = !collapse_item" class="icon-right">{{collapse_item ? 'mdi-arrow-down' : 'mdi-minus'}}</v-icon>
    </div>
    <div v-if="!collapse_item">
      <div class="row" style="background-color: var(--third-color); color: white; padding: 0.5rem;">
        <div class="col-2 p-1 text-left">Batsman</div>
      </div>
      <div class="row justify-content-start" :key="player.key" v-for="player in bat_first">
        <div style="color: var(--black-background)" class="col-4 p-2 text-left">
          {{player.name}}
        </div>
        <div class="col-8 p-1">
          <div class="row">
            <div class="col-6 p-1">
              <v-text-field
                :disabled="player.dnbt"
                v-model="player.runs"
                outlined
                dense
                label="Runs"
              ></v-text-field>
            </div>
            <div class="col-6 p-1">
              <v-text-field
                :disabled="player.dnbt"
                v-model="player.balls"
                outlined
                dense
                label="Balls"
              ></v-text-field>
            </div>
            <div class="col-6 p-1">
              <v-text-field
                :disabled="player.dnbt"
                v-model="player.fours"
                outlined
                dense
                label="4s"
              ></v-text-field>
            </div>
            <div class="col-6 p-1">
              <v-text-field
                :disabled="player.dnbt"
                v-model="player.sixs"
                outlined
                dense
                label="6s"
              ></v-text-field>
            </div>
            <div class="col-6 p-1">
              <v-text-field
                :disabled="player.dnbt"
                v-model="player.srate"
                outlined
                dense
                label="Strike Rate"
              ></v-text-field>
            </div>
            <div class="col-12 no-padding">
              <v-checkbox v-model="player.dnbt" label="Did Not Bat"></v-checkbox>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="background-color: #e64a17; color: white; padding: 0.5rem;">
        Bowler
      </div>
      <div class="row" :key="player.name" v-for="player in bowling_first">
        <div class="col-4">{{player.name}}</div>
        <div class="col-8">
          <div class="row">
            <div class="col-6 p-1">
              <v-text-field
                placeholder="over"
                :disabled="player.dnbl"
                v-model="player.overs"
                solo
                dense
              ></v-text-field>
            </div>
            <div class="col-6 p-1">
              <v-text-field
                :disabled="player.dnbl"
                v-model="player.maidens"
                solo
                dense
                placeholder="maiden"
              ></v-text-field>
            </div>
            <div class="col-6 p-1">
              <v-text-field
                :disabled="player.dnbl"
                v-model="player.given_runs"
                solo
                dense
                placeholder="run"
              ></v-text-field>
            </div>
            <div class="col-6 p-1">
              <v-text-field
                :disabled="player.dnbl"
                v-model="player.wickets"
                solo
                dense
                placeholder="wicket"
              ></v-text-field>
            </div>
            <div class="col-6 p-1">
              <v-text-field
                :disabled="player.dnbl"
                v-model="player.economy"
                solo
                dense
                placeholder="econ"
              ></v-text-field>
            </div>
            <div class="col-6 p-1">
              <v-text-field
                  :disabled="player.dnbl"
                  v-model="player.noball"
                  solo
                  dense
                  placeholder="no ball"
              ></v-text-field>
            </div>
            <div class="col-6 p-1">
              <v-text-field
                  :disabled="player.dnbl"
                  v-model="player.wide"
                  solo
                  dense
                  placeholder="wide"
              ></v-text-field>
            </div>
            <div class="col-12 no-padding">
              <v-checkbox v-model="player.dnbl" label="Did Not Bowl"></v-checkbox>
            </div>
          </div>
          <div style="background-color: paleturquoise !important;" class="row">
            <div class="col-6 p-1">
              Dismissal
              <v-text-field
                  v-model="player.catch"
                  solo
                  dense
                  placeholder="dismissal"
              ></v-text-field>
            </div>
            <div class="col-6 p-1">
              Run Out
              <v-text-field
                  v-model="player.run_out"
                  solo
                  dense
                  placeholder="run out"
              ></v-text-field>
            </div>
          </div>
        </div>
      </div>
      <div style="padding: 2rem; text-align: right">
        <button @click="updateScore" class="btn btn-third">Update Score</button>
        <button @click="cancelUpdate" style="margin-left: 1rem" class="btn btn-neutral-action">Cancel</button>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "scorecard-component",
        props: {
            batFirst: Array,
            bowlingFirst: Array,
            inningName: String,
            inningKey: String
        },
        data: function () {
            return {
                bat_first: [],
                bowling_first: [],
                inn_name: '',
                collapse_item: false,
                change: 0
            }
        },
        methods: {
            updateScore(){
                const self = this;
                self.$emit('update-score', self.inningKey, self.bat_first, self.bowling_first)
            },
            cancelUpdate(){
                this.$emit('cancel')
            }
        },
        mounted() {
            const self = this;
            if(self.batFirst) {
                self.bat_first = self.batFirst
            }
            if(self.bowlingFirst) {
                self.bowling_first = self.bowlingFirst
            }
            for(let i = 0; i < self.bat_first.length; i++) {
                self.bat_first[i].dnbt = !!self.bat_first[i].dnbt
                self.bat_first[i].dnbl = !!self.bat_first[i].dnbl
            }
            for(let i = 0; i < self.bowling_first.length; i++) {
                self.bowling_first[i].dnbt = !!self.bowling_first[i].dnbt
                self.bowling_first[i].dnbl = !!self.bowling_first[i].dnbl
            }
            if(self.inningName) {
                self.inn_name = self.inningName
            }
            self.change++
        }
    }
</script>

<style scoped>
  .score-card{
    margin-top: 2rem;
    border-radius: 0.4rem;
    box-shadow: 0 .3rem .6rem 0 rgba(0, 0, 0, 0.16);
  }
  .icon-right{
    color: white;
    float: right;
  }
</style>