<template>
  <div class="container-fluid top-header-mar-no-back">
    <div v-if="!updateMode && tournaments.length > 0">
      <div class="m-2" :key="tournament.t_key" v-for="tournament in tournaments">
        <v-card v-if="!EmptyObject(tournament)" dark>
          <v-card-title style="background-image: var(--background-color)" class="headline">{{getNameByKey(tournament.t_key)}}</v-card-title>
          <div v-if="!EmptyObject(tournament.data.rounds)">
            <div :key="r_key" v-for="(round, r_key) in tournament.data.rounds">
              <div>
                <div v-bind:class="[{curr: parseInt(getTotActByKey(tournament.t_key).act - 1) === parseInt(r_key.substring(1)) && parseInt(getTotActByKey(tournament.t_key).act) !== parseInt(getTotActByKey(tournament.t_key).tot)},
                {fin: parseInt(r_key.substring(1)) === parseInt(getTotActByKey(tournament.t_key).tot) && parseInt(getTotActByKey(tournament.t_key).act) === parseInt(getTotActByKey(tournament.t_key).tot)}]" style="padding: 0.5rem">Round {{r_key.substring(1).toUpperCase()}}</div>
                <div v-if="!EmptyObject(round.match)">
                  <div style="border-bottom: 1px solid #cccccc; background-color: white; color: #050505; padding: 0.5rem;" :key="m_ind" v-for="(match, m_ind) in round.match">
                    <div v-if="match.tm_1 && match.tm_2" style="font-size: 1.8rem; font-weight: bold">
                      {{getTeamNameByKey(tournament.t_key, match.tm_1).name}} vs {{getTeamNameByKey(tournament.t_key, match.tm_2).name}}
                    </div>
                    <div v-if="!match.scoring_done" class="row">
                      <button @click="changeMode(tournament.t_key, r_key, match)" class="btn btn-third">Score Update</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </v-card>
      </div>
    </div>
    <div v-else>
      <match-view
        v-bind:match-obj="currentMatch"
        v-on:update-score-inn="updateScoreByInnings"
        v-on:cancel="cancelScoreUpdate"
      ></match-view>
    </div>
    <v-snackbar
      :color="snackColor"
      :timeout="2000"
      v-model="snackbar"
      centered
      top
    >
      {{snackbarMessage}}
    </v-snackbar>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import MatchView from "./match"
    import {IsEmptyObject} from "../../filter";
    export default {
        name: "dashboard",
        components: {
            MatchView
        },
        data: function () {
            return {
                snackbar: false,
                snackbarMessage: '',
                snackColor: '#3d4279',
                tournaments: [],
                all_tournaments: [],
                updateMode: false,
                EmptyObject: IsEmptyObject,
                currentTournament: "",
                currentRound: "",
                currentMatch: {},
            }
        },
        methods: {
            updateScoreByInnings(id, team_1, team_2){
                const self = this;
                if(self.currentMatch.match_id === id) {
                    let database = firebase.database()
                    database.ref('scorer/series/' + self.currentTournament + '/rounds/' + self.currentRound + '/match/' + self.currentMatch.match_id).update({
                        tm_1_xi: team_1,
                        tm_2_xi: team_2
                    }).then(function () {
                        self.snackbar = true;
                        self.snackbarMessage = 'Information Updated';
                        self.snackColor = 'success';
                    }).catch(function () {
                        self.snackbar = true;
                        self.snackbarMessage = 'Not updated';
                        self.snackColor = 'error';
                    })
                }
            },
            cancelScoreUpdate(){
                const self = this;
                self.currentTournament = '';
                self.currentRound = '';
                self.currentMatch = {};
                self.updateMode = false;
            },
            changeMode(tournament, round, match){
                const self = this;
                self.currentTournament = tournament;
                self.currentRound = round;
                let match_obj = match;
                match_obj.tournament_type = self.getTypeByKey(tournament);
                match_obj.tm_1_name = self.getTeamNameByKey(tournament, match.tm_1).name;
                match_obj.tm_1_imageURL = self.getTeamNameByKey(tournament, match.tm_1).imageURL;
                match_obj.tm_2_name = self.getTeamNameByKey(tournament, match.tm_2).name;
                match_obj.tm_2_imageURL = self.getTeamNameByKey(tournament, match.tm_2).imageURL;
                match_obj.tournament_name = self.getNameByKey(tournament);
                self.currentMatch = match_obj;
                self.updateMode = true;
            },
            getNameByKey(key){
                const self = this;
                for(let i = 0; i < self.all_tournaments.length; i++) {
                    if(self.all_tournaments[i].data.id === key) {
                        return self.all_tournaments[i].data.name
                    }
                }
            },
            getTotActByKey(key){
                const self = this;
                for(let i = 0; i < self.all_tournaments.length; i++) {
                    if(self.all_tournaments[i].data.id === key) {
                        return {
                            tot: self.all_tournaments[i].data.tot_round,
                            act: self.all_tournaments[i].data.act_round,
                        }
                    }
                }
            },
            getTypeByKey(key){
                const self = this;
                for(let i = 0; i < self.all_tournaments.length; i++) {
                    if(self.all_tournaments[i].data.id === key) {
                        return self.all_tournaments[i].data.match_type
                    }
                }
            },
            getTeamNameByKey(key, t_key){
                const self = this;
                for(let i = 0; i < self.all_tournaments.length; i++) {
                    if(self.all_tournaments[i].data.id === key) {
                        for(let k = 0; k < self.all_tournaments[i].data.teams.length; k++) {
                            if(self.all_tournaments[i].data.teams[k].id === t_key) {
                                return self.all_tournaments[i].data.teams[k]
                            }
                        }
                    }
                }
            },
            getMatchesTobeScored(){
                const self = this;
                let database = firebase.database()
                database.ref('scorer/series/').on("value", function (snapshot) {
                    let returnArr = [];
                    snapshot.forEach(function (childSnapshot) {
                        let obj = {
                            t_key: childSnapshot.key,
                            data: childSnapshot.val(),
                        };
                        returnArr.push(obj)
                    });
                    self.tournaments = returnArr;
                });
            },
            getTournaments() {
                const self = this;
                let database = firebase.database()
                database.ref('series/').once("value", function (snapshot) {
                    let returnArr = [];
                    snapshot.forEach(function (childSnapshot) {
                        returnArr.push(childSnapshot.val())
                    });
                    self.all_tournaments = returnArr;
                })
            }
        },
        mounted() {
            const self = this;
            self.getMatchesTobeScored();
            self.getTournaments();
        }
    }
</script>

<style scoped>
  .img-cls-wrp{
    height: 4rem;
    width: 4rem;
  }
  .img-cls{
    height: 100%;
    width: 100%;
  }
  .curr{
    background-color: var(--fourth-color-light) !important;
    color: white;
  }
  .fin{
    background-color: var(--fourth-color-light) !important;
    color: white;
  }
</style>