<template>
  <div class="container-fluid top-header-mar-no-back">
    <div v-if="!updateMode && matches.length > 0">
      <div class="m-2" :key="index" v-for="(match, index) in matches">
        <v-card v-if="!EmptyObject(match)" dark>
          <v-card-title style="background-color: var(--fourth-color)" class="headline">{{match.data.match_name}}</v-card-title>
          <div v-if="!match.scoring_done" style="background-color: white; color: #050505; padding: 0.5rem">
            <button @click="changeMode(match)" class="btn btn-third">Score Update</button>
          </div>
        </v-card>
      </div>
    </div>
    <div v-else>
      <match-view
        v-bind:match-obj="currentMatch"
        v-on:update-score-inn="updateScoreByInnings"
        v-on:cancel="cancelScoreUpdate"
      ></match-view>
    </div>
    <v-snackbar
      :color="snackColor"
      :timeout="2000"
      v-model="snackbar"
      centered
      top
    >
      {{snackbarMessage}}
    </v-snackbar>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import MatchView from "./match"
    import {IsEmptyObject} from "../../filter";
    export default {
        name: "dashboard",
        components: {
            MatchView
        },
        data: function () {
            return {
                snackbar: false,
                snackbarMessage: '',
                snackColor: '#3d4279',
                matches: [],
                teams: [],
                match_type: '',
                updateMode: false,
                EmptyObject: IsEmptyObject,
                currentMatch: {}
            }
        },
        methods: {
            updateScoreByInnings(id, team_1, team_2){
                const self = this;
                let database = firebase.database()
                database.ref('scorer/single-match/' + id + '/match/').update({
                    tm_1_xi: team_1,
                    tm_2_xi: team_2
                }).then(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Information Updated';
                    self.snackColor = 'success';
                    window.location.reload()
                }).catch(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Not updated';
                    self.snackColor = 'error';
                    window.location.reload()
                })
            },
            cancelScoreUpdate(){
                const self = this;
                self.currentMatch = {};
                self.updateMode = false;
            },
            changeMode(match){
                const self = this;
                let match_obj = match.match;
                match_obj.tournament_name = match.data.match_name;
                match_obj.match_id = match.data.match_id;
                match_obj.tournament_type = match.data.match_type;
                match_obj.tm_1 = match.data.teams[0].id;
                match_obj.tm_1_name = match.data.teams[0].name;
                match_obj.tm_1_imageURL = match.data.teams[0].imageURL;
                match_obj.tm_2 = match.data.teams[1].id;
                match_obj.tm_2_name = match.data.teams[1].name;
                match_obj.tm_2_imageURL = match.data.teams[1].imageURL;
                self.currentMatch = match_obj;
                self.updateMode = true;
            },
            getTeamNameByKey(key, t_key){
                const self = this;
                for(let i = 0; i < self.all_tournaments.length; i++) {
                    if(self.all_tournaments[i].data.id === key) {
                        for(let k = 0; k < self.all_tournaments[i].data.teams.length; k++) {
                            if(self.all_tournaments[i].data.teams[k].id === t_key) {
                                return self.all_tournaments[i].data.teams[k]
                            }
                        }
                    }
                }
            },
            getMatchesTobeScored(){
                const self = this;
                let database = firebase.database()
                database.ref('scorer/single-match/').on("value", function (snapshot) {
                    let returnArr = [];
                    snapshot.forEach(function (childSnapshot) {
                        returnArr.push(childSnapshot.val())
                    });
                    self.matches = returnArr;
                });
            },
        },
        mounted() {
            const self = this;
            self.getMatchesTobeScored();
        }
    }
</script>

<style scoped>
</style>