<template>
<div class="container-fluid top-header-mar-no-back">
  <div class="row">
    <div class="col-6" :key="index" v-for="(result, index) in results">
      <div>
        <div>{{result.round}}</div>
        <div>{{getNameByID(result.localteam_id).name}} vs {{getNameByID(result.visitorteam_id).name}}</div>
        <div>Match id: <span style="color: var(--third-color)">{{result.id}}</span></div>
        <div>{{new Date(result.starting_at).toDateString()}}</div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import firebase from 'firebase/app';
import 'firebase/database';

export default {
  name: "all-matches-with-id",
  data: function (){
    return {
      results: [],
      countries: [],
      fixtures: {},
      league_id: '17',
      season_id: '89',
    }
  },
  methods: {
    getNameByID(id){
      const self = this;
      for(let i = 0; i < self.countries.length; i++){
        if(self.countries[i].id === id) return self.countries[i]
      }
      return {
        name: 'Unknown'
      }
    },
    getAllTeams() {
      const self = this;
      let database = firebase.database();
      self.countries = []
      database.ref('all-teams/').once('value', function(snapshot) {
        let returnArr = [];
        snapshot.forEach(function(childSnapshot) {
          returnArr.push(childSnapshot.val());
          self.countries = returnArr;
        });
        self.getID();
      });
    },
    getID() {
      const self = this;
      let database = firebase.database();
      database.ref('fixture-ids/').once('value', function(snapshot) {
        self.fixtures = snapshot.val()
        // eslint-disable-next-line
        for(let key in self.fixtures){
          self.getAllMatchesFromApi(self.fixtures[key].league_id, self.fixtures[key].season_id);
        }
      });
    },
    getAllMatchesFromApi(league_id, season_id) {
      const self = this;
      self.$http({
        method: 'get',
        url: 'https://u5j331454i.execute-api.us-east-1.amazonaws.com/dev/fixtures?',
        params: {
          league_id: league_id,
          season_id: season_id,
        }
      }).then(function (resp) {
        for(let i = 0; i <resp.data.data.length; i++){
          self.results.push(resp.data.data[i]);
        }
      }).catch(function () {
        self.results = [];
      })
    }
  },
  mounted() {
    const self = this;
    self.getAllTeams();
  }
}
</script>

<style scoped>

</style>