<template>
  <div class="container-fluid top-header-mar-no-back">
    <div style="margin-top: 2rem">
      <div>
        <div class="row">
          <div class="col-6">
            <v-text-field
              v-model="name"
              label="Match Name"
              outlined
            ></v-text-field>
            <v-select
              :items="typeItems"
              v-model="type"
              label="Match Type"
              outlined
            ></v-select>
          </div>
          <div class="col-3">
            <v-date-picker
              width="250"
              color="info"
              :min="min"
              v-model="deadlineDate"
            >
            </v-date-picker>
          </div>
          <div class="col-3 p-1" style="text-align: right">
            <v-time-picker
              flat
              color="success"
              width="250"
              v-model="deadlineTime"
              ampm-in-title
            >
            </v-time-picker>
          </div>
        </div>
        <div :key="index" v-for="(team, index) in teams">
          <div class="row">
            <div class="col-6">
              <v-text-field
                v-model="team.name"
                :label="team.type"
                outlined
              ></v-text-field>
            </div>
            <div class="col-6">
              <v-text-field
                v-model="team.imageURL"
                label="Display Image/Logo"
                outlined
              ></v-text-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <v-text-field
              v-model="imageURL"
              label="Match Image"
              outlined
            ></v-text-field>
          </div>
        </div>
        <div style="text-align: right; padding: 1.5rem">
          <button @click="gotoDashBoard" style="margin-right: 1rem" class="btn btn-neutral-action">Cancel</button>
          <button class="btn btn-error-color" @click="saveSingleMatch">Save</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import {generateCode} from "../../filter";
    export default {
        name: "manage-tournaments",
        data: function(){
            return {
                name: '',
                type: '',
                typeItems: ['TEST', 'ODI', 'T20', 'T10'],
                rules: {
                    max_pf1tm: 7,
                    min_wk: 1,
                    max_wk: 2,
                    min_bts: 3,
                    max_bts: 5,
                    min_al: 1,
                    max_al: 3,
                    min_bow: 3,
                    max_bow: 5,
                    cr_limit: 100,
                },
                min: new Date().toISOString().substr(0, 10),
                deadlineDate: new Date().toISOString().substr(0, 10),
                deadlineTime: '00:00',
                teams: [
                    {
                        type: "Home",
                        id: "",
                        name: "",
                        imageURL: "https://firebasestorage.googleapis.com/v0/b/crictreat-f4cb5.appspot.com/o/team-images%2Fprofile-1.png?alt=media&token=383edc06-d09e-47eb-84e9-c63e23f6cba0"
                    },
                    {
                        type: "Away",
                        id: "",
                        name: "",
                        imageURL: "https://firebasestorage.googleapis.com/v0/b/crictreat-f4cb5.appspot.com/o/team-images%2Fprofile-1.png?alt=media&token=383edc06-d09e-47eb-84e9-c63e23f6cba0"
                    }
                ],
                imageURL: 'https://firebasestorage.googleapis.com/v0/b/crictreat-f4cb5.appspot.com/o/team-images%2Fprofile-2.png?alt=media&token=83c7f93a-cfe4-4215-b170-1beb48ba84a9'
            }
        },
        methods: {
            gotoDashBoard(){
                this.$router.push('dashboard').catch(()=>{})
            },
            saveSingleMatch(){
                const self = this;
                self.name = self.name.toUpperCase();
                let n = self.name.split(" "), i;
                let t_id = 'PSM' + new Date().getFullYear().toString() + '-';
                for (i = 0; i < n.length; i++) {
                    t_id += n[i].charAt(0)
                }
                t_id+= self.type;
                let tournament = {
                    id: t_id,
                    name: self.name,
                    match_type: self.type,
                    rules: self.rules,
                    teams: self.teams,
                    transfer_open: false,
                    tr_active: false,
                    deadline: new Date(self.deadlineDate + ' ' + self.deadlineTime).toISOString(),
                    imageURL: self.imageURL
                };
                tournament.teams.forEach(function (team) {
                    let n = team.name.split(" "), id;
                    if(n.length > 1) {
                        id = n[0].charAt(0).toUpperCase() + n[1].charAt(0).toUpperCase()
                    } else {
                        id = team.name.substring(0, 2).toUpperCase()
                    }
                    team.id = id + generateCode();
                });
                let database = firebase.database();
                database.ref('single-matches/' + t_id + '/data').set(tournament).then(function () {
                    database.ref('/public-tournaments/' + t_id).set({
                        active: true,
                        type: 'match'
                    }).then(function () {
                        window.location.reload();
                    })
                }).catch(function () {
                    // console.log(err)
                });
            },
        },
    }
</script>

<style scoped>

</style>