<template>
  <div class="container-fluid top-header-mar-no-back">
    <div style="margin-top: 2rem">
      <div v-if="step === 1">
        <div class="row">
          <div class="col-6">
            <v-text-field
              v-model="name"
              label="Tournament Name"
              outlined
            ></v-text-field>
            <v-text-field
              v-model="fr_trns"
              label="Free Transfer"
              outlined
            ></v-text-field>
            <v-select
              :items="typeItems"
              v-model="type"
              label="Match Type"
              outlined
            ></v-select>
            <v-text-field
              v-model="num_of_teams"
              label="Number of teams"
              outlined
              @change="updateTeams"
            ></v-text-field>
            <v-text-field
              v-model="tot_round"
              label="Total Round"
              @change="setRoundItems"
              outlined
            ></v-text-field>
            <v-select
              :items="roundItems"
              v-model="act_round"
              label="Active Round"
              outlined
            ></v-select>
          </div>
          <div class="col-3">
            <div style="font-size: 1.6rem">Tournament Starts</div>
            <v-date-picker
              full-width
              style="font-size: 1.4rem"
              color="info"
              :min="deadline"
              v-model="start_date"
            >
            </v-date-picker>
          </div>
          <div class="col-3">
            <div style="font-size: 1.6rem">Tournament Ends</div>
            <v-date-picker
              full-width
              style="font-size: 1.4rem"
              color="error"
              :min="deadline"
              v-model="end_date"
            >
            </v-date-picker>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <v-text-field
              v-model="rules.sqd_number"
              label="Squad Size"
              outlined
            ></v-text-field>
          </div>
          <div class="col-2">
            <v-text-field
              v-model="rules.deduct_scale"
              label="Deduction Scale"
              outlined
            ></v-text-field>
          </div>
          <div class="col-2">
            <v-text-field
              v-model="rules.cr_limit"
              label="Credits"
              outlined
            ></v-text-field>
          </div>
          <div class="col-2">
            <v-select
              v-model="rules.max_pf1tm"
              :items="minMaxItems"
              label="Max Player from one team"
              outlined
            ></v-select>
          </div>
          <div class="col-2">
            <v-select
              :items="minMaxItems"
              v-model="rules.min_wk"
              label="Min Wicket Keepers"
              outlined
            ></v-select>
          </div>
          <div class="col-2">
            <v-select
              :items="minMaxItems"
              v-model="rules.max_wk"
              label="Max Wicket Keepers"
              outlined
            ></v-select>
          </div>
          <div class="col-2">
            <v-select
              :items="minMaxItems"
              v-model="rules.min_bts"
              label="Min Batsman"
              outlined
            ></v-select>
          </div>
          <div class="col-2">
            <v-select
              :items="minMaxItems"
              v-model="rules.max_bts"
              label="Max Batsman"
              outlined
            ></v-select>
          </div>
          <div class="col-2">
            <v-select
              :items="minMaxItems"
              v-model="rules.min_al"
              label="Min Allrounder"
              outlined
            ></v-select>
          </div>
          <div class="col-2">
            <v-select
              :items="minMaxItems"
              v-model="rules.max_al"
              label="Max Allrounder"
              outlined
            ></v-select>
          </div>
          <div class="col-2">
            <v-select
              :items="minMaxItems"
              v-model="rules.min_bow"
              label="Min Bowler"
              outlined
            ></v-select>
          </div>
          <div class="col-2">
            <v-select
              :items="minMaxItems"
              v-model="rules.max_bow"
              label="Max Bowler"
              outlined
            ></v-select>
          </div>
        </div>
        <div style="text-align: right; width: 100%">
          <button @click="gotoDashBoard" style="margin-right: 1rem" class="btn btn-error-color-outline">Cancel</button>
          <button class="btn btn-fourth" @click="goToNextStep">Next</button>
        </div>
      </div>
      <div v-if="step === 2">
        <div style="margin: 2rem; background-color: white" :key="index" v-for="(team, index) in teams">
          <div class="row">
            <v-select
                :items="all_teams"
                v-model="team['info']"
                label="Team"
                outlined
                item-text="name"
                return-object
            ></v-select>
          </div>
        </div>
        <div style="text-align: right; width: 100%">
          <button class="btn btn-neutral-action" style="margin-right: 20px" @click="step = 1">Back</button>
          <button class="btn btn-third" @click="saveTournament">Save</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    export default {
        name: "manage-tournaments",
        data: function(){
            return {
                special_prize: true,
                open: false,
                editMode: false,
                step: 1,
                name: '',
                type: '',
                typeItems: ['TEST', 'ODI', 'T20', 'T10'],
                num_of_teams: 0,
                rules: {
                    max_pf1tm: 7,
                    min_wk: 1,
                    max_wk: 1,
                    min_bts: 3,
                    max_bts: 5,
                    min_al: 1,
                    max_al: 3,
                    min_bow: 3,
                    max_bow: 5,
                    cr_limit: 100,
                    deduct_scale: 20,
                    sqd_number: 15
                },
                minMaxItems: [1,2,3,4,5,6,7,8,9,10],
                roundItems: [],
                rounds: [],
                tot_round: 0,
                act_round: 1,
                deadline: new Date().toISOString().substr(0, 10),
                start_date: new Date().toISOString().substr(0, 10),
                end_date: new Date().toISOString().substr(0, 10),
                time: '00:00',
                fr_trns: 'unlimited',
                teams: [],
                all_teams: [],
                imageURL: 'https://firebasestorage.googleapis.com/v0/b/crictreat-f4cb5.appspot.com/o/team-images%2Fprofile-2.png?alt=media&token=83c7f93a-cfe4-4215-b170-1beb48ba84a9'
            }
        },
        methods: {
            gotoDashBoard(){
              this.$router.push('dashboard').catch(()=> {})
            },
            setRoundItems(){
              const self = this;
              let i;
              self.roundItems = [];
              self.rounds = [];
              for(i = 1; i <= parseInt(self.tot_round); i++) {
                  let item = {
                    key: 'r' + i,
                    fr_trns: 'unlimited',
                    deadlineDate: self.deadline,
                    deadlineTime: self.time,
                    deadline: new Date(self.deadline + ' ' + self.time).toISOString()
                  };
                  self.roundItems.push(i);
                  self.rounds.push(item);
              }
            },
            updateTeams(){
                const self = this;
                self.teams = [];
                let i;
                for(i = 0; i < self.num_of_teams; i++) {
                    let obj = {
                        id: "",
                        info: "",
                    };
                    self.teams.push(obj)
                }
            },
            goToNextStep(){
                const self = this;
                self.step = 2;
            },
            saveTournament(){
                const self = this;
                self.name = self.name.toUpperCase();
                let n = self.name.split(" "), i;
                let t_id = 'PBTR' + new Date().getFullYear().toString() + '-';
                for (i = 0; i < n.length; i++) {
                    t_id += n[i].charAt(0)
                }
                t_id+= self.type;
                let tournament = {
                    id: t_id,
                    name: self.name,
                    match_type: self.type,
                    num_of_teams: self.num_of_teams,
                    rules: self.rules,
                    tot_round: self.tot_round,
                    act_round: self.act_round,
                    fr_trns: self.fr_trns,
                    teams: self.teams,
                    rounds: self.rounds,
                    transfer_open: false,
                    tr_active: false,
                    start_date: self.start_date,
                    end_date: self.end_date,
                    imageURL: self.imageURL,
                    special_prize: self.special_prize,
                    updated_info: {
                      updated_on: new Date().toISOString(),
                      round_key: 'r'+ self.act_round
                    },
                    round_updated_info:{
                      key: 'r'+ self.act_round,
                      fr_trns: self.fr_trns,
                    }
                };
                tournament.teams.forEach(function (team) {
                    team['name'] = team['info']['name']
                    team['code'] = team['info']['code']
                    team['country_id'] = team['info']['country_id']
                    team['imageURL'] = team['info']['image_path']
                    team['id'] = team['info']['id'].toString()
                    delete team['info']
                });
                let database = firebase.database();
                database.ref('tournaments/' + t_id + '/data').set(tournament).then(function () {
                    database.ref('/public-tournaments/' + t_id).set({
                        active: true,
                        type: 'tournament',
                        name: self.name,
                    }).then(function () {
                        window.location.reload();
                    })
                }).catch(function (err) {
                    // eslint-disable-next-line
                    console.log(err)
                });
            },
            getAllTeams() {
              let database = firebase.database();
              const self = this;
              self.all_teams = []
              database.ref('all-teams/').once('value', function(snapshot) {
                let returnArr = [];
                snapshot.forEach(function(childSnapshot) {
                  returnArr.push(childSnapshot.val());
                  self.all_teams = returnArr;
                });
              });
            },
        },
        mounted() {
          this.getAllTeams()
        }
    }
</script>

<style scoped>
</style>