<template>
  <div class="container-fluid top-header-mar-no-back">
    <v-toolbar absolute flat style="background-color: #f7f7f7; top: 60px; width: 100%; height: 60px" light >
      <div class="main-tab">
        <div class="left-col no-padding">
          <div v-bind:class="[{act: activeTab === 'classic'}]" @click="changeTab('classic')" class="tab">CLASSIC</div>
        </div>
        <div class="left-col no-padding">
          <div v-bind:class="[{act: activeTab === 'single'}]" @click="changeTab('single')" class="tab">SERIES MODE</div>
        </div>
      </div>
    </v-toolbar>
    <div v-if="classic_mode">
      <classic-mode>
      </classic-mode>
    </div>
    <div v-else>
      <match-mode></match-mode>
    </div>
    <div>
      <div :key="index" v-for="(match, index) in all_matches">
        <div style="color: #0D5BDD">{{match.unique_id}}</div>
        <div>{{new Date(match.date).toString()}}</div>
        <div>{{match['team-1']}}</div>
        <div>{{match['team-2']}}</div>
        <div>{{match.type}}</div>
        <div>{{match.matchStarted}}</div>
      </div>
    </div>
  </div>
</template>

<script>
    import ClassicMode from "../editor/classic-mode"
    import MatchMode from "../editor/series-mode"
    export default {
        name: "dashboard",
        components: {
            ClassicMode,
            MatchMode
        },
        data: function () {
            return {
                activeTab: 'classic',
                classic_mode: true,
                all_matches: {}
            }
        },
        methods: {
            changeTab(tab){
                const self = this;
                self.activeTab = tab;
                self.classic_mode = self.activeTab === 'classic';
            },
            getAllMatchesFromCricApi(){
              const self = this;
              self.$http({
                method: 'get',
                url: 'https://cricapi.com/api/matches',
                headers: {
                  "content-type": 'application/json',
                },
                params: {
                  apikey: 'XVGmKULXYUaP3hHVHtdR7awJcOY2',
                }}).then(function (resp) {
                  self.all_matches = resp.data.matches;
                }).catch(function () {

              })
          },
        },
      mounted() {
          // const self = this;
          // self.getAllMatchesFromCricApi()
      }
    }
</script>

<style scoped>
  .tab{
    text-align: center;
    padding: 1rem 0;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: #f7f7f7;
    color: #050505;
    border-bottom: 5px solid transparent;
  }
  .act{
    border-bottom: 5px solid var(--third-color);
    color: var(--third-color) !important;
  }
  .main-tab{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .left-col{
    width: 50%;
  }
</style>