<template>
  <div style="height: 100vh; overflow-y: hidden">
    <div style="height: 100vh">
      <v-app-bar
        style="background-color: var(--primary-color-dark); height: 6rem"
        flat absolute dark
      >
        <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
        <v-toolbar-title class="nav-bar-image-wrapper">
          <img class="nav-bar-image" src="../../assets/logo/logo_white.svg">
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <div>
          <div style="font-size: 1rem">Server Time: {{time_now_server}}</div>
          <div style="font-size: 1rem">Local Time: {{time_now_local}}</div>
        </div>
        <v-spacer></v-spacer>
        <v-icon @click="refreshServerTime">mdi-refresh</v-icon>
        <v-spacer></v-spacer>
        <v-btn @click="logoutCallback" style="margin-right: 2rem" icon>
          <v-icon>mdi-logout</v-icon>
        </v-btn>
      </v-app-bar>
      <v-navigation-drawer
        overlay-opacity="0.7"
        v-model="drawer"
        absolute
        temporary
      >
        <v-list-item @click="gotoThisRoute('profile')">
          <v-list-item-avatar>
            <v-img :src="imageUrl"></v-img>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title style="font-size: 1.4rem">{{name}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-list dense nav>

          <v-list-item
            v-bind:class="[{wrpActv: isActive(item.route)}]"
            v-for="(item, index) in items"
            :key="index"
            link
            @click="gotoThisRoute(item.route)"
          >
            <v-list-item-icon>
              <v-icon v-bind:class="[{wrpActvIcon: isActive(item.route)}]">{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title style="font-size: 1.4rem; line-height: 2rem;">{{ item.name }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
      <div style="height: 100vh; overflow-y: hidden">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    export default {
        name: "home",
        data: function() {
            return {
                drawer: false,
                items: [
                    {
                        icon: 'mdi-home',
                        name: 'Home',
                        route: 'dashboard'
                    },
                    {
                        icon: 'mdi-shield-star',
                        name: 'Tournaments',
                        route: 'manage-tournaments'
                    },
                    {
                      icon: 'mdi-chart-arc',
                      name: 'Series',
                      route: 'manage-series-special'
                    },
                    {
                        icon: 'mdi-cricket',
                        name: 'Players',
                        route: 'manage-players'
                    },
                    {
                        icon: 'mdi-shield-star',
                        name: 'Moderators',
                        route: 'manage-moderators'
                    },
                    {
                        icon: 'mdi-shield-star',
                        name: 'Create Tournament',
                        route: 'create-tournament'
                    },
                    {
                      icon: 'mdi-shield-star',
                      name: 'Create Series',
                      route: 'create-series-special'
                    },
                    {
                        icon: 'mdi-shield-star',
                        name: 'Manage Prizes',
                        route: 'manage-prizes'
                    },
                    {
                        icon: 'mdi-bell',
                        name: 'Manage Users',
                        route: 'manage-users'
                    },
                    {
                      icon: 'mdi-cricket',
                      name: 'Match ID',
                      route: 'all-matches-with-id'
                    },
                    {
                      icon: 'mdi-chart-arc',
                      name: 'Create Series Cup',
                      route: 'create-series-cup'
                    },
                    {
                      icon: 'mdi-chart-arc',
                      name: 'Manage Series Cup',
                      route: 'manage-series-cup'
                    },
                ],
                imageUrl: 'https://www-trimatra-me.s3-ap-southeast-1.amazonaws.com/svg-images/avatar.svg',
                verified: false,
                email: '',
                name: '',
                currentUser: {},
                activeRoute: 'dashboard',
                time_obj: {},
                time_now_server: '',
                time_now_local: '',
            }
        },
        methods: {
            isActive(key){
                return key === this.activeRoute
            },
            async logoutCallback(){
                const self = this;
                try{
                    const user = await firebase.auth().signOut()
                    // eslint-disable-next-line
                    console.log(user)
                    self.$router.push({ name: "home" }).catch(function () {});
                }catch (e) {
                    // eslint-disable-next-line
                    console.log(e)
                }
            },
            gotoThisRoute(name) {
                const self = this;
                self.activeRoute = name;
                self.$router.push(name).catch(function () {})
            },
            authenticateEmail(){
                const currentUser = firebase.auth().currentUser;
                currentUser.sendEmailVerification().then(function () {
                   alert('Link Sent')
                }).catch(function (err) {
                    alert(err)
                });
            },
            getTimeNowinServer(){
              const self = this;
              let database = firebase.database();
              database.ref('time_now').on('value', function (snapshot) {
                self.time_obj = snapshot.val();
                self.time_now_server = new Date(new Date(snapshot.val().timestamp).toISOString()).toString()
                self.time_now_local = new Date().toString()
              });
            },
            refreshServerTime(){
              let database = firebase.database();
              database.ref('time_now').update({
                timestamp: new Date().getTime()
              }).then().catch()
            }
        },
        mounted(){
            const self = this;
            self.currentUser = firebase.auth().currentUser;
            if(self.currentUser) {
                self.verified = !!self.currentUser.emailVerified;
                self.email = self.currentUser.email;
                self.name = self.currentUser.displayName;
                self.imageUrl = self.currentUser.photoURL;
            }
            self.getTimeNowinServer()
        }
    }
</script>

<style scoped>
  .wrpActv{
    color: var(--third-color-dark) !important;
    background-color: rgba(192,0,163,0.1);
  }
  .wrpActvIcon{
    color: var(--third-color-dark) !important;
  }
</style>