<template>
  <div v-if="!EmptyObject(tournament)" class="container-fluid top-header-mar-no-back">
    <div class="row">
      <div style="padding: 1.5rem; font-size: 2rem">{{tournament.data.name}}</div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="user">
          Data User: {{getUsersCount(tournament.data.users)}}
        </div>
      </div>
      <div class="col-6">
        <div class="user">
          User: {{getUsersCount(tournament.users)}}
        </div>
      </div>
    </div>
    <div class="row user" :key="index" v-for="(user, index) in tournament.data.users">
      <div class="col-2" style="color: #FF6A19">{{index}}</div>
      <div class="col-3" v-if="getUserbyKey(index)">
        <div style="font-size: 1.8rem">{{getUserbyKey(index).name}}</div>
        <div>{{getUserbyKey(index).email}}</div>
        <div v-bind:class="[{chor: parseFloat(user.bank) > 20}]">Bank: {{user.bank}}</div>
      </div>
      <div class="col-3" style="color: red" v-if="getUserbyKey(index) === null">
        NOT IN USER NODE
        <div>{{getUserbyKeyFromRole(index)}}</div>
      </div>
      <div v-bind:class="[{rank: parseInt(user.rank) === 1}]" class="col-1">
        <div>Rank: {{user.rank}}</div>
      </div>
      <div class="col-1">
        <div>Points: {{user.total_points}}</div>
      </div>
      <div v-if="parseInt(user.rank) === 1" class="col-1">
        <button @click="pushToChampion(index)" class="btn btn-third">Push to Champion (fame)</button>
      </div>
      <div v-bind:class="[{chor: parseFloat(getSquadValue(index)) > 100}]">
        {{getSquadValue(index)}}
      </div>
    </div>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import {IsEmptyObject} from "../../filter";
    export default {
        name: "manage-users",
        data: function () {
            return {
                id: '',
                type: '',
                tournament: [],
                EmptyObject: IsEmptyObject,
                users: [],
                role: []
            }
        },
        methods: {
            getPlayerByKey(id){
                const self = this;
                let pool = self.tournament.pool;
                for(let i = 0; i < pool.length; i++) {
                    if(pool[i].key === id) {
                        return pool[i].price
                    }
                }
            },
            getSquadValue(id){
                const self = this;
                if(self.tournament.users[id].tm_crt) {
                    let players = self.tournament.users[id].my_sqd['al'].players;
                    players = players.concat(self.tournament.users[id].my_sqd['wk'].players)
                    players = players.concat(self.tournament.users[id].my_sqd['bts'].players)
                    players = players.concat(self.tournament.users[id].my_sqd['bow'].players)
                    let total = 0;
                    for(let i = 0; i < players.length; i++) {
                        total = total + parseFloat(self.getPlayerByKey(players[i]))
                    }
                    return total
                }
            },
            pushToChampion(id){
                const self = this;
                let database = firebase.database();
                database.ref('users-role/' + id + '/champion/' + self.tournament.data.id).update({
                    name: self.tournament.data.name,
                    type: self.type
                }).then().catch()
            },
            getUserbyKey(u_key){
                const self = this;
                for(let key in self.users) {
                    if(key === u_key) return self.users[key]
                }
                return null
            },
            getUserbyKeyFromRole(u_key){
                const self = this;
                for(let key in self.role) {
                    if(key === u_key) return self.role[key]
                }
                return null
            },
            getUsersCount(users){
              let count = 0;
              for(let key in users) {
                  // eslint-disable-next-line
                  if (users.hasOwnProperty(key)) count++;
              }
              return count
            },
            getUsers(){
                const self = this;
                let database = firebase.database();
                if(self.type === 'tournament'){
                    database.ref('tournaments/' + self.id).on('value', function(snapshot) {
                        self.tournament = snapshot.val();
                    });
                } else if(self.type === 'series'){
                    database.ref('series/' + self.id).on('value', function(snapshot) {
                        self.tournament = snapshot.val();
                    });
                } else {
                    database.ref('single-matches/' + self.id).on('value', function(snapshot) {
                        self.tournament = snapshot.val();
                    });
                }
            },
            getAllUsers(){
                const self = this;
                let database = firebase.database();
                database.ref('users/').on('value', function(snapshot) {
                    self.users = snapshot.val();
                });
            },
            getAllRoleUsers(){
                const self = this;
                let database = firebase.database();
                database.ref('users-role/').on('value', function(snapshot) {
                    self.role = snapshot.val();
                });
            },
        },
        mounted(){
            const self = this;
            self.id = self.$route.query.q;
            self.type = self.$route.query.type;
            self.getUsers();
            self.getAllUsers();
            self.getAllRoleUsers()
        }
    }
</script>

<style scoped>
.user{
  box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16);
  margin: 2rem !important;
  padding: 1rem !important;
  background-color: #f7f7f7;
}
.rank{
 background-color: #FF6A19;
 color: white;
}
  .chor{
    color: #e64a17 !important;
  }
</style>