<template>
  <div class="container-fluid top-header-mar-no-back">
    <button @click="openForm" class="btn btn-third">Create H2H League</button>
    <div v-if="open">
      <v-text-field
        v-model="name"
        label="League Name"
      >
      </v-text-field>
      <v-text-field
        v-model="code"
        label="League Code"
      >
      </v-text-field>
      <v-text-field
        v-model="limit"
        label="Limit"
      >
      </v-text-field>
      <div>
        <button @click="saveLeague">Save</button>
      </div>
    </div>
    <div v-if="!opn_set">
      <div :key="index" v-for="(league, index) in leagues">
        <div class="row leg">
          <div class="col-8">
            <div>{{league.name}}</div>
            <div>Enrolled: {{league.enrolled}}</div>
            <div>Limit: {{league.limit}}</div>
          </div>
          <div class="col-4 text-right">
            <button style="margin-right: 1rem" @click="runH(league)" class="btn btn-third">Show Rounds</button>
            <button @click="setMatch(league)" class="btn btn-third">Update</button>
            <button style="margin-left: 1rem" v-if="!league.started" @click="setUsers(league)" class="btn btn-first">Start League</button>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <div v-if="set_league">
        <div>
          <v-select
            :items="rounds"
            v-model="round"
          ></v-select>
        </div>
        <div :key="index" v-for="(match, index) in matches">
          {{users[match.t_1].tm_name}} vs {{users[match.t_2].tm_name}}
        </div>
        <div style="margin-top: 4rem">
          <button @click="updateMatch" class="btn btn-first">Update</button>
          <button @click="cancel" class="btn btn-neutral-action">Cancel</button>
        </div>
      </div>
      <div v-if="run_h2h">
        <div>
          <v-select
            :items="rounds"
            v-model="round"
          ></v-select>
        </div>
        <div v-if="currentLeague.rounds[round]">
          <div class="row" :key="index" v-for="(match, index) in currentLeague.rounds[round].matches">
            <div v-if="users[match.t_1].rounds" class="col-6">
              {{users[match.t_1].tm_name}} ({{users[match.t_1].rounds[round]}}) - [{{users[match.t_1].total_points}}]
            </div>
            <div v-if="users[match.t_2].rounds" class="col-6">
              {{users[match.t_2].tm_name}} ({{users[match.t_2].rounds[round]}}) - [{{users[match.t_2].total_points}}]
            </div>
          </div>
        </div>
        <div style="margin-top: 4rem">
          <button @click="runCompa" class="btn btn-first">Update</button>
          <button @click="cancel" class="btn btn-neutral-action">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import {generateCode} from "../../filter";
    export default {
        name: "manage-head-to-head",
        data: function(){
            return {
                id: '',
                type: '',
                leagues: {},
                users: {},
                open: false,
                name: '',
                code: '',
                limit: '',
                currentLeague: {},
                set_league: false,
                rounds: ['r1', 'r2', 'r3','r4','r5','r6','r7', 'r8', 'r9', 'r10', 'r11', 'r12', 'r13', 'r14', 'r15', 'r16'],
                matches: {},
                round: 'r1',
                run_h2h: false,
                opn_set: false
            }
        },
        methods: {
            shuffleArray(array){
              for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                const temp = array[i];
                array[i] = array[j];
                array[j] = temp;
              }
              return array
            },
            resetAll(){
                const self = this;
                self.run_h2h = false;
                self.set_league = false;
            },
            cancel(){
                const self = this;
                self.currentLeague = {};
                self.opn_set = false;
                self.resetAll();
            },
            runCompa(){
                const self = this;
                let matches = self.currentLeague.rounds[self.round].matches;
                let winners = [];
                let elimites = [];
                for(let key in matches) {
                    let p_1 = self.users[matches[key].t_1].rounds ?  self.users[matches[key].t_1].rounds[self.round] : 0
                    let p_2 = self.users[matches[key].t_2].rounds ? self.users[matches[key].t_2].rounds[self.round] : 0
                    if(parseFloat(p_1) > parseFloat(p_2)) {
                        winners.push(matches[key].t_1)
                        elimites.push(matches[key].t_2)
                    } else {
                        if (parseFloat(p_1) === parseFloat(p_2)) {
                            let f1 = parseFloat(self.users[matches[key].t_1].total_points)
                            let f2 = parseFloat(self.users[matches[key].t_2].total_points)
                            if(f1 > f2) {
                                winners.push(matches[key].t_1)
                                elimites.push(matches[key].t_2)
                            } else {
                                winners.push(matches[key].t_2)
                                elimites.push(matches[key].t_1)
                            }

                        } else {
                            winners.push(matches[key].t_2)
                            elimites.push(matches[key].t_1)
                        }
                    }
                }
                let randomized_winners = self.shuffleArray(winners);
                let database = firebase.database();
                database.ref(self.type + '/' + self.id + '/hth/' + self.currentLeague.id).update({
                    survives: randomized_winners,
                    eliminates: elimites
                }).then(()=> {
                    alert('Done')
                });
            },
            setUsers(league){
                const self = this;
                let database = firebase.database();
                database.ref(self.type + '/' + self.id + '/hth/' + league.id).update({
                    survives: league.users,
                    started: true
                }).then(()=> {
                    alert('Done')
                });
            },
            updateMatch(){
                const self = this;
                let database = firebase.database();
                database.ref(self.type + '/' + self.id + '/hth/' + self.currentLeague.id + '/rounds/' + self.round + '/matches/').
                update(self.matches).then(()=> {
                    alert('Done')
                });
            },
            setMatch(league){
                const self = this;
                self.currentLeague = league;
                self.resetAll();
                self.opn_set = true;
                self.set_league = true;
                let matches = []
                for (let i = 0, j = league.survives.length - 1; i < j; i++, j--){
                    let match = {
                        t_1: league.survives[i],
                        t_2: league.survives[j],
                    }
                    matches.push(match)
                }
                self.matches = matches;
                //eslint-disable-next-line
                console.log(matches)

            },
            runH(league){
                const self = this;
                self.currentLeague = league;
                self.resetAll();
                self.opn_set = true;
                self.run_h2h = true;
            },
            openForm(){
                const self = this;
                self.open = !self.open;
            },
            saveLeague(){
                const self = this;
                let id = self.name.substring(0, 2) + generateCode();
                let database = firebase.database();
                database.ref(self.type + '/' + self.id + '/hth/' + id).set({
                    name: self.name,
                    id: id,
                    code: self.code,
                    limit: self.limit,
                    enrolled: 0,
                    started: false
                }).then(()=> {
                    alert('Done')
                });
            },
            getH2HLeagues(){
                const self = this;
                let database = firebase.database();
                database.ref(self.type + '/' + self.id + '/hth/').once('value', function(snapshot) {
                    self.leagues = snapshot.val();
                });
            },
            getUsers(){
                const self = this;
                let database = firebase.database();
                database.ref(self.type + '/' + self.id + '/data/users').once('value', function(snapshot) {
                    self.users = snapshot.val();
                });
            },
        },
        mounted(){
            const self = this;
            self.id = self.$route.query.q;
            self.type = self.$route.query.type;
            if(self.type){
              self.getH2HLeagues();
              self.getUsers();
            }
        }
    }
</script>

<style scoped>
.leg{
  box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16);
  margin: 1rem !important;
}
</style>