<template>
  <div class="container-fluid top-header-mar-no-back">
    <div class="row" style="margin: 2rem">
      <v-select
        solo
        dense
        class="col-6"
        :items="country_items"
        label="Country"
        v-model="search_country"
        @change="modifyBucket"
        clearable
      ></v-select>
      <div class="col-6">
        <input v-model="search" type="text" class="form-control" placeholder="Search">
      </div>
    </div>
    <div style="margin: 2rem !important;" v-if="!add" class="row">
      <div class="col-6" style="text-align: center">
        <button class="btn btn-first" @click="changePlayerAddTab(true)">Manually Add New Player</button>
      </div>
      <div class="col-6" style="text-align: center">
        <button class="btn btn-second" @click="changePlayerAddTab(false)">Add New Player From CricApi</button>
      </div>
    </div>
    <div style="margin: 2rem !important;" v-else>
      <div v-if="!manual">
        <v-text-field
          v-model="player_id"
          label="Pid"
          outlined
        ></v-text-field>
        <div style="text-align: right">
          <button class="btn btn-fourth" @click="getASinglePlayerFromCricApi">Fetch Player</button>
          <button style="margin-left: 1rem" class="btn btn-neutral-action" @click="add = false">Cancel</button>
        </div>
        <div style="margin-top: 2rem" v-if="player">
          <div class="row player-card">
            <div class="col-6">
              <div class="image-wrapper">
                <img class="image" :src="player.imageURL ? player.imageURL: imageURL" alt="Smiley face">
              </div>
            </div>
            <div class="col-6 mx-auto my-auto">
              <div style="font-size: 24px; margin-bottom: 15px">{{player.name}}</div>
              <div style="color: #3d4249">{{player.playingRole}}</div>
              <div style="color: #3d4249; font-size: 14px">{{player.battingStyle}}</div>
              <div style="color: #3d4249; font-size: 14px">{{player.bowlingStyle}}</div>
              <div style="color: #3d4249; font-size: 12px; font-weight: bold">{{player.country}}</div>
            </div>
          </div>
          <div style="text-align: right; margin-top: 2rem">
            <button class="btn btn-fourth" @click="addPlayer">Add to Database</button>
          </div>
        </div>
      </div>
      <div v-else>
        <v-text-field
          label="Player ID"
          v-model="player.pid"
          type="number"
        ></v-text-field>
        <v-text-field
          label="Full Name"
          v-model="player.fullName"
        ></v-text-field>
        <v-text-field
            label="Nick Name"
            v-model="player.name"
        ></v-text-field>
        <v-text-field
          label="Batting Style"
          v-model="player.battingStyle"
        ></v-text-field>
        <v-text-field
            label="Bowling Style"
            v-model="player.bowlingStyle"
        ></v-text-field>
        <v-text-field
            label="Role"
            v-model="player.playingRole"
        ></v-text-field>
        <v-select
          :items="country_items"
          label="Country"
          v-model="player.country"
        ></v-select>
        <v-text-field
          label="Image"
          v-model="player.imageURL"
        ></v-text-field>
        <div style="text-align: right; margin-top: 2rem">
          <button class="btn btn-fourth" @click="addPlayer">Add to Database</button>
          <button style="margin-left: 1rem" class="btn btn-neutral-action" @click="add = false">Cancel</button>
        </div>
      </div>
    </div>
    <div style="margin: 2rem !important;" class="row">
      <div class="col-6 player-card" :key="index" v-for="(player, index) in players">
        <div class="row justify-content-center">
          <div class="col-3">
            <div class="image-wrapper">
              <img class="image" :src="player.data.imageURL ? player.data.imageURL: imageURL" alt="Smiley face">
            </div>
          </div>
          <div class="col-6 my-auto">
            <div v-if="!player.edit">
              <div style="font-size: 24px; margin-bottom: 15px">{{player.data.name}}</div>
              <div style="color: var(--third-color); font-size: 1.6rem">{{player.data.playingRole || 'N/A'}}</div>
              <div style="font-size: 1.2rem">{{player.key}}</div>
              <div style="color: #3d4249; font-size: 14px">{{player.data.battingStyle}}</div>
              <div style="color: #3d4249; font-size: 14px">{{player.data.bowlingStyle}}</div>
              <div style="color: #3d4249; font-size: 12px; font-weight: bold">{{player.data.country}}</div>
            </div>
            <div v-else>
              <div style="font-size: 24px; margin-bottom: 15px">
                <v-text-field
                  label="Name"
                  v-model="player.data.name"
                ></v-text-field>
                <v-text-field
                  label="Role"
                  v-model="player.data.playingRole"
                ></v-text-field>
                <v-text-field
                  label="Country"
                  v-model="player.data.country"
                ></v-text-field>
                <v-text-field
                  label="Image"
                  v-model="player.data.imageURL"
                ></v-text-field>
              </div>
            </div>
          </div>
          <div class="col-2 my-auto">
            <div @click="player.edit = !player.edit" v-if="!player.edit"><button class="btn btn-second">Edit</button></div>
            <div v-else>
              <div @click="updatePlayerInformation(player.key, player.data)"><button class="btn btn-error-color">Update</button></div>
              <div style="margin-top: 1rem" @click="player.edit = !player.edit"><button class="btn btn-neutral-action">Cancel</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <v-snackbar
      :key="change"
      color="success"
      :timeout="1000"
      v-model="snackbar"
      centered
      top
    >
      {{snackbarMessage}}
    </v-snackbar>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/auth';
    import 'firebase/database';
    export default {
        name: "players",
        data: function () {
            return {
                add: false,
                manual: false,
                player_id: '',
                p_name: '',
                p_country: '',
                p_role: '',
                p_team: '',
                p_image: '',
                country_items: ['Afghanistan', 'Australia', 'Bangladesh', 'England', 'India', 'Ireland', 'New Zealand', 'Pakistan', 'South Africa',
                    'Sri Lanka', 'West Indies', 'Zimbabwe'],
                player: {
                  pid: '',
                  country: '',
                  profile: '',
                  imageURL: '',
                  battingStyle: '',
                  bowlingStyle: '',
                  playingRole: '',
                  majorTeams: '',
                  currentAge: '',
                  born: '',
                  fullName: '',
                  name: '',
                },
                search: "",
                players: [],
                all_players: [],
                imageURL: require('@/assets/user.svg'),
                edit: false,
                search_country: '',
                snackbar: false,
                snackbarMessage: 'Successfully Added',
                change: 0,
            }
        },
        methods: {
            changePlayerAddTab(tab){
              const self = this;
              self.add = true;
              self.manual = tab;
            },
            addPlayer(){
                const self = this;
                let database = firebase.database();
                let player = self.player;
                let userId = self.player.country.substring(0, 2).toUpperCase() + new Date().getTime().toString() + self.player.name.substring(0, 2).toUpperCase()
                database.ref('players/' + userId).set(
                    {
                        pid: player.pid,
                        country: player.country,
                        profile: player.profile,
                        imageURL: player.imageURL,
                        battingStyle: player.battingStyle,
                        bowlingStyle: player.bowlingStyle,
                        playingRole: player.playingRole,
                        majorTeams: player.majorTeams,
                        currentAge: player.currentAge,
                        born: player.born,
                        fullName: player.fullName,
                        name: player.name,
                    }
                ).then(function () {
                    self.add = false;
                    self.player = {}
                }).catch(function () {
                });
            },
            getASinglePlayerFromCricApi(){
                const self = this;
                self.$http({
                    method: 'get',
                    url: 'https://cricapi.com/api/playerStats',
                    headers: {
                        "content-type": 'application/json',
                    },
                    params: {
                        apikey: 'XVGmKULXYUaP3hHVHtdR7awJcOY2',
                        pid: self.player_id
                    }
                }).then(function (resp) {
                    self.player = resp.data;
                }).catch(function () {

                })
            },
            getPlayers() {
                let database = firebase.database();
                const self = this;
                database.ref('players').once('value', function(snapshot) {
                    let returnArr = [];
                    snapshot.forEach(function(childSnapshot) {
                        let obj = {
                          data: childSnapshot.val(),
                          key: childSnapshot.key,
                          edit: false
                        };
                        returnArr.push(obj);
                        // Fill the local data property with Firebase data
                        self.players = returnArr;
                        self.all_players = returnArr;
                    });
                });
            },
            // setPlayers(){
            //     let database = firebase.database();
            //     database.ref('players').once('value', function(snapshot) {
            //         snapshot.forEach(function(childSnapshot) {
            //             database.ref('players/' + childSnapshot.key).update({
            //                 data: null
            //             }).catch()
            //         });
            //     });
            // },
            updatePlayerInformation(key, player){
                const self = this;
                let database = firebase.database();
                database.ref('players/' + key).update(
                    {
                        country: player.country,
                        imageURL: player.imageURL,
                        playingRole: player.playingRole,
                        name: player.name,
                    }
                ).then(function () {
                    self.snackbar = true;
                    self.change++;
                }).catch(function (err) {
                    self.snackbar = true;
                    self.snackbarMessage = err.message;
                });
            },
            modifyBucket(){
                const self = this;
                let i;
                let players = self.players;
                if(self.search_country){
                    self.players = [];
                    for (i = 0; i < players.length; i++) {
                        if(players[i].data.country && players[i].data.country.toUpperCase().includes(self.search_country.toUpperCase())) {
                            self.players.push(players[i])
                        }
                    }
                } else {
                    self.players = self.all_players;
                }
            }
        },
        watch: {
            search(newV, oldV) {
                if(newV.toUpperCase() !== oldV.toUpperCase()) {
                    let i;
                    this.players = [];
                    for (i = 0; i < this.all_players.length; i++) {
                        if(this.all_players[i].data.name && this.all_players[i].data.name.toUpperCase().includes(newV.toUpperCase())) {
                            if(this.search_country) {
                                if (this.all_players[i].data.country.toUpperCase().includes(this.search_country.toUpperCase())) {
                                    this.players.push(this.all_players[i])
                                }
                            } else {
                                this.players.push(this.all_players[i])
                            }
                        }
                    }
                }
            }
        },
        mounted(){
            this.getPlayers()
            // this.setPlayers()
        }
    }
</script>

<style scoped>
  .form-control {
    border-radius: 0.4rem;
    border: solid 1px #c0c0c0;
    background-color: white;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
  }
  .form-control:focus {
    border: solid 1px #c0c0c0;
    box-shadow: none;
  }
  .player-card{
    padding: 10px !important;
    border: 1px solid #e6e6e6;
  }
  .image-wrapper{
    overflow: hidden;
    width: 12rem;
    height: 14rem;
    border-radius: 4px;
  }
  .image{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 4px;
    border: 1px solid whitesmoke;
  }
</style>