<template>
  <div class="container-fluid top-header-mar-no-back">
    <div v-if="tournaments.length > 0">
      <div v-if="!editMode">
        <div class="row step-wrp">
          <div class="col-6">
            <div style="font-size: 2rem !important; margin: 0.5rem 0">How to create a tournament?</div>
            <ul>
              <li>1. Create Tournament from 'Create Tournament'</li>
              <li>2. Edit & Update Team Info</li>
              <li>3. Edit & Update Round Info</li>
              <li>4. Edit & Update Player Info (Price, missing attributes)</li>
              <li>5. 'Active Tournament'</li>
              <li>6. 'Open Transfer Window'</li>
            </ul>
          </div>
          <div style="background-color: rgba(0,0,0,0.5)" class="col-6">
            <div style="font-size: 2rem !important; margin: 0.5rem 0">Manage Tournament</div>
            <ul>
              <li>1. Close Transfer Window (After Deadline)</li>
              <li>2. Update Round to Next Round (After Deadline)</li>
              <li>3. Open Transfer Window</li>
              <li>4. Update Player Points (After Match or during) </li>
              <li>5. Update Users Points (After Match)</li>
              <li>6. Update Players Rank</li>
              <li>7. Update Users Rank</li>
            </ul>
          </div>
        </div>
        <div class="tournament" :key="index" v-for="(tournament, index) in tournaments">
          <div v-if="!EmptyObject(tournament)" class="row">
            <div class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-3">
              <div>Status: <span style="color: var(--success-state)">{{tournament.data.tr_active ? 'Active' : 'Inactive'}}</span></div>
              <div>ID: <span>{{tournament.data.id}}</span> </div>
              <div>Name: <span style="color: var(--primary-color-light)">{{tournament.data.name}}</span> </div>
              <div>Match Type: {{tournament.data.match_type}}</div>
              <div>Number of Teams: {{tournament.data.num_of_teams}}</div>
              <div>Total Rounds: {{tournament.data.tot_round}}</div>
              <div>Active Round: <span style=" padding: 0.1rem 0.5rem; border-radius: 5rem; background-color: var(--success-state); color: white; font-weight: bold; font-size: 1.4rem">{{tournament.data.act_round}}</span> </div>
              <div>Free Transfer: <span style="color: var(--third-color)">{{tournament.data.fr_trns}}</span> </div>
              <div>Transfer Window Open: <span style="color: var(--third-color)">{{tournament.data.transfer_open}}</span></div>
              <div style="text-align: left; margin-bottom: 0.5rem; color: var(--error-state)">
                <span style="font-size: 1.6rem; font-weight: bold">{{GET_DEADLINE(tournament.data.act_round, tournament.data.rounds).day}}d</span>
                <span style="margin: 0 1rem; font-size: 1.6rem; font-weight: bold">:</span>
                <span style="font-size: 1.6rem; font-weight: bold">{{GET_DEADLINE(tournament.data.act_round, tournament.data.rounds).hour}}h</span>
                <span style="margin: 0 1rem; font-size: 1.6rem; font-weight: bold">:</span>
                <span style="font-size: 1.6rem; font-weight: bold">{{GET_DEADLINE(tournament.data.act_round, tournament.data.rounds).minute}}m</span>
                <span style="margin: 0 1rem; font-size: 1.6rem; font-weight: bold">:</span>
                <span style="font-size: 1.6rem; font-weight: bold">{{GET_DEADLINE(tournament.data.act_round, tournament.data.rounds).seconds}}s</span>
              </div>
              <div>
                Maximum Player From A Team: <span style="color: var(--third-color)">{{tournament.data.rules.max_pf1tm}}</span>
                <v-icon v-if="!rule_change" @click="openRuleChange(tournament.data.rules.max_pf1tm)" style="margin-left: 1rem" size="14">mdi-square-edit-outline</v-icon>
                <div v-else>
                  <v-text-field
                    v-model="max_player_from_team"
                    label="Maximum Player"
                    append-icon="mdi-check-circle"
                    @click:append="updateRuleChange(tournament)"
                  >
                  </v-text-field>
                </div>
              </div>
            </div>
            <div v-bind:class="[{archive: tournament.data.archive}]" style="background-color: var(--third-color-dark)"
                 class="col-12 col-sm-7 col-md-8 col-lg-9 col-xl-9">
              <div style="text-align: center; font-weight: bold; color: white; font-size: 2rem">{{tournament.data.name}}</div>
              <div v-if="tournament.score_updated_on" style="text-align: center; font-weight: bold; color: white; font-size: 1.4rem">Score updated on: {{new Date(tournament.score_updated_on).toString().substring(0, 25)}}</div>
              <div v-if="tournament.data.user_score_updated_on" style="text-align: center; font-weight: bold; color: white; font-size: 1.4rem">Points updated on: {{new Date(tournament.data.user_score_updated_on).toString().substring(0, 25)}}</div>
              <div v-if="tournament.data.roundChangedOn" style="text-align: center; font-weight: bold; color: white; font-size: 1.4rem">Round Changed on: {{new Date(tournament.data.roundChangedOn).toString().substring(0, 25)}}</div>
              <div v-if="!tournament.data.archive" class="row">
                <div class="col-12 col-lg-6 col-xl-4" style="text-align: left">
                  <div style="margin: 1rem 0"><button style="width: 100%" class="btn btn-neutral-outline" @click="openTeamEdit(tournament)">TEAM</button></div>
                  <div style="margin: 1rem 0"><button style="width: 100%" class="btn btn-neutral-outline" @click="openRoundEdit(tournament)">ROUND</button></div>
                  <div style="margin: 1rem 0"><button style="width: 100%" class="btn btn-neutral-outline" @click="openPlayerEdit(tournament)">PLAYER</button></div>
                </div>
                <div v-if="tournament.pool" class="col-12 col-lg-6 col-xl-4" style="text-align: right">
                  <div v-if="parseInt(tournament.data.act_round) > 1" style="margin: 1rem 0"><button style="width: 100%" class="btn btn-second" @click="updateTotalPointsAllPlayer(tournament)">PLAYERS RANK</button></div>
                  <div v-if="parseInt(tournament.data.act_round) > 1" style="margin: 1rem 0"><button style="width: 100%" class="btn btn-neutral-action" @click="UpdateUserAndRank(tournament)">USER RANK</button></div>
                  <div v-if="parseInt(tournament.data.act_round) > 1" style="margin: 1rem 0"><button style="width: 100%" class="btn btn-first-light" @click="UpdateLeaguePointsAndRank(tournament)">LEAGUE RANK</button></div>
                  <div style="margin: 1rem 0"><button style="width: 100%" class="btn btn-success-color" @click="runStatistics(tournament)">RUN STATISTICS</button></div>
                  <!--<div style="margin: 1rem 0"><button style="width: 100%" class="btn btn-first-light" @click="UpdateRankOfAllUser(tournament)">USERS RANK</button></div>-->
                </div>
                <div v-if="tournament.pool" class="col-12 col-lg-12 col-xl-4" style="text-align: center">
                  <div v-if="!updtrnds" class="row justify-content-center" style="margin: 1rem 0 !important;">
                    <button style="width: 100%" class="btn btn-neutral-outline" @click="updtrnds = true; openRoundChange(tournament)">CHANGE ACTIVE ROUND</button>
                  </div>
                  <div v-else class="row">
                    <v-select
                      dense
                      class="col-6"
                      :items="rounds"
                      item-text="key"
                      return-object
                      v-model="activeRound"
                      label="Active Round"
                      solo
                    ></v-select>
                    <div class="col-6 pt-1">
                      <button style="margin-right: 1rem" class="btn btn-neutral-outline" @click="updateRounds">Update</button>
                      <button class="btn btn-error-color" @click="updtrnds = false">Cancel</button>
                    </div>
                  </div>
                  <div v-if="!updtpnts" class="row justify-content-center" style="margin: 1rem 0 !important;">
                    <button style="width: 100%" class="btn btn-neutral-outline" @click="updtpnts = true ; openRoundChange(tournament)">UPDATE POINTS BY ROUND (USER)</button>
                  </div>
                  <div v-else class="row">
                    <v-select
                      class="col-12 p-1"
                      solo
                      dense
                      label="Choose Round"
                      v-model="selected_round"
                      :items="rounds"
                      item-text="key"
                      item-value="key"
                    >
                    </v-select>
                    <div class="col-6 p-1 text-left">
                      <button class="btn btn-neutral-outline" style="margin-right: 1rem" @click="updateSubstitutePointForAllUsers">Make Subs</button>
                    </div>
                    <div class="col-6 p-1 text-right">
                      <button class="btn btn-neutral-outline" style="margin-right: 1rem" @click="updateRoundPointForAllUsers">Update</button>
                      <button class="btn btn-error-color" @click="updtpnts = false">Cancel</button>
                    </div>
                  </div>
                  <div style="margin: 1rem 0"><button style="width: 100%" class="btn btn-neutral-outline" @click="openScoreCardEdit(tournament)">SCORE CARD UPDATE</button></div>
                </div>
              </div>
              <div style="margin: 1rem 0; padding: 1.5rem; text-align: right">
<!--                <button style="margin-bottom: 1rem; margin-right: 1rem" class="btn btn-second"-->
<!--                        @click="updateHallOfFamePoints(tournament)">-->
<!--                  Update Users Star Count-->
<!--                </button>-->
                <button style="margin-bottom: 1rem; margin-right: 1rem" class="btn btn-fourth"
                        @click="gotoHeadToHead(tournament)">
                  Head to Head League
                </button>
                <button style="margin-bottom: 1rem; margin-right: 1rem" class="btn btn-fourth"
                        @click="openRoundWisePoint(tournament)">
                  Round wise User Information
                </button>
                <button style="margin-bottom: 1rem; margin-right: 1rem" class="btn btn-fourth"
                        @click="gotoUserManagement(tournament)">
                  See Users Information
                </button>
                <button v-if="parseInt(tournament.data.act_round) === parseInt(tournament.data.tot_round)" style="margin-bottom: 1rem; margin-right: 1rem" class="btn btn-fourth"
                        @click="archiveTournament(tournament)">
                  {{tournament.data.archive ? 'Un-Archive' : 'Archive'}}
                </button>
                <button v-if="!tournament.data.archive" style="margin-bottom: 1rem" v-bind:class="[{btnSuccessColor: tournament.data.transfer_open}]" class="btn btn-fourth" @click="updateTransferWindow(tournament)">
                  {{tournament.data.transfer_open ? 'CLOSE TRANSFER WINDOW' : 'OPEN TRANSFER WINDOW'}}</button>
                <button style="margin-left: 1rem; margin-bottom: 1rem" v-bind:class="[{btnSuccessColor: tournament.data.tr_active}]" @click="changeActivationStatus(tournament)" class="btn btn-fourth"> {{tournament.data.tr_active ? 'DEACTIVATE' : 'ACTIVATE'}} TOURNAMENT</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <v-toolbar absolute flat style="top: 6rem; width: 100%; background-color: var(--primary-color); height: 6rem" dark >
          <v-icon @click="resetEdits" style="font-size: 2rem">mdi-arrow-left</v-icon>
          <v-spacer></v-spacer>
          <div v-if="editPlayer" class="col-6">
            <v-select
              v-model="sortByTeam"
              :items=teams
              item-text="name"
              item-value="id"
              clearable
              @change="sortPoolByID"
            >
            </v-select>
          </div>
        </v-toolbar>
        <div style="margin-top: 6rem !important;" :key="changePool" v-if="editPlayer">
          <div :key="index" v-for="(player, index) in dummy_pool">
            <player-card
              v-bind:tournament="editableTournament"
              v-bind:playerItem="player"
              v-on:update-price="updatePrice"
              v-on:update-player-info="updatePlayerInfo"
              v-on:update-round="updateRoundPointForOnePlayer"
            ></player-card>
          </div>
        </div>
        <div style="margin-top: 6rem !important;" v-if="editTeam">
          <div :key="index" v-for="(team, index) in teams">
            <team-card
              v-bind:teamItem="team"
              v-bind:pool="players"
              v-bind:all_players="pool"
              v-on:update-team-info="updateTeamInfo"
              v-on:update-pool-info="updatePool"
            ></team-card>
          </div>
        </div>
        <div style="margin-top: 6rem !important;" v-if="editRounds">
          <div :key="index" v-for="(round, index) in rounds">
            <round-card
              v-bind:roundItem="round"
              v-bind:teams="teams"
              v-bind:pool="pool"
              v-bind:currentRound="editableTournament.data.act_round"
              v-bind:totalRound="parseInt(editableTournament.data.tot_round)"
              v-on:update-round-information="updateRoundInformation"
              v-on:update-match-information="updateMatchInformation"
              v-on:push-to-scorer="pushMatchToScorer"
              v-on:hide-match-scorer="hideMatchToScorer"
            ></round-card>
          </div>
        </div>
        <div style="margin-top: 6rem !important;" v-if="editMatchPoints">
          <score-card
            v-bind:tournament_key="editableTournament.data.id"
            v-bind:match_type="editableTournament.data.match_type"
            v-bind:pool="pool"
            v-bind:teams="teams"
            v-on:update-stats-in-pool="updateStatistics"
          ></score-card>
        </div>
        <div v-if="round_wise_points">
          <points-round-wise
            v-bind:tournament="editableTournament"
          ></points-round-wise>
        </div>
      </div>
      <v-snackbar
        :color="snackColor"
        :timeout="300"
        v-model="snackbar"
        centered
        top
      >
        {{snackbarMessage}}
      </v-snackbar>
    </div>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import PlayerCard from "./player-card";
    import TeamCard from "./team-card";
    import RoundCard from "./round-card";
    import ScoreCard from "./scorecard";
    import PointsRoundWise from "./points-round-wise"
    import {getDeadLineByCurrentRound, IsEmptyObject} from "../../filter";
    export default {
        name: "manage-tournaments",
        components: {
            PlayerCard,
            TeamCard,
            RoundCard,
            ScoreCard,
            PointsRoundWise
        },
        data: function(){
          return {
              snackbar: false,
              snackbarMessage: '',
              snackColor: '#3d4279',
              GET_DEADLINE: getDeadLineByCurrentRound,
              editMode: false,
              updtrnds: false,
              updtpnts: false,
              deadline: new Date().toISOString().substr(0, 10),
              date: new Date().toISOString().substr(0, 10),
              modal: false,
              time: null,
              modal2: false,
              tournaments: [],
              editableTournament: {},
              pool: [],
              editPrice: false,
              users: {},
              selected_round: "",
              activeRound: "",
              freeTransfer: "",
              rounds: [],
              teams: [],
              players: [],
              headers: [
                  {
                      text: 'Key',
                      align: 'start',
                      sortable: false,
                      value: 'key',
                  },
                  { text: 'Name', value: 'name' },
              ],
              sortByTeam: '',
              dummy_pool: [],
              changePool: 0,
              editRounds: false,
              editPlayer: false,
              editTeam: false,
              editMatchPoints: false,
              rule_change: false,
              max_player_from_team: 0,
              EmptyObject: IsEmptyObject,
              round_wise_points: false,
              round_users: {}
          }
        },
        methods: {
            openRuleChange(max_p){
                const self = this;
                self.max_player_from_team = max_p;
                self.rule_change = true;
            },
            updateHallOfFamePoints(tournament){
              let users = tournament.data.users;
              let database = firebase.database();
              for (let key in users) {
                if(users[key].rank <= 200) {
                  let id = tournament.data.id
                  let newStar = 0;
                  if(users[key].rank === 1) {
                    newStar = 0
                  } else if(users[key].rank === 2){
                    newStar = 0
                  } else if(users[key].rank === 3){
                    newStar = 0
                  } else if(users[key].rank > 3 && users[key].rank <= 10){
                    newStar = 0
                  } else if(users[key].rank > 10 && users[key].rank <= 20){
                    newStar = 0
                  } else if(users[key].rank > 20 && users[key].rank <= 50){
                    newStar = 0
                  } else if(users[key].rank > 50 && users[key].rank <= 100){
                    newStar = 0
                  } else {
                    newStar = 0
                  }
                  database.ref('users-role/' + key + '/stars/' + id).update({
                    count : newStar
                  }).then(function () {}).catch(function () {})
                }
              }
              // window.location.reload()
            },
            UpdateUserAndRank(tournament){
                const self = this;
                let round_key = 'r';
                if(tournament.data.act_round === 1 || (tournament.data.act_round === parseInt(tournament.data.tot_round) && !tournament.data.transfer_open) ){
                  round_key = 'r'+ tournament.data.act_round;
                } else {
                  let x = tournament.data.act_round - 1;
                  round_key = 'r'+ x;
                }
                let database = firebase.database();
                database.ref('tournaments/' + tournament.data.id + '/data').update({
                  updated_info: {
                    updated_on: new Date().toISOString(),
                    round_key: round_key
                  }}).then(function () {
                  self.snackbar = true;
                  self.snackbarMessage = 'Updated';
                  self.snackColor = 'success';
                }).catch(function () {
                  self.snackbar = true;
                  self.snackbarMessage = 'Something went wrong';
                  self.snackColor = 'error';
                })
            },
            updateRuleChange(tournament){
                const self = this;
                let database = firebase.database();
                database.ref('tournaments/' + tournament.data.id + '/data/rules').update({
                    max_pf1tm: parseInt(self.max_player_from_team),
                }).then(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Archived';
                    self.snackColor = 'success';
                    self.rule_change = false;
                }).catch(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Something went wrong';
                    self.snackColor = 'error';
                    self.rule_change = false;
                })
            },
            gotoUserManagement(tournament){
                const self = this;
                self.$router.push({name: "manage-users-tournament",
                    query: {
                        q: tournament.data.id,
                        type: 'tournament',
                    }
                }).catch()
            },
            gotoHeadToHead(tournament){
                const self = this;
                self.$router.push({name: "manage-head-to-head",
                    query: {
                        q: tournament.data.id,
                        type: 'tournaments',
                    }
                }).catch()
            },
            resetEdits(){
              const self = this;
              self.editMode = false;
              self.editPlayer = false;
              self.editTeam = false;
              self.editRounds = false;
              self.editMatchPoints = false;
              self.round_wise_points = false;
            },
            sortPoolByID(){
                let i;
                const self = this;
                if(self.sortByTeam){
                    self.dummy_pool = [];
                    for (i = 0; i < self.pool.length; i++) {
                        if(self.sortByTeam === self.pool[i].team_id) {
                            self.dummy_pool.push(self.pool[i])
                        }
                    }
                } else {
                    self.dummy_pool = self.pool;
                }
                self.changePool++;
            },
            openEditMode(tournament){
                const self = this;
                self.resetEdits()
                self.editableTournament = tournament;
                self.pool = self.editableTournament.pool;
                self.dummy_pool = self.editableTournament.pool;
                self.users = self.editableTournament.users;
                self.rounds = self.editableTournament.data.rounds;
                self.teams = self.editableTournament.data.teams;
                self.editMode = true;
            },
            openRoundWisePoint(tournament){
                const self = this;
                self.openEditMode(tournament)
                self.round_wise_points = true;
            },
            openPlayerEdit(tournament){
                const self = this;
                self.openEditMode(tournament);
                self.editPlayer = true;
            },
            openTeamEdit(tournament){
                const self = this;
                self.openEditMode(tournament);
                self.editTeam = true;
            },
            openRoundEdit(tournament){
                const self = this;
                self.openEditMode(tournament);
                self.editRounds = true;
            },
            openScoreCardEdit(tournament){
                const self = this;
                self.openEditMode(tournament);
                self.editMatchPoints = true;
            },
            openRoundChange(tournament){
                const self = this;
                self.editableTournament = tournament;
                self.pool = self.editableTournament.pool;
                self.users = self.editableTournament.users;
                self.rounds = []
                let rounds = self.editableTournament.data.rounds;
                let current = parseInt(self.editableTournament.data.act_round) - 1;
                for(let i = 0; i < rounds.length; i++){
                  if(parseInt(rounds[i].key.substring(1)) >= current){
                    self.rounds.push(rounds[i])
                  }
                }
            },
            getTournaments(){
                let database = firebase.database();
                const self = this;
                database.ref('tournaments').on('value', function(snapshot) {
                    let returnArr = [];
                    snapshot.forEach(function(childSnapshot) {
                        returnArr.push(childSnapshot.val());
                        // Fill the local data property with Firebase data
                    });
                    self.tournaments = returnArr;
                });
            },
            getPlayers() {
                const self = this;
                let database = firebase.database();
                database.ref('players/BAN').on('value', function(snapshot) {
                    let returnArr = [];
                    snapshot.forEach(function(childSnapshot) {
                        let object = {
                            key: childSnapshot.val().upid.toString(),
                            pid: childSnapshot.val().pid,
                            country: childSnapshot.val().country || '',
                            imageURL: childSnapshot.val().imageURL || '',
                            playingRole: childSnapshot.val().playingRole || '',
                            name: childSnapshot.val().fullName,
                            first: childSnapshot.val().firstName,
                            last: childSnapshot.val().lastName,
                            price: 10,
                        };
                        returnArr.push(object);
                    });
                    self.players = returnArr;
                });
            },

            getItemByKey(key){
                const self = this;
                let database = firebase.database();
                let notFound = false
                return new Promise((resolve, reject) => {
                    database.ref('tournaments/' + self.editableTournament.data.id + '/pool').once('value', function(snapshot) {
                        snapshot.forEach(function(childSnapshot) {
                            if(childSnapshot.val().key === key) {
                                notFound = true;
                                resolve(childSnapshot);
                            }
                        });
                    });
                    if(notFound) {
                        reject({
                            error: true,
                            message: "No item found"
                        })
                    }
                });
            },

            archiveTournament(tournament){
                const self = this;
                let new_transfer_action = !tournament.data.archive;
                let database = firebase.database();
                database.ref('tournaments/' + tournament.data.id + '/data').update({
                    archive: new_transfer_action,
                }).then(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Archived';
                    self.snackColor = 'success';
                }).catch(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Something went wrong';
                    self.snackColor = 'error';
                })
            },
            updateTransferWindow(tournament){
              let new_transfer_action = !tournament.data.transfer_open;
              let database = firebase.database();
              database.ref('tournaments/' + tournament.data.id + '/data').update({
                  transfer_open: new_transfer_action,
              }).then(function () {
                  self.snackbar = true;
                  self.snackbarMessage = 'Transfer window changed';
                  self.snackColor = 'success';
              }).catch(function () {
                  self.snackbar = true;
                  self.snackbarMessage = 'Not Updated';
                  self.snackColor = 'error';
              })
            },

            // activate-deactivate

            changeActivationStatus(tournament){
                let new_transfer_action = !tournament.data.tr_active;
                let database = firebase.database();
                database.ref('tournaments/' + tournament.data.id + '/data').update({
                    tr_active: new_transfer_action,
                }).then(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Activation Status Changed';
                    self.snackColor = 'success';
                }).catch(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Not Updated';
                    self.snackColor = 'error';
                })
            },


            // Update Team Image

            updateTeamInfo(id, newInfo){
                const self = this;
                let database = firebase.database();
                database.ref('tournaments/' + self.editableTournament.data.id + '/data/teams').once('value', function(snapshot) {
                    snapshot.forEach(function(childSnapshot) {
                        if(childSnapshot.val().id === id) {
                            database.ref('tournaments/' + self.editableTournament.data.id + '/data/teams/' + childSnapshot.key).update(newInfo)
                            .then(function () {
                                self.snackbar = true;
                                self.snackbarMessage = 'Team Information Updated';
                                self.snackColor = 'success';
                            }).catch(function () {
                                self.snackbar = true;
                                self.snackbarMessage = 'Not Updated';
                                self.snackColor = 'error';
                            })
                        }
                    });
                })
            },

            updatePool(newPlayers, t_id, t_name){
                const self = this;
                let database = firebase.database();
                let pool = [];
                if(self.editableTournament.pool) {
                    pool = self.editableTournament.pool;
                }
                newPlayers.forEach(function (player) {
                    let result = player;
                    let i;
                    result.rounds = [];
                    for(i= 1; i <= parseInt(self.editableTournament.data.tot_round); i++) {
                        result.rounds.push({
                            key: 'r'+i,
                            points: 0
                        })
                    }
                    result.total_points = 0;
                    result.team = t_name;
                    result.team_id = t_id;
                    result.available = true;
                    pool.push(result)
                });
                database.ref('tournaments/' + self.editableTournament.data.id).update({
                    pool: pool
                }).then(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Team Information Updated';
                    self.snackColor = 'success';
                }).catch(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Not Updated';
                    self.snackColor = 'success';
                })
            },
            // Round Information Update Individual

            updateRoundInformation(key, newRound){
                const self = this;
                let database = firebase.database();
                database.ref('tournaments/' + self.editableTournament.data.id + '/data/rounds').once('value', function(snapshot) {
                    snapshot.forEach(function(childSnapshot) {
                        if(childSnapshot.val().key === key) {
                            database.ref('tournaments/' + self.editableTournament.data.id + '/data/rounds/' + childSnapshot.key).update(newRound).then(function () {
                                self.snackbar = true;
                                self.snackbarMessage = 'Team Information Updated';
                                self.snackColor = 'success';
                            }).catch(function () {
                                self.snackbar = true;
                                self.snackbarMessage = 'Not Updated';
                                self.snackColor = 'error';
                            })
                        }
                    });
                })
            },

            updateMatchInformation(key, match_xi){
                const self = this;
                let database = firebase.database();
                database.ref('tournaments/' + self.editableTournament.data.id + '/data/rounds').once('value', function(snapshot) {
                    snapshot.forEach(function(childSnapshot) {
                        if(childSnapshot.val().key === key) {
                            let newRound = {
                                deadlineDate: childSnapshot.val().deadlineDate,
                                deadlineTime: childSnapshot.val().deadlineTime,
                                fr_trns: childSnapshot.val().fr_trns,
                                key: childSnapshot.val().key,
                                total_matches: childSnapshot.val().total_matches

                            };
                            let matches = childSnapshot.val().matches;
                            for(let i=0; i < matches.length; i++) {
                                if(matches[i].match_id === match_xi.match_id) {
                                    matches[i].tm_1_xi = match_xi.tm_1_xi;
                                    matches[i].tm_2_xi = match_xi.tm_2_xi;
                                    matches[i].bat_first = match_xi.bat_first;
                                    matches[i].match_type = self.editableTournament.data.match_type;
                                    matches[i].squad_locked = true;
                                    break;
                                }
                            }
                            newRound.matches = matches;
                            database.ref('tournaments/' + self.editableTournament.data.id + '/data/rounds/' + childSnapshot.key).update(newRound).then(function () {
                                self.snackbar = true;
                                self.snackbarMessage = 'Team Information Updated';
                                self.snackColor = 'success';
                            }).catch(function () {
                                self.snackbar = true;
                                self.snackbarMessage = 'Not Updated';
                                self.snackColor = 'error';
                            })
                        }
                    });
                })
            },
            pushMatchToScorer(key, match){
                const self = this;
                let database = firebase.database();
                database.ref('scorer/tournaments/' + self.editableTournament.data.id + '/rounds/' + key + '/match/' + match.match_id).update(match).then(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Match is ready to get scored';
                    self.snackColor = 'success';
                }).catch(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Not Updated';
                    self.snackColor = 'error';
                })
            },

            hideMatchToScorer(key, match){
                const self = this;
                let database = firebase.database();
                database.ref('scorer/tournaments/' + self.editableTournament.data.id + '/rounds/' + key + '/match/' + match.match_id).update({
                    scoring_done: true
                }).then(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Match is ready to get scored';
                    self.snackColor = 'success';
                }).catch(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Not Updated';
                    self.snackColor = 'error';
                })
            },

            // Updates Player Price
            updatePlayerInfo(key, newInfo){
                const self = this;
                let database = firebase.database();
                self.getItemByKey(key).then(function (response) {
                    database.ref('tournaments/' + self.editableTournament.data.id + '/pool/' + response.key).update(newInfo).then(function () {
                        if(newInfo.name) {
                            self.pool[response.key].name = newInfo.name;
                        }
                        if(newInfo.country) {
                            self.pool[response.key].country = newInfo.country;
                        }
                        if(newInfo.playingRole) {
                            self.pool[response.key].playingRole = newInfo.playingRole;
                        }
                        if(newInfo.imageURL) {
                            self.pool[response.key].imageURL = newInfo.imageURL;
                        }
                        self.pool[response.key].available = newInfo.available;
                        self.snackbar = true;
                        self.snackbarMessage = 'Information Updated';
                        self.snackColor = 'success';
                    })
                }).catch(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Not Updated';
                    self.snackColor = 'error';
                });
            },
            // Player Info (Image, Name Update)
            updatePrice(key, newPrice){
                const self = this;
                let database = firebase.database();
                self.getItemByKey(key).then(function (response) {
                    database.ref('tournaments/' + self.editableTournament.data.id + '/pool/' + response.key).update({
                        price: newPrice
                    }).then(function () {
                        self.pool[response.key].price = newPrice;
                        self.snackbar = true;
                        self.snackbarMessage = 'Information Updated';
                        self.snackColor = 'success';
                    })
                }).catch(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Not Updated';
                    self.snackColor = 'error';
                });
            },

            updateStatistics(key, round_key, stats, match_id){
                const self = this;
                let database = firebase.database();
                self.getItemByKey(key).then(function (response) {
                    database.ref('tournaments/' + self.editableTournament.data.id + '/pool/' + response.key + '/rounds').once('value', function(snapshot) {
                        snapshot.forEach(function(childSnapshot) {
                            if(childSnapshot.val().key === round_key) {
                                database.ref('tournaments/' + self.editableTournament.data.id + '/pool/' + response.key + '/rounds/' + childSnapshot.key + '/matches/' + match_id).update({
                                    stats: stats
                                }).then(function () {
                                    self.pool[response.key].rounds[childSnapshot.key].stats = stats;
                                    self.snackbar = true;
                                    self.snackbarMessage = 'Information Updated';
                                    self.snackColor = 'success';
                                })
                            }
                        });
                    });
                }).catch(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Not Updated';
                    self.snackColor = 'error';
                });
            },

            // Updates Round Points of a Player
            updateRoundPointForOnePlayer(key, round, newPoint, newBonus, played, matches){
                const self = this;
                let database = firebase.database();
                self.getItemByKey(key).then(function (response) {
                    database.ref('tournaments/' + self.editableTournament.data.id + '/pool/' + response.key + '/rounds').once('value', function(snapshot) {
                        snapshot.forEach(function(childSnapshot) {
                            if(childSnapshot.val().key === round.key) {
                                database.ref('tournaments/' + self.editableTournament.data.id + '/pool/' + response.key + '/rounds/' + childSnapshot.key).update({
                                    bonus: newBonus,
                                    points: newPoint,
                                    played: played,
                                    matches: matches
                                }).then(function () {
                                    self.pool[response.key].rounds[childSnapshot.key].points = newPoint;
                                    self.pool[response.key].rounds[childSnapshot.key].matches = matches;
                                    self.pool[response.key].rounds[childSnapshot.key].played = played;
                                    self.pool[response.key].rounds[childSnapshot.key].bonus = newBonus;
                                    self.snackbar = true;
                                    self.snackbarMessage = 'Information Updated';
                                    self.snackColor = 'success';
                                })
                            }
                        });
                    });
                }).catch(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Not Updated';
                    self.snackColor = 'error';
                });
            },
            // Updates Total Points of all Player
            updateTotalPointsAllPlayer(tournament){
                let database = firebase.database();
                database.ref('tournaments/' + tournament.data.id).once('value', function(snapshot) {
                    let objects = snapshot.val().pool;
                    for(let m = 0; m < objects.length; m++) {
                      let rounds = objects[m].rounds
                      let total = 0, n;
                      for(n = 0; n < rounds.length; n++) {
                        total+=parseInt(rounds[n].points)
                      }
                      objects[m].total_points = total;
                    }
                    let sortable = [];
                    let i;
                    for(i = 0; i < objects.length; i++){
                        sortable.push([objects[i].key, objects[i].total_points]);
                    }
                    sortable.sort((a, b) => (parseInt(a[1]) < parseInt(b[1]) ? 1 : -1));
                    let rank = 1;
                    let prev = sortable[0][1];
                    for (let i = 0; i < sortable.length; i++) {
                        for (let j = 0; j < objects.length; j++) {
                            if(objects[j].key === sortable[i][0]) {
                                if(parseInt(sortable[i][1]) < parseInt(prev)) {
                                    rank++
                                }
                                objects[j].rank = rank;
                                prev = sortable[i][1];
                                break;
                            }
                        }
                    }
                    database.ref('tournaments/' + tournament.data.id).update({
                        pool: objects
                    }).then(function () {
                        window.location.reload();
                        self.getTournaments();
                    });
                });
            },

            getPlayerRoundInfo(player){
                const self = this;
                let role = '';
                let played = 0;
                let points = 0;
                for (let j=0; j < self.pool.length; j++) {
                    if(self.pool[j].key === player) {
                        if(self.pool[j].playingRole && self.pool[j].playingRole.toUpperCase().includes('WICKET')) {
                            role = 'wk'
                        } else if(self.pool[j].playingRole && self.pool[j].playingRole.toUpperCase().includes('ALL')) {
                            role = 'al'
                        } else if(self.pool[j].playingRole && self.pool[j].playingRole.toUpperCase().includes('BOWLER')) {
                            role = 'bow'
                        } else {
                            role = 'bts'
                        }
                        let pRounds = self.pool[j].rounds;
                        for (let k = 0; k < pRounds.length; k++) {
                            if(pRounds[k].key === self.selected_round) {
                                played = pRounds[k].played;
                                points = pRounds[k].points;
                                break;
                            }
                        }
                        break;
                    }
                }
                return {
                    role: role,
                    played: played,
                    points: points,
                }
            },

            updateSubstitutePointForAllUsers(){
                const self = this;
                let database = firebase.database();
                let obj = self.users;
                for (let key in obj) {
                    if(obj[key].tm_crt){
                        let rounds = obj[key].rounds;
                        let i, uRound;
                        for(i = 0; i < rounds.length; i++) {
                            if(rounds[i].key === self.selected_round) {
                                uRound = rounds[i];
                                break;
                            }
                        }
                        if(uRound) {
                            let players = {
                                'bts': {
                                    in_eleven: [],
                                    in_eleven_count: 0,
                                    in_sub: [],
                                    in_sub_count: 0,
                                    min: 3
                                },
                                'al': {
                                    in_eleven: [],
                                    in_eleven_count: 0,
                                    in_sub: [],
                                    in_sub_count: 0,
                                    min: 1
                                },
                                'bow': {
                                    in_eleven: [],
                                    in_eleven_count: 0,
                                    in_sub: [],
                                    in_sub_count: 0,
                                    min: 3
                                }
                            };
                            let all_subs = uRound.in_sub_other;
                            let subs = [];
                            let subs_played = [];
                            for(let i=0; i < all_subs.length; i++) {
                                let info_sub = self.getPlayerRoundInfo(all_subs[i])
                                if(info_sub.played) {
                                    subs_played.push({
                                        id: all_subs[i],
                                        role: info_sub.role
                                    });
                                } else {
                                    subs.push(all_subs[i])
                                }
                            }
                            for(let i=0; i < uRound.in_eleven_bts.length; i++) {
                                let info_bts = self.getPlayerRoundInfo(uRound.in_eleven_bts[i])
                                if(info_bts.played) {
                                    players['bts'].in_eleven.push(uRound.in_eleven_bts[i])
                                    players['bts'].in_eleven_count++;
                                } else {
                                    players['bts'].in_sub.push(uRound.in_eleven_bts[i])
                                    players['bts'].in_sub_count++;
                                }
                            }
                            for(let i=0; i < uRound.in_eleven_al.length; i++) {
                                let info_al = self.getPlayerRoundInfo(uRound.in_eleven_al[i])
                                if(info_al.played) {
                                    players['al'].in_eleven.push(uRound.in_eleven_al[i])
                                    players['al'].in_eleven_count++;
                                } else {
                                    players['al'].in_sub.push(uRound.in_eleven_al[i])
                                    players['al'].in_sub_count++;
                                }
                            }
                            for(let i=0; i < uRound.in_eleven_bow.length; i++) {
                                let info_bow = self.getPlayerRoundInfo(uRound.in_eleven_bow[i])
                                if(info_bow.played) {
                                    players['bow'].in_eleven.push(uRound.in_eleven_bow[i])
                                    players['bow'].in_eleven_count++;
                                } else {
                                    players['bow'].in_sub.push(uRound.in_eleven_bow[i])
                                    players['bow'].in_sub_count++;
                                }
                            }
                            let splice_ind = [];
                            if(subs_played.length > 0) {
                                for(let i = 0; i < subs_played.length; i++) {
                                    if(players[subs_played[i].role].in_sub_count > 0) {
                                        subs.push(players[subs_played[i].role].in_sub[0])
                                        players[subs_played[i].role].in_sub.splice(0, 1)
                                        players[subs_played[i].role].in_sub_count--;
                                        players[subs_played[i].role].in_eleven.push(subs_played[i].id)
                                        players[subs_played[i].role].in_eleven_count++;
                                        splice_ind.push(subs_played[i].id)
                                    }
                                }
                            }
                            for(let i = 0; i < splice_ind.length; i++) {
                                for (let j = 0; j < subs_played.length; j++) {
                                    if(splice_ind[i] === subs_played[j].id) {
                                        subs_played.splice(j, 1)
                                        break;
                                    }
                                }
                            }
                            splice_ind = []
                            if(subs_played.length > 0) {
                                splice_ind = []
                                for(let i = 0; i < subs_played.length; i++) {
                                    switch (subs_played[i].role) {
                                        case 'bts':
                                            if(players['al'].in_sub_count > 0 && (parseInt(players['al'].in_sub_count) + parseInt(players['al'].in_eleven_count)) > parseInt(players['al'].min)) {
                                                subs.push(players['al'].in_sub[0])
                                                players['al'].in_sub.splice(0, 1)
                                                players['al'].in_sub_count--;
                                                players[subs_played[i].role].in_eleven.push(subs_played[i].id)
                                                players[subs_played[i].role].in_eleven_count++;
                                                splice_ind.push(subs_played[i].id)
                                            } else if(players['bow'].in_sub_count > 0 && (parseInt(players['bow'].in_sub_count) + parseInt(players['bow'].in_eleven_count)) > parseInt(players['bow'].min)) {
                                                subs.push(players['bow'].in_sub[0])
                                                players['bow'].in_sub.splice(0, 1)
                                                players['bow'].in_sub_count--;
                                                players[subs_played[i].role].in_eleven.push(subs_played[i].id)
                                                players[subs_played[i].role].in_eleven_count++;
                                                splice_ind.push(subs_played[i].id)
                                            }
                                            break;
                                        case 'al':
                                            if(players['bts'].in_sub_count > 0 && (parseInt(players['bts'].in_sub_count) + parseInt(players['bts'].in_eleven_count)) > parseInt(players['bts'].min)) {
                                                subs.push(players['bts'].in_sub[0])
                                                players['bts'].in_sub.splice(0, 1)
                                                players['bts'].in_sub_count--;
                                                players[subs_played[i].role].in_eleven.push(subs_played[i].id)
                                                players[subs_played[i].role].in_eleven_count++;
                                                splice_ind.push(subs_played[i].id)
                                            } else if(players['bow'].in_sub_count > 0 && (parseInt(players['bow'].in_sub_count) + parseInt(players['bow'].in_eleven_count)) > parseInt(players['bow'].min)) {
                                                subs.push(players['bow'].in_sub[0])
                                                players['bow'].in_sub.splice(0, 1)
                                                players['bow'].in_sub_count--;
                                                players[subs_played[i].role].in_eleven.push(subs_played[i].id)
                                                players[subs_played[i].role].in_eleven_count++;
                                                splice_ind.push(subs_played[i].id)
                                            }
                                            break;
                                        case 'bow':
                                            if(players['al'].in_sub_count > 0 && (parseInt(players['al'].in_sub_count) + parseInt(players['al'].in_eleven_count)) > parseInt(players['al'].min)) {
                                                subs.push(players['al'].in_sub[0])
                                                players['al'].in_sub.splice(0, 1)
                                                players['al'].in_sub_count--;
                                                players[subs_played[i].role].in_eleven.push(subs_played[i].id)
                                                players[subs_played[i].role].in_eleven_count++;
                                                splice_ind.push(subs_played[i].id)
                                            } else if(players['bts'].in_sub_count > 0 && (parseInt(players['bts'].in_sub_count) + parseInt(players['bts'].in_eleven_count)) > parseInt(players['bts'].min)) {
                                                subs.push(players['bts'].in_sub[0])
                                                players['bts'].in_sub.splice(0, 1)
                                                players['bts'].in_sub_count--;
                                                players[subs_played[i].role].in_eleven.push(subs_played[i].id)
                                                players[subs_played[i].role].in_eleven_count++;
                                                splice_ind.push(subs_played[i].id)
                                            }
                                            break;
                                    }
                                }
                            }
                            for(let i = 0; i < splice_ind.length; i++) {
                                for (let j = 0; j < subs_played.length; j++) {
                                    if(splice_ind[i] === subs_played[j].id) {
                                        subs_played.splice(j, 1)
                                        break;
                                    }
                                }
                            }
                            for( let i = 0; i < subs_played.length; i++) {
                                subs.push(subs_played[i].id)
                            }
                            let wk = [],
                                wk_sub = [];
                            let swap = false;
                            if(!self.getPlayerRoundInfo(uRound.in_eleven_wk[0]).played) {
                                if(self.getPlayerRoundInfo(uRound.in_sub_wk[0]).played) {
                                    swap = true
                                }
                            }
                            if(swap) {
                                wk.push(uRound.in_sub_wk[0]);
                                wk_sub.push(uRound.in_eleven_wk[0]);
                            } else {
                                wk.push(uRound.in_eleven_wk[0]);
                                wk_sub.push(uRound.in_sub_wk[0]);
                            }
                            let in_eleven_bts = players['bts'].in_sub.length > 0 ? players['bts'].in_eleven.concat(players['bts'].in_sub) : players['bts'].in_eleven;
                            let in_eleven_al = players['al'].in_sub.length > 0 ? players['al'].in_eleven.concat(players['al'].in_sub) : players['al'].in_eleven;
                            let in_eleven_bow = players['bow'].in_sub.length > 0 ? players['bow'].in_eleven.concat(players['bow'].in_sub) : players['bow'].in_eleven;
                            database.ref('tournaments/' + self.editableTournament.data.id + '/users/' + key + '/rounds').once('value', function(snapshot) {
                                snapshot.forEach(function(childSnapshot) {
                                    if(childSnapshot.val().key === self.selected_round) {
                                        database.ref('tournaments/' + self.editableTournament.data.id + '/users/' + key + '/rounds/' + childSnapshot.key).update({
                                            in_eleven_bts: in_eleven_bts,
                                            in_eleven_al: in_eleven_al,
                                            in_eleven_bow: in_eleven_bow,
                                            in_eleven_wk: wk,
                                            in_sub_wk: wk_sub,
                                            in_sub_other: subs,
                                        }).then(function () {
                                        });
                                    }
                                });
                            });
                        }
                    }
                }
                database.ref('tournaments/' + self.editableTournament.data.id + '/data/rounds').once('value', function(snapshot) {
                    snapshot.forEach(function(childSnapshot) {
                        if(childSnapshot.val().key === self.selected_round) {
                            database.ref('tournaments/' + self.editableTournament.data.id + '/data/rounds/' + childSnapshot.key).update({
                                status: 'Completed'
                            }).then(function () {
                                self.snackbar = true;
                                self.snackbarMessage = 'Information Updated';
                                self.snackColor = 'success';
                                window.location.reload();
                            });
                        }
                    });
                });
            },
            // Updates A Round Point of all User
            updateRoundPointForAllUsers(){
                const self = this;
                let database = firebase.database();
                let obj = self.users;
                let max = 0;
                let min = 0;
                let count = 0;
                let all_total = 0;
                let min_id = '';
                let max_id = '';
                for (let key in obj) {
                    let totalPoints = 0;
                    if(obj[key].tm_crt){
                        count++;
                        let rounds = obj[key].rounds;
                        let i, uRound, uPlayers;
                        for(i = 0; i < rounds.length; i++) {
                            if(rounds[i].key === self.selected_round) {
                                uRound = rounds[i];
                                break;
                            }
                        }
                        if(uRound) {
                            let deduct = uRound.deduct_points ? parseInt(uRound.deduct_points) : 0
                            let players = uRound.in_eleven_wk;
                            players = players.concat(uRound.in_eleven_bts)
                            players = players.concat(uRound.in_eleven_al)
                            players = players.concat(uRound.in_eleven_bow)
                            uPlayers = players;
                            for(let i=0; i < uPlayers.length; i++) {
                                let info = self.getPlayerRoundInfo(uPlayers[i])
                                if(info.played) {
                                    if(uPlayers[i] === uRound.cap) {
                                        totalPoints = totalPoints + parseFloat(info.points * 2);
                                    } else if(uPlayers[i] === uRound.vc){
                                        totalPoints = totalPoints + parseFloat(info.points * 1.5);
                                    } else {
                                        totalPoints = totalPoints + info.points;
                                    }
                                }
                            }
                            totalPoints = totalPoints - deduct;
                        }
                        all_total = parseFloat(all_total + totalPoints);
                        if(totalPoints >= max) {
                            max = totalPoints;
                            max_id = key;

                        }
                        if(count === 1) {
                            min = totalPoints
                            min_id = key;
                        } else if(totalPoints < min){
                            min = totalPoints;
                            min_id = key;
                        }
                    }
                    database.ref('tournaments/' + self.editableTournament.data.id + '/data/users/' + key + '/rounds/' + self.selected_round)
                        .set(totalPoints)
                        .then(function () {
                        }).catch((err)=> {
                        // eslint-disable-next-line
                            console.log(err)
                        })
                }
                if(count > 0) {
                    let avg = parseFloat(parseFloat(all_total/count).toFixed())
                    database.ref('tournaments/' + self.editableTournament.data.id + '/data/rounds').once('value', function(snapshot) {
                        snapshot.forEach(function(childSnapshot) {
                            if(childSnapshot.val().key === self.selected_round) {
                                database.ref('tournaments/' + self.editableTournament.data.id + '/data/rounds/' + childSnapshot.key).update({
                                    points_added: true,
                                    min_points: min,
                                    max_points: max,
                                    average: avg,
                                    min_id: min_id,
                                    max_id: max_id
                                }).then(function () {
                                    self.snackbar = true;
                                    self.snackbarMessage = 'Information Updated';
                                    self.snackColor = 'success';
                                });
                            }
                        });
                        self.UpdateRankOfAllUser(self.editableTournament)
                    });
                }
            },
            // Update Total Points And Rank of a User

            // UpdateTotalPointsofAllUser(tournament){
            //     const self = this;
            //     let database = firebase.database();
            //     database.ref('tournaments/' + tournament.data.id + '/data/users').once('value', function(snapshot) {
            //         snapshot.forEach(function(childSnapshot) {
            //             let array = childSnapshot.val();
            //             let uKey = childSnapshot.key;
            //             let total = 0;
            //             for (let key in array.rounds) {
            //                 total = total + array.rounds[key]
            //             }
            //             database.ref('tournaments/' + tournament.data.id + '/data/users/' + uKey).update({
            //                 total_points: total
            //             }).then(function () {
            //                 window.location.reload();
            //                 console.log("points updated");
            //                 self.getTournaments();
            //             });
            //         });
            //     });
            // },

            UpdateRankOfAllUser(tournament){
                let database = firebase.database();
                database.ref('tournaments/' + tournament.data.id + '/data').once('value', function(snapshot) {
                    let objects = snapshot.val().users;
                    for (let u_key in objects) {
                        let total = 0;
                        let array = objects[u_key];
                        for (let r_key in array.rounds) {
                            total = total + array.rounds[r_key]
                        }
                        objects[u_key].total_points = total
                    }
                    let sortable = [];
                    for (let key in objects) {
                        sortable.push([key, objects[key].total_points]);
                    }
                    sortable.sort((a, b) => (parseFloat(a[1]) < parseFloat(b[1]) ? 1 : -1));
                    let rank = 1;
                    let prev = sortable[0][1];
                    for (let i = 0; i < sortable.length; i++) {
                        for (let key in objects) {
                            if(key === sortable[i][0]) {
                                if(parseFloat(sortable[i][1]) < parseFloat(prev)) {
                                    rank++
                                }
                                objects[key].prev_rank = objects[key].rank ? objects[key].rank : 0;
                                objects[key].rank = rank;
                                prev = sortable[i][1];
                                break;
                            }
                        }
                    }
                    database.ref('tournaments/' + tournament.data.id + '/data').update({
                        users: objects
                    }).then(function () {
                        self.snackbar = true;
                        self.snackbarMessage = 'Information Updated';
                        self.snackColor = 'success';
                        window.location.reload()
                    }).catch(function () {
                        self.snackbar = true;
                        self.snackbarMessage = 'Not Updated';
                        self.snackColor = 'error';
                    });
                });
            },

            // Updates Round and Go to next Round, Closes the Selection Process
            updateRounds(){
                const self = this;
                let database = firebase.database();
                database.ref('tournaments/' + self.editableTournament.data.id + '/data/round_updated_info/').update({
                  key: self.activeRound.key,
                  fr_trns: self.activeRound.fr_trns
                }).then(function () {
                  self.snackbar = true;
                  self.snackbarMessage = 'Information Updated';
                  self.snackColor = 'success';
                  window.location.reload();
                }).catch(function () {
                  self.snackbar = true;
                  self.snackbarMessage = 'Not Updated';
                  self.snackColor = 'error';
                })
            },
            UpdateLeaguePointsAndRank(tournament){
                let database = firebase.database();
                database.ref('tournaments/' + tournament.data.id).once('value', function(snapshot) {
                    let leagues = snapshot.val().leagues;
                    let users = snapshot.val().data.users;
                    let active_round = parseInt(snapshot.val().data.act_round)
                    let total_round = parseInt(snapshot.val().data.tot_round)
                    for (let key in leagues) {
                        let league = leagues[key]
                        let participants = league.participants
                        for (let p_key in participants) {
                            let total_points = 0;
                            let user_key = participants[p_key].user_key;
                            let rounds = users[user_key].rounds
                            let round_joined = parseInt(participants[p_key].round_joined)
                            for (let i = active_round; i > round_joined; i--) {
                                if(rounds['r'+ parseInt(i - 1)]) total_points = total_points + parseFloat(rounds['r'+ parseInt(i - 1)])
                            }
                            if(active_round === total_round && rounds['r'+ active_round]) {
                                if(rounds['r'+ active_round]) total_points = total_points + parseFloat(rounds['r'+ active_round])
                            }
                            participants[p_key].total_points = total_points
                        }
                        let sortable = [];
                        for (let key in participants) {
                            sortable.push([key, participants[key].total_points]);
                        }
                        if(sortable.length > 0){
                            sortable.sort((a, b) => (parseFloat(a[1]) < parseFloat(b[1]) ? 1 : -1));
                            let rank = 1;
                            let prev = sortable[0][1];
                            for (let i = 0; i < sortable.length; i++) {
                                for (let key in participants) {
                                    if(key === sortable[i][0]) {
                                        if(parseFloat(sortable[i][1]) < parseFloat(prev)) {
                                            rank++
                                        }
                                        participants[key].prev_rank = participants[key].rank;
                                        participants[key].rank = rank;
                                        prev = sortable[i][1];
                                        break;
                                    }
                                }
                            }
                            leagues[key].participants = participants;
                        }
                    }
                    database.ref('tournaments/' + tournament.data.id).update({
                        leagues: leagues
                    }).then(function () {
                        window.location.reload()
                    });
                });
            },
            runStatistics(tournament){
                let players = {};
                let user_length = 0;
                let users = tournament.users;
                let act_round = tournament.data.act_round;
                for (let key in users) {
                    let rounds = users[key].rounds;
                    if(rounds && users[key].tm_crt){
                        for (let i = 0 ; i < rounds.length; i++) {
                            if(parseInt(rounds[i].key.substring(1)) === parseInt(act_round)) {
                                user_length++;
                                let user_players = rounds[i].in_eleven_wk;
                                user_players = user_players.concat(rounds[i].in_eleven_bts)
                                user_players = user_players.concat(rounds[i].in_eleven_al)
                                user_players = user_players.concat(rounds[i].in_eleven_bow)
                                user_players = user_players.concat(rounds[i].in_sub_wk)
                                user_players = user_players.concat(rounds[i].in_sub_other)
                                for (let p = 0; p < user_players.length; p++) {
                                    if(players[user_players[p]]) {
                                        players[user_players[p]].count = parseInt(players[user_players[p]].count) + 1;
                                    } else {
                                        players[user_players[p]] = {
                                            count: 1
                                        };
                                    }
                                }
                                if(players[rounds[i].cap].cap) {
                                    players[rounds[i].cap].cap = parseInt(players[rounds[i].cap].cap) + 1;
                                } else {
                                    players[rounds[i].cap].cap = 1;
                                }
                            }
                        }
                    }
                }
                let pool = tournament.pool;
                for (let x = 0 ; x < pool.length; x++) {
                    let selected_by = 0;
                    let cap_by = 0;
                    if(players[pool[x].key]){
                        selected_by = parseFloat((players[pool[x].key].count / user_length) * 100);
                        cap_by = players[pool[x].key].cap ? parseFloat((players[pool[x].key].cap / user_length) * 100) : 0;
                    }
                    pool[x].selected_by =  selected_by.toPrecision(2);
                    pool[x].cap_by =  cap_by.toPrecision(2);
                }
                let database = firebase.database()
                database.ref('tournaments/' + tournament.data.id).update({
                    pool: pool
                }).then(function () {
                    window.location.reload()
                }).catch(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Not Updated';
                    self.snackColor = 'error';
                })
            }
        },
        mounted(){
            const self = this;
            self.getTournaments();
            self.getPlayers()
        }
    }
</script>

<style scoped>
  .tournament{
    margin: 2rem !important;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    background-color: #F5EFFB;
    color: #050505;
  }
  .step-wrp{
    background-color: var(--primary-color);
    font-size: 1.6rem;
    color: white;
    padding: 2rem;
    margin: 2rem 0;
  }
  .archive{
    background-color: #050505 !important;
  }
  .btnSuccessColor{
    background-color: var(--error-state) !important;
  }
</style>