<template>
  <div class="container-fluid top-header-mar-no-back">
    <div>
      <div style="font-size: 2rem; background-color: #050505; color: white; padding: 1rem; margin-top: 1rem">
        Tournament Prizes
      </div>
      <div class="row" :key="index" v-for="(prize, index) in tournaments">
        <div class="col-2">
          {{prize.key}}
          <div class="image-wrp">
            <img class="image" :src="prize.val.image">
          </div>
        </div>
        <div class="col-7">
          <v-text-field
            v-model="prize.val.image"
          >
          </v-text-field>
          <v-text-field
            v-model="prize.val.name"
          >
          </v-text-field>
        </div>
        <div class="col-2 my-auto" style="text-align: right; padding: 1rem">
          <button @click="updateTP(prize)" class="btn btn-third">Update</button>
        </div>
      </div>
    </div>
    <div>
      <div style="font-size: 2rem; background-color: #050505; color: white; padding: 1rem; margin-top: 1rem">Match Prizes</div>
      <div class="row" :key="index" v-for="(prize, index) in matches">
        <div class="col-2">
          {{prize.key}}
          <div class="image-wrp">
            <img class="image" :src="prize.val.image">
          </div>
        </div>
        <div class="col-7">
          <v-text-field
            v-model="prize.val.image"
          >
          </v-text-field>
          <v-text-field
            v-model="prize.val.name"
          >
          </v-text-field>
        </div>
        <div class="col-2 my-auto" style="text-align: right; padding: 1rem">
          <button @click="updateMP(prize)" class="btn btn-third">Update</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import firebase from "firebase/app"
    import "firebase/database"
    export default {
        name: "manage-prizes",
        data: function () {
            return {
                tournaments: [
                    {
                        key: '1st',
                        val: {
                            name: 'Tournament Mode',
                            image: require('../../assets/logo/logo.png')
                        }
                    },
                ],
                matches: [
                    {
                        key: '1st',
                        val: {
                            name: 'Series Mode',
                            image: require('../../assets/logo/logo.png')
                        }
                    },
                ]
            }
        },
        methods: {
            updateMP(prize){
                let database = firebase.database();
                database.ref('prizes/single-matches/' + prize.key).update({
                    name: prize.val.name,
                    image: prize.val.image
                }).then(function () {
                    alert('Done')
                })
            },
            updateTP(prize){
                let database = firebase.database();
                database.ref('prizes/tournaments/' + prize.key).update({
                    name: prize.val.name,
                    image: prize.val.image
                }).then(function () {
                    alert('Done')
                })
            },
            getPrizes() {
                const self = this;
                let database = firebase.database();
                database.ref('prizes/tournaments').on('value', function(snapshot) {
                    let returnArr = [];
                    snapshot.forEach(function(childSnapshot) {
                        let obj = {
                            key: childSnapshot.key,
                            val: childSnapshot.val()
                        };
                        returnArr.push(obj);
                    });
                    self.tournaments = returnArr;
                });
                database.ref('prizes/single-matches').on('value', function(snapshot) {
                    let returnArr2 = [];
                    snapshot.forEach(function(childSnapshot) {
                        let obj = {
                            key: childSnapshot.key,
                            val: childSnapshot.val()
                        };
                        returnArr2.push(obj);
                    });
                    self.matches = returnArr2;
                })
            }
        },
        mounted() {
            const self = this;
            self.getPrizes()
        }
    }
</script>

<style scoped>
  .image-wrp{
    max-width: 15rem;
  }
  .image{
    width: 100%;
    height: 100%;
  }
</style>