<template>
  <div class="container-fluid top-header-mar-no-back">
    <div class="row">
      <div class="col-6">
        <div>
          Data User: {{getUsersCount(users)}}
        </div>
      </div>
      <div class="col-3">
        <div>
          User by ROLE: {{getUsersCount(role)}}
        </div>
      </div>
      <div class="col-3">
        <button class="btn btn-second" @click="countTotalStar">Update Total Star</button>
      </div>
    </div>
    <div class="user" :key="index" v-for="(user, index) in users">
      <user-card
          v-bind:user_id="index"
          v-bind:user="user"
          v-bind:userNode="getUserbyKey(index)"
          v-bind:roleNode="getUserbyKeyFromRole(index)"
      ></user-card>
    </div>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import {IsEmptyObject} from "../../filter";
    import UserCard from "../admin/user-card";
    export default {
        name: "manage-users",
        components: {
          UserCard
        },
        data: function () {
            return {
                EmptyObject: IsEmptyObject,
                users: [],
                role: [],
            }
        },
        methods: {
            getUserbyKey(u_key){
                const self = this;
                for(let key in self.users) {
                    if(key === u_key) return self.users[key]
                }
                return null
            },
            getUserbyKeyFromRole(u_key){
                const self = this;
                for(let key in self.role) {
                    if(key === u_key) return self.role[key]
                }
                return null
            },
            getUsersCount(users){
              let count = 0;
              for(let key in users) {
                  // eslint-disable-next-line
                  if (users.hasOwnProperty(key)) count++;
              }
              return count
            },
            getAllUsers(){
                const self = this;
                let database = firebase.database();
                database.ref('users/').once('value', function(snapshot) {
                    self.users = snapshot.val();
                });
            },
            getAllRoleUsers(){
                const self = this;
                let database = firebase.database();
                database.ref('users-role/').once('value', function(snapshot) {
                    self.role = snapshot.val();
                });
            },
            countTotalStar(){
              const self = this;
              let database = firebase.database();
              let tot_count = 0;
              let bot_count = 0;
              for(let key in self.role){
                // eslint-disable-next-line
                let count  = 0;
                let points  = 0;
                // let redeemed  = 0;
                if(self.role[key].stars){
                  tot_count++;
                  let starObj = self.role[key].stars
                  for (let ckey in starObj) {
                    let temp = starObj[ckey].points ? parseFloat(starObj[ckey].points) : 0
                    count = count + starObj[ckey].count
                    points = points + temp
                  }
                  // if(self.role[key].redeemed){
                  //   let redObj = self.role[key].redeemed
                  //   for (let rkey in redObj) {
                  //     redeemed = redeemed + redObj[rkey].count
                  //   }
                  // }
                }
                // let remaining = count - redeemed;
                database.ref('users-role/' + key).update({
                  total_stars: count,
                  total_points: points,
                }).then(function () {
                  bot_count++;
                  if(tot_count === bot_count){
                    // eslint-disable-next-line
                    console.log(tot_count)
                    // eslint-disable-next-line
                    console.log(bot_count)
                  }
                }).catch(function () {})
              }
            }
        },
        mounted(){
            const self = this;
            self.getAllUsers();
            self.getAllRoleUsers()
        }
    }
</script>

<style scoped>
.user{
  box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16);
  margin: 2rem !important;
  padding: 1rem !important;
  background-color: #f7f7f7;
}
.rank{
 background-color: #FF6A19;
 color: white;
}
  .chor{
    color: #e64a17 !important;
  }
</style>