<template>
  <div class="container-fluid top-header-mar-no-back">
    <div v-if="!edit">
      <div :key="index" v-for="(match, index) in matches">
        <div class="row match-wrp">
          <div class="col-6 col-lg-1 col-xl-1">
            <div class="image-wrp">
              <img class="image" :src="match.data.imageURL">
            </div>
          </div>
          <div class="col-6 col-lg-2 col-xl-2">
            <div>{{match.data.name}}</div>
            <div>{{match.data.id}}</div>
            <div>Match Type: {{match.data.match_type}}</div>
            <div>Transfer Open: {{match.data.transfer_open}}</div>
            <div>Active: {{match.data.tr_active}}</div>
            <div>
            <span>
              {{GET_DEADLINE(match.data.deadline).day}}D :
            </span>
              <span>
              {{GET_DEADLINE(match.data.deadline).hour}}H :
            </span>
              <span>
              {{GET_DEADLINE(match.data.deadline).minute}}M :
            </span>
              <span>
              {{GET_DEADLINE(match.data.deadline).seconds}}S
            </span>
            </div>
          </div>
          <div class="col-4 col-lg-2 col-xl-2">
            <button @click="setUpTeams(match)" style="width: 100%" class="btn btn-second">Set up Teams</button>
            <button @click="setUpPlayers(match)" style="width: 100%; margin-top: 1rem" class="btn btn-third">Players</button>
            <button @click="updatePlaying(match)" style="width: 100%; margin-top: 1rem" class="btn btn-fourth">Update Playing XI</button>
          </div>
          <div class="col-4 col-lg-2 col-xl-2">
            <button @click="gotoUserManagement(match)" style="width: 100%;" class="btn btn-second">View User Information</button>
            <button @click="updateTransferWindow(match)" style="width: 100%; margin-top: 1rem" class="btn btn-third">
              {{match.data.transfer_open ? 'Close' : 'Open'}} Transfer window
            </button>
            <button @click="changeActivationStatus(match)" style="width: 100%; margin-top: 1rem" class="btn btn-fourth">
              {{match.data.tr_active ? 'Deactivate' : 'Activate'}}
            </button>
          </div>
          <div class="col-4 col-lg-2 col-xl-2">
           <div v-if="!EmptyObject(match.data.matchInfo)">
             <button style="width: 100%;" @click="pushToScorer(match)" class="btn btn-second">Push to Scorer</button>
             <button style="width: 100%; margin-top: 1rem" @click="scoreUpdate(match)" class="btn btn-third">Score Update</button>
             <button style="width: 100%; margin-top: 1rem" @click="updatePointsForAllUsers(match)" class="btn btn-fourth">Update Points (User)</button>
           </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <v-toolbar absolute flat style="top: 6rem; width: 100%; background-color: var(--primary-color); height: 6rem" dark >
        <v-icon @click="resetEdits" style="font-size: 2rem">mdi-arrow-left</v-icon>
        <v-spacer></v-spacer>
      </v-toolbar>
      <div v-if="editTeam" style="margin-top: 6rem !important;">
        <div :key="index" v-for="(team, index) in teams">
          <team-set-up
            v-bind:teamItem="team"
            v-bind:pool="players"
            v-on:update-team-info="updateTeamInfo"
            v-on:update-pool-info="updatePool"
          >
          </team-set-up>
        </div>
      </div>
      <div v-if="editPlayer" style="margin-top: 6rem !important;">
        <div :key="index" v-for="(player, index) in pool">
          <player-card
            v-bind:player="player"
            v-bind:match-type="editableMatch.data.match_type"
            v-on:update-points="updateRoundPointForOnePlayer"
            v-on:update-player-info="updatePlayerInfo"
            v-on:update-price="updatePrice"
          >
          </player-card>
        </div>
      </div>
      <div v-if="updatePlayingXI" style="margin-top: 6rem !important;">
        <div class="row">
          <div class="col-6">
            <v-autocomplete
              v-model="matchInfo.tm_1_xi"
              :items="tm_1_players"
              item-text="name"
              outlined
              chips
              deletable-chips
              hide-selected
              :label="teams[0].name"
              multiple
              clearable
              counter
              return-object
            >
            </v-autocomplete>
          </div>
          <div class="col-6">
            <v-autocomplete
              v-model="matchInfo.tm_2_xi"
              :items="tm_2_players"
              item-text="name"
              outlined
              chips
              deletable-chips
              hide-selected
              :label="teams[1].name"
              multiple
              clearable
              counter
              return-object
            >
            </v-autocomplete>
          </div>
          <div class="col-6">
            <v-select
              v-model="matchInfo.bat_first"
              :items="teams"
              item-text="name"
              item-value="id"
              outlined
              label="Bat First"
            >
            </v-select>
          </div>
        </div>
        <div style="padding: 1.5rem; text-align: right">
          <button @click="updateMatchXI" class="btn-second">Update XI</button>
          <button @click="resetEdits" class="btn-second">Cancel</button>
        </div>
      </div>
      <div v-if="score_update">
        <score-card
          v-bind:tournament_key="editableMatch.data.id"
          v-bind:pool="pool"
          v-on:update-stats-in-pool="updateStatistics"
        ></score-card>
      </div>
    </div>
    <v-snackbar
      :color="snackColor"
      :timeout="300"
      v-model="snackbar"
      centered
      top
    >
      {{snackbarMessage}}
    </v-snackbar>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import {getDeadlineMatch, IsEmptyObject} from "../../filter";
    import TeamSetUp from "./team-card"
    import PlayerCard from "./single-match-player"
    import ScoreCard from "./single-scorecard"
    export default {
        name: "manage-single-match",
        components: {
            TeamSetUp,
            PlayerCard,
            ScoreCard
        },
        data: function () {
            return {
                snackbar: false,
                snackbarMessage: '',
                snackColor: '#3d4279',
                edit: false,
                matches: [],
                GET_DEADLINE: getDeadlineMatch,
                editableMatch: {},
                teams: [],
                players: [],
                pool: [],
                editPlayer: false,
                editTeam: false,
                updatePlayingXI: false,
                matchInfo: {
                    tm_1_xi: [],
                    tm_2_xi: [],
                    bat_first: ''
                },
                tm_1_players: [],
                tm_2_players: [],
                EmptyObject: IsEmptyObject,
                score_update: false
            }
        },
        methods: {
            gotoUserManagement(tournament){
                const self = this;
                self.$router.push({name: "manage-users-tournament",
                    query: {
                        q: tournament.data.id,
                        type: 'match',
                    }
                }).catch()
            },
            resetEdits(){
                const self = this;
                self.edit = false;
                self.editTeam = false;
                self.editPlayer = false;
                self.updatePlayingXI = false;
                self.teams = [];
            },
            scoreUpdate(match){
                const self = this;
                self.resetEdits()
                self.editableMatch = match;
                self.teams = [];
                self.pool = []
                for (let i = 0; i < match.data.pool.length; i++) {
                    self.pool.push(match.data.pool[i])
                }
                for (let i = 0; i < match.data.teams.length; i++) {
                    self.teams.push(match.data.teams[i])
                }
                self.edit = true;
                self.score_update = true;
            },
            setUpTeams(match){
                const self = this;
                self.editableMatch = match;
                self.teams = []
                for (let i = 0; i < match.data.teams.length; i++) {
                    self.teams.push(match.data.teams[i])
                }
                self.edit = true;
                self.editTeam = true
            },
            setUpPlayers(match){
                const self = this;
                self.editableMatch = match;
                self.teams = [];
                self.pool = []
                for (let i = 0; i < match.data.pool.length; i++) {
                    self.pool.push(match.data.pool[i])
                }
                for (let i = 0; i < match.data.teams.length; i++) {
                    self.teams.push(match.data.teams[i])
                }
                self.edit = true;
                self.editPlayer = true
            },
            updatePlaying(match){
                const self = this;
                self.editableMatch = match;
                if(self.editableMatch.data.matchInfo) {
                    self.matchInfo.tm_1_xi = self.editableMatch.data.matchInfo.tm_1_xi
                    self.matchInfo.tm_2_xi = self.editableMatch.data.matchInfo.tm_2_xi
                    self.matchInfo.bat_first = self.editableMatch.data.matchInfo.bat_first
                }
                for (let i = 0; i < match.data.teams.length; i++) {
                    self.teams.push(match.data.teams[i])
                }
                for (let i = 0 ; i < self.editableMatch.data.pool.length; i++) {
                    if(self.editableMatch.data.pool[i].team_id === self.teams[0].id) {
                        self.tm_1_players.push({
                            name: self.editableMatch.data.pool[i].name,
                            key: self.editableMatch.data.pool[i].key,

                        })
                    } else if(self.editableMatch.data.pool[i].team_id === self.teams[1].id) {
                        self.tm_2_players.push({
                            name: self.editableMatch.data.pool[i].name,
                            key: self.editableMatch.data.pool[i].key,

                        })
                    }
                }
                self.edit = true;
                self.updatePlayingXI = true
            },
            updateMatchXI(){
                const self = this;
                let database = firebase.database();
                database.ref('single-matches/' + self.editableMatch.data.id + '/data/').update({
                    matchInfo: self.matchInfo
                }).then(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Match Information Updated';
                    self.snackColor = 'success';
                }).catch(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Not Updated';
                    self.snackColor = 'success';
                })
            },
            pushToScorer(match){
                const self = this;
                self.editableMatch = match;
                if(!self.EmptyObject(self.editableMatch)){
                    let database = firebase.database();
                    let data = {
                      match_name: self.editableMatch.data.name,
                      match_id: self.editableMatch.data.id,
                      teams: self.editableMatch.data.teams,
                      match_type: self.editableMatch.data.match_type
                    };
                    let matchInfo = {
                        bat_first: self.editableMatch.data.matchInfo.bat_first,
                        match_type: self.editableMatch.data.match_type,
                        tm_1_xi: self.editableMatch.data.matchInfo.tm_1_xi,
                        tm_2_xi: self.editableMatch.data.matchInfo.tm_2_xi
                    };
                    database.ref('scorer/single-match/' + self.editableMatch.data.id).update({
                        match: matchInfo,
                        data: data
                    }).then(function () {
                        self.snackbar = true;
                        self.snackbarMessage = 'Match Information Updated';
                        self.snackColor = 'success';
                    }).catch(function () {
                        self.snackbar = true;
                        self.snackbarMessage = 'Not Updated';
                        self.snackColor = 'success';
                    })
                }
            },
            updateTeamInfo(id, newInfo){
                const self = this;
                let database = firebase.database();
                database.ref('single-matches/' + self.editableMatch.data.id + '/data/teams').once('value', function(snapshot) {
                    snapshot.forEach(function(childSnapshot) {
                        if(childSnapshot.val().id === id) {
                            database.ref('single-matches/' + self.editableMatch.data.id + '/data/teams/' + childSnapshot.key).update(newInfo)
                                .then(function () {
                                    self.snackbar = true;
                                    self.snackbarMessage = 'Team Information Updated';
                                    self.snackColor = 'success';
                                }).catch(function () {
                                self.snackbar = true;
                                self.snackbarMessage = 'Not Updated';
                                self.snackColor = 'error';
                            })
                        }
                    });
                })
            },
            updatePool(newPlayers, t_id, t_name){
                const self = this;
                let database = firebase.database();
                let pool = [];
                if(self.editableMatch.data.pool && self.editableMatch.data.pool.length > 0) {
                    pool = self.editableMatch.data.pool;
                }
                newPlayers.forEach(function (player) {
                    let result = self.players.find( ({ key }) => key === player );
                    result.total_points = 0;
                    result.team = t_name;
                    result.team_id = t_id;
                    pool.push(result)
                });
                database.ref('single-matches/' + self.editableMatch.data.id + '/data/').update({
                    pool: pool
                }).then(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Team Information Updated';
                    self.snackColor = 'success';
                }).catch(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Not Updated';
                    self.snackColor = 'success';
                })
            },
            getItemByKey(key){
                const self = this;
                let database = firebase.database();
                let notFound = false
                return new Promise((resolve, reject) => {
                    database.ref('single-matches/' + self.editableMatch.data.id + '/data/pool').once('value', function(snapshot) {
                        snapshot.forEach(function(childSnapshot) {
                            if(childSnapshot.val().key === key) {
                                notFound = true;
                                resolve(childSnapshot);
                            }
                        });
                    });
                    if(notFound) {
                        reject({
                            error: true,
                            message: "No item found"
                        })
                    }
                });
            },
            updatePlayerInfo(key, info){
                const self = this;
                let database = firebase.database();
                self.getItemByKey(key).then(function (response) {
                    database.ref('single-matches/' + self.editableMatch.data.id + '/data/pool/' + response.key).update(info).then(function () {
                        self.snackbar = true;
                        self.snackbarMessage = 'Information Updated';
                        self.snackColor = 'success';
                    })
                }).catch(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Not Updated';
                    self.snackColor = 'error';
                });
            },
            updatePrice(key, price){
                const self = this;
                let database = firebase.database();
                self.getItemByKey(key).then(function (response) {
                    database.ref('single-matches/' + self.editableMatch.data.id + '/data/pool/' + response.key).update({
                        price: price
                    }).then(function () {
                        self.snackbar = true;
                        self.snackbarMessage = 'Information Updated';
                        self.snackColor = 'success';
                    })
                }).catch(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Not Updated';
                    self.snackColor = 'error';
                });
            },
            updateStatistics(key, stats){
                const self = this;
                let database = firebase.database();
                self.getItemByKey(key).then(function (response) {
                    database.ref('single-matches/' + self.editableMatch.data.id + '/data/pool/' + response.key).update({
                        stats: stats
                    }).then(function () {
                        self.snackbar = true;
                        self.snackbarMessage = 'Information Updated';
                        self.snackColor = 'success';
                    })
                }).catch(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Not Updated';
                    self.snackColor = 'error';
                });
            },
            updateRoundPointForOnePlayer(key, total, bonus){
                const self = this;
                let database = firebase.database();
                self.getItemByKey(key).then(function (response) {
                    database.ref('single-matches/' + self.editableMatch.data.id + '/data/pool/' + response.key).update({
                        total_points: total,
                        bonus: bonus
                    }).then(function () {
                        self.snackbar = true;
                        self.snackbarMessage = 'Information Updated';
                        self.snackColor = 'success';
                    })
                }).catch(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Not Updated';
                    self.snackColor = 'error';
                });
            },
            getMatches(){
                let database = firebase.database();
                const self = this;
                database.ref('single-matches').on('value', function(snapshot) {
                    let returnArr = [];
                    snapshot.forEach(function(childSnapshot) {
                        returnArr.push(childSnapshot.val());
                    });
                    self.matches = returnArr;
                });
            },
            getPlayers() {
                const self = this;
                let database = firebase.database();
                database.ref('players').on('value', function(snapshot) {
                    let returnArr = [];
                    snapshot.forEach(function(childSnapshot) {
                        let object = {
                            key: childSnapshot.key,
                            pid: childSnapshot.val().pid,
                            country: childSnapshot.val().country || '',
                            imageURL: childSnapshot.val().imageURL || '',
                            playingRole: childSnapshot.val().playingRole || '',
                            name: childSnapshot.val().name,
                            price: 10,
                        };
                        returnArr.push(object);
                    });
                    self.players = returnArr;
                });
            },
            updatePointsForAllUsers(match){
                const self = this;
                let database = firebase.database();
                self.pool = []
                self.editableMatch = match;
                for (let i = 0; i < match.data.pool.length; i++) {
                    self.pool.push(match.data.pool[i])
                }
                let obj = match.users;
                for (let key in obj) {
                    let totalPoints = 0;
                    if(obj[key].tm_crt){
                        let uPlayers = obj[key].players;
                        let cap = obj[key].my_sqd.cap;
                        let vc = obj[key].my_sqd.vc;
                        for (let i=0; i < uPlayers.length; i++) {
                            for (let j=0; j < self.pool.length; j++) {
                                if(self.pool[j].key === uPlayers[i]) {
                                    if(uPlayers[i] === cap) {
                                        totalPoints = totalPoints + parseFloat(self.pool[j].total_points * 2);
                                    } else if(uPlayers[i] === vc){
                                        totalPoints = totalPoints + parseFloat(self.pool[j].total_points * 1.5);
                                    } else {
                                        totalPoints = totalPoints + self.pool[j].total_points;
                                    }
                                    break;
                                }
                            }
                        }
                    }
                    database.ref('single-matches/' + self.editableMatch.data.id + '/data/users/' + key).update({
                            total_points: totalPoints
                        })
                        .then(function () {
                            // console.log("updated data")
                        })
                }
                self.UpdateRankOfAllUser(self.editableMatch)
            },

            UpdateRankOfAllUser(match){
                let database = firebase.database();
                database.ref('single-matches/' + match.data.id + '/data').once('value', function(snapshot) {
                    let objects = snapshot.val().users;
                    let sortable = [];
                    for (let key in objects) {
                        sortable.push([key, objects[key].total_points]);
                    }
                    sortable.sort((a, b) => (parseFloat(a[1]) < parseFloat(b[1]) ? 1 : -1));
                    let rank = 1;
                    let prev = sortable[0][1];
                    for (let i = 0; i < sortable.length; i++) {
                        for (let key in objects) {
                            if(key === sortable[i][0]) {
                                if(parseFloat(sortable[i][1]) < parseFloat(prev)) {
                                    rank++
                                }
                                objects[key].prev_rank = objects[key].rank;
                                objects[key].rank = rank;
                                prev = sortable[i][1];
                                break;
                            }
                        }
                    }
                    database.ref('single-matches/' + match.data.id + '/data').update({
                        users: objects
                    }).then(function () {
                        self.snackbar = true;
                        self.snackbarMessage = 'Information Updated';
                        self.snackColor = 'success';
                        window.location.reload();
                    }).catch(function () {
                        self.snackbar = true;
                        self.snackbarMessage = 'Not Updated';
                        self.snackColor = 'error';
                    });
                });
            },
            updateTransferWindow(tournament){
                let new_transfer_action = !tournament.data.transfer_open;
                let database = firebase.database();
                database.ref('single-matches/' + tournament.data.id + '/data').update({
                    transfer_open: new_transfer_action,
                }).then(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Transfer window changed';
                    self.snackColor = 'success';
                }).catch(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Not Updated';
                    self.snackColor = 'error';
                })
            },

            // activate-deactivate

            changeActivationStatus(tournament){
                let new_transfer_action = !tournament.data.tr_active;
                let database = firebase.database();
                database.ref('single-matches/' + tournament.data.id + '/data').update({
                    tr_active: new_transfer_action,
                }).then(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Activation Status Changed';
                    self.snackColor = 'success';
                }).catch(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Not Updated';
                    self.snackColor = 'error';
                })
            },
        },
        mounted(){
            const self = this;
            self.getMatches()
            self.getPlayers()
        }
    }
</script>

<style scoped>
  .match-wrp{
    box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16);
    margin: 2rem !important;
    border: 1px solid #3d4249;
    padding: 1rem !important;
  }
  .image-wrp{
    max-width: 100%;
    max-height: 100%;
  }
  .image{
    height: 100%;
    width: 100%;
  }
</style>