<template>
  <div class="container-fluid top-header-mar-no-back">
    <div class="row" style="margin-top: 50px !important;">
      <v-text-field
        class="col-3 p-2"
        v-model="uid"
        label="Uid"
        outlined
      ></v-text-field>
      <v-text-field
        class="col-3 p-2"
        v-model="name"
        label="Name"
        outlined
      ></v-text-field>
      <v-text-field
        class="col-3 p-2"
        v-model="email"
        label="Email"
        outlined
      ></v-text-field>
      <v-select
        class="col-3 p-2"
        :items="roles"
        v-model="role"
        label="Role"
        outlined
      ></v-select>
    </div>
        <v-checkbox
          v-model="canEdit"
          label="Can edit all items"
        ></v-checkbox>
    <div>
      <v-btn @click="addModerator" color="error" style="width: 100%;">Add Moderator</v-btn>
    </div>
    <div style="margin-top: 4rem">
      <v-text-field
          v-model="node_name"
      >
      </v-text-field>
      <v-btn @click="addNewNode" color="success" style="width: 100%;">Create Node</v-btn>
    </div>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    export default {
        name: "manage-moderators",
        data: function () {
            return {
                uid: "",
                name: "",
                email: "",
                role: "",
                canEdit: false,
                roles: ['admin', 'moderator', 'editor'],
                node_name: "test"
            }
        },
        methods: {
            addNewNode(){
              let database = firebase.database();
              const self = this;
              database.ref(self.node_name).set({'national': '500'}).then(function (resp) {
                // eslint-disable-next-line
                console.log(resp)
              }).catch(function (err) {
                // eslint-disable-next-line
                console.log(err)
              });
            },
            addModerator(){
                const self = this;
                let user = {
                    name: self.name,
                    role: self.role,
                };
                let database = firebase.database();
                database.ref('editors/' + self.uid).set(user).then(function (resp) {
                    // eslint-disable-next-line
                    console.log(resp)
                }).catch(function (err) {
                    // eslint-disable-next-line
                    console.log(err)
                });
            }
        }
    }
</script>

<style scoped>

</style>