<template>
  <div class="container-fluid top-header-mar-no-back">
    <div style="margin-top: 2rem !important; margin-bottom: 2rem !important;" class="row">
      <div class="col-2" :key="index" v-for="(country, index) in country_items">
        <div v-bind:class="[{act: activeTab === country}]" @click="getPlayers(country)" style="text-align: center" class="btn-first-outline">{{country}}</div>
      </div>
    </div>
    <div style="margin: 2rem !important;" class="row">
      <div class="col-4 player-card" :key="index" v-for="(player, index) in players">
        <div class="row justify-content-center">
          <div class="col-3">
            <div class="image-wrapper">
              <img class="image" :src="player.data.imageURL ? player.data.imageURL: imageURL" alt="Smiley face">
            </div>
          </div>
          <div class="col-6 my-auto">
            <div v-if="!player.edit">
              <div style="font-size: 24px; margin-bottom: 15px">{{player.data.fullName}}</div>
              <div style="color: var(--third-color); font-size: 1.6rem">{{player.data.playingRole || 'N/A'}}</div>
              <div style="font-size: 1.2rem">{{player.data.upid}}</div>
              <div style="font-size: 1rem;">index: {{index}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/auth';
    import 'firebase/database';
    export default {
        name: "players",
        data: function () {
            return {
                country_items: ['AUS', 'AFG', 'BAN', 'ENG', 'IND', 'IRE', 'NZ', 'PAK', 'SCO', 'SA', 'SRI', 'UAE', 'WI', 'ZIM', 'OMAN', 'PNG', 'NED', 'NAM', 'NEP', 'USA', 'CAN',],
                imageURL: require('@/assets/user.svg'),
                players: [],
                activeTab: 'BAN'
            }
        },
        methods: {
            getPlayers(country) {
                let database = firebase.database();
                const self = this;
                self.players = []
                self.activeTab = country
                database.ref('players/'+ country).once('value', function(snapshot) {
                    let returnArr = [];
                    snapshot.forEach(function(childSnapshot) {
                        let obj = {
                          data: childSnapshot.val(),
                          edit: false
                        };
                        returnArr.push(obj);
                        self.players = returnArr;
                    });
                });
            },
        },
        mounted(){
          const self = this;
          self.getPlayers('BAN')
        }
    }
</script>

<style scoped>
  .form-control {
    border-radius: 0.4rem;
    border: solid 1px #c0c0c0;
    background-color: white;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
  }
  .form-control:focus {
    border: solid 1px #c0c0c0;
    box-shadow: none;
  }
  .player-card{
    padding: 10px !important;
    border: 1px solid #e6e6e6;
  }
  .image-wrapper{
    overflow: hidden;
    width: 12rem;
    height: 14rem;
    border-radius: 4px;
  }
  .image{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 4px;
    border: 1px solid whitesmoke;
  }
  .act{
    color: white !important;
    border-color: var(--white) !important;
    background-color: var(--success-state) !important;
  }
</style>