<template>
  <div class="player-card" v-if="!EmptyObject(player)">
    <div style="position: relative">
      <div style="padding: 1.5rem; font-size: 2rem; font-weight: bold; color: var(--primary-color)">
        {{player.name}}
      </div>
      <v-icon @click="collapse_item = !collapse_item" class="icon-right">{{collapse_item ? 'mdi-menu-up' : 'mdi-menu-down'}}</v-icon>
    </div>
    <div v-if="collapse_item">
      <div style="background-color: papayawhip; color: #050505" class="innig-back">
        <div class="row">
          <div class="col-3 my-auto">Batting</div>
          <div class="col-3">
            <v-checkbox v-model="player.dnbt" label="Did Not Bat"></v-checkbox>
          </div>
          <div class="col-3">
            <v-text-field
              label="Runs"
              v-model="player.runs"
            >
            </v-text-field>
          </div>
          <div class="col-3">
            <v-text-field
              label="Balls"
              v-model="player.balls"
            >
            </v-text-field>
          </div>
          <div class="col-3">
            <v-text-field
              label="4s"
              v-model="player.fours"
            >
            </v-text-field>
          </div>
          <div class="col-3">
            <v-text-field
              label="6s"
              v-model="player.sixs"
            >
            </v-text-field>
          </div>
          <div class="col-3">
            <v-text-field
              label="SR"
              v-model="player.srate"
            >
            </v-text-field>
          </div>
          <div class="col-3">
            <v-text-field
              label="Stumping"
              v-model="player.stump"
            >
            </v-text-field>
          </div>
        </div>
        <div class="row">
          <div class="col-3 my-auto">
            Bowling
          </div>
          <div class="col-3">
            <div>
              <v-checkbox v-model="player.dnbl" label="Did Not Bowl"></v-checkbox>
            </div>
          </div>
          <div class="col-3">
            <v-text-field
              label="Overs"
              v-model="player.overs"
            >
            </v-text-field>
          </div>
          <div class="col-3">
            <v-text-field
              label="Maidens"
              v-model="player.maidens"
            >
            </v-text-field>
          </div>
          <div class="col-3">
            <v-text-field
              label="Runs"
              v-model="player.given_runs"
            >
            </v-text-field>
          </div>
          <div class="col-3">
            <v-text-field
              label="Wickets"
              v-model="player.wickets"
            >
            </v-text-field>
          </div>
          <div class="col-3">
            <v-text-field
              label="Economy"
              v-model="player.economy"
            >
            </v-text-field>
          </div>
          <div class="col-3">
            <v-text-field
              label="Catch"
              v-model="player.catch"
            >
            </v-text-field>
          </div>
          <div class="col-3">
            <v-text-field
              label="Run Out"
              v-model="player.run_out"
            >
            </v-text-field>
          </div>
        </div>
      </div>
      <div v-if="isTest" style="background-color: azure; color: #050505" class="innig-back">
        <div class="row">
          <div class="col-3 my-auto">Batting (2)</div>
          <div class="col-3">
            <v-checkbox v-model="player.dnbt_2" label="Did Not Bat"></v-checkbox>
          </div>
          <div class="col-3">
            <v-text-field
              label="Runs"
              v-model="player.runs_2"
            >
            </v-text-field>
          </div>
          <div class="col-3">
            <v-text-field
              label="Balls"
              v-model="player.balls_2"
            >
            </v-text-field>
          </div>
          <div class="col-3">
            <v-text-field
              label="4s"
              v-model="player.fours_2"
            >
            </v-text-field>
          </div>
          <div class="col-3">
            <v-text-field
              label="6s"
              v-model="player.sixs_2"
            >
            </v-text-field>
          </div>
          <div class="col-3">
            <v-text-field
              label="SR"
              v-model="player.srate_2"
            >
            </v-text-field>
          </div>
          <div class="col-3">
            <v-text-field
              label="Stumping"
              v-model="player.stump_2"
            >
            </v-text-field>
          </div>
        </div>
        <div class="row">
          <div class="col-3 my-auto">
            Bowling (2)
          </div>
          <div class="col-3">
            <div class="">
              <v-checkbox v-model="player.dnbl_2" label="Did Not Bowl"></v-checkbox>
            </div>
          </div>
          <div class="col-3">
            <v-text-field
              label="Overs"
              v-model="player.overs_2"
            >
            </v-text-field>
          </div>
          <div class="col-3">
            <v-text-field
              label="Maidens"
              v-model="player.maidens_2"
            >
            </v-text-field>
          </div>
          <div class="col-3">
            <v-text-field
              label="Runs"
              v-model="player.given_runs_2"
            >
            </v-text-field>
          </div>
          <div class="col-3">
            <v-text-field
              label="Wickets"
              v-model="player.wickets_2"
            >
            </v-text-field>
          </div>
          <div class="col-3">
            <v-text-field
              label="Economy"
              v-model="player.economy_2"
            >
            </v-text-field>
          </div>
          <div class="col-3">
            <v-text-field
              label="Catch"
              v-model="player.catch_2"
            >
            </v-text-field>
          </div>
          <div class="col-3">
            <v-text-field
              label="Run Out"
              v-model="player.run_out_2"
            >
            </v-text-field>
          </div>
        </div>
      </div>
      <div style="padding: 2rem; text-align: right">
        <button @click="calculateUpdate" class="btn btn-second">Update Statistics</button>
        <button style="margin-left: 1rem" @click="collapse_item = !collapse_item" class="btn btn-neutral-action">Cancel</button>
      </div>
    </div>
  </div>
</template>

<script>
    import {IsEmptyObject} from "../../filter";

    export default {
        name: "player-component",
        props: {
            info: Object,
            match_type: String
        },
        data: function(){
          return {
              player: {},
              EmptyObject: IsEmptyObject,
              isTest: false,
              collapse_item: false
          }
        },
        methods: {
            goBack(){
                this.$emit('cancel')
            },
            calculateUpdate(){
                const self = this;
                let stats = {
                    played: 1
                };
                stats.run_out = self.player.run_out ? parseInt(self.player.run_out) : 0;
                stats.catch = self.player.catch ? parseInt(self.player.catch) : 0;
                stats.stump = self.player.stump ? parseInt(self.player.stump) : 0;
                if(self.player.dnbt){
                    stats.batted = 0;
                    stats.runs = 0;
                    stats.balls = 0;
                    stats.fours = 0;
                    stats.sixs = 0;
                    stats.srate = 0;
                } else {
                    stats.batted = 1;
                    stats.runs = self.player.runs ? parseInt(self.player.runs) : 0;
                    stats.balls = self.player.balls ? parseInt(self.player.balls) : 0;
                    stats.fours = self.player.fours ? parseInt(self.player.fours) : 0;
                    stats.sixs = self.player.sixs ? parseInt(self.player.sixs) : 0;
                    stats.srate = self.player.srate ? parseFloat(self.player.srate) : 0;
                }
                if(self.player.dnbl){
                    stats.bowled = 0;
                    stats.overs = 0;
                    stats.maidens = 0;
                    stats.wickets = 0;
                    stats.g_run = 0;
                    stats.economy = 0;
                } else {
                    stats.bowled = 1;
                    stats.overs = self.player.overs ? parseInt(self.player.overs) : 0;
                    stats.maidens = self.player.maidens ? parseInt(self.player.maidens) : 0;
                    stats.wickets = self.player.wickets ? parseInt(self.player.wickets) : 0;
                    stats.g_run = self.player.given_runs ? parseInt(self.player.given_runs) : 0;
                    stats.economy = self.player.economy ? parseFloat(self.player.economy) : 0;
                }
                if(self.isTest) {
                    stats.run_out_2 = self.player.run_out_2 ? parseInt(self.player.run_out_2) : 0;
                    stats.catch_2 = self.player.catch_2 ? parseInt(self.player.catch_2) : 0;
                    stats.stump_2 = self.player.stump_2 ? parseInt(self.player.stump_2) : 0;
                    if(self.player.dnbt_2){
                        stats.batted_2 = 0;
                        stats.runs_2 = 0;
                        stats.balls_2 = 0;
                        stats.fours_2 = 0;
                        stats.sixs_2 = 0;
                        stats.srate_2 = 0;
                    } else {
                        stats.batted_2 = 1;
                        stats.runs_2 = self.player.runs_2 ? parseInt(self.player.runs_2) : 0;
                        stats.balls_2 = self.player.balls_2 ? parseInt(self.player.balls_2) : 0;
                        stats.fours_2 = self.player.fours_2 ? parseInt(self.player.fours_2) : 0;
                        stats.sixs_2 = self.player.sixs_2 ? parseInt(self.player.sixs_2) : 0;
                        stats.srate_2 = self.player.srate_2 ? parseFloat(self.player.srate_2) : 0;
                    }
                    if(self.player.dnbl_2){
                        stats.bowled_2 = 0;
                        stats.overs_2 = 0;
                        stats.maidens_2 = 0;
                        stats.wickets_2 = 0;
                        stats.g_run_2 = 0;
                        stats.economy_2 = 0;
                    } else {
                        stats.bowled_2 = 1;
                        stats.overs_2 = self.player.overs_2 ? parseInt(self.player.overs_2) : 0;
                        stats.maidens_2 = self.player.maidens_2 ? parseInt(self.player.maidens_2) : 0;
                        stats.wickets_2 = self.player.wickets_2 ? parseInt(self.player.wickets_2) : 0;
                        stats.g_run_2 = self.player.given_runs_2 ? parseInt(self.player.given_runs_2) : 0;
                        stats.economy_2 = self.player.economy_2 ? parseFloat(self.player.economy_2) : 0;
                    }
                }
                self.$emit('update-stat', self.player.key, stats)
            }
        },
        mounted(){
            const self = this;
            if(self.info) {
                self.player = self.info;
            }
            if(self.match_type) {
                self.isTest = self.match_type.toString().toUpperCase() === 'TEST'
            }
        }
    }
</script>

<style scoped>
.player-card{
  border-radius: 0.4rem;
  box-shadow: 0 .3rem .6rem 0 rgba(0, 0, 0, 0.16);
  margin: 2rem;
}
.innig-back{
  margin: 1rem 1rem 2rem;
  border-radius: 0.4rem;
}
.icon-right{
  color: #050505;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.warBack{
  background-color: #f7f7f7;
  color: var(--error-state);
}
</style>