<template>
 <div>
   <div class="player-card">
     <div style="background-color: var(--secondary-color-outline)" class="row">
       <div class="col-4 col-md-1 col-lg-1 col-xl-1">
         <div class="image-wrapper">
           <img class="image" :src="player.imageURL ? player.imageURL: imageURL" alt="Smiley face">
         </div>
       </div>
       <div class="col-8 col-xl-5 my-auto">
         <div style="color: #3d4249; font-size: 1rem;">Available: {{player.available ? 'Yes': 'No'}}</div>
         <div style="color: #3d4249; font-size: 1rem;">{{player.team}}</div>
         <div style="font-size: 1.4rem;">{{player.name}}</div>
         <div style="font-size: 1.2rem; color: var(--secondary-color)">{{player.playingRole || 'N/A'}}</div>
         <div style="font-size: 1.2rem; color: var(--third-color)">{{player.pid}}</div>
         <div>
           <v-icon @click="editPlayerInfo" >mdi-square-edit-outline</v-icon>
         </div>
       </div>
       <div style="font-size: 1.6rem" class="col-4 col-xl-2 my-auto">
         <div style="font-size: 1.2rem">Price</div>
         <div v-if="!editPrice">
           <div style="color: var(--secondary-color); font-size: 1.6rem">${{player.price}}m</div>
           <div>
             <v-icon @click="editPrice = true" >mdi-square-edit-outline</v-icon>
           </div>
         </div>
         <div v-else>
           <div>
             <v-text-field
               v-model="price"
               prepend-inner-icon="mdi-currency-usd"
               suffix="m"
             >
             </v-text-field>
           </div>
           <div>
             <v-icon style="margin: 0 10px 0 0" color="success" @click="updatePrice">mdi-check</v-icon>
             <v-icon color="error" @click="cancelUpdate">mdi-close-circle</v-icon>
           </div>
         </div>
       </div>
       <div class="col-4 col-xl-2 my-auto">
         <div style="font-size: 1.2rem;">Total Points</div>
         <div style="font-size: 1.8rem; color: var(--success)">{{player.total_points}}</div>
       </div>
       <div class="col-4 col-xl-2 my-auto">
         <div style="font-size: 1.2rem;">Rank</div>
         <div style="font-size: 1.8rem; color: var(--success)">{{player.rank}}</div>
       </div>
     </div>
     <div style="padding-top: 1rem !important;" class="row">
       <div style="font-size: 1.6rem" v-bind:class="[{active: isCurrentRound(round.key)}]" :key="ind" v-for="(round, ind) in player.rounds" class="col-3">
         <div style="font-size: 1.2rem">
           Round {{round.key.substring(1)}}
         </div>
         <div style="font-size: 1.8rem; color: var(--blue)">
           {{round.points}}
         </div>
         <div>
           <v-icon @click="editThisRound(round)" >mdi-square-edit-outline</v-icon>
         </div>
       </div>
     </div>
   </div>
   <div class="round" v-if="editRound">
     <div class="p-1">
       <v-icon color="indigo">{{havePlayed ? 'mdi-check-circle': 'mdi-close-circle'}}</v-icon> {{havePlayed ? 'Played' : 'Did not play'}}
     </div>
     <div :key="index" v-for="(match, index) in matches">
       <div class="row">
         <div class="col-2 p-2">
           <div>Against</div>
           <div>{{match.opponent}}</div>
         </div>
         <div class="col-2 p-2">
           <div>Played</div>
           <v-icon color="blue">{{match.stats.played ? 'mdi-check': 'mdi-close'}}</v-icon>
         </div>
         <div class="col-2 p-1">
           <div>Points</div>
           <div>{{match.points}}</div>
         </div>
         <div class="col-2 p-1">
           <div>Bonus</div>
           <div>{{match.bonus}}</div>
         </div>
       </div>
     </div>
     <div style="padding-top: 2rem !important;" class="row">
     <div class="col-6 p-1">
       <div class="col-4 p-1">
         <div>Total Points</div>
         <div>{{total}}</div>
       </div>
     </div>
     <div class="col-6 p-1">
       <div class="col-4 p-1">
         <div>Total Bonus</div>
         <div>{{bonus}}</div>
       </div>
     </div>
     <div class="col-12 p-1" style="text-align: right">
         <button style="margin-right: 1rem" class="btn btn-fourth" @click="updatePoints()">Update</button>
         <button class="btn btn-error-color" @click="cancelEditing()">Cancel</button>
       </div>
    </div>
   </div>
   <div class="row round" v-if="editPlayer">
     <div class="col-12 no-padding">
       <div class="row">
         <v-text-field
           class="col-6"
           label="Name"
           v-model="name"
         >
         </v-text-field>
         <v-text-field
           class="col-6"
           label="Playing Role"
           v-model="playingRole"
         >
         </v-text-field>
         <v-text-field
           class="col-6"
           label="Country"
           v-model="country"
         >
         </v-text-field>
         <v-text-field
           class="col-6"
           label="Image Url"
           v-model="imgUrl"
         >
         </v-text-field>
         <v-text-field
           class="col-6"
           label="PID"
           v-model="pid"
         >
         </v-text-field>
         <div class="col-6">
           <v-checkbox v-model="available" label="Available"></v-checkbox>
         </div>
       </div>
     </div>
     <div class="col-12" style="text-align: right">
       <button style="margin-right: 1rem" @click="updatePlayerInfo" class="btn btn-fourth">Update</button>
       <button class="btn btn-error-color" @click="editPlayer = false">Cancel</button>
     </div>
   </div>
 </div>
</template>

<script>
    import {IsEmptyObject} from "../../filter";

    export default {
        name: "player-card",
        props: {
            playerItem: Object,
            tournament: Object,
        },
        data: function () {
            return {
                available_array: ['true', 'false'],
                total: 0,
                bonus: 0,
                isTest: false,
                type: 'odi',
                player: {},
                editPrice: false,
                price: 0,
                imageURL: "",
                editRound: false,
                currentRound: {},
                havePlayed: false,
                isBowler: false,
                editPlayer: false,
                name: '',
                playingRole: '',
                imgUrl: '',
                country: '',
                pid: '',
                matches: {},
                available: true,
                EmptyObject: IsEmptyObject
            }
        },
        methods: {
            resetValues(){
                const self = this;
                self.havePlayed = false;
                self.currentRound = {}
                self.matches = {}
            },
            isCurrentRound(key){
                return key === this.currentRound.key
            },
            updatePrice(){
                const self = this;
                self.$emit('update-price', self.player.key, self.price)
                self.editPrice = false
            },
            cancelUpdate(){
                const self = this;
                self.price = self.player.price;
                self.editPrice = false
            },
            editPlayerInfo(){
                const self = this;
                self.editPlayer = true;
            },
            editThisRound(round){
                const self = this;
                self.total = 0;
                self.bonus = 0;
                if(self.editRound) {
                    self.resetValues();
                }
                self.editRound = true;
                self.currentRound = round;
                if(self.playingRole.toLowerCase().includes('bowler')) {
                    self.isBowler = true;
                }
                self.matches = self.currentRound.matches;
                if(self.matches && !self.EmptyObject(self.matches)){
                    for (let key in self.matches) {
                        self.havePlayed = self.havePlayed || self.matches[key].stats.played;
                        let match_temp = self.calculatePoints(self.matches[key].stats);
                        self.matches[key].points = match_temp.total;
                        self.matches[key].bonus = match_temp.bonus;
                        self.matches[key].opponent = self.getOpponent(key);
                        self.total = parseInt(self.total) + match_temp.total;
                        self.bonus = parseInt(self.bonus) + match_temp.bonus;
                    }
                }
            },
            cancelEditing(){
                const self = this;
                self.editRound = false;
                self.currentRound = {}
                self.resetValues();
            },
            getOpponent(match_id){
                const self = this;
                let rounds = self.tournament.data.rounds;
                let teams = self.tournament.data.teams;
                let opponent = '';
                for(let i = 0; i < rounds.length; i++) {
                    if(rounds[i].key === self.currentRound.key) {
                        let matches = rounds[i].matches;
                        for(let m = 0; m < matches.length; m++) {
                            if(matches[m].match_id === match_id) {
                                if(matches[m].tm_1 === self.player.team_id) {
                                    opponent = matches[m].tm_2
                                } else {
                                    opponent = matches[m].tm_1
                                }
                            }
                        }
                    }
                }
                for (let t = 0; t < teams.length; t++) {
                    if(teams[t].id === opponent) return teams[t].name
                }
            },
            calculatePoints(stats){
                const self = this;
                let bonus = 0;
                let total = 0;
                let pctc = stats.catch ? parseInt(stats.catch * 6) : 0;
                let pstm = stats.stump ? parseInt(stats.stump * 10) : 0;
                let prout = stats.run_out ? parseInt(stats.run_out * 8) : 0;
                if(self.isTest) {
                    let pctc_2 = stats.catch_2 ? parseInt(stats.catch_2 * 6) : 0;
                    let pstm_2 = stats.stump_2 ? parseInt(stats.stump_2 * 10) : 0;
                    let prout_2 = stats.run_out_2 ? parseInt(stats.run_out_2 * 8) : 0;
                    pctc = pctc + pctc_2;
                    pstm = pstm + pstm_2;
                    prout = prout + prout_2;
                }
                if(stats.played) {
                    bonus = 5;
                    let pr = 0, pw = 0;
                    let tot_wckt = 0;
                    if(stats.batted) {
                        let p4 = 0, p6 = 0;
                        pr = stats.runs ? parseInt(stats.runs) : 0;
                        p4 = stats.fours ? parseInt(stats.fours) : 0;
                        p6 = stats.sixs ? parseInt(stats.sixs * 2) : 0;
                        bonus = bonus + p4 + p6;
                    }
                    switch (self.type) {
                        case 'test':
                            if(stats.batted) {
                                if(pr >= 200 ) {
                                    bonus+=20;
                                } else if(pr >= 100){
                                    bonus+=10;
                                } else if(pr >= 50) {
                                    bonus+=5;
                                }
                                if (pr === 0 && !self.isBowler) {
                                    bonus-=10;
                                }
                            }
                            if(stats.batted_2) {
                                let pr_2 = stats.runs_2 ? parseInt(stats.runs_2) : 0;
                                let p4_2 = 0, p6_2 = 0;
                                p4_2 = stats.fours_2 ? parseInt(stats.fours_2) : 0;
                                p6_2 = stats.sixs_2 ? parseInt(stats.sixs_2 * 2) : 0;
                                bonus = bonus + p4_2 + p6_2;
                                if(pr_2 >= 200 ) {
                                    bonus+=20;
                                } else if(pr_2 >= 100){
                                    bonus+=10;
                                } else if(pr_2 >= 50) {
                                    bonus+=5;
                                }
                                if (pr_2 === 0 && !self.isBowler) {
                                    bonus-=10;
                                }
                                pr = pr + pr_2;
                            }
                            if(stats.bowled) {
                                pw = stats.wickets ? parseInt(stats.wickets * 15) : 0;
                                tot_wckt = stats.wickets ? parseInt(stats.wickets) : 0;
                            }
                            if(stats.bowled_2) {
                                let pw_2 = stats.wickets_2 ? parseInt(stats.wickets_2 * 15) : 0;
                                let tot_wckt_2 = stats.wickets_2 ? parseInt(stats.wickets_2) : 0;
                                tot_wckt = tot_wckt + tot_wckt_2;
                                pw = pw + pw_2;
                            }
                            if(tot_wckt >= 10) {
                                bonus+=25;
                            } else if(tot_wckt >= 5) {
                                bonus+=10;
                            }
                            break;
                        case 'odi':
                            if(stats.batted) {
                                if(pr >= 100 ) {
                                    bonus+=20;
                                } else if(pr >= 50){
                                    bonus+=10;
                                }
                                if(!self.isBowler){
                                    if (pr === 0) {
                                        bonus= bonus - 10;
                                    }
                                    if(stats.balls && parseInt(stats.balls) >= 20) {
                                        let sr = parseInt((parseInt(stats.runs) / parseInt(stats.balls))*100);
                                        if(sr < 30) {
                                            bonus = bonus - 6;
                                        } else if(sr < 40) {
                                            bonus = bonus - 4;
                                        }else if(sr < 50) {
                                            bonus = bonus - 2;
                                        }
                                    }
                                }
                            }
                            if(stats.bowled) {
                                pw = stats.wickets ? parseInt(stats.wickets * 20) : 0;
                                if(stats.wickets && parseInt(stats.wickets) >= 5) {
                                    bonus+=20;
                                } else if(stats.wickets && parseInt(stats.wickets) === 4) {
                                    bonus+=10;
                                }
                                if(stats.maidens && parseInt(stats.maidens) > 0) {
                                    bonus = bonus + parseInt(stats.maidens * 4)
                                }
                                if(stats.economy && stats.overs && parseInt(stats.overs) >= 4) {
                                    if(parseFloat(stats.economy) <= 3) {
                                        bonus = bonus + 2;
                                    } else if(parseFloat(stats.economy) <= 6){
                                        bonus = bonus + 1;
                                    } else if(parseFloat(stats.economy) >= 9){
                                        bonus = bonus - 2;
                                    } else if(parseFloat(stats.economy) >= 7){
                                        bonus = bonus - 1;
                                    }
                                }
                            }
                            break;
                        case 't20':
                            if(stats.batted) {
                                if(pr >= 100 ) {
                                    bonus+=30;
                                } else if(pr >= 50){
                                    bonus+=15;
                                }
                                if(!self.isBowler){
                                    if (pr === 0) {
                                        bonus= bonus - 10;
                                    }
                                    if(stats.balls && parseInt(stats.balls) >= 10) {
                                        let sr = parseInt((parseInt(stats.runs) / parseInt(stats.balls))*100);
                                        if(sr < 30) {
                                            bonus = bonus - 8;
                                        } else if(sr < 40) {
                                            bonus = bonus - 6;
                                        } else if(sr < 50) {
                                            bonus = bonus - 4;
                                        } else if(sr < 80) {
                                            bonus = bonus - 2;
                                        }
                                    }
                                }
                            }
                            if(stats.bowled) {
                                pw = stats.wickets ? parseInt(stats.wickets * 25) : 0;
                                if(stats.wickets && parseInt(stats.wickets) >= 5) {
                                    bonus+=20;
                                } else if(stats.wickets && parseInt(stats.wickets) >= 3) {
                                    bonus+=10;
                                }
                                if(stats.maidens && parseInt(stats.maidens) > 0) {
                                    bonus = bonus + parseInt(stats.maidens * 6)
                                }
                                if(stats.economy && stats.overs && parseInt(stats.overs) >= 2) {
                                    if(parseFloat(stats.economy) <= 4) {
                                        bonus = bonus + 2;
                                    } else if(parseFloat(stats.economy) <= 7){
                                        bonus = bonus + 1;
                                    } else if(parseFloat(stats.economy) >= 10){
                                        bonus = bonus - 2;
                                    } else if(parseFloat(stats.economy) >= 8){
                                        bonus = bonus - 1;
                                    }
                                }
                            }
                            break;
                        case 't10':
                            if(stats.batted) {
                                if(pr >= 100 ) {
                                    bonus+=40;
                                } else if(pr >= 50){
                                    bonus+=20;
                                } else if(pr >= 30){
                                    bonus+=10;
                                }
                                if(!self.isBowler){
                                    if (pr === 0) {
                                        bonus= bonus - 10;
                                    }
                                    if(stats.balls && parseInt(stats.balls) >= 5) {
                                        let sr = parseInt((parseInt(stats.runs) / parseInt(stats.balls))*100);
                                        if(sr < 30) {
                                            bonus = bonus - 10;
                                        } else if(sr < 40) {
                                            bonus = bonus - 8;
                                        } else if(sr < 50) {
                                            bonus = bonus - 6;
                                        } else if(sr < 80) {
                                            bonus = bonus - 4;
                                        } else if(sr < 100) {
                                            bonus = bonus - 2;
                                        }
                                    }
                                }
                            }
                            if(stats.bowled) {
                                pw = stats.wickets ? parseInt(stats.wickets * 25) : 0;
                                if(stats.wickets && parseInt(stats.wickets) >= 4) {
                                    bonus+=20;
                                } else if(stats.wickets && parseInt(stats.wickets) >= 2) {
                                    bonus+=10;
                                }
                                if(stats.maidens && parseInt(stats.maidens) > 0) {
                                    bonus = bonus + parseInt(stats.maidens * 10)
                                }
                                if(stats.economy && stats.overs) {
                                    if(parseFloat(stats.economy) <= 6) {
                                        bonus = bonus + 2;
                                    } else if(parseFloat(stats.economy) <= 8){
                                        bonus = bonus + 1;
                                    } else if(parseFloat(stats.economy) >= 12){
                                        bonus = bonus - 2;
                                    } else if(parseFloat(stats.economy) >= 10){
                                        bonus = bonus - 1;
                                    }
                                }
                            }
                            break;
                        default:
                            break;
                    }
                    total = parseInt(pr + pw + pctc + pstm + prout + bonus);
                } else {
                    total = parseInt(pctc + pstm + prout);
                }
                return {
                    total: total,
                    bonus: bonus
                }
            },
            updatePoints(){
                const self = this;
                let matches = self.havePlayed ? self.matches : null;
                self.$emit('update-round', self.player.key, self.currentRound, self.total, self.bonus, self.havePlayed, matches);
                self.editRound = false;
            },
            updatePlayerInfo(){
                const self = this;
                let info = {};
                if(self.name) {
                    info.name = self.name
                }
                if(self.pid) {
                    info.pid = parseInt(self.pid)
                }
                if(self.country) {
                    info.country = self.country
                }
                if(self.playingRole) {
                    info.playingRole = self.playingRole
                }
                if(self.imgUrl) {
                    info.imageURL = self.imgUrl
                }
                info.available = self.available
                self.$emit('update-player-info', self.player.key, info)
            }
        },
        mounted() {
            const self = this;
            if(!self.EmptyObject(self.playerItem)) {
                self.player = self.playerItem;
                self.price = self.player.price;
                self.name = self.player.name;
                self.pid = self.player.pid;
                self.playingRole = self.player.playingRole;
                self.imgUrl = self.player.imageURL;
                self.country = self.player.country;
                self.available = self.player.available;
            }
            if(!self.EmptyObject(self.tournament)) {
                self.type = self.tournament.data.match_type.toString().toLowerCase()
                if(self.type.toLowerCase() === 'test') {
                    self.isTest = true;
                }
            }
        }
    }
</script>

<style scoped>
  .player-card{
    padding: 10px !important;
    box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16);
    margin: 10px !important;
  }
  .image-wrapper{
    overflow: hidden;
    width: auto;
    height: 100%;
    border-radius: 4px;
  }
  .image{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 4px;
    border: 1px solid whitesmoke;
  }
  .round{
    padding: 10px !important;
    box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16);
    margin: -10px 10px 20px !important;
    background-color: var(--fourth-color-outline);
    color: #050505;
  }
  .active{
    background-color: var(--fourth-color-outline);
  }
</style>