<template>
  <div class="top-header-mar-no-back" v-if="!EmptyObject(tournament)">
    <v-select
      style="margin-top: 2rem"
      dense
      :items="rounds"
      item-text="key"
      return-object
      v-model="activeRound"
      label="Choose Round"
      solo
    ></v-select>
    <div class="row" style="margin: 0 1rem !important; background-color: var(--third-color-dark); color: white">
      <div class="col-2">UID</div>
      <div class="col-2">TEAM NAME</div>
      <div class="col-2">TOTAL POINTS</div>
      <div class="col-2">{{activeRound.key}} Points</div>
    </div>
    <div :key="index" v-for="(user, index) in users">
      <div style="margin: 0.5rem !important; border: 1px solid #EBF2FE" class="row">
        <div class="col-2">{{index}}</div>
        <div class="col-2">{{user.tm_name}}</div>
        <div class="col-2">{{user.total_points}}</div>
        <div class="col-4">
          <div :key="i" v-for="(round, i) in user.rounds">
            <span v-if="i.toUpperCase() === activeRound.key.toUpperCase()">{{round}}</span>
            <span style="color: var(--third-color); font-weight: bold; margin-left: 1rem" v-if="parseFloat(activeRound.max_points) === parseFloat(round)"> Top Scorer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import {IsEmptyObject} from "../../filter";

    export default {
        name: "points-round-wise",
        props:{
            tournament: Object
        },
        data: function () {
            return {
                EmptyObject: IsEmptyObject,
                users: {},
                activeRound: {
                    key: 'r1'
                },
                rounds: [],
                top_scorer: []
            }
        },
        mounted(){
            const self = this;
            if(!self.EmptyObject(self.tournament)) {
                self.users = self.tournament.data.users;
                self.rounds = self.tournament.data.rounds;
                self.activeRound = self.tournament.data.rounds[0];

            }
        }
    }
</script>

<style scoped>

</style>