<template>
  <div class="container-fluid top-header-mar">
    <div class="container-wrapper">
      <div v-if="!switchChange">
        <div class="image-wrapper">
          <img class="image" :src="imageUrl">
        </div>
        <div style="text-align: center; margin-top: 20px">
          <v-btn color="primary" @click="changeAvatar">Change Avatar</v-btn>
        </div>
      </div>
      <div class="row" v-else>
        <div class="col-2" v-bind:key="index" v-for="(avatar, index) in avatars">
          <img v-bind:class="{selectClass: isSelected(index)}" @click="selectThis(index)" class="avt" :src="avatar.image">
        </div>
      </div>
      <div style="margin-top: 50px">
        <v-text-field
          v-model="name"
          label="Name"
          prepend-inner-icon="mdi-account"
          outlined
        ></v-text-field>
      </div>
      <div>
        <v-text-field
          v-model="user.email"
          label="Email"
          disabled
          outlined
        ></v-text-field>
      </div>
      <div style="text-align: right">
        <v-btn color="success" @click="updateUser">Update</v-btn>
        <span style="margin: 0 10px"></span>
        <v-btn @click="cancelUpdate">Cancel</v-btn>
      </div>
    </div>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/auth';
    import 'firebase/database';
    export default {
        name: "profile",
        data: function(){
          return {
              name: '',
              user: {},
              switchChange: false,
              selectedIndex: -1,
              imageUrl: 'https://www-trimatra-me.s3-ap-southeast-1.amazonaws.com/svg-images/avatar.svg',
              avatars: [
                  {
                      image: 'https://www-trimatra-me.s3-ap-southeast-1.amazonaws.com/svg-images/avatar.svg',
                  },
                  {
                      image: 'https://www-trimatra-me.s3-ap-southeast-1.amazonaws.com/svg-images/avatar-2.svg',
                  },
                  {
                      image: 'https://www-trimatra-me.s3-ap-southeast-1.amazonaws.com/svg-images/avatar-3.svg',
                  },
                  {
                      image: 'https://www-trimatra-me.s3-ap-southeast-1.amazonaws.com/svg-images/avatar-4.svg',
                  },
                  {
                      image: 'https://www-trimatra-me.s3-ap-southeast-1.amazonaws.com/svg-images/avatar-5.svg',
                  },
                  {
                      image: 'https://www-trimatra-me.s3-ap-southeast-1.amazonaws.com/svg-images/avatar-6.svg',
                  }
              ],
          }
        },
        methods: {
            isSelected(ind){
                return this.selectedIndex === ind;
            },
            selectThis(index){
                const self = this;
                let i;
                for(i = 0; i < self.avatars.length; i++) {
                    if(i === index) {
                        self.selectedIndex = index;
                    }
                    self.avatars[i].selected = false;
                }
                self.change++;
            },
            changeAvatar(){
                const self = this;
                self.switchChange = !self.switchChange;
            },
            updateUser(){
                const self = this;
                if(self.name){
                    self.user.updateProfile({
                        displayName: self.name,
                        photoURL: self.avatars[self.selectedIndex].image
                    }).then(function() {
                        location.reload();
                        alert('User Profile Updated Successfully');
                    }).catch(function(error) {
                        // eslint-disable-next-line
                        console.log(error);
                    });
                }
            },
            cancelUpdate(){
                this.$router.replace('dashboard').catch(function () {})
            }
        },
        mounted() {
            const self = this;
            self.user = firebase.auth().currentUser;
            if(self.user) {
                self.name = self.user.displayName;
                self.imageUrl = self.user.photoURL;
            }
        }
    }
</script>

<style scoped>
  .container-wrapper{
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  .image-wrapper{
    width: 200px;
    height: 200px;
    margin: auto;
    overflow: hidden;
  }
  .image{
    width: 100%;
    height: auto;
    border-radius: 50%;
    background-color: wheat;
  }
  .avt{
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
  }
  .avt:hover{
    opacity: 0.5;
  }
  .selectClass{
    border: 2px solid green !important;
  }
</style>