<template>
  <div class="container top-header-mar-no-back">
    <div>
      <div style="padding: 1rem; background-color: #cccccc; color: #050505; font-size: 2rem">Notifications</div>
      <div :key="index" v-for="(ntf, index) in notifications">
        <div style="background-color: var(--primary-color-outline); margin: 1rem !important;" class="row">
          <div class="col-3">{{ntf.key}}</div>
          <div class="col-7">{{ntf.val}}</div>
          <div class="col-2">
            <button @click="removeNotification(ntf.key)" class="btn btn-error-color">Remove</button>
          </div>
        </div>
      </div>
      <div style="margin-top: 4rem">
        <v-text-field
          outlined
          append-icon="mdi-send"
          @click:append="pushNotification"
          label="New Notification"
          v-model="new_noti"
        ></v-text-field>
      </div>
    </div>
  </div>
</template>

<script>
    import firebase from "firebase/app"
    import "firebase/database"
    export default {
        name: "push-notifications",
        data: function () {
            return{
                notifications: [],
                new_noti: ''
            }
        },
        methods: {
            removeNotification(key){
                const self = this;
                let database = firebase.database();
                database.ref('notifications/' + key).set(null).then(function () {
                    self.new_noti = ''
                })
            },
            pushNotification(){
                const self = this;
                let database = firebase.database();
                if(self.new_noti) {
                    database.ref('notifications/').push(self.new_noti).then(function () {
                        self.new_noti = ''
                    })
                }
            },
            getNotifications() {
                const self = this;
                let database = firebase.database();
                database.ref('notifications/').on('value', function(snapshot) {
                    let returnArr = [];
                    snapshot.forEach(function(childSnapshot) {
                        let obj = {
                            key: childSnapshot.key,
                            val: childSnapshot.val()
                        };
                        returnArr.push(obj);
                    });
                    self.notifications = returnArr;
                })
            }
        },
        mounted(){
            const self = this;
            self.getNotifications()
        }
    }
</script>

<style scoped>

</style>