<template>
  <div style="padding: 1rem 0">
    <div
      v-bind:class="[
      {curr: parseInt(currentRound - 1) === parseInt(round.key.substring(1)) && parseInt(currentRound) !== parseInt(totalRound)},
      {fin: parseInt(round.key.substring(1)) === parseInt(totalRound) && parseInt(currentRound) === parseInt(totalRound)}]"
      v-if="!edit && !EmptyObject(round)" class="round">
      <div v-if="!EmptyObject(round)" class="row">
        <div class="col-5 p-1">
          <div>Round:{{round.key.substring(1)}}</div>
          <div>{{round.deadlineDate}}</div>
          <div>{{round.deadlineTime}}</div>
        </div>
        <div class="col-3 p-1">
          Free Transfer:
          <div>{{round.fr_trns}}</div>
        </div>
        <div class="col-4 p-1 my-auto" style="text-align: right">
          <button @click="editThisRound" class="btn btn-neutral-action">Edit</button>
          <button style="margin-left: 1rem" v-if="show" @click="show = false" class="btn btn-success-color">Hide</button>
          <button style="margin-left: 1rem" v-else @click="show = true" class="btn btn-error-color">Show</button>
        </div>
      </div>
      <div v-if="show">
        <div :key="index" v-for="(match, index) in matches" class="row match">
          <div class="col-6 my-auto">Match {{index + 1}}</div>
          <div class="col-6 my-auto">
            <div>Match Starts</div>
            <div>{{new Date(match.deadlineDate).toString().substring(0, 15)}}</div>
            <div>{{match.deadlineTime}}</div>
          </div>
          <div class="col-6 my-auto">
            <div>Home Team</div>
            <div>{{getTeamNameByKey(match.tm_1).name}}</div>
          </div>
          <div class="col-6 my-auto">
            <div>Away Team</div>
            <div>{{getTeamNameByKey(match.tm_2).name}}</div>
          </div>
          <div class="col-12 my-auto" style="text-align: right">
            <button @click="openMatchMode(match)" style="margin-bottom: 1rem" class="btn btn-fourth">Update Playing XI</button>
            <button v-if="match.squad_locked" style="margin-left: 1rem; margin-bottom: 1rem" @click="pushMatchToScorer(match)" class="btn btn-first">Push to Scorer</button>
            <button v-if="match.squad_locked" style="margin-left: 1rem; margin-bottom: 1rem" @click="removeFromScorer(match)" class="btn btn-second">Remove from Scorer</button>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="round">
      <div v-if="!playerMode">
        <div class="row" >
          <div class="col-6 p-1">
            <v-text-field
              v-model="fr_trns"
              label="Free Transfer"
              outlined
              dense
            ></v-text-field>
          </div>
          <div class="col-6 p-1">
            <v-text-field
              v-model="total_matches"
              label="Total Matches"
              type="number"
              outlined
              dense
              @input="populateMatches"
            ></v-text-field>
          </div>
        </div>
        <div class="row" style="margin: 1rem 0 !important;">
          <div class="col-12 text-left">
            Round {{key.substring(1)}} Deadline
          </div>
          <div class="col-12 p-1" style="text-align: left">
            <v-date-picker
              flat
              width="250"
              color="error"
              :min="minDate"
              v-model="deadlineDate"
            >
            </v-date-picker>
          </div>
          <div class="col-12 p-1" style="text-align: left">
            <v-time-picker
              flat
              width="250"
              v-model="deadlineTime"
              ampm-in-title
            >
            </v-time-picker>
          </div>
        </div>
        <div class="row">
          <div class="col-12 p-1" :key="index" v-for="(match,index) in matches">
            <div style="background-color: #f7f7f7; color: #050505; padding: 1rem">Match - {{index + 1}}</div>
            <div style="background-color: #f7f7f7; color: #050505;" class="row justify-content-around">
              <div class="col-6 p-1">
                <v-select
                  label="Team 1"
                  :items="teamItems"
                  item-text="name"
                  item-value="id"
                  v-model="match.tm_1"
                  solo
                  dense
                ></v-select>
              </div>
              <div class="col-6 p-1">
                <v-select
                  label="Team 2"
                  :items="teamItems"
                  item-text="name"
                  item-value="id"
                  v-model="match.tm_2"
                  solo
                  dense
                >
                </v-select>
              </div>
              <div class="col-6 p-1">
                <v-text-field
                  label="Unique ID"
                  v-model="match.unique_id"
                  outlined
                  dense
                >
                </v-text-field>
              </div>
            </div>
            <div style="background-color: #f7f7f7; color: #050505;" class="row justify-content-around">
              <div class="col-12 p-1">
                <v-date-picker
                  style="font-size: 1.4rem"
                  color="error"
                  width="250"
                  :min="minDate"
                  v-model="match.deadlineDate"
                >
                </v-date-picker>
              </div>
              <div class="col-12 p-1">
                <v-time-picker
                  width="250"
                  v-model="match.deadlineTime"
                  ampm-in-title
                >
                </v-time-picker>
              </div>
            </div>
          </div>
        </div>
        <div style="text-align: right; margin: 2rem 0">
          <button @click="updateRound" style="margin-right: 1rem" class="btn btn-second-outline">Update</button>
          <button @click="edit = false" class="btn btn-neutral-action">Cancel</button>
        </div>
      </div>
      <div v-else>
        <div class="row">
          <div class="col-6">
            Team {{getTeamNameByKey(editableMatch.tm_1).name}}
            <v-autocomplete
              v-model="editableMatch.tm_1_xi"
              :items="tm_1_players"
              item-text="name"
              outlined
              chips
              deletable-chips
              hide-selected
              :label="getTeamNameByKey(editableMatch.tm_1).name"
              multiple
              clearable
              counter
              return-object
            >
            </v-autocomplete>
          </div>
          <div class="col-6">
            Team {{getTeamNameByKey(editableMatch.tm_2).name}}
            <v-autocomplete
              v-model="editableMatch.tm_2_xi"
              :items="tm_2_players"
              item-text="name"
              outlined
              chips
              deletable-chips
              hide-selected
              :label="getTeamNameByKey(editableMatch.tm_2).name"
              multiple
              clearable
              counter
              return-object
            >
            </v-autocomplete>
          </div>
          <div class="col-6">
            <v-select
              v-model="editableMatch.bat_first"
              :items="teamItems"
              item-text="name"
              item-value="id"
              outlined
              label="Bat First"
            >
            </v-select>
          </div>
        </div>
        <div style="padding: 1.5rem; text-align: right">
          <button @click="updateMatchXI" class="btn-second">Update XI</button>
          <button @click="closeEditMode" class="btn-second">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import {generateCode, IsEmptyObject} from "../../filter";
    export default {
        name: "round-card",
        props: {
            roundItem: Object,
            teams: Array,
            pool: Array,
            currentRound: Number,
            totalRound: Number,
        },
        data: function () {
            return {
                round: {},
                edit: false,
                minDate: new Date().toISOString().substr(0, 10),
                key: '',
                fr_trns: '',
                deadlineDate: new Date().toISOString().substr(0, 10),
                deadlineTime: null,
                total_matches: 0,
                matches: [],
                teamItems: [],
                playerMode: false,
                editableMatch: {},
                players_pool: [],
                tm_1_players: [],
                tm_2_players: [],
                EmptyObject: IsEmptyObject,
                show: false
            }
        },
        methods: {
            updateMatchXI(){
                const self = this;
                let match = {
                    match_id: self.editableMatch.match_id,
                    bat_first: self.editableMatch.bat_first,
                    tm_1_xi: self.editableMatch.tm_1_xi,
                    tm_2_xi: self.editableMatch.tm_2_xi
                };
                self.$emit('update-match-information', self.key, match)
            },
            pushMatchToScorer(match){
                const self = this;
                self.$emit('push-to-scorer', self.key, match)
            },
            removeFromScorer(match){
                const self = this;
                self.$emit('hide-match-scorer', self.key, match)
            },
            openMatchMode(match){
                const self = this;
                self.edit = true;
                self.playerMode = true;
                self.editableMatch = match;
                self.tm_1_players = [];
                self.tm_2_players = [];
                for (let i = 0 ; i < self.players_pool.length; i++) {
                    if(self.players_pool[i].team_id === match.tm_1) {
                        self.tm_1_players.push({
                            name: self.players_pool[i].name,
                            key: self.players_pool[i].key,
                            pid: self.players_pool[i].pid,
                            dnbt: true,
                            dnbl: true,
                        })
                    } else if(self.players_pool[i].team_id === match.tm_2) {
                        self.tm_2_players.push({
                            name: self.players_pool[i].name,
                            key: self.players_pool[i].key,
                            pid: self.players_pool[i].pid,
                            dnbt: true,
                            dnbl: true,
                        })
                    }
                }
            },
            closeEditMode(){
                const self = this;
                self.edit = false;
                self.playerMode = false;
                self.editableMatch = {};
                self.tm_1_players = [];
                self.tm_2_players = [];
            },
            getTeamNameByKey(key){
                const self = this;
                for (let i = 0; i < self.teams.length; i++) {
                    if(self.teams[i].id === key ) {
                        return self.teams[i];
                    }
                }
                return ''
            },
            editThisRound(){
                const self = this;
                self.edit = true;
                self.playerMode = false;
            },
            populateMatches(){
                const self = this;
                let i;
                self.matches = [];
                for (i = 0; i < parseInt(self.total_matches); i++) {
                    let object = {
                        match_id: 'm-' + generateCode(),
                        tm_1: '',
                        tm_2: '',
                        deadlineDate: new Date().toISOString().substr(0, 10),
                        deadlineTime: '00:00'
                    };
                    self.matches.push(object)
                }
            },
            updateRound(){
                const self = this;
                for (let i = 0; i < parseInt(self.total_matches); i++) {
                    self.matches[i].deadline = new Date(self.matches[i].deadlineDate + ' ' + self.matches[i].deadlineTime).toISOString()
                }
                let roundItem = {
                    key: self.key,
                    fr_trns: self.fr_trns,
                    deadlineDate: self.deadlineDate,
                    deadlineTime: self.deadlineTime,
                    deadline: new Date(self.deadlineDate + ' ' + self.deadlineTime).toISOString(),
                    total_matches: self.total_matches,
                    matches: self.matches
                };
                self.$emit('update-round-information', self.key, roundItem)
            }
        },
        mounted(){
            const self = this;
            if(self.roundItem) {
                self.round = self.roundItem;
                self.key = self.roundItem.key;
                self.fr_trns = self.roundItem.fr_trns;
                self.deadlineDate = self.roundItem.deadlineDate || self.deadlineDate;
                self.deadlineTime = self.roundItem.deadlineTime || self.deadlineTime;
                self.total_matches = self.roundItem.total_matches || 0;
                self.matches = self.roundItem.matches || []
                if(self.teams) {
                    self.teamItems = self.teams
                }
                if(self.pool) {
                    self.players_pool = self.pool;
                }
            }
        }
    }
</script>

<style scoped>
  .round{
    background-color:white;
    padding: 1rem !important;
    margin: 0.5rem !important;
    font-size: 1.6rem;
    color: #050505;
    box-shadow: 0 .3rem .6rem 0 rgba(0, 0, 0, 0.16);

  }
  .match{
    background-color: var(--secondary-color-outline);
    color: #050505;
    margin: 0.5rem 0 !important;
    border-radius: 0.4rem;
  }
  .curr{
    background-color: var(--fourth-color-light) !important;
    color: white;
  }
  .fin{
    background-color: var(--fourth-color-light) !important;
    color: white;
  }
</style>