<template>
  <div class="">
    <div v-if="!viewScore">
      <div class="round-card" :key="index" v-for="(round, index) in rounds">
        <div style="margin: 0.5rem; padding: 1.5rem; font-size: 1.6rem">Round {{round.key.substring(1)}}</div>
        <div class="row" style="margin: 0.5rem !important; padding: 0.5rem !important;"
             :key="match.match_id" v-for="match in round.data.match">
          <div class="col-8">
            <div>{{match.match_id}}</div>
            <div>
              {{getTeamByKey(match.tm_1).name}} vs {{getTeamByKey(match.tm_2).name}}
            </div>
            <div>
              Bat First: {{getTeamByKey(match.bat_first).name}}
            </div>
          </div>
          <div class="col-4 my-auto mx-auto text-right">
            <button @click="openPlayerView(match, round)" class="btn btn-third">See Scores</button>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <div :key="player.key" v-for="player in currentMatch.tm_1_xi">
        <player-component
          v-bind:info="player"
          v-bind:match_type="match_type"
          v-on:update-stat="updatePlayerStat"
          v-on:cancel="closeView"
        >
        </player-component>
      </div>
      <div :key="player.key" v-for="player in currentMatch.tm_2_xi">
        <player-component
          v-bind:info="player"
          v-bind:match_type="match_type"
          v-on:update-stat="updatePlayerStat"
          v-on:cancel="closeView"
        >
        </player-component>
      </div>
    </div>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import PlayerComponent from "./player-component";
    export default {
        name: "scorecard",
        components: {
            PlayerComponent
        },
        props: {
          tournament_key: String,
          match_type: String,
          pool: Array,
          teams: Array,
          type: String,
        },
        data: function () {
            return {
                rounds: [],
                player_pool: [],
                series_teams: [],
                viewScore: false,
                currentMatch: {},
                currentRound: {},
                tour_type: ''
            }
        },
        methods: {
            updatePlayerStat(player_key, stats){
                const self = this;
                self.$emit('update-stats-in-pool', player_key, self.currentRound.key, stats, self.currentMatch.match_id)
            },
            closeView(){
                const self = this;
                self.currentMatch = {};
                self.currentRound = {};
                self.viewScore = false;
            },
            openPlayerView(match, round){
                const self = this;
                self.currentMatch = match;
                self.currentRound = round;
                self.viewScore = true;
            },
            getTeamByKey(key){
              const self = this;
              for(let i = 0; i < self.series_teams.length; i++) {
                  if(self.series_teams[i].id === key) {
                      return self.series_teams[i]
                  }
              }
            },
            getScorerData(){
                const self = this;
                let database = firebase.database();
                database.ref('scorer/' + self.tour_type + '/' + self.tournament_key + '/rounds').on("value", function (snapshot) {
                    let returnArr = [];
                    snapshot.forEach(function (childSnapshot) {
                        let obj = {
                            key: childSnapshot.key,
                            data: childSnapshot.val()
                        };
                        returnArr.push(obj)
                    });
                    self.rounds = returnArr;
                });
            }
        },
        mounted(){
            const self = this;
            if(self.type && self.type === 'series') {
                self.tour_type = 'series'
            } else {
                self.tour_type = 'tournaments'
            }
            if(self.tournament_key) {
                self.getScorerData()
            }
            if(self.pool) {
                self.player_pool = self.pool;
            }
            if(self.teams) {
                self.series_teams = self.teams;
            }
        }

    }
</script>

<style scoped>
.round-card{
  color: #050505;
  padding: 0.5rem !important;
  margin: 1rem !important;
  border-radius: 0.4rem;
  box-shadow: 0 .3rem .6rem 0 rgba(0, 0, 0, 0.16);
}
</style>