<template>
  <div>
    <div class="player-card">
      <div style="background-color: var(--secondary-color-outline)" class="row">
        <div class="col-4 col-xl-1">
          <div class="image-wrapper">
            <img class="image" :src="player.imageURL ? player.imageURL: imageURL" alt="Smiley face">
          </div>
        </div>
        <div class="col-8 col-xl-5 my-auto">
          <div style="color: #3d4249; font-size: 1rem;">{{player.team}}</div>
          <div style="font-size: 1.4rem;">{{player.name}}</div>
          <div style="font-size: 1.2rem; color: var(--secondary-color)">{{player.playingRole || 'N/A'}}</div>
          <div>
            <v-icon @click="editPlayerInfo" >mdi-square-edit-outline</v-icon>
          </div>
        </div>
        <div style="font-size: 1.6rem" class="col-4 col-xl-2 my-auto">
          <div style="font-size: 1.2rem">Price</div>
          <div v-if="!editPrice">
            <div style="color: var(--secondary-color); font-size: 1.6rem">${{player.price}}m</div>
            <div>
              <v-icon @click="editPrice = true" >mdi-square-edit-outline</v-icon>
            </div>
          </div>
          <div v-else>
            <div>
              <v-text-field
                v-model="price"
                prepend-inner-icon="mdi-currency-usd"
                suffix="m"
              >
              </v-text-field>
            </div>
            <div>
              <v-icon style="margin: 0 10px 0 0" color="success" @click="updatePrice">mdi-check</v-icon>
              <v-icon color="error" @click="cancelUpdate">mdi-close-circle</v-icon>
            </div>
          </div>
        </div>
        <div class="col-4 col-xl-2 my-auto">
          <div style="font-size: 1.2rem;">Total Points</div>
          <div style="font-size: 1.8rem; color: var(--success)">
            {{player.total_points}}
            <v-icon @click="editPoints" >mdi-square-edit-outline</v-icon>
          </div>
        </div>
        <div class="col-4 col-xl-2 my-auto">
          <div style="font-size: 1.2rem;">Rank</div>
          <div style="font-size: 1.8rem; color: var(--success)">{{player.rank}}</div>
        </div>
      </div>
    </div>
    <div class="row round" v-if="editPlayer">
      <div class="col-12 no-padding">
        <div class="row">
          <v-text-field
            class="col-6"
            label="Name"
            v-model="name"
          >
          </v-text-field>
          <v-text-field
            class="col-6"
            label="Playing Role"
            v-model="playingRole"
          >
          </v-text-field>
          <v-text-field
            class="col-6"
            label="Country"
            v-model="country"
          >
          </v-text-field>
          <v-text-field
            class="col-6"
            label="Image Url"
            v-model="imgUrl"
          >
          </v-text-field>
        </div>
      </div>
      <div class="col-12" style="text-align: right">
        <button style="margin-right: 1rem" @click="updatePlayerInfo" class="btn btn-fourth">Update</button>
        <button class="btn btn-error-color" @click="editPlayer = false">Cancel</button>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "single-match-player",
        props: {
            player: Object,
            matchType: String
        },
        data: function () {
            return {
                editPlayer: false,
                name: '',
                playingRole: '',
                country: '',
                imgUrl: '',
                editPrice: false,
                price: '',
                havePlayed: false,
                isBowler: false,
                stats: {},
                isTest: false,
                type: ''
            }
        },
        methods: {
            editPlayerInfo(){
                const self = this;
                self.editPlayer = true;
            },
            updatePrice(){
                const self = this;
                self.$emit('update-price', self.player.key, self.price)
                self.editPrice = false
            },
            cancelUpdate(){
                const self = this;
                self.editPrice = false
            },
            updatePlayerInfo(){
                const self = this;
                let info = {
                    pid: self.player.pid
                };
                if(self.name) {
                    info.name = self.name
                }
                if(self.country) {
                    info.country = self.country
                }
                if(self.playingRole) {
                    info.playingRole = self.playingRole
                }
                if(self.imgUrl) {
                    info.imageURL = self.imgUrl
                }
                self.$emit('update-player-info', self.player.key, info)
            },
            calculatePoints(stats){
                const self = this;
                let bonus = 0;
                let total = 0;
                let pctc = stats.catch ? parseInt(stats.catch * 6) : 0;
                let pstm = stats.stump ? parseInt(stats.stump * 10) : 0;
                let prout = stats.run_out ? parseInt(stats.run_out * 8) : 0;
                if(self.isTest) {
                    let pctc_2 = stats.catch_2 ? parseInt(stats.catch_2 * 6) : 0;
                    let pstm_2 = stats.stump_2 ? parseInt(stats.stump_2 * 10) : 0;
                    let prout_2 = stats.run_out_2 ? parseInt(stats.run_out_2 * 8) : 0;
                    pctc = pctc + pctc_2;
                    pstm = pstm + pstm_2;
                    prout = prout + prout_2;
                }
                if(stats.played) {
                    bonus = 5;
                    let pr = 0, pw = 0;
                    let tot_wckt = 0;
                    if(stats.batted) {
                        let p4 = 0, p6 = 0;
                        pr = stats.runs ? parseInt(stats.runs) : 0;
                        p4 = stats.fours ? parseInt(stats.fours) : 0;
                        p6 = stats.sixs ? parseInt(stats.sixs * 2) : 0;
                        bonus = bonus + p4 + p6;
                    }
                    switch (self.type) {
                        case 'test':
                            if(stats.batted) {
                                if(pr >= 200 ) {
                                    bonus+=20;
                                } else if(pr >= 100){
                                    bonus+=10;
                                } else if(pr >= 50) {
                                    bonus+=5;
                                }
                                if (pr === 0 && !self.isBowler) {
                                    bonus-=10;
                                }
                            }
                            if(stats.batted_2) {
                                let pr_2 = stats.runs_2 ? parseInt(stats.runs_2) : 0;
                                let p4_2 = 0, p6_2 = 0;
                                p4_2 = stats.fours_2 ? parseInt(stats.fours_2) : 0;
                                p6_2 = stats.sixs_2 ? parseInt(stats.sixs_2 * 2) : 0;
                                bonus = bonus + p4_2 + p6_2;
                                if(pr_2 >= 200 ) {
                                    bonus+=20;
                                } else if(pr_2 >= 100){
                                    bonus+=10;
                                } else if(pr_2 >= 50) {
                                    bonus+=5;
                                }
                                if (pr_2 === 0 && !self.isBowler) {
                                    bonus-=10;
                                }
                                pr = pr + pr_2;
                            }
                            if(stats.bowled) {
                                pw = stats.wickets ? parseInt(stats.wickets * 15) : 0;
                                tot_wckt = stats.wickets ? parseInt(stats.wickets) : 0;
                            }
                            if(stats.bowled_2) {
                                let pw_2 = stats.wickets_2 ? parseInt(stats.wickets_2 * 15) : 0;
                                let tot_wckt_2 = stats.wickets_2 ? parseInt(stats.wickets_2) : 0;
                                tot_wckt = tot_wckt + tot_wckt_2;
                                pw = pw + pw_2;
                            }
                            if(tot_wckt >= 10) {
                                bonus+=25;
                            } else if(tot_wckt >= 5) {
                                bonus+=10;
                            }
                            break;
                        case 'odi':
                            if(stats.batted) {
                                if(pr >= 100 ) {
                                    bonus+=20;
                                } else if(pr >= 50){
                                    bonus+=10;
                                }
                                if(!self.isBowler){
                                    if (pr === 0) {
                                        bonus= bonus - 10;
                                    }
                                    if(stats.balls && parseInt(stats.balls) >= 20) {
                                        let sr = parseInt((parseInt(stats.runs) / parseInt(stats.balls))*100);
                                        if(sr < 30) {
                                            bonus = bonus - 6;
                                        } else if(sr < 40) {
                                            bonus = bonus - 4;
                                        }else if(sr < 50) {
                                            bonus = bonus - 2;
                                        }
                                    }
                                }
                            }
                            if(stats.bowled) {
                                pw = stats.wickets ? parseInt(stats.wickets * 20) : 0;
                                if(stats.wickets && parseInt(stats.wickets) >= 5) {
                                    bonus+=20;
                                } else if(stats.wickets && parseInt(stats.wickets) === 4) {
                                    bonus+=10;
                                }
                                if(stats.maidens && parseInt(stats.maidens) > 0) {
                                    bonus = bonus + parseInt(stats.maidens * 4)
                                }
                                if(stats.economy && stats.overs && parseInt(stats.overs) >= 4) {
                                    if(parseFloat(stats.economy) <= 3) {
                                        bonus = bonus + 2;
                                    } else if(parseFloat(stats.economy) <= 6){
                                        bonus = bonus + 1;
                                    } else if(parseFloat(stats.economy) >= 7){
                                        bonus = bonus - 1;
                                    } else if(parseFloat(stats.economy) >= 9){
                                        bonus = bonus - 2;
                                    }
                                }
                            }
                            break;
                        case 't20':
                            if(stats.batted) {
                                if(pr >= 100 ) {
                                    bonus+=30;
                                } else if(pr >= 50){
                                    bonus+=15;
                                }
                                if(!self.isBowler){
                                    if (pr === 0) {
                                        bonus= bonus - 10;
                                    }
                                    if(stats.balls && parseInt(stats.balls) >= 10) {
                                        let sr = parseInt((parseInt(stats.runs) / parseInt(stats.balls))*100);
                                        if(sr < 30) {
                                            bonus = bonus - 8;
                                        } else if(sr < 40) {
                                            bonus = bonus - 6;
                                        } else if(sr < 50) {
                                            bonus = bonus - 4;
                                        } else if(sr < 80) {
                                            bonus = bonus - 2;
                                        }
                                    }
                                }
                            }
                            if(stats.bowled) {
                                pw = stats.wickets ? parseInt(stats.wickets * 25) : 0;
                                if(stats.wickets && parseInt(stats.wickets) >= 5) {
                                    bonus+=20;
                                } else if(stats.wickets && parseInt(stats.wickets) >= 3) {
                                    bonus+=10;
                                }
                                if(stats.maidens && parseInt(stats.maidens) > 0) {
                                    bonus = bonus + parseInt(stats.maidens * 6)
                                }
                                if(stats.economy && stats.overs && parseInt(stats.overs) >= 2) {
                                    if(parseFloat(stats.economy) <= 4) {
                                        bonus = bonus + 2;
                                    } else if(parseFloat(stats.economy) <= 7){
                                        bonus = bonus + 1;
                                    } else if(parseFloat(stats.economy) >= 8){
                                        bonus = bonus - 1;
                                    } else if(parseFloat(stats.economy) >= 10){
                                        bonus = bonus - 2;
                                    }
                                }
                            }
                            break;
                        case 't10':
                            if(stats.batted) {
                                if(pr >= 100 ) {
                                    bonus+=40;
                                } else if(pr >= 50){
                                    bonus+=20;
                                } else if(pr >= 30){
                                    bonus+=10;
                                }
                                if(!self.isBowler){
                                    if (pr === 0) {
                                        bonus= bonus - 10;
                                    }
                                    if(stats.balls && parseInt(stats.balls) >= 5) {
                                        let sr = parseInt((parseInt(stats.runs) / parseInt(stats.balls))*100);
                                        if(sr < 30) {
                                            bonus = bonus - 10;
                                        } else if(sr < 40) {
                                            bonus = bonus - 8;
                                        } else if(sr < 50) {
                                            bonus = bonus - 6;
                                        } else if(sr < 80) {
                                            bonus = bonus - 4;
                                        } else if(sr < 100) {
                                            bonus = bonus - 2;
                                        }
                                    }
                                }
                            }
                            if(stats.bowled) {
                                pw = stats.wickets ? parseInt(stats.wickets * 25) : 0;
                                if(stats.wickets && parseInt(stats.wickets) >= 4) {
                                    bonus+=20;
                                } else if(stats.wickets && parseInt(stats.wickets) >= 2) {
                                    bonus+=10;
                                }
                                if(stats.maidens && parseInt(stats.maidens) > 0) {
                                    bonus = bonus + parseInt(stats.maidens * 10)
                                }
                                if(stats.economy && stats.overs) {
                                    if(parseFloat(stats.economy) <= 6) {
                                        bonus = bonus + 2;
                                    } else if(parseFloat(stats.economy) <= 8){
                                        bonus = bonus + 1;
                                    } else if(parseFloat(stats.economy) >= 10){
                                        bonus = bonus - 1;
                                    } else if(parseFloat(stats.economy) >= 12){
                                        bonus = bonus - 2;
                                    }
                                }
                            }
                            break;
                        default:
                            break;
                    }
                    total = parseInt(pr + pw + pctc + pstm + prout + bonus);
                } else {
                    total = parseInt(pctc + pstm + prout);
                }
                return {
                    total: total,
                    bonus: bonus
                }
            },
            editPoints(){
              const self = this;
              if(self.playingRole.toLowerCase().includes('bowler')) {
                  self.isBowler = true;
              }
              let points = {
                  total: 0,
                  bonus: 0
              };
              if(self.player.stats){
                  points = self.calculatePoints(self.player.stats)
              }
              self.$emit('update-points', self.player.key, points.total, points.bonus);
            },
        },
        mounted(){
            const self = this;
            if(self.player) {
                self.name = self.player.name;
                self.playingRole = self.player.playingRole;
                self.country = self.player.country;
                self.imgUrl = self.player.imageURL;
                self.price = self.player.price;
            }
            if(self.matchType) {
                self.type = self.matchType.toString().toLowerCase()
                if(self.type.toLowerCase() === 'test') {
                    self.isTest = true;
                }
            }
        }
    }
</script>

<style scoped>
  .player-card{
    padding: 10px !important;
    box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16);
    margin: 10px !important;
  }
  .image-wrapper{
    overflow: hidden;
    width: auto;
    height: 100%;
    border-radius: 4px;
  }
  .image{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 4px;
    border: 1px solid whitesmoke;
  }
  .active{
    background-color: var(--fourth-color-outline);
  }
</style>