<template>
  <div :key="change" v-if="!EmptyObject(currentMatch) && tournament_key" class="container-fluid top-header-mar-no-back">
    <div :key="player.key" v-for="player in currentMatch.tm_1_xi">
      <player-component
        v-bind:info="player"
        v-bind:match_type="match_type"
        v-on:update-stat="updatePlayerStat"
      >
      </player-component>
    </div>
    <div :key="player.key" v-for="player in currentMatch.tm_2_xi">
      <player-component
        v-bind:info="player"
        v-bind:match_type="match_type"
        v-on:update-stat="updatePlayerStat"
      >
      </player-component>
    </div>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import PlayerComponent from "./player-component";
    import {IsEmptyObject} from "../../filter";
    export default {
        name: "scorecard",
        components: {
            PlayerComponent
        },
        props: {
            tournament_key: String,
            pool: Array,
        },
        data: function () {
            return {
                player_pool: [],
                currentMatch: {},
                match_data: {},
                match_type: '',
                EmptyObject: IsEmptyObject,
                change: 0

            }
        },
        methods: {
            updatePlayerStat(player_key, stats){
                const self = this;
                self.$emit('update-stats-in-pool', player_key, stats)
            },
            getScorerData(){
                const self = this;
                let database = firebase.database();
                database.ref('scorer/single-match/' + self.tournament_key).on("value", function (snapshot) {
                    self.currentMatch = snapshot.val().match;
                    self.match_data = snapshot.val().data;
                    self.match_type = snapshot.val().data.match_type
                    self.change++;
                });
            }
        },
        mounted(){
            const self = this;
            if(self.tournament_key) {
                self.getScorerData()
            }
            if(self.pool) {
                self.player_pool = self.pool;
            }
        }

    }
</script>

<style scoped>
  .round-card{
    color: #050505;
    padding: 0.5rem !important;
    margin: 1rem !important;
    border-radius: 0.4rem;
    box-shadow: 0 .3rem .6rem 0 rgba(0, 0, 0, 0.16);
  }
</style>