<template>
  <div v-if="!EmptyObject(team)" class="team">
    <div v-if="!edit">
      <div class="row" style="padding: 1rem !important;">
        <div class="col-4 p-2">
          <div style="font-size: 2rem; color: var(--third-color)">Team {{teamItem.name}}</div>
          <div class="image-wrapper">
            <img class="image" :src="teamItem.imageURL ? teamItem.imageURL: imageURL" alt="Smiley face">
          </div>
        </div>
        <div class="col-8 p-2 text-right">
          <button @click="editTeamInfo" class="btn btn-first">Edit Team Info</button>
          <div>
            <button style="margin-left: 1rem; margin-top: 0.5rem" @click="editPlayerInfo" class="btn btn-second">Edit Players</button>
          </div>
        </div>
      </div>
      <div style="background-color: antiquewhite; padding: 1rem !important;" v-if="teamItem.players" class="row">
        <div class="col-4 col-sm-2 col-md-2 col-lg-1 col-xl-1 p-2" style="color: #050505; border-radius: 0.4rem;" :key="player" v-for="player in teamItem.players">
          <div>
            <div style="height: 12rem; width: 100%; max-width: 10rem">
              <img class="image" :src="getPlayerFromPool(player).imageURL ? getPlayerFromPool(player).imageURL: imageURL" alt="Smiley face">
            </div>
            <div style="font-size: 1.2rem;">{{getPlayerFromPool(player).name}}</div>
            <div style="font-size: 1rem; color: #707070">{{getPlayerFromPool(player).country}}</div>
          </div>
        </div>
      </div>
      <div style="padding: 1rem; font-size: 1.6rem">Players: {{teamItem.players ? teamItem.players.length : 0}}</div>
    </div>
    <div v-else>
      <div v-if="infoUpdate" class="row">
        <div class="col-2 p-1">
          Team
          <div>{{teamItem.name}}</div>
        </div>
        <div class="col-6 p-1">
          <v-text-field
            label="Image Url"
            v-model="imageURL"
          >
          </v-text-field>
        </div>
        <div class="col-4 p-1 text-right">
          <button @click="updateTeamInfo" class="btn btn-third-outline">Update Team</button>
          <div>
            <button style="margin-top: 0.5rem" @click="edit = false" class="btn btn-neutral-action">Cancel</button>
          </div>
        </div>
      </div>
      <div v-if="playerUpdate">
        <div :key="change" v-if="team_players.length > 0" class="row">
          <div class="col-4 col-sm-2 col-md-2 col-lg-1 col-xl-1 p-1" :key="player.key" v-for="player in team_players">
            <div style="background-color: #361656; color: white; border-radius: 0.4rem">
              <div style="height: 12rem; width: 100%; max-width: 10rem">
                <img @error="replaceByDefault" class="image" :src="player.imageURL ? player.imageURL: imageURL2" alt="Smiley face">
              </div>
              <div style="padding: 0.2rem; font-size: 1.2rem">{{player.name}}</div>
              <div style="padding: 0.2rem; font-size: 1rem">{{player.country}}</div>
              <button style="width: 100%" @click="removeThisPlayer(player)" class="btn btn-error-color">Remove</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 p-1 text-left">
            <button @click="dialog = true" class="btn btn-fourth-outline">ADD NEW</button>
          </div>
          <div class="col-8 p-1 text-right">
            <button style="margin-right: 1rem" @click="updatePlayers" class="btn btn-third-outline">Update Players</button>
            <button @click="edit = false" class="btn btn-neutral-action">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <v-dialog v-model="dialog" scrollable fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card v-if="players.length > 0" :key="chng" style="height: 100vh; overflow-y: auto; width: 100%; overflow-x: hidden; background-color: white">
        <v-toolbar flat style="max-height: 6.4rem; background-color: var(--primary-color-dark)" dark >
          <v-btn icon dark @click="dialog = false">
            <v-icon style="font-size: 2rem">mdi-arrow-left</v-icon>
          </v-btn>
          <v-toolbar-title style="font-size: 1.6rem">
            All Players
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-select
              v-model="country"
              :items="countries"
              @change="sortByCountry"
            ></v-select>
          </v-toolbar-items>
        </v-toolbar>
        <div :key="index" v-for="(player, index) in players">
          <div v-if="!isSelected(player.key)" class="row player-card">
            <div class="col-2">
              <div class="image-wrapper">
                <img @error="replaceByDefault" class="image" :src="player.imageURL ? player.imageURL: imageURL2" alt="Smiley face">
              </div>
            </div>
            <div class="col-6">
              <div style="font-size: 1.2rem; text-align: left; color: #050505; margin-top: 0.5rem">{{player.name}}</div>
              <div style="font-size: 1rem; text-align: left; color: #777777">{{player.country}}</div>
            </div>
            <div class="col-4" style="text-align: center;">
              <button class="btn btn-first" @click="selectThisPlayer(player)">Add</button>
            </div>
          </div>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
    import {IsEmptyObject} from "../../filter";
    import firebase from "firebase/app";

    export default {
        name: "team-card",
        props: {
            teamItem: Object,
            pool: Array,
            all_players: Array
        },
        data: function () {
            return {
                dialog: false,
                team: {},
                imageURL: require('../../assets/logo/icon_logo.png'),
                imageURL2: require('../../assets/al.svg'),
                edit: false,
                players: [],
                team_players: [],
                pool_players: [],
                infoUpdate: false,
                playerUpdate: false,
                EmptyObject: IsEmptyObject,
                new_add: [],
                new_remove: [],
                change: 0,
                chng: 0,
                country: 'BAN',
                countries: ['AUS', 'AFG', 'BAN', 'ENG', 'IND', 'IRE', 'NZ', 'PAK', 'SCO', 'SA', 'SRI', 'UAE', 'WI', 'ZIM', 'OMAN', 'PNG', 'NED', 'NAM', 'NEP', 'USA', 'CAN',],
            }
        },
        methods: {
            sortByCountry(){
              const self = this;
              let database = firebase.database();
              database.ref('players/'+ self.country).on('value', function(snapshot) {
                let returnArr = [];
                snapshot.forEach(function(childSnapshot) {
                  let object = {
                    key: childSnapshot.val().upid.toString(),
                    pid: childSnapshot.val().pid,
                    country: childSnapshot.val().country || '',
                    imageURL: childSnapshot.val().imageURL || '',
                    playingRole: childSnapshot.val().playingRole || '',
                    name: childSnapshot.val().fullName,
                    first: childSnapshot.val().firstName,
                    last: childSnapshot.val().lastName,
                    price: 10,
                  };
                  returnArr.push(object);
                });
                self.players = returnArr
                self.chng++;
              });
            },
            replaceByDefault(e) {
                const self = this;
                e.target.src = self.imageURL
            },
            isSelected(player){
                const self = this;
                let i;
                for(i = 0; i < self.team_players.length; i++) {
                    if(self.team_players[i].key === player) {
                        return true;
                    }
                }
                return false
            },
            removeThisPlayer(player){
                const self = this;
                const index = self.team_players.findIndex(key => key === player);
                if(index !== -1){
                    self.team_players.splice(index, 1);
                }
                self.change++;
            },
            selectThisPlayer(player){
                const self = this;
                self.team_players.push(player)
                self.change++;
            },
            editTeamInfo(){
                const self = this;
                self.edit = true;
                self.playerUpdate = false;
                self.infoUpdate = true;
            },
            editPlayerInfo(){
                const self = this;
                self.edit = true;
                self.infoUpdate = false;
                self.playerUpdate = true;
            },
            updateTeamInfo(){
                const self = this;
                let teamObj = {
                    id: self.team.id,
                    name: self.team.name,
                    imageURL: self.imageURL,
                };
                self.$emit('update-team-info', self.team.id, teamObj)
                self.edit = false;
            },
            updatePlayers(){
                const self = this;
                let teamObj = {
                    players: []
                };
                let newPlayers = [];
                for (let i = 0 ; i < self.team_players.length; i++) {
                    teamObj.players.push(self.team_players[i].key)
                    let found = false;
                    if(self.teamItem.players) {
                        for (let j = 0 ; j < self.teamItem.players.length; j++) {
                            if(self.teamItem.players[j] === self.team_players[i].key) {
                                found = true;
                                break;
                            }
                        }
                    }
                    if(!found) newPlayers.push(self.team_players[i])
                }
                self.$emit('update-team-info', self.team.id, teamObj);
                if(newPlayers.length > 0) self.$emit('update-pool-info', newPlayers, self.team.id, self.team.name);
            },
            getPlayerFromPool(player){
              const self = this;
              for(let i=0; i < self.pool_players.length; i++){
                if(self.pool_players[i].key === player) return self.pool_players[i]
              }
            }
        },
        mounted(){
            const self = this;
          if(self.all_players){
            self.pool_players = self.all_players
          }
            if(self.teamItem) {
                self.team = self.teamItem;
                self.imageURL = self.teamItem.imageURL || '';
                if(self.teamItem.players && self.teamItem.players.length > 0) {
                 for(let i = 0 ; i < self.teamItem.players.length; i++) {
                     self.team_players.push(self.getPlayerFromPool(self.teamItem.players[i]))
                 }
                } else {
                    self.team_players = []
                }
                if(self.pool) {
                    self.players = self.pool;
                }
                self.change++;
            }
        }
    }
</script>

<style scoped>
  .team{
    padding: 2rem;
    margin: 2rem 0;
    background-color: #efefef;
  }
  .image-wrapper{
    overflow: hidden;
    width: 8rem;
    height: auto;
  }
  .image{
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid whitesmoke;
  }
  .player-card{
    padding: 1rem !important;
    border-bottom: 0.1rem solid #efefef;
  }
</style>