<template>
  <div class="row">
    <div class="col-3" style="color: #FF6A19">
      <div class="image-wrapper">
        <img class="image" :src="user.imageURL">
      </div>
    </div>
    <div class="col-6">
      <div>UserID: {{user_id}}</div>
      <div style="font-size: 1.8rem; margin-top: 0.5rem">{{user.name}}</div>
      <div v-if="userNode">{{userNode.email}}</div>
      <div v-else-if="roleNode">{{roleNode.email}}</div>
      <div style="color: var(--secondary)">{{userNode.phone || 'N/A'}}</div>
      <div style="color: var(--secondary)">{{user.address}}</div>
      <div style="color: var(--secondary)">{{user.shirt || 'N/A' }}</div>
      <div v-if="roleNode && roleNode.stars">
        <div :key="key" v-for="(star, key) in roleNode.stars">
          {{key}}: <span style="color: #e64a17">{{star.count}}</span> {{star.points}}
        </div>
      </div>
      <div style="margin-top: 1rem" v-if="roleNode">
        <div style="color: #4C8E33" v-if="roleNode.total_stars >= 0">Total Stars: {{roleNode.total_stars}}</div>
        <div style="color: #e64a17" v-if="roleNode.total_points >= 0">Total Points: {{roleNode.total_points}}</div>
<!--        <div style="color: #e64a17" v-if="roleNode.total_redeemed">Total Redeemed: {{roleNode.total_redeemed}}</div>-->
<!--        <div style="color: black" v-if="roleNode.total_stars">Total Remaining: {{roleNode.total_stars}}</div>-->
      </div>
    </div>
<!--    <div v-if="roleNode && roleNode.total_stars && roleNode.total_stars > 1000" class="col-3" style="color: #FF6A19">-->
<!--      <button v-if="!showRedeemOptions" @click="populateOptions" class="btn btn-error-color">Redeem Stars</button>-->
<!--      <div v-else>-->
<!--        <v-select-->
<!--            :items="options"-->
<!--            v-model="toBeRedeemed"-->
<!--        >-->
<!--        </v-select>-->
<!--        <button class="btn btn-neutral-action" @click="showRedeemOptions = false">Cancel</button>-->
<!--        <button style="margin-left: 1rem" class="btn btn-fourth" @click="open = true">Redeem</button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <v-dialog-->
<!--        v-model="open"-->
<!--        persistent-->
<!--        max-width="400"-->
<!--    >-->
<!--      <v-card style="border-radius: 0; max-width: 100%; background-color: #f7f7f7; overflow-y: auto; overflow-x: hidden">-->
<!--        <v-card-title class="text-h5">-->
<!--          Are You Sure to Redeem <span style="font-size: 2rem; padding: 0 0.5rem; color: #EA4335">{{toBeRedeemed}}</span> points for-->
<!--          <div style="color: #EA4335">{{user.name}}?</div>-->
<!--        </v-card-title>-->
<!--        <v-card-actions>-->
<!--          <button @click="reDeemConfirmed" style="width: 100%" class="btn btn-fourth">Yes</button>-->
<!--          <button @click="open = false" style="width: 100%; margin-left: 1rem" class="btn btn-neutral-action">No</button>-->
<!--        </v-card-actions>-->
<!--      </v-card>-->
<!--    </v-dialog>-->
  </div>
</template>

<script>
export default {
  name: "user-card",
  props: {
    user_id: String,
    user: Object,
    userNode: Object,
    roleNode: Object
  },
  data: function (){
    return{
      user_obj: {},
      showRedeemOptions: false,
      toBeRedeemed: 0,
      open: false,
      options: []
    }
  },
  methods: {
    // populateOptions(){
    //   const self = this;
    //   if(self.roleNode && self.roleNode.total_stars && self.roleNode.total_stars >= 1000){
    //     if(self.roleNode.total_stars >= 10000){
    //       self.options.push(0, 1000, 2000, 3000, 5000, 10000);
    //     } else if(self.roleNode.total_stars >= 5000){
    //       self.options.push(0, 1000, 2000, 3000, 5000);
    //     } else if(self.roleNode.total_stars >= 3000){
    //       self.options.push(0, 1000, 2000, 3000);
    //     } else if(self.roleNode.total_stars >= 2000){
    //       self.options.push(0, 2000);
    //     } else if(self.roleNode.total_stars >= 1000){
    //       self.options.push(0, 1000);
    //     }
    //   }
    //   self.showRedeemOptions = true;
    // },
    // reDeemConfirmed(){
    //   const self = this;
    //   let database = firebase.database();
    //   database.ref('users-role/' + self.user_id + '/redeemed/'+ new Date()).update({
    //     count : self.toBeRedeemed,
    //   }).then(function () {}).catch(function () {})
    //   window.location.reload()
    // }
  },
  mounted() {
    const self = this;
    if(self.user) {
      self.user_obj = self.user;
    }
  }
}
</script>

<style scoped>
.image-wrapper{
  max-height: 100%;
  max-width: 15rem;
}
.image{
  width: 100%;
  height: 100%;
  border-radius: 0;
}
</style>