<template>
  <div class="ad">
    <img @click="openUrl" class="ad-img mx-auto" :src="image">
  </div>
</template>

<script>
export default {
  name: "banner-ad",
  props: {
    image: String,
    url: String
  },
  methods:{
    openUrl(){
      const self = this;
      window.open(self.url, '_blank');
    },
  }
}
</script>

<style scoped>
.ad{
  margin: 0.5rem 0.5rem 2rem;
  background-color: white;
  cursor: pointer;
}
.ad-img{
  width: 100%;
  height: auto;
}
</style>