<template>
  <div class="" id="app">
    <v-app>
      <router-view></router-view>
    </v-app>
  </div>
</template>

<script>
export default {
  name: 'App',
  data: function(){
    return {
        interval: null
    }
  },
  methods: {
      callDispatch(){
          const self = this;
          clearTimeout(self.interval)
          self.$store.dispatch("deadlineCallBack").then(function () {}).catch(function () {})
          self.interval = setTimeout(()=> {
              self.callDispatch()
          }, 60000)
      }
  },
  created(){
      const self = this;
      self.callDispatch()
  },
  beforeDestroy() {
      const self = this;
      clearTimeout(self.interval)
  }
};
</script>
<style>
  @import url("https://fonts.googleapis.com/css?family=Gothic+A1");
  #app {
    font-family: "Gothic A1", "Open Sans", Roboto, Ubuntu;
    color: #050505;
  }
</style>
