<template>
  <div class="container-fluid main-body top-header-mar-no-back">
    <div v-if="currentUser.emailVerified">
      <div>
        <v-toolbar absolute flat style="background-color: #f7f7f7; top: 60px; width: 100%; height: 60px" light >
          <div class="main-tab">
            <div class="left-col no-padding">
              <div v-bind:class="[{act: activeTab === 'classic'}]" @click="changeTab('classic')" class="tab">CLASSIC</div>
            </div>
            <div class="left-col no-padding">
              <div v-bind:class="[{act: activeTab === 'series'}]" @click="changeTab('series')" class="tab">SERIES MODE</div>
            </div>
          </div>
        </v-toolbar>
        <!--<div v-if="classic_mode">-->
        <!--<series-mode></series-mode>-->
        <!--</div>-->
        <!--<div v-else>-->
        <!--<match-mode></match-mode>-->
        <!--</div>-->
      </div>
      <router-view></router-view>
    </div>
    <div v-else>
      <v-alert type="error">
        Your email account is not verified yet. Please
        <span @click="authenticateEmail"
              style="text-decoration: underline; color: white; font-weight: bold; cursor: pointer;
                padding: 0.1rem 0.5rem; border-radius: 0.1rem;">click here</span>to get a verification link in your registered email.
        If you are not getting a verification link that means either your associated email is invalid or belongs to a
        very old domain like ymail, yahoo. In this case contact info@khelo.io
      </v-alert>
    </div>
    <v-snackbar
      :timeout="2000"
      v-model="snackbar"
      centered
      top
    >
      {{snackbarMessage}}
    </v-snackbar>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    // import SeriesMode from "./series-mode";
    // import MatchMode from "./match-mode"
    export default {
        name: "dashboard",
        components: {
            // SeriesMode,
            // MatchMode
        },
        data: function () {
            return {
                currentUser: firebase.auth().currentUser,
                activeTab: 'classic',
                classic_mode: true,
                snackbar: false,
                snackbarMessage: '',
            }
        },
        methods: {
            changeTab(tab){
                const self = this;
                self.activeTab = tab;
                self.$router.push({name: tab}).catch(function () {})
            },
            authenticateEmail(){
                const self = this;
                self.currentUser.sendEmailVerification().then(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'A verification link has been sent to your email.';
                }).catch(function (err) {
                    self.snackbar = true;
                    self.snackbarMessage = 'Sorry' + err.message;
                });
            },
        },
        watch: {
            "$route.name"(newQ, oldQ) {
                if (newQ !== oldQ) {
                    this.activeTab = newQ;
                }
            }
        },
        mounted() {
            const self = this;
            self.activeTab = self.$route.name
        }

    }
</script>

<style scoped>
  .tab{
    text-align: center;
    padding: 1rem 0;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: #f7f7f7;
    color: #050505;
    border-bottom: 5px solid transparent;
  }
  .main-tab{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .left-col{
    width: 50%;
  }
  .act{
    border-bottom: 5px solid var(--third-color);
    color: var(--third-color) !important;
  }
</style>