<template>
  <div class="container-fluid top-header-mar-no-back">
    <v-toolbar flat style="background-color: var(--primary-color)" dark >
      <v-spacer></v-spacer>
      <v-toolbar-title>
        <div style="font-size: 1.6rem; text-align: right">FAQ</div>
      </v-toolbar-title>
    </v-toolbar>
    <faq-component></faq-component>
  </div>
</template>

<script>
    import FaqComponent from "../common/faq_component"
    export default {
        name: "faq",
        components: {
            FaqComponent
        }
    }
</script>

<style scoped>

</style>