<template>
  <div v-if="!EmptyObject(tournament)">
    <v-toolbar flat style="background-color: var(--primary-color)" dark >
      <v-icon @click="goBack" style="font-size: 2rem">mdi-arrow-left</v-icon>
      <v-spacer></v-spacer>
      <v-toolbar-title>
        <div style="font-size: 1.4rem; text-align: right">Fixtures</div>
        <div style="font-size: 1.2rem; text-align: right">{{tournament.name}}</div>
      </v-toolbar-title>
    </v-toolbar>
    <div class="eve">{{new Date(tournament.start_date).toDateString()}} - {{new Date(tournament.end_date).toDateString()}}</div>
    <div class="round-wrapper" :key="index" v-for="(round, index) in rounds">
      <div class="row round-header">
        <div class="col-8 no-padding">
          <div style="font-size: 1.6rem">Round {{round.key.substring(1)}}</div>
          <div style="color: var(--secondary-color); font-size: 1.4rem">
            Deadline: {{getFormattedDate(round.deadline)}}
          </div>
        </div>
        <div class="col-4 no-padding mt-auto text-right" style="color: var(--primary-color-outline); font-size: 1.4rem">
          Free Transfer: {{round.fr_trns}}
        </div>
      </div>
      <div class="round" :key="cndex" v-for="(match, cndex) in round.matches">
        <div class="row justify-content-between" style="padding: 1rem !important;">
          <div v-if="match.tm_1" class="col-3 no-padding mx-auto">
            <div class="img-cls-wrp phone">
              <img class="img-cls" :src="getTeamNameByKey(match.tm_1).imageURL">
            </div>
            <div style="text-align: left; font-size: 1.2rem">{{getTeamNameByKey(match.tm_1).name}}</div>
          </div>
          <div v-else class="col-3 no-padding mx-auto">
            <div class="img-cls-wrp phone mr-auto">
              <img class="img-cls" src="../../assets/logo/icon_logo.png">
            </div>
            <div style="text-align: left; font-size: 1.2rem; margin-left: 1.25rem">TBD</div>
          </div>
          <div class="col-6 my-auto no-padding" style="text-align: center">
            <div style="font-size: 1rem">Match Starts On</div>
            <div style="font-size: 1.4rem">
              {{getFormattedDate(match.deadline)}}
            </div>
          </div>
          <div v-if="match.tm_2" class="col-3 no-padding">
            <div class="img-cls-wrp phone ml-auto">
              <img class="img-cls" :src="getTeamNameByKey(match.tm_2).imageURL">
            </div>
            <div style="text-align: right; font-size: 1.2rem">{{getTeamNameByKey(match.tm_2).name}}</div>
          </div>
          <div v-else class="col-3 no-padding mx-auto">
            <div class="img-cls-wrp phone ml-auto">
              <img class="img-cls" src="../../assets/logo/icon_logo_white.png">
            </div>
            <div style="text-align: right; font-size: 1.2rem; margin-right: 1.25rem">TBD</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import {IsEmptyObject} from "../../filter";
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    export default {
        name: "fixture-component",
        props: {
            tournamentObj: Object
        },
        data: function(){
            return {
                currentUser: firebase.auth().currentUser,
                tournament: {},
                rounds: [],
                teams: [],
                EmptyObject: IsEmptyObject
            }
        },
        methods: {
            goBack(){
              this.$emit('cancel')
            },
            getTeamNameByKey(key){
                const self = this;
                let i;
                for(i = 0; i < self.teams.length; i++) {
                    if(self.teams[i].id === key){
                        return self.teams[i]
                    }
                }
            },
            getFormattedDate(date){
                return new Date(date).toDateString() + ', ' + new Date(date).toLocaleTimeString().substring(0,12)
            }
        },
        mounted(){
            const self = this;
            if(!IsEmptyObject(self.tournamentObj)) {
                self.tournament = self.tournamentObj;
                self.teams = self.tournament.teams;
                self.rounds = self.tournament.rounds;
            }
        }
    }
</script>

<style scoped>
  .eve{
    color: white;
    border-radius: 0.4rem;
    padding: 0.2rem 0.5rem;
    background-color: var(--third-color-dark);
    text-align: center;
    margin: 1rem !important;
  }
  .img-cls-wrp{
    height: 5rem;
    width: 5rem;
  }
  .img-cls{
    height: 100%;
    width: 100%;
  }
  .round{
    margin: 1rem !important;
    background-color: var(--black-light-foreground);
    border-radius: 0.4rem;
    color: white;
    font-size: 1.6rem;
  }
  .round-wrapper{
    margin: 1rem!important;
    color: #050505;
    padding: 0.5rem 1.5rem 1.5rem;
    background-color: var(--black-background);
  }
  .round-header{
    margin: 1rem !important;
    border-radius: 0.4rem;
    color: white;
    font-size: 1.6rem;
  }
  .phone{
    display: block;
  }
  @media (max-width: 400px) {
    .round-wrapper{
      margin: 0.5rem!important;
      padding: 0.5rem !important;
    }
    .round{
      margin: 0.5rem !important;
    }
    .round-header{
      margin: 0.5rem !important;
    }
  }
  @media (max-width: 300px) {
    .phone {
      display: none;
    }
  }
</style>