<template>
  <div style="background-color: var(--black-light-foreground)" class="container-fluid top-header-mar-no-back">
    <tournament-fixtures
      v-if="!loading"
      :key="updateAfterLoad"
      v-bind:tournament-obj="tournament"
      v-on:cancel="goBack"
    ></tournament-fixtures>
  </div>
</template>

<script>
    import TournamentFixtures from "./fixture-component";
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    export default {
        name: "fixtures",
        components: {
            TournamentFixtures
        },
        data: function () {
            return {
                loading: false,
                tournament: {},
                id: '',
                updateAfterLoad: 0
            }
        },
        methods: {
            goBack(){
              this.$router.go(-1)
            },
            getTournament(){
                const self = this;
                self.loading = true;
                let database = firebase.database();
                database.ref('tournaments/' + self.id + '/data/').once('value', function(snapshot) {
                    self.tournament = snapshot.val();
                    self.loading = false;
                    self.updateAfterLoad++;
                });
            },
            getSeries(){
                const self = this;
                self.loading = true;
                let database = firebase.database();
                database.ref('series/' + self.id + '/data/').once('value', function(snapshot) {
                    self.tournament = snapshot.val();
                    self.loading = false;
                    self.updateAfterLoad++;
                });
            },
        },
        mounted() {
            const self = this;
            self.id = self.$route.query.q;
            if(self.$route.query.type && self.$route.query.type === 'series') {
                self.getSeries()
            } else {
                self.getTournament()
            }
        }
    }
</script>

<style scoped>

</style>