<template>
  <div>
    <div v-if="!viewLeague">
      <v-toolbar flat style="background-color: var(--primary-color)" dark >
        <v-icon @click="goBack" style="font-size: 2rem">mdi-arrow-left</v-icon>
        <v-spacer></v-spacer>
        <v-toolbar-title>
          <div style="font-size: 1rem; text-align: right">{{tournament.name}}</div>
          <div style="font-size: 1.4rem; text-align: right">Head to Head Leagues</div>
        </v-toolbar-title>
      </v-toolbar>
      <banner
          v-if="ad_src"
          :image="ad_src"
          :url="ad_url"
      ></banner>
      <div :key="index" v-for="(league, index) in leagues">
        <div class="leg">
          <div v-bind:class="[{myBack: league.found}]" class="p-2" style="background-color: var(--fourth-color-dark); color: white">
            {{league.name}}
            <span style="float: right; margin-right: 0.5rem">Enrolled: {{league.enrolled}}/{{league.limit}}</span>
          </div>
          <div class="p-2">
            <div v-if="!hasEnrolled && parseInt(league.enrolled) < parseInt(league.limit)" class="row">
              <div class="input-group">
                <input v-model="league.entry_code" type="text" class="form-control" placeholder="League Code">
                <div class="input-group-append">
                  <button @click="joinLeague(league)" style="font-size: 1.4rem !important;" class="btn btn-second">Join League</button>
                </div>
              </div>
            </div>
            <div v-else style="text-align: right">
              <button v-bind:class="[{myBack1: league.found}]" @click="viewThis(league)" style="font-size: 1.4rem !important;" class="btn btn-first">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <div v-if="!pointViewMode">
        <v-toolbar flat style="background-color: var(--fourth-color)" dark >
          <v-icon @click="cancelView" style="font-size: 2rem">mdi-close</v-icon>
          <v-spacer></v-spacer>
          <v-toolbar-title>
            <div v-if="currentLeague.found" style="font-size: 1rem; text-align: right">You have joined this league</div>
            <div style="font-size: 1.4rem; text-align: right">{{currentLeague.name}}</div>
          </v-toolbar-title>
        </v-toolbar>
        <div v-if="currentLeague.started">
          <div :key="ind" v-for="(round, ind) in currentLeague.rounds">
            <div v-if="shouldShow(ind.substring(1))">
              <div style="padding: 1rem; background-color: var(--black-light-foreground); margin: 1rem; color: white">
                Round {{ind.substring(1).toUpperCase()}}
              </div>
              <div style="background-color: transparent; margin: 0.5rem !important;" class="row" :key="i" v-for="(match, i) in round.matches">
                <div class="col-6 p-2 pr-0">
                  <div @click="openView(match.t_1, tournament.users[match.t_1].tm_name)" v-bind:class="[{myBack: match.t_1 === currentUser.uid}]" style="background-color: var(--primary-color-light); color: white; cursor: pointer; padding: 0.5rem !important;" class="row">
                    <div style="width: 80%">{{tournament.users[match.t_1].tm_name}}</div>
                    <div style="width: 20%; text-align: right">
                      <span style="margin-right: 1rem" v-if="tournament.users[match.t_1].rounds && tournament.users[match.t_1].rounds[ind]">{{tournament.users[match.t_1].rounds[ind] || 0}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-6 p-2 pl-0">
                  <div @click="openView(match.t_2, tournament.users[match.t_2].tm_name)" v-bind:class="[{myBack: match.t_2 === currentUser.uid}]" style="background-color: var(--third-color); color: white; cursor: pointer; padding: 0.5rem !important;" class="row">
                    <div style="width: 20%; text-align: left">
                      <span style="margin-left: 1rem" v-if="tournament.users[match.t_2].rounds && tournament.users[match.t_2].rounds[ind]">{{tournament.users[match.t_2].rounds[ind] || 0}}</span>
                    </div>
                    <div style="width: 80%; text-align: right">{{tournament.users[match.t_2].tm_name}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <banner
            v-if="ad_src"
            :image="ad_src"
            :url="ad_url"
        ></banner>
        <div style="padding: 1rem; background-color: var(--black-background); margin: 1rem; color: white">All Participants</div>
        <div :key="index" v-for="(user, index) in currentLeague.users">
          <div v-bind:class="[{myBack1: currentUser.uid === user}, {elemi: !isInSurvivors(user)}]" class="row leg1">
            <div class="col-1 p-1 text-left">({{index + 1}})</div>
            <div class="col-6 p-1 text-left">{{tournament.users[user].tm_name}}</div>
            <div class="col-5 p-1 text-right">Rank: {{tournament.users[user].rank}}</div>
          </div>
        </div>
      </div>
      <div v-else>
        <points-view
          v-bind:user_id="user_id"
          v-bind:user_name="user_name"
          v-bind:user_team="user_team"
          v-bind:tournament="tournament"
          v-bind:user="user"
          v-on:cancel-view="cancelPointsView"
        ></points-view>
      </div>
    </div>
    <v-snackbar
      :color="snackbarColor"
      :timeout="3000"
      v-model="snackbar"
      centered
      bottom
    >
      {{snackbarMessage}}
    </v-snackbar>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import {IsEmptyObject} from "../../filter";
    import PointsView from "./points";
    import Banner from "../ad/banner-ad"
    export default {
        name: "head-to-head",
        components: {
            PointsView,
            Banner
        },
        props: {
          tournament: Object
        },
        data: function(){
            return {
                snackbar: false,
                snackbarMessage: '',
                snackbarColor: '#5C2593',
                currentUser: firebase.auth().currentUser,
                id: '',
                leagues: {},
                users: {},
                code: '',
                viewLeague: false,
                currentLeague: {},
                hasEnrolled: false,
                user: {},
                user_id: '',
                user_name: '',
                user_team: '',
                pointViewMode: false,
                ad_url: '',
                ad_src: '',
            }
        },
        methods: {
            shouldShow(ind){
                const self = this;
                if (parseInt(ind) === parseInt(self.tournament.tot_round) && !self.tournament.transfer_open) {
                    return parseInt(ind) === parseInt(self.tournament.act_round)
                } else {
                    return parseInt(ind) === (parseInt(self.tournament.act_round) - 1)
                }
            },
            isInSurvivors(id){
                const self = this;
                if(self.currentLeague.started) {
                    for(let i = 0; i < self.currentLeague.survives.length; i++){
                        if(self.currentLeague.survives[i] === id) return true
                    }
                } else {
                    return true
                }
                return false
            },
            cancelPointsView(){
                const self = this;
                self.user_id = '';
                self.pointViewMode = false;
            },
            openView(user_id, user_team){
                const self = this;
                self.user_id = user_id;
                self.user_team = user_team;
                let database = firebase.database();
                let tournament_ref = database.ref('tournaments/' + self.tournament.id);
                let query = tournament_ref.child('users').orderByKey().equalTo(self.user_id).limitToFirst(1)
                query.once('value', function (snap) {
                    let u = snap.val();
                    self.user = u[self.user_id]
                    let user_ref = database.ref('users');
                    let query_user = user_ref.orderByKey().equalTo(self.user_id).limitToFirst(1)
                    query_user.once('value', function (snap) {
                      let x = snap.val();
                      self.user_name = x[self.user_id].name;
                      self.pointViewMode = true;
                    });
                });
            },
            cancelView(){
                const self = this;
                self.currentLeague = {};
                self.viewLeague = false;
            },
            viewThis(league){
                const self = this;
                self.currentLeague = league;
                self.viewLeague = true;
            },
            joinLeague(league){
                const self = this;
                if(league.entry_code){
                    let database = firebase.database();
                    database.ref('tournaments/' + self.id + '/hth/' + league.id).once('value', function(snapshot) {
                        if(snapshot.val().started){
                            self.snackbar = true;
                            self.snackbarMessage = 'League is closed to new entry'
                            self.snackbarColor = 'error';
                            window.location.reload()
                        }else {
                            let enrolled = parseInt(snapshot.val().enrolled);
                            let limit = parseInt(snapshot.val().limit);
                            let users = [];
                            let found = false;
                            if(snapshot.val().users){
                                for(let i = 0; i < snapshot.val().users.length; i++) {
                                    users.push(snapshot.val().users[i])
                                    if(snapshot.val().users[i] === self.currentUser.uid) {
                                        found = true;
                                    }
                                }
                            }
                            if(parseInt(league.enrolled) < limit &&  enrolled < limit && users.length < limit && !found) {
                                if(league.entry_code.toLowerCase() === snapshot.val().code.toLowerCase()) {
                                    users.push(self.currentUser.uid);
                                    enrolled = enrolled + 1;
                                    database.ref('tournaments/' + self.id + '/hth/' + league.id).update({
                                        enrolled: enrolled,
                                        users: users
                                    }).then(()=> {
                                        self.snackbar = true;
                                        self.snackbarMessage = 'Saved Enrolled'
                                        self.snackbarColor = 'success';
                                        self.getH2HLeagues()
                                    }).catch(()=> {
                                        self.snackbar = true;
                                        self.snackbarMessage = 'Enrolling Failed!!!';
                                        self.snackbarColor = 'error';
                                        self.getH2HLeagues()
                                    });
                                }
                                window.location.reload()
                            } else {
                                self.snackbar = true;
                                self.snackbarMessage = 'League is full'
                                self.snackbarColor = 'error';
                                window.location.reload()
                            }
                        }
                    });
                }
            },
            goBack(){
              this.$emit('cancel')
            },
            getH2HLeagues(){
                const self = this;
                self.hasEnrolled = false;
                let database = firebase.database();
                database.ref('tournaments/' + self.id + '/hth/').on('value', function(snapshot) {
                    self.leagues = snapshot.val();
                    self.hasEnrolled = false;
                    for(let key in self.leagues) {
                        let val = self.leagues[key]
                        val.found = false;
                        if(val.users) {
                            for(let i = 0; i < val.users.length; i++){
                                if(val.users[i] === self.currentUser.uid) {
                                    val.found = true;
                                    self.hasEnrolled = true;
                                }
                            }
                        }
                    }
                });
            },
            getAds(){
              const self = this;
              let database = firebase.database();
              database.ref('ads/series').on('value', function(snapshot) {
                self.ad_url = snapshot.val().ad_url_1;
                self.ad_src = snapshot.val().ad_src_1;
              });
          }
        },
        mounted(){
            const self = this;
            if(!IsEmptyObject(self.tournament)) {
                self.id = self.tournament.id;
                self.getH2HLeagues()
                self.getAds()
            }
        }
    }
</script>

<style scoped>
  .leg{
    box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16);
    margin: 1rem !important;
    background-color: white;
  }
  .leg1{
    box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16);
    margin: 1rem !important;
    background-image: var(--background-color);
    color: white;
    padding: 0.5rem 1rem !important;
  }
  .form-control {
    height: 3.3rem;
    font-size: 1.4rem;
  }
  .form-control:focus {
    box-shadow: none !important;
  }
  .myBack{
    background-color: var(--success-state) !important;
    background-image: none;
  }
  .elemi{
    background-color: var(--gray) !important;
    background-image: none;
    opacity: 0.5;
  }
  .myBack1{
    background-color: var(--fourth-color) !important;
  }
</style>