<template>
  <div style="background-image: none !important;" v-if="!EmptyObject(users)" class="container-fluid top-header-mar">
    <v-toolbar flat style="background-color: var(--primary-color)" dark >
      <v-spacer></v-spacer>
      <v-toolbar-title>
        <div style="font-size: 1.6rem; text-align: right">Leaderboard (Series Cup)</div>
        <div style="font-size: 1.2rem; text-align: right">(November-December)</div>
      </v-toolbar-title>
    </v-toolbar>
    <div>
      <div :key="index" v-for="(user, index) in users">
        <user-card-series-cup
            v-bind:id="user[0]"
            v-bind:user="user[1]"
        >
        </user-card-series-cup>
      </div>
    </div>
    <v-overlay absolute :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import {IsEmptyObject} from "../../filter";
    import UserCardSeriesCup from "./user-card-series-cup";
    export default {
        name: "hall-of-fame",
        components: {
          UserCardSeriesCup,
        },
        data: function () {
            return {
                users : [],
                EmptyObject: IsEmptyObject,
                current_series: {},
                loading: false
            }
        },
        methods: {
            compareFunc(a,b){
              if(parseInt(a[1].total_stars) < parseInt(b[1].total_stars)){
                return 1
              }
              if(parseInt(a[1].total_stars) > parseInt(b[1].total_stars)){
                return -1
              }
              if(parseInt(a[1].total_stars) === parseInt(b[1].total_stars)){
                if(parseFloat(a[1].total_points) < parseFloat(b[1].total_points)){
                  return 1
                }
                if(parseFloat(a[1].total_points) > parseFloat(b[1].total_points)){
                  return -1
                }
              }
              return 0
            },
            getAllUsers(){
                const self = this;
                let database = firebase.database();
                database.ref('series-cup/' + self.current_series.id + '/users/').once('value', function(snapshot) {
                  let objects = snapshot.val();
                  let sortable = [];
                  let n_users = []
                  for (let key in objects) {
                    if(objects[key].total_stars > 0) sortable.push([key, objects[key]]);
                    else {
                      n_users.push([key, objects[key]])
                    }
                  }
                  sortable.sort(self.compareFunc);
                  self.users = sortable;
                  self.loading = false;
                });
            },
            getCurrentSeriesCup(){
              let database = firebase.database();
              const self = this;
              database.ref('current-series-cup').on('value', function(snapshot) {
                self.current_series = snapshot.val();
                self.getAllUsers();
              });
            },
        },
        mounted() {
            const self = this;
            self.loading = true;
            self.getCurrentSeriesCup();
        }
    }
</script>

<style scoped>
</style>