<template>
  <div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 no-padding">
        <div>
          <v-app-bar height="60px" flat light absolute>
            <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
            <v-toolbar-title class="nav-bar-image-wrapper">
              <img @click="gotoThisRoute('user')" class="nav-bar-image" src="../../assets/logo/logo.svg">
            </v-toolbar-title>
            <div v-if="!verified" style="margin: 0 1rem; font-size: 1.2rem">
              Your email account is not verified yet. Please
              <span @click="authenticateEmail"
                    style="text-decoration: underline; color: var(--secondary-color); cursor: pointer;
                padding: 0.1rem 0.5rem; border-radius: 0.1rem;">click here</span>
              to get a verification link.
            </div>
            <v-spacer></v-spacer>
            <span style="cursor: pointer" @click="gotoThisRoute('series-cup')">
               <span style="text-align: center"><img style="margin-bottom: 0.6rem; width: 2.5rem; height: 2.5rem;" src="@/assets/logo/icon_logo.svg"></span>
               <span style="border-radius: 0.2rem; background-color: transparent; font-size: 1.6rem; color: var(--third-color); text-align: center">{{star}}</span>
            </span>
<!--            <v-icon style="color: var(&#45;&#45;secondary-color)">mdi-star</v-icon><span></span>-->
            <v-list-item-avatar>
              <v-img style="cursor: pointer; border: 0.1rem solid gray" @click="gotoThisRoute('profile')" :src="imageUrl"></v-img>
            </v-list-item-avatar>

          </v-app-bar>
          <v-navigation-drawer
            overlay-opacity="0.7"
            v-model="drawer"
            absolute
            temporary
          >
            <v-list-item class="p-4" @click="gotoThisRoute('profile')">
              <v-list-item-avatar>
                <v-img :src="imageUrl"></v-img>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title style="font-size: 1.4rem; line-height: 1.6rem">{{name}}</v-list-item-title>
                <v-list-item-title style="color: #aaaaaa; font-size: 1.2rem; line-height: 1.6rem">{{email}}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
            <v-list dense nav>
              <v-list-item
                v-bind:class="[{wrpActv: isActive(item.route)}]"
                v-for="(item, index) in items"
                :key="index"
                link
                @click="gotoThisRoute(item.route)"
              >
                <v-list-item-icon>
                  <v-icon v-bind:class="[{wrpActvIcon: isActive(item.route)}]">{{ item.icon }}</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                  <v-list-item-title style="font-size: 1.4rem; line-height: 2rem;">{{ item.name }}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
            <v-list-item @click="openUrl('https://www.facebook.com/groups/khelo.io')">
              <v-icon style="margin-bottom: 0.5rem" color="#129af6">mdi-facebook</v-icon>
              <span style="margin-left: 1rem">Facebook Group</span>
            </v-list-item>
            <v-list-item @click="openUrl('https://www.youtube.com/channel/UCaZvgajp38zdvkyGvyOiMIg/')">
              <v-icon style="margin-bottom: 0.5rem" color="#FF0000">mdi-youtube</v-icon>
              <span style="margin-left: 1rem">Youtube Channel</span>
            </v-list-item>
          </v-navigation-drawer>
          <div style="height: 100vh; overflow-y: hidden;">
            <router-view></router-view>
          </div>
        </div>
      </div>
      <div style="height: 100vh; overflow-y: hidden" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 no-padding phone-mode">
        <div class="back-image-wrapper">
          <div class="horizontal-center">
            <div class="container-in" style="height:100%">
              <div class="row-temp" style="height:100%">
                <div class="vertical-center">
                  <div class="mid-image-wrapper">
                    <img class="mid-image" src="@/assets/logo/logo_white.svg">
                  </div>
                  <div class="header font-align">WE ARE GAMBLE FREE</div>
                  <div
                    class="slogan font-align"
                  >Khelo is Bangladesh's First Gamble-Free Fantasy Sports Platform</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <v-snackbar
      :timeout="2000"
      v-model="snackbar"
      centered
      top
    >
      {{snackbarMessage}}
    </v-snackbar>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    export default {
        name: "home",
        data: function() {
            return {
                drawer: false,
                items: [
                    {
                        icon: 'mdi-home',
                        name: 'Home',
                        route: 'dashboard'
                    },
                    {
                        icon: 'mdi-shield-star',
                        name: 'Series Cup',
                        route: 'series-cup'
                    },
                    {
                        icon: 'mdi-help-circle',
                        name: 'How To Play',
                        route: 'how-to-play'
                    },
                    {
                        icon: 'mdi-alpha-p-box',
                        name: 'Points System',
                        route: 'points-distribution'
                    },
                    {
                        icon: 'mdi-frequently-asked-questions',
                        name: 'FAQ',
                        route: 'faq-home'
                    },
                ],
                activeRoute: 'dashboard',
                imageUrl: 'https://www-trimatra-me.s3-ap-southeast-1.amazonaws.com/svg-images/avatar.svg',
                verified: false,
                email: '',
                name: '',
                currentUser: {},
                snackbar: false,
                snackbarMessage: '',
                not_msgs: [],
                star: 0,
                current_series: {}
            }
        },
        methods: {
            openUrl(url){
              window.open(url, '_blank');
            },
            isActive(key){
                return key === this.activeRoute
            },
            gotoThisRoute(route) {
                const self = this;
                self.activeRoute = route;
                self.$router.push({name: route}).catch(function () {})
            },
            authenticateEmail(){
                const self = this;
                const currentUser = firebase.auth().currentUser;
                currentUser.sendEmailVerification().then(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'A verification link has been sent to your email.';
                }).catch(function (err) {
                    self.snackbar = true;
                    self.snackbarMessage = 'Sorry' + err.message;
                });
            },
            getCurrentSeriesCup(){
              let database = firebase.database();
              const self = this;
              database.ref('current-series-cup').on('value', function(snapshot) {
                self.current_series = snapshot.val();
                self.getUserStars();
              });
            },
            getUserStars() {
              const self = this;
              let database = firebase.database();
              let query = database.ref('series-cup/' + self.current_series.id + '/users').orderByKey().equalTo(self.currentUser.uid).limitToFirst(1)
              query.once('value', function (snap) {
                let u = snap.val();
                self.star = u[self.currentUser.uid].total_stars
              });
            }
        },
        mounted(){
            const self = this;
            window.addEventListener("storage", message_receive);
            function message_receive(ev) {
                if (ev.key === "message") {
                    window.location.reload();
                }
            }
            self.currentUser = firebase.auth().currentUser;
            if(self.currentUser) {
                self.verified = !!self.currentUser.emailVerified;
                self.email = self.currentUser.email;
                self.name = self.currentUser.displayName;
                self.imageUrl = self.currentUser.photoURL || self.imageUrl;
                self.getCurrentSeriesCup();
            }
        }
    }
</script>

<style scoped>
  .mn{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #EBF2FE;
  }
  .ic{
    width: 15%;
    padding: 0.5rem;
    margin: auto;
  }
  .tc{
    width: 75%;
    padding: 0.5rem;
    font-size: 1.2rem;
  }
  .wrpActv{
    color: var(--third-color-dark) !important;
    background-color: rgba(192,0,163,0.1);
  }
  .wrpActvIcon{
    color: var(--third-color-dark) !important;
  }
  .mid-image-wrapper{
    height: auto;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
  .mid-image{
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .back-image-wrapper{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(116, 0, 98, 0.9),
      rgba(130, 56, 205, 0.9)
    ),
    url("../../assets/cricket/stadium.jpg");
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
  }
  .container-in {
    width: 100%;
    padding: 0 10%;
  }
  .header {
    font-size: 3.65rem;
    color: white;
    letter-spacing: 1.2rem;
  }
  .slogan {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.7);
  }
  .vertical-center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .horizontal-center {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  .row-temp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .font-align {
    text-align: center;
  }
</style>