<template>
  <div style="background-color: var(--third-color-dark)" class="container-fluid top-header-mar">
    <v-toolbar flat style="background-color: var(--primary-color)" dark >
      <v-spacer></v-spacer>
      <v-toolbar-title>
        <div style="font-size: 1.6rem; text-align: right">How To Play</div>
      </v-toolbar-title>
    </v-toolbar>
    <how-to-play-component></how-to-play-component>
  </div>
</template>

<script>
    import HowToPlayComponent from "../common/how-to-play-component"
    export default {
        name: "how-to-play",
        components: {
            HowToPlayComponent
        },
    }
</script>

<style scoped>

</style>