<template>
  <div v-if="!EmptyObject(tournament)" class="board">
    <div v-if="!pointViewMode">
      <v-toolbar flat style="background-color: var(--primary-color)" dark >
        <v-icon @click="goBack" style="font-size: 2rem">mdi-arrow-left</v-icon>
        <v-spacer></v-spacer>
        <v-toolbar-title v-if="tournament.users[currentUser.uid]">
          <div style="font-size: 1rem; text-align: right">Points: {{tournament.users[currentUser.uid].total_points}}</div>
          <div style="font-size: 1.4rem; text-align: right;">Rank: {{tournament.users[currentUser.uid].rank}}</div>
        </v-toolbar-title>
      </v-toolbar>
      <div>
        <v-text-field
          dark
          style="margin: 1rem"
          v-model="search_key"
          append-icon="mdi-magnify"
          :append-outer-icon="search_key !== '' ? 'mdi-reload' : ''"
          label="Search (by name or team name)"
          @click:append="reSearch"
          @click:append-outer="resetSearch"
        ></v-text-field>
      </div>
      <div v-if="users.length > 0"   :key="reloaded" style="margin: 1rem !important;">
        <div v-bind:class="[{champ: parseInt(user[1].rank)=== 1}, {run: parseInt(user[1].rank)=== 2}, {run_2: parseInt(user[1].rank) === 3}, {cur: user[0] === currentUser.uid}]" class="row board-comp justify-content-between" :key="index" v-for="(user, index) in users">
          <div style="text-align: left; font-size: 1.8rem; color: white" class="rank my-auto mx-auto p-1">
            <span v-if="user[1].prev_rank">
              <v-icon color="error" size="14" v-if="user[1].prev_rank < user[1].rank">mdi-arrow-down</v-icon>
              <v-icon color="success" size="14" v-else-if="user[1].prev_rank > user[1].rank">mdi-arrow-up</v-icon>
              <v-icon style="margin-bottom: 0.2rem; margin-right: 0.5rem; margin-left: 0.2rem" color="#cccccc" size="12" v-else>mdi-circle-slice-8</v-icon>
            </span>
            <span v-if="user[1].rank === 0">n/a</span>
            <span v-else> {{user[1].rank}}</span>
          </div>
          <div class="avatar p-1">
            <div class="avt-wrp">
              <img class="avt" :src="user[1].user_image">
            </div>
          </div>
          <div class="user p-1 my-auto">
            <div style="font-size: 1.2rem">{{user[1].tm_name}}</div>
            <div style="font-size: 1rem">{{user[1].user_name}}</div>
          </div>
          <div v-if="user[1]" style="text-align: right" class="points p-1 my-auto mx-auto">{{user[1].total_points}}</div>
          <div class="viw p-1 my-auto mx-auto">
            <v-icon v-if="!tournament.archive" size="20" color="white" @click="openView(user[0], user[1].user_name, user[1].tm_name)">mdi-menu-right</v-icon>
          </div>
        </div>
      </div>
      <div v-else>
        <div class="board-comp text-center">Not available yet</div>
      </div>
    </div>
    <div style="background-color: var(--black-light-foreground); overflow-y: auto" v-else>
      <points-view
        v-bind:user_id="user_id"
        v-bind:user_name="user_name"
        v-bind:user_team="user_team"
        v-bind:tournament="tournament"
        v-bind:user="user"
        v-on:cancel-view="cancelView"
      ></points-view>
    </div>
  </div>
</template>
<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import {IsEmptyObject} from "../../filter";
    import PointsView from "./points";
    export default {
        name: "leaderboard-component",
        components: {
            PointsView
        },
        props: {
            tournamentObj: Object
        },
        data: function(){
            return {
                currentUser: firebase.auth().currentUser,
                tournament: {},
                users: [],
                EmptyObject: IsEmptyObject,
                reloaded: 0,
                pointViewMode: false,
                user: {},
                user_id: '',
                user_name: '',
                user_team: '',
                search_key: '',
                all_users: [],
            }
        },
        methods: {
            goBack: function () {
                this.$emit('cancel')
            },
            openView(user_id, user_name, user_team){
              const self = this;
              self.user_id = user_id;
              self.user_name = user_name;
              self.user_team = user_team;
              let database = firebase.database();
              let tournament_ref = database.ref('tournaments/' + self.tournament.id);
              let query = tournament_ref.child('users').orderByKey().equalTo(self.user_id).limitToFirst(1)
              query.once('value', function (snap) {
                  let u = snap.val();
                  self.user = u[self.user_id]
                  self.pointViewMode = true;
              });
            },
            cancelView(){
                const self = this;
                self.user_id = '';
                self.pointViewMode = false;
            },
            reSearch(){
                const self = this;
                if(self.search_key) {
                    self.users = []
                    for(let i = 0; i < self.all_users.length; i++) {
                        if(self.all_users[i][1].user_name && self.all_users[i][1].tm_name){
                            if(self.all_users[i][1].user_name.toUpperCase().includes(self.search_key.toUpperCase()) ||
                                self.all_users[i][1].tm_name.toUpperCase().includes(self.search_key.toUpperCase()))
                                self.users.push(self.all_users[i])
                        }
                    }
                } else {
                    self.users = [];
                    self.users = self.all_users;
                }

            },
            resetSearch(){
                const self = this;
                self.users = []
                self.search_key = '';
                self.users = self.all_users;
            }
        },
        mounted(){
            const self = this;
            let database = firebase.database();
            if(!IsEmptyObject(self.tournamentObj)) {
                self.tournament = self.tournamentObj;
                let objects = self.tournamentObj ? self.tournamentObj.users : self.users;
                let sortable = [];
                let n_users = []
                for (let key in objects) {
                    if(objects[key].rank > 0) sortable.push([key, objects[key]]);
                    else {
                        n_users.push([key, objects[key]])
                    }
                }
                sortable.sort((a, b) => (parseInt(a[1].rank) >= parseInt(b[1].rank) ? 1 : -1));
                self.users = sortable;
                self.users = self.users.concat(n_users)
                database.ref('users').once('value', function(snapshot) {
                    snapshot.forEach(function(childSnapshot) {
                        for(let i= 0; i < self.users.length; i++) {
                            if(childSnapshot.key === self.users[i][0]){
                                self.users[i][1].user_name = childSnapshot.val().name;
                                self.users[i][1].user_image = childSnapshot.val().imageURL;
                                break;
                            }
                        }
                    });
                    self.all_users = self.users;
                    self.reloaded++;
                });
            }
        }
    }
</script>

<style scoped>
  .board{
    font-size: 1.4rem;
    color: white;
  }
  .board-comp{
    background-color: rgba(0,0,0,0.2);
    padding: 0.5rem;
    margin: 0.5rem 0!important;
    border-radius: 0.4rem;
  }
  .avt-wrp{
    height: 5rem;
    width: 5rem;
  }
  .avt{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .rank{
    width: 15%;
  }
  .avatar{
    width: 20%;
  }
  .user{
    width: 40%;
  }
  .points{
    width: 15%;
  }
  .viw{
    width: 10%;
  }
  .champ{
    background-image: linear-gradient(
      120deg, #4C8E33, var(--black-light-foreground)
    ) !important;
  }
  .run{
    background-image: linear-gradient(
      120deg, #4089FA, var(--black-light-foreground)
    ) !important;
  }
  .run_2{
    background-image: linear-gradient(
      120deg, #ff8500, var(--black-light-foreground)
    ) !important;
  }
  .cur{
    background-image: linear-gradient(
      120deg, var(--warning-state), var(--black-light-foreground)
    );
  }
</style>