<template>
  <div v-if="!EmptyObject(tournament)" class="board container-fluid no-padding">
    <div v-if="!pointViewMode">
      <v-toolbar flat style="background-color: var(--primary-color)" dark >
        <v-icon @click="goBack" style="font-size: 2rem">mdi-arrow-left</v-icon>
        <v-spacer></v-spacer>
        <v-toolbar-title>
          <div style="font-size: 1.4rem; text-align: right">Leaderboard</div>
          <div style="font-size: 1rem; text-align: right">{{tournament.name}}</div>
        </v-toolbar-title>
      </v-toolbar>
      <div v-if="users.length > 0"   :key="reloaded" style="margin: 0 0.5rem !important;">
        <div v-bind:class="[{champ: parseInt(user[1].rank)=== 1}, {run: parseInt(user[1].rank)=== 2}, {cur: user[0] === currentUser.uid}]" class="row board-comp justify-content-between" :key="index" v-for="(user, index) in users">
          <div style="text-align: left; font-size: 1.8rem; color: white" class="col-1 my-auto mx-auto p-1">
            <span v-if="user[1].prev_rank">
              <v-icon color="error" size="14" v-if="user[1].prev_rank < user[1].rank">mdi-arrow-down</v-icon>
              <v-icon color="success" size="14" v-else-if="user[1].prev_rank > user[1].rank">mdi-arrow-up</v-icon>
              <v-icon style="margin-bottom: 0.2rem; margin-right: 0.5rem; margin-left: 0.2rem" color="#cccccc" size="12" v-else>mdi-circle-slice-8</v-icon>
            </span>
            <span v-if="user[1].rank === 0">n/a</span>
            <span v-else> {{user[1].rank}}</span>
          </div>
          <div class="col-2 p-1">
            <div class="avt-wrp">
              <img class="avt" :src="user[1].user_image">
            </div>
          </div>
          <div class="col-4 p-1 my-auto">
            <div style="font-size: 1.2rem">{{user[1].team_name}}</div>
            <div style="font-size: 1rem">{{user[1].user_name}}</div>
          </div>
          <div style="text-align: right" class="col-3 p-1 my-auto mx-auto">{{user[1].total_points}}</div>
          <div class="col-1 p-1 my-auto mx-auto">
            <v-icon v-if="!tournament.transfer_open" size="20" color="white" @click="openView(user[0], user[1].user_name, user[1].tm_name)">mdi-menu-right</v-icon>
          </div>
        </div>
      </div>
      <div v-else>
        <div class="board-comp text-center">Not available yet</div>
      </div>
    </div>
    <div style="background-color: var(--black-light-foreground)" v-else>
      <points-view
        v-bind:user_id="user_id"
        v-bind:user_name="user_name"
        v-bind:match="tournament"
        v-on:cancel-view="cancelView"
      ></points-view>
    </div>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import {IsEmptyObject} from "../../filter";
    import PointsView from "./points-single";
    export default {
        name: "leaderboard-component",
        components: {
            PointsView
        },
        props: {
            tournamentObj: Object
        },
        data: function(){
            return {
                currentUser: firebase.auth().currentUser,
                tournament: {},
                users: [],
                EmptyObject: IsEmptyObject,
                reloaded: 0,
                pointViewMode: false,
                user_id: '',
                user_name: '',
                user_team: '',
            }
        },
        methods: {
            goBack: function () {
                this.$emit('cancel')
            },
            openView(user_id, user_name, user_team){
                const self = this;
                self.user_id = user_id;
                self.user_name = user_name;
                self.user_team = user_team;
                self.pointViewMode = true;
            },
            cancelView(){
                const self = this;
                self.user_id = '';
                self.pointViewMode = false;
            }
        },
        mounted(){
            const self = this;
            let database = firebase.database();
            if(!IsEmptyObject(self.tournamentObj)) {
                self.tournament = self.tournamentObj;
                let objects = self.tournamentObj.users;
                let sortable = [];
                let n_users = []
                for (let key in objects) {
                    if(objects[key].rank > 0) sortable.push([key, objects[key]]);
                    else {
                        n_users.push([key, objects[key]])
                    }
                }
                sortable.sort((a, b) => (parseInt(a[1].rank) >= parseInt(b[1].rank) ? 1 : -1));
                self.users = sortable;
                self.users = self.users.concat(n_users)
                database.ref('users').once('value', function(snapshot) {
                    snapshot.forEach(function(childSnapshot) {
                        for(let i= 0; i < self.users.length; i++) {
                            if(childSnapshot.key === self.users[i][0]){
                                self.users[i][1].user_name = childSnapshot.val().name;
                                self.users[i][1].user_image = childSnapshot.val().imageURL;
                                self.users[i][1].team_name = childSnapshot.val().team_name || '';
                                break;
                            }
                        }
                    });
                    self.reloaded++;
                });
            }
        }
    }
</script>

<style scoped>
  .board{
    font-size: 1.4rem;
    color: white;
  }
  .board-comp{
    background-color: var(--third-color-dark);
    padding: 0.5rem;
    margin: 0.5rem 0!important;
    border-radius: 0.4rem;
    color: white;
  }
  .avt-wrp{
    height: 4rem;
    width: 4rem;
  }
  .avt{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 0.2rem;
  }
  .champ{
    background-image: linear-gradient(
      120deg, var(--indigo), var(--black-light-foreground)
    ) !important;
  }
  .run{
    background-image: linear-gradient(
      120deg, var(--secondary-color-dark), var(--black-light-foreground)
    ) !important;
  }
  .cur{
    background-image: linear-gradient(
      120deg, var(--success-state), var(--black-light-foreground)
    );
  }
</style>