<template>
  <div>
    <div v-if="!pointViewMode">
      <v-toolbar flat style="background-color: var(--primary-color)" dark >
        <v-icon @click="goBack" style="font-size: 2rem">mdi-arrow-left</v-icon>
        <v-spacer></v-spacer>
        <v-toolbar-title>
          <v-select
            style="margin-top: 2rem; max-width: 12rem"
            dense
            :items="rounds"
            item-text="name"
            item-value="value"
            v-model="select_round"
            label="Select Round"
            @change="sortUsers"
            solo
          ></v-select>
          <v-spacer></v-spacer>
        </v-toolbar-title>
      </v-toolbar>
      <div v-if="!loading">
        <div>
          <v-text-field
            dark
            style="margin: 1rem"
            v-model="search_key"
            append-icon="mdi-magnify"
            :append-outer-icon="search_key !== '' ? 'mdi-reload' : ''"
            label="Search (by name or team name)"
            @click:append="reSearch"
            @click:append-outer="resetSearch"
          ></v-text-field>
        </div>
        <div v-if="users.length > 0"   :key="reloaded" style="margin: 1rem !important;">
          <div class="row board-comp justify-content-between" style="background-color: #e64a17; color: white">
            Leaderboard (Round {{select_round.substring(1)}})</div>
          <div v-bind:class="[{champ: user[1].rank === 1}, {champ2: index === 0}, {cur: user[0] === currentUser.uid}]" class="row board-comp justify-content-between" :key="index" v-for="(user, index) in users">
            <div style="text-align: left; font-size: 1.8rem; color: white" class="rank my-auto mx-auto p-1">
              <span v-if="user[1].rank === 0">n/a</span>
              <span v-else>{{index+1}}</span>
            </div>
            <div class="avatar p-1">
              <div class="avt-wrp">
                <img class="avt" :src="user[1].user_image">
              </div>
            </div>
            <div class="user p-1 my-auto">
              <div style="font-size: 1.2rem; color: white">{{user[1].tm_name}}</div>
              <div style="font-size: 1rem; color: white">{{user[1].user_name}}</div>
              <div style="font-size: 1rem; color: white">Global Rank: {{user[1].rank}}</div>
            </div>
            <div style="text-align: right; color: white" class="points p-1 my-auto mx-auto">{{user[2]}}</div>
            <div class="viw p-1 my-auto mx-auto">
              <v-icon v-if="!tournament.archive" size="20" color="white" @click="openView(user[0], user[1].user_name, user[1].tm_name)">mdi-menu-right</v-icon>
            </div>
          </div>
        </div>
        <div v-else>
          <div class="board-comp text-center">Not data available</div>
        </div>
      </div>
      <v-overlay absolute :value="loading">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
    </div>
    <div style="background-color: var(--black-light-foreground); overflow-y: auto" v-else>
      <points-view
        v-bind:user_id="user_id"
        v-bind:user_name="user_name"
        v-bind:user_team="user_team"
        v-bind:tournament="tournament"
        v-bind:user="user"
        v-on:cancel-view="cancelView"
      ></points-view>
    </div>
  </div>
</template>

<script>
    import {IsEmptyObject} from "../../filter";
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import PointsView from "./points";
    export default {
        name: "leaderboard-round-wise-all",
        components: {
            PointsView
        },
        props: {
            tournament: Object
        },
        data: function(){
            return {
                currentUser: firebase.auth().currentUser,
                users: {},
                EmptyObject: IsEmptyObject,
                sorted_users: {},
                reloaded: 0,
                select_round: 'r1',
                rounds: [],
                search_key: '',
                all_users: [],
                loading: false,
                pointViewMode: false,
                user: {},
                user_id: '',
                user_name: '',
                user_team: '',
            }
        },
        methods: {
            openView(user_id, user_name, user_team){
                const self = this;
                self.user_id = user_id;
                self.user_name = user_name;
                self.user_team = user_team;
                let database = firebase.database();
                let tournament_ref = database.ref('tournaments/' + self.tournament.id);
                let query = tournament_ref.child('users').orderByKey().equalTo(self.user_id).limitToFirst(1)
                query.once('value', function (snap) {
                    let u = snap.val();
                    self.user = u[self.user_id]
                    self.pointViewMode = true;
                });
            },
            cancelView(){
                const self = this;
                self.user_id = '';
                self.pointViewMode = false;
            },
            goBack: function () {
                this.$emit('cancel')
            },
            sortUsers(){
                const self = this;
                let objects = self.sorted_users;
                let sortable = [];
                let n_users = []
                for (let key in objects) {
                    if(objects[key].rounds && objects[key].rounds[self.select_round]) sortable.push([key, objects[key], objects[key].rounds[self.select_round]]);
                    else {
                        n_users.push([key, objects[key], 0])
                    }
                }
                sortable.sort((a, b) => (parseFloat(a[2]) <= parseFloat(b[2]) ? 1 : -1));
                self.users = sortable;
                self.users = self.users.concat(n_users)
                self.all_users = self.users;
                self.reloaded++;
            },
            reSearch(){
                const self = this;
                if(self.search_key) {
                    self.users = []
                    for(let i = 0; i < self.all_users.length; i++) {
                        if(self.all_users[i][1].user_name && self.all_users[i][1].tm_name){
                            if(self.all_users[i][1].user_name.toUpperCase().includes(self.search_key.toUpperCase()) ||
                                self.all_users[i][1].tm_name.toUpperCase().includes(self.search_key.toUpperCase()))
                            self.users.push(self.all_users[i])
                        }
                    }
                } else {
                    self.sortUsers()
                }

            },
            resetSearch(){
                const self = this;
                self.users = []
                self.search_key = '';
                self.sortUsers();
            }
        },
        mounted(){
            const self = this;
            self.loading = true;
            let database = firebase.database();
            if(!self.EmptyObject(self.tournament)){
                let act_round = parseInt(self.tournament.act_round);
                for(let r = 1 ; r < act_round; r++) {
                    self.rounds.push({
                        name: 'Round ' + r,
                        value: 'r'+ r,
                    })
                }
                if(parseInt(self.tournament.act_round) === parseInt(self.tournament.tot_round) && !self.tournament.transfer_open){
                    self.rounds.push({
                        name: 'Round ' + parseInt(self.tournament.tot_round),
                        value: 'r'+ parseInt(self.tournament.tot_round),
                    })
                }
                self.sorted_users = self.tournament.users;
                database.ref('users').once('value', function(snapshot) {
                    snapshot.forEach(function(childSnapshot) {
                        for(let i in self.sorted_users) {
                            if(childSnapshot.key === i){
                                self.sorted_users[i].user_name = childSnapshot.val().name;
                                self.sorted_users[i].user_image = childSnapshot.val().imageURL;
                                break;
                            }
                        }
                    });
                    self.loading = false;
                    self.sortUsers()
                });
            }
        }
    }
</script>

<style scoped>
  .board-comp{
    background-color: rgba(0,0,0,0.2);
    padding: 0.5rem;
    margin: 0.5rem 0!important;
    border-radius: 0.4rem;
  }
  .avt-wrp{
    height: 5rem;
    width: 5rem;
  }
  .avt{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .rank{
    width: 15%;
  }
  .avatar{
    width: 20%;
  }
  .user{
    width: 40%;
  }
  .points{
    width: 15%;
  }
  .champ{
    background-image: linear-gradient(
      120deg, #4C8E33, var(--black-light-foreground)
    ) !important;
  }
  .champ2{
    background-image: linear-gradient(
      120deg, #4089FA, var(--black-light-foreground)
    ) !important;
  }
  .cur{
    background-image: linear-gradient(
      120deg, var(--warning-state), var(--black-light-foreground)
    );
  }
  .viw{
    width: 10%;
  }
</style>