<template>
  <div style="background-color: var(--third-color-dark)" class="container-fluid top-header-mar">
    <leader-board
      v-if="!series"
      :key="change"
      v-on:cancel="goBack"
      v-bind:tournament-obj="tournament"
    ></leader-board>
    <leader-board-series
      v-else
      :key="change"
      v-on:cancel="goBack"
      v-bind:tournament-obj="tournament"
    ></leader-board-series>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import LeaderBoard from "./leaderboard-component";
    import LeaderBoardSeries from "../users/Series-Special/leaderboard-component";
    export default {
        name: "leaderboard",
        components: {
            LeaderBoard,
            LeaderBoardSeries
        },
        data: function(){
            return {
                currentUser: firebase.auth().currentUser,
                id: '',
                tournament: {},
                change: 0,
                series: false
            }
        },
        methods: {
            getTournament(){
                const self = this;
                let database = firebase.database();
                database.ref('tournaments/' + self.id + '/data/').on('value', function(snapshot) {
                    self.tournament = snapshot.val();
                    self.change++;
                });
            },
            getSeries(){
                const self = this;
                let database = firebase.database();
                database.ref('series/' + self.id + '/data/').on('value', function(snapshot) {
                    self.tournament = snapshot.val();
                    self.change++;
                });
            },
            goBack(){
                const self = this;
                self.$router.go(-1)
            }
        },
        mounted(){
            const self = this;
            self.id = self.$route.query.q;
            if(self.$route.query.type && self.$route.query.type === 'series') {
                self.series = true;
                self.getSeries()
            } else {
                self.series = false;
                self.getTournament()
            }
        }
    }
</script>

<style scoped>

</style>