<template>
  <div>
    <v-toolbar flat style="background-color: var(--primary-color)" dark >
      <v-icon @click="goBack" style="font-size: 2rem">mdi-arrow-left</v-icon>
      <v-spacer></v-spacer>
      <v-toolbar-title>
        <div style="font-size: 1rem; text-align: right">{{tournament.name}}</div>
        <div style="font-size: 1.4rem; text-align: right">Round-wise Top Scorer</div>
      </v-toolbar-title>
    </v-toolbar>
    <div>
      <div :key="index" v-for="(round, index) in rounds_info">
        <div class="row rI">
          <div class="col-12 p-1 text-center my-auto">
            <div style="padding: 0.5rem; text-align: left; font-size: 1.6rem; background-color: var(--third-color-dark); color: white">
              Round {{round.key.substring(1).toUpperCase()}}
            </div>
          </div>
          <div class="col-3">
            <div class="avt-wrp">
              <img class="avt" :src="round.image">
            </div>
          </div>
          <div class="col-6 text-center my-auto">
            <div style="text-align: left; font-size: 1.2rem; color: #3d4249">{{round.team_name}}</div>
            <div style="text-align: left; font-size: 1.6rem; color: #050505">{{round.name}}</div>
          </div>
          <div class="col-3 text-center my-auto">
            <div style="text-align: left; font-size: 1.6rem; color: var(--third-color)">{{round.points}}<span style="font-weight: normal; font-size: 1.2rem">pts</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import {IsEmptyObject} from "../../filter";
    import firebase from 'firebase/app';
    import 'firebase/database';
    export default {
        name: "leaderboard-round-wise",
        props: {
            tournament: Object,
        },
        data: function(){
            return {
                EmptyObject: IsEmptyObject,
                rounds_info: []
            }
        },
        methods: {
            goBack: function () {
                this.$emit('cancel')
            },
        },
        mounted(){
            const self = this;
            if(!self.EmptyObject(self.tournament)) {
                let curr_round = parseInt(self.tournament.act_round);
                let rounds = self.tournament.rounds;
                let database = firebase.database();
                for(let i = 0 ; i < (curr_round - 1); i++){
                    if(rounds[i].max_id){
                        database.ref('users/' + rounds[i].max_id).once('value', function (snapshot) {
                            let user_name = snapshot.val().name;
                            let user_image = snapshot.val().imageURL || require('../../assets/user.svg');
                            let user_email = snapshot.val().email
                            database.ref('tournaments/' + self.tournament.id + '/users/' + rounds[i].max_id).once('value', function (snapshot_2) {
                                let object = {
                                    points: rounds[i].max_points,
                                    id: rounds[i].max_id,
                                    name: user_name,
                                    team_name: snapshot_2.val().tm_name,
                                    image: user_image,
                                    key: rounds[i].key,
                                    email: user_email
                                };
                                self.rounds_info.push(object)
                            });
                        });
                    }
                }
            }
        }
    }
</script>

<style scoped>
.rI{
  background-color: white;
  color: #050505;
  padding: 0.5rem !important;
  margin: 0.5rem !important;
}
.avt-wrp{
  height: 5rem;
  width: 5rem;
}
.avt{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
</style>