<template>
  <div class="board">
    <v-toolbar flat style="background-color: var(--primary-color)" dark >
      <v-icon @click="goBack" style="font-size: 2rem">mdi-arrow-left</v-icon>
      <v-spacer></v-spacer>
      <v-toolbar-title>
        <div style="font-size: 1.4rem; text-align: right">Settings</div>
      </v-toolbar-title>
    </v-toolbar>
    <div v-if="!edit">
      <div class="row fchip">
        <div class="col-6">
          <div class="fchip">
            <div class="fchip-ttl">League Name</div>
            <div class="fchip-val">{{data.league_name}}</div>
          </div>
        </div>
        <div class="col-6">
         <div class="fchip">
           <div class="fchip-ttl">Participants (Max)</div>
           <div class="fchip-val">{{data.max_p}}</div>
         </div>
        </div>
        <div class="col-6">
          <div class="fchip">
            <div class="fchip-ttl">Code</div>
            <div class="fchip-val">{{data.code}}</div>
          </div>
        </div>
        <div class="col-6 my-auto" style="text-align: right">
          <button @click="editData" style="width: 100%" class="btn btn-neutral-outline">Edit</button>
        </div>
      </div>
    </div>
    <div style="margin-top: 2rem" v-else>
      <div class="row fchip">
        <div class="col-6">
          <v-text-field
            dark
            v-model="league_name"
            outlined
            dense
            label="League Name"
            :error-messages="nameErrors"
          >
          </v-text-field>
        </div>
        <div class="col-6">
          <v-select
            dark
            :items="maxParticipants"
            v-model="max_p"
            outlined
            dense
            label="Maximum Participants"
            :error-messages="maxPErrors"
          >
          </v-select>
        </div>
        <div class="col-6">
          <v-text-field
            dark
            v-model="code"
            outlined
            dense
            label="Code"
            :error-messages="codeErrors"
          >
          </v-text-field>
        </div>
        <div class="col-12">
          <button style="margin-right: 1rem" @click="updateLeague" class="btn btn-second">Update</button>
          <button  @click="edit = false" class="btn btn-neutral-outline">Cancel</button>
        </div>
      </div>
    </div>
    <div class="row tt" style="background-color: var(--black-background); color: white; margin-top: 2rem !important;">
      <div class="col-3">
        Team Name
      </div>
      <div class="col-3">
        Points
      </div>
      <div class="col-3">
        Rank
      </div>
    </div>
    <div :key="key" v-for="(participant, key) in participants">
      <div class="row tt">
        <div class="col-3">
          {{participant.tm_name}}
        </div>
        <div class="col-3">
          {{participant.total_points}}
        </div>
        <div class="col-3">
          {{participant.rank}}
        </div>
        <div class="col-3">
          <v-icon v-if="participant.user_key !== currentUser.uid && edit" @click="remove(key, participant.user_key)" style="color: var(--error-state) !important;" class="btn bt-ico-primary">mdi-delete</v-icon>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import {required, maxLength} from "vuelidate/lib/validators";
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    export default {
        name: "league-settings",
        props: {
            leagueObj: Object,
            leagueKey: String,
            tournamentId: String
        },
        validations: {
            league_name: {required, maxLength: maxLength(32)},
            code: {required, maxLength: maxLength(8)},
            max_p: {required}
        },
        data: function () {
            return {
                currentUser: firebase.auth().currentUser,
                key: '',
                data: {},
                participants: {},
                edit: false,
                league_name: '',
                max_p: '',
                code: '',
                maxParticipants: [25,50,100],
            }
        },
        methods: {
            goBack(){
              this.$emit('cancel')
            },
            editData(){
                const self = this;
                self.edit = true;
            },
            updateLeague(){
                const self = this;
                self.$v.$touch();
                if (!self.$v.$anyError) {
                    let database = firebase.database();
                    database.ref('tournaments/' + self.tournamentId + '/leagues/' + self.leagueKey + '/data').update({
                        league_name: self.league_name,
                        code: self.code,
                        max_p: self.max_p
                    }).then(function () {
                        // console.log()
                    }).catch(function () {
                        // console.log()
                    });
                }
            },
            remove(key, user_key){
                const self = this;
                let database = firebase.database();
                database.ref('tournaments/' + self.tournamentId + '/leagues/' + self.leagueKey + '/data/request_block').push({
                    user_key: user_key,
                    pid: key,
                }).then(function () {
                    // console.log()
                    window.location.reload();
                }).catch(function () {
                    // console.log()
                });
            }
        },
        computed: {
            nameErrors() {
                const errors = [];
                if (!this.$v.league_name.$dirty) return errors;
                !this.$v.league_name.maxLength &&
                errors.push('Maximum 32 Characters');
                !this.$v.league_name.required &&
                errors.push('Required');
                return errors;
            },
            codeErrors(){
                const errors = [];
                if (!this.$v.code.$dirty) return errors;
                !this.$v.code.maxLength &&
                errors.push('Maximum 8 Characters');
                !this.$v.code.required &&
                errors.push('Required');
                return errors;
            },
            maxPErrors(){
                const errors = [];
                if (!this.$v.max_p.$dirty) return errors;
                !this.$v.max_p.required &&
                errors.push('Required');
                return errors;
            }
        },
        mounted(){
            const self = this;
            if(self.leagueObj) {
                self.key = self.leagueKey;
                self.data = self.leagueObj.data;
                self.participants = self.leagueObj.participants;
                self.league_name = self.data.league_name
                self.max_p = self.data.max_p
                self.code = self.data.code
            }
        }
    }
</script>

<style scoped>
.tt{
  background-color: white;
  color: #050505;
  margin: 0.5rem 2rem !important;
}
.board{
  font-size: 1.4rem;
  color: white;
}
.board-comp{
  padding: 0.5rem;
  color: white;
  margin: 0.5rem 0 !important;
  border-radius: 0.5rem;
}
.fchip{
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: 100%;
  position: relative;
}
.fchip-ttl{
  padding: 0 0 4rem 0;
  text-align: center;
  background-color: var(--black-background);
  border-radius: 0.5rem;
}
.fchip-val{
  background-color: rgba(255,255,255, 0.1);
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  position: absolute;
  bottom: 0.5rem;
  width: calc(100% - 1rem);
  margin: auto;
}
</style>