<template>
  <div v-bind:class="[{blBack: select_team || points_view}]" class="container-fluid main-body top-header-mar-no-back">
    <div style="height: 100%" v-if="!loading">
      <div v-if="!viewMode">
        <div :key="index" v-for="(match, index) in matches">
          <div v-if="match.tr_active" style="position: relative; padding: 0.5rem">
            <v-card style="background-image: var(--single-background)" dark class="mx-auto">
              <v-img
                class="white--text align-end"
                height="150px"
                :src="match.imageURL"
              >
                <div style="position: absolute; top: 0; width: 100%; right: 0; height: 100%; background-image: var(--single-background)">
                  <div :key="timeChange"  v-if="GET_DEADLINE(match.deadline).distance > 0">
                    <div style="text-align: center; color: white; font-size: 1.2rem; padding-top: 2rem">Transfer deadline</div>
                    <div style="text-align: center; color: white; font-size: 1.6rem;">
                      {{match.name}}
                    </div>
                    <div class="row justify-content-center" style="padding: 1rem 0 2rem 0">
                      <div class="col-2 col-sm-1 col-md-1 col-lg-1 col-xl-1 no-padding dchip">
                        <div v-bind:class="[{dchipErr : GET_DEADLINE(match.deadline).remaining_time < 10}]" style="font-size: 2.4rem; font-weight: bold">{{GET_DEADLINE(match.deadline).day}}</div>
                        <div style="font-size: 1rem">day</div>
                      </div>
                      <div class="col-2 col-sm-1 col-md-1 col-lg-1 col-xl-1 no-padding dchip">
                        <div v-bind:class="[{dchipErr : GET_DEADLINE(match.deadline).remaining_time < 10}]" style="font-size: 2.4rem; font-weight: bold">{{GET_DEADLINE(match.deadline).hour}}</div>
                        <div style="font-size: 1rem">hour</div>
                      </div>
                      <div class="col-2 col-sm-1 col-md-1 col-lg-1 col-xl-1 no-padding dchip">
                        <div v-bind:class="[{dchipErr : GET_DEADLINE(match.deadline).remaining_time < 10}]" style="font-size: 2.4rem; font-weight: bold">{{GET_DEADLINE(match.deadline).minute}}</div>
                        <div style="font-size: 1rem">min</div>
                      </div>
                    </div>
                  </div>
                  <div v-else>
                    <div style="text-align: center; color: white; font-size: 1.6rem; padding-top: 2rem; font-weight: bold">
                      {{match.name}}
                    </div>
                    <div v-if="match.enrolled" style="text-align: center; color: white; font-size: 1.4rem">
                      You are in #{{match.users[currentUser.uid].rank}} position
                    </div>
                    <div v-if="match.cancel" style="text-align: center; color: white; font-size: 1.6rem; padding-top: 2rem; font-weight: bold">
                      This match has been canceled. So all fantasy points/ranks are canceled too.
                    </div>
                  </div>
                  <div style="color: white; position: absolute; top: 0.5rem; right: 0.5rem; font-size: 2.4rem">
                    <v-menu min-width="100" bottom left>
                      <template v-slot:activator="{ on, attrs }">
                        <v-icon color="white" v-bind="attrs" v-on="on">mdi-information</v-icon>
                      </template>
                      <v-list dense>
                        <v-list-item dense @click="gotoPrizes(match)">
                          <v-list-item-title style="font-size: 1.2rem">Prizes</v-list-item-title>
                        </v-list-item>
                        <v-list-item dense @click="gotoRules(match)">
                          <v-list-item-title style="font-size: 1.2rem">Rules</v-list-item-title>
                        </v-list-item>
                      </v-list>
                    </v-menu>
                  </div>
                </div>
              </v-img>
              <div class="t-back-wrp">
                <div v-if="GET_DEADLINE(match.deadline).distance > 0 && match.transfer_open" style="text-align: center; padding: 2rem; background-color: rgba(0,0,0,0.1)">
                  <button style="min-width: 12rem; margin-left: 1rem;" v-if="match.enrolled" @click="gotoMatch(match)" class="btn btn-third" >Update Team</button>
                  <button style="min-width: 12rem; margin-left: 1rem;" v-else @click="gotoMatch(match)" class="btn btn-third" >Create Team</button>
                  <button v-if="hasUser" style="margin-left: 1rem; min-width: 12rem" @click="gotoLeaderBoard(match)" class="btn btn-neutral-outline" >Leaderboard</button>
                </div>
                <div v-else style="text-align: center; padding: 2rem; background-color: rgba(0,0,0,0.1)">
                  <button style="min-width: 12rem; margin-left: 1rem;" v-if="match.enrolled" @click="gotoPointsView(match, currentUser.uid, currentUser.displayName)" class="btn btn-third" >Points</button>
                  <button style="margin-left: 1rem; min-width: 12rem" @click="gotoLeaderBoard(match)" class="btn btn-neutral-outline" >Leaderboard</button>
                </div>
              </div>
            </v-card>
            <v-overlay absolute :value="match.loading">
              <v-progress-circular indeterminate size="64"></v-progress-circular>
            </v-overlay>
          </div>
        </div>
      </div>
      <div style="background-color: var(--black-light-foreground);" v-else>
        <points-view
          v-if="points_view"
          v-bind:user_id="user_id"
          v-bind:user_name="user_name"
          v-bind:match="currentMatch"
          v-on:cancel-view="cancelView"
        ></points-view>
        <leader-board-view
          style="background-color: white"
          v-if="leader_view"
          v-bind:tournament-obj="currentMatch"
          v-on:cancel="cancelView"
        ></leader-board-view>
        <team-selection
          v-if="select_team"
          v-bind:match_id="currentMatch.id"
          v-on:cancel="cancelView"
        ></team-selection>
      </div>
      <div style="text-align: center; padding: 2rem" v-if="noData">Single Matches are coming soon. Stay tuned.</div>
    </div>
    <v-overlay absolute :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import {getDeadlineMatch, IsEmptyObject} from "../../filter";
    import PointsView from "./points-single";
    import LeaderBoardView from "./leaderboard-single-match";
    import TeamSelection from "./team-single";
    export default {
        name: "match-mode",
        components: {
            PointsView,
            LeaderBoardView,
            TeamSelection
        },
        data: function () {
            return {
                viewMode: false,
                currentUser: firebase.auth().currentUser,
                loading: false,
                matches: [],
                GET_DEADLINE: getDeadlineMatch,
                timeChange: 0,
                interval: null,
                currentMatch: {},
                user_id: '',
                user_name: '',
                points_view: false,
                leader_view: false,
                noData: false,
                hasUser: false,
                t_ids: [],
                select_team: false
            }
        },
        methods:{
            resetViews(){
                const self = this;
                self.points_view = false;
                self.leader_view = false;
                self.select_team = false;
            },
            getMatchData(){
                const self = this;
                self.matches = [];
                let database = firebase.database();
                for(let i = 0; i < self.t_ids.length; i++) {
                    let ref = database.ref('single-matches/' + self.t_ids[i] + '/data/')
                    ref.on('value', function(snapshot) {
                        let object = snapshot.val();
                        self.hasUser = !IsEmptyObject(object.users);
                        object.loading = true;
                        let query_2 = ref.child('users').orderByKey().equalTo(self.currentUser.uid).limitToFirst(1)
                        query_2.once('value', function (snap) {
                            object.enrolled = !!snap.val();
                            object.loading = false;
                        });
                        let user_ref = database.ref('single-matches/' + self.t_ids[i] + '/users/')
                        let query = user_ref.orderByKey().equalTo(self.currentUser.uid).limitToFirst(1)
                        query.on('value', function (snap) {
                            object.enrolled = !!snap.val();
                            object.loading = false;
                            self.hasUser = !IsEmptyObject(object.users);
                        });
                        let found = false;
                        for(let j = 0; j < self.matches.length; j++) {
                            if(self.matches[j].id === object.id) {
                                self.matches[j] = object
                                found = true;
                                break;
                            }
                        }
                        if(!found) self.matches.push(object)
                    });
                }
                self.loading = false;
            },
            getTournaments(){
                let database = firebase.database();
                const self = this;
                self.loading = true;
                database.ref('public-tournaments').on('value', function(snapshot) {
                    let returnArr = [];
                    snapshot.forEach(function(childSnapshot) {
                        if(childSnapshot.val().active && childSnapshot.val().type === 'match'){
                            returnArr.push(childSnapshot.key);
                        }
                    });
                    self.t_ids = returnArr;
                    self.getMatchData()
                });
            },
            gotoRules(tournament){
                const self = this;
                self.$router.push({name: "tournament-rules",
                    query: {
                        q: tournament.id,
                        type: 'match',
                    }
                }).catch()
            },
            gotoPrizes(tournament){
                const self = this;
                self.$router.push({name: "tournament-prizes",
                    query: {
                        q: tournament.id,
                        type: 'match',
                    }
                }).catch()
            },
            gotoMatch(match){
                const self = this;
                self.currentMatch = match;
                self.viewMode = true;
                self.resetViews()
                self.select_team = true;
            },
            gotoPointsView(match, id, name){
                const self = this;
                self.currentMatch = match;
                self.user_id = id;
                self.user_name = name;
                self.viewMode = true;
                self.resetViews()
                self.points_view = true;
            },
            gotoLeaderBoard(match){
                const self = this;
                self.currentMatch = match;
                self.viewMode = true;
                self.resetViews()
                self.leader_view = true;
            },
            cancelView(){
                const self = this;
                self.viewMode = false;
                self.resetViews()
            }
        },
        mounted(){
            const self = this;
            self.getTournaments()
        },
        beforeDestroy() {
            clearInterval(this.interval);
        },
        created() {
            const self = this;
            self.interval = setInterval(() => {
                self.timeChange++
            }, 60000);
        },
    }
</script>

<style scoped>
  .dchip{
    text-align: center;
    border-radius: 0.5rem;
    color: white;
  }
  .dchipErr{
    color: var(--error-state);
  }
  .blBack{
    background-color: var(--black-light-foreground) !important;
    height: 100vh;
  }
  .t-back-wrp{
    width: 100%;
    margin: auto;
    color: #050505 !important;
  }
  .chip{
    color: var(--secondary-color);
    background-color: white;
    padding: 0.1rem 0.5rem;
    border-radius:0.25rem;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
  }
</style>