<template>
  <div class="container-fluid top-header-mar-no-back">
    <v-toolbar flat style="background-color: var(--primary-color)" dark >
      <v-icon @click="goBack" style="font-size: 2rem">mdi-arrow-left</v-icon>
      <v-spacer></v-spacer>
      <v-toolbar-title>
        <div style="font-size: 1.6rem; text-align: right">Points System</div>
      </v-toolbar-title>
    </v-toolbar>
    <div style="margin: 0 0 1rem 0">
     <point-system></point-system>
   </div>
  </div>
</template>

<script>
    import PointSystem from "../common/points-distribution";
    export default {
        name: "points-system",
        components: {
            PointSystem
        },
        methods: {
            goBack(){
                this.$router.go(-1)
            }
        }
    }
</script>

<style scoped>

</style>