<template>
  <div class="container-fluid no-padding">
    <div v-if="!loading">
      <div v-if="!no_team">
        <div v-if="rounds.length > 0">
          <v-toolbar flat style="background-color: var(--primary-color)" dark >
            <v-icon @click="cancelView" style="font-size: 2rem">mdi-arrow-left</v-icon>
            <v-spacer></v-spacer>
            <v-toolbar-title style="padding: 0 3rem; margin: 0 3rem; border-right: 1px solid #EBF2FE">
              <div style="font-size: 1rem; text-align: left">{{user_name}}</div>
              <div style="font-size: 1.2rem; text-align: left">{{user_team}}</div>
            </v-toolbar-title>
            <v-toolbar-title >
              <div style="font-size: 1rem; text-align: left">Points : {{total_points}}</div>
              <div style="font-size: 1.2rem; text-align: left">Rank : {{rank}}</div>
            </v-toolbar-title>
          </v-toolbar>
          <div  class="row features justify-content-between">
            <div class="col-3 no-padding">
              <div v-if="currentRound.key" class="fchip">
                <div style="position: relative" class="fchip-ttl">
                  Round <span style="font-size: 1rem; float: right; color: var(--warning)" v-if="parseInt(currentRound.key.substring(1)) === parseInt(activeRound) ">current</span>
                </div>
                <div v-if="currentRound.key" class="fchip-val">
                  {{currentRound.key.substring(1)}}
                </div>
              </div>
            </div>
            <div class="col-3 no-padding">
              <div class="fchip" style="margin: 0 0.5rem 0 0.5rem">
                <div class="fchip-ttl">Cost</div>
                <div style="color: var(--error-state)" class="fchip-val">-{{currentRound.deduct_points}}</div>
              </div>
            </div>
            <div class="col-3 no-padding">
              <div class="fchip" style="margin: 0 0.5rem 0 0">
                <div class="fchip-ttl">Points</div>
                <div class="fchip-val">{{round_points}}</div>
              </div>
            </div>
            <div class="col-3 no-padding">
              <div class="fchip">
                <div class="fchip-ttl">Status</div>
                <div class="fchip-val">{{round_status}}</div>
              </div>
            </div>
          </div>
          <div class="play-ground">
            <div class="ev-pl-tp">Wicket Keeper</div>
            <div class="row">
              <div :key="index" v-for="(player, index) in currentRound.in_eleven_wk" class="col-2 usr">
                <div style="cursor: pointer" @click="openDialog(player)">
                  <div class="points nm">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
                  <div class="image-wrapper">
                    <img @error="replaceByDefault" class="image" :src="getPlayerByKey(player).imageURL">
                  </div>
                  <div class="points">{{getPointsByKey(player)}}</div>
                  <div v-if="currentRound.cap === player" class="points captain">captain</div>
                  <div v-if="currentRound.vc === player" class="points vcap">vice</div>
                </div>
              </div>
            </div>
            <div class="ev-pl-tp">Batsmen</div>
            <div class="row">
              <div :key="index" v-for="(player, index) in currentRound.in_eleven_bts" class="col-2 usr">
                <div style="cursor: pointer" @click="openDialog(player)">
                  <div class="points nm">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
                  <div class="image-wrapper">
                    <img @error="replaceByDefault" class="image" :src="getPlayerByKey(player).imageURL">
                  </div>
                  <div class="points">{{getPointsByKey(player)}}</div>
                  <div v-if="currentRound.cap === player" class="points captain">captain</div>
                  <div v-if="currentRound.vc === player" class="points vcap">vice</div>
                </div>
              </div>
            </div>
            <div class="ev-pl-tp">All-rounder</div>
            <div class="row">
              <div :key="index" v-for="(player, index) in currentRound.in_eleven_al" class="col-2 usr">
                <div style="cursor: pointer" @click="openDialog(player)">
                  <div class="points nm">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
                  <div class="image-wrapper">
                    <img @error="replaceByDefault" class="image" :src="getPlayerByKey(player).imageURL">
                  </div>
                  <div class="points">{{getPointsByKey(player)}}</div>
                  <div v-if="currentRound.cap === player" class="points captain">captain</div>
                  <div v-if="currentRound.vc === player" class="points vcap">vice</div>
                </div>
              </div>
            </div>
            <div class="ev-pl-tp">Bowler</div>
            <div class="row">
              <div :key="index" v-for="(player, index) in currentRound.in_eleven_bow" class="col-2 usr">
                <div style="cursor: pointer" @click="openDialog(player)">
                  <div class="points nm">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
                  <div class="image-wrapper">
                    <img @error="replaceByDefault" class="image" :src="getPlayerByKey(player).imageURL">
                  </div>
                  <div class="points">{{getPointsByKey(player)}}</div>
                  <div v-if="currentRound.cap === player" class="points captain">captain</div>
                  <div v-if="currentRound.vc === player" class="points vcap">vice</div>
                </div>
              </div>
            </div>
            <div class="eve-player">
              <div class="ev-pl-tp">Substitute</div>
              <div class="row">
                <div :key="player" v-for="(player) in currentRound.in_sub_wk" class="col-2 usr">
                  <div style="cursor: pointer" @click="openDialog(player)">
                    <div class="points nm">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
                    <div class="image-wrapper">
                      <img @error="replaceByDefault" class="image" :src="getPlayerByKey(player).imageURL">
                    </div>
                    <div class="points">{{getPointsByKey(player)}}</div>
                    <div v-if="currentRound.cap === player" class="points captain">captain</div>
                    <div v-if="currentRound.vc === player" class="points vcap">vice</div>
                    <div style="background-color: #cccccc; color: #050505" class="points">WK-SUB</div>
                  </div>
                </div>
                <div :key="index" v-for="(player, index) in currentRound.in_sub_other" class="col-2 usr">
                  <div style="cursor: pointer" @click="openDialog(player)">
                    <div class="points nm">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
                    <div class="image-wrapper">
                      <img @error="replaceByDefault" class="image" :src="getPlayerByKey(player).imageURL">
                    </div>
                    <div class="points">{{getPointsByKey(player)}}</div>
                    <div v-if="currentRound.cap === player" class="points captain">captain</div>
                    <div v-if="currentRound.vc === player" class="points vcap">vice</div>
                    <div style="background-color: #cccccc; color: #050505" class="points">SUB {{index + 1}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="margin: 0.5rem 0 !important;" class="row">
            <div class="col-6" style="text-align: left; padding: 0.5rem">
              <button @click="changeRound(++c_index)" v-if="(c_index + 1) < rounds.length" class="btn btn-neutral-outline">Prev</button>
            </div>
            <div class="col-6" style="text-align: right; padding: 0.5rem">
              <button style="margin-left: 1rem" @click="changeRound(--c_index)"  v-if="c_index > 0" class="btn btn-second">Next</button>
            </div>
          </div>
        </div>
        <div v-else>
          <div class="eve text-center">Oops ! Seems like this user does not have a team for this round or the round has not begun yet!</div>
          <div style="padding: 1rem">
            <button style="width: 100%" @click="cancelView" class="btn btn-neutral-outline">Let's go back</button>
          </div>
        </div>
      </div>
      <div v-else>
        <div class="eve text-center">Oops ! Seems like this user does not have a team yet!</div>
        <div style="padding: 1rem">
          <button style="width: 100%" @click="cancelView" class="btn btn-neutral-outline">Let's go back</button>
        </div>
      </div>
    </div>
    <v-overlay absolute :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <v-dialog max-width="300" v-model="dialog" persistent>
      <v-toolbar v-if="selected_player" flat style="max-height: 6.4rem; background-color: var(--third-color-dark)" dark >
        <v-avatar
        >
          <img
            :src="getPlayerByKey(selected_player).imageURL"
            alt=""
          >
        </v-avatar>
        <v-spacer></v-spacer>
        <v-toolbar-title style="font-size: 1.6rem">{{getPlayerByKey(selected_player).name}}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon dark @click="closeDialog">
          <v-icon style="font-size: 2rem">mdi-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card v-if="selected_player" style="border-radius: 0; max-width: 100%; background-color: #f7f7f7; overflow-y: auto; overflow-x: hidden">
        <div v-if="selected_round.played">
          <div :key="index" v-for="(match, index) in selected_round.matches">
            <div v-if="match.stats.played" class="stat-wrp">
              <div class="rh">
                vs {{getOpponent(index, selected_round.key)}}
                <span style="float: right">{{match.points}} Pts</span>
              </div>
              <div class="row round-header">
                <div class="stats">Statistics</div>
                <div class="stats2">Pts</div>
              </div>
              <div class="row">
                <div class="stats">In Playing XI</div>
                <div class="stats2">5</div>
              </div>
              <div v-if="isTest">
                <div v-if="match.stats.batted">
                  <div v-if="parseInt(match.stats.runs) > 0" class="row">
                    <div class="stats">Runs Scored (First Innings)</div>
                    <div class="stats2">{{match.stats.runs}}</div>
                  </div>
                  <div v-if="parseInt(match.stats.fours) > 0" class="row">
                    <div class="stats">Boundary Bonus (First Innings)</div>
                    <div class="stats2">{{match.stats.fours}}</div>
                  </div>
                  <div v-if="parseInt(match.stats.sixs) > 0" class="row">
                    <div class="stats">Six Bonus (First Innings)</div>
                    <div class="stats2">{{match.stats.sixs * 2}}</div>
                  </div>
                  <div v-if="getMilestoneBonus(match.stats.runs).hasBonus" class="row">
                    <div class="stats">Bonus for a {{getMilestoneBonus(match.stats.runs).type}} (First Innings)</div>
                    <div class="stats2">{{getMilestoneBonus(match.stats.runs).points}}</div>
                  </div>
                  <div v-if="getDuckMinus(match.stats.runs)" class="row">
                    <div class="stats">Dismissal for a duck (First Innings)</div>
                    <div class="stats2">-10</div>
                  </div>
                </div>
                <div v-if="match.stats.batted_2">
                  <div v-if="parseInt(match.stats.runs_2) > 0" class="row">
                    <div class="stats">Runs Scored (Second Innings)</div>
                    <div class="stats2">{{match.stats.runs_2}}</div>
                  </div>
                  <div v-if="parseInt(match.stats.fours_2) > 0" class="row">
                    <div class="stats">Boundary Bonus (Second Innings)</div>
                    <div class="stats2">{{match.stats.fours_2}}</div>
                  </div>
                  <div v-if="parseInt(match.stats.sixs_2) > 0" class="row">
                    <div class="stats">Six Bonus (Second Innings)</div>
                    <div class="stats2">{{match.stats.sixs_2 * 2}}</div>
                  </div>
                  <div v-if="getMilestoneBonus(match.stats.runs_2).hasBonus" class="row">
                    <div class="stats">Bonus for a {{getMilestoneBonus(match.stats.runs_2).type}} (Second Innings)</div>
                    <div class="stats2">{{getMilestoneBonus(match.stats.runs_2).points}}</div>
                  </div>
                  <div v-if="getDuckMinus(match.stats.runs_2)" class="row">
                    <div class="stats">Dismissal for a duck (Second Innings)</div>
                    <div class="stats2">-10</div>
                  </div>
                </div>
              </div>
              <div v-else>
                <div v-if="match.stats.batted">
                  <div v-if="parseInt(match.stats.runs) > 0" class="row">
                    <div class="stats">Runs Scored</div>
                    <div class="stats2">{{match.stats.runs}}</div>
                  </div>
                  <div v-if="parseInt(match.stats.fours) > 0" class="row">
                    <div class="stats">Boundary Bonus</div>
                    <div class="stats2">{{match.stats.fours}}</div>
                  </div>
                  <div v-if="parseInt(match.stats.sixs) > 0" class="row">
                    <div class="stats">Six Bonus</div>
                    <div class="stats2">{{match.stats.sixs * 2}}</div>
                  </div>
                  <div v-if="getMilestoneBonus(match.stats.runs).hasBonus" class="row">
                    <div class="stats">Bonus for a {{getMilestoneBonus(match.stats.runs).type}}</div>
                    <div class="stats2">{{getMilestoneBonus(match.stats.runs).points}}</div>
                  </div>
                  <div v-if="getDuckMinus(match.stats.runs)" class="row">
                    <div class="stats">Dismissal for a duck</div>
                    <div class="stats2">-10</div>
                  </div>
                  <div class="row" v-if="getSRBonus(match.stats).hasBonus">
                    <div class="stats">{{getSRBonus(match.stats).reason}}</div>
                    <div class="stats2">{{getSRBonus(match.stats).points}}</div>
                  </div>
                </div>
              </div>
              <div v-if="match.stats.bowled">
                <div v-if="getWicketBonus(match.stats).points > 0" class="row">
                  <div class="stats">Wicket</div>
                  <div class="stats2">{{getWicketBonus(match.stats).points}}</div>
                </div>
                <div v-if="getWicketBonus(match.stats).hasBonus" class="row">
                  <div class="stats">{{getWicketBonus(match.stats).type}}</div>
                  <div class="stats2">{{getWicketBonus(match.stats).bonus}}</div>
                </div>
                <div v-if="!isTest && parseInt(match.stats.maidens) > 0" class="row">
                  <div class="stats">Maiden Bonus</div>
                  <div class="stats2">{{getMaidenBonus(match.stats.maidens)}}</div>
                </div>
                <div v-if="!isTest && getECOBonus(match.stats).hasBonus" class="row">
                  <div class="stats">{{getECOBonus(match.stats).reason}}</div>
                  <div class="stats2">{{getECOBonus(match.stats).points}}</div>
                </div>
                <div v-if="!isTest && match.stats.noball > 0" class="row">
                  <div class="stats">No Ball</div>
                  <div class="stats2">-{{match.stats.noball}}</div>
                </div>
              </div>
              <div v-if="isTest">
                <div v-if="parseInt(match.stats.stump + match.stats.stump_2) > 0" class="row">
                  <div class="stats">Stumping</div>
                  <div class="stats2">{{parseInt(match.stats.stump + match.stats.stump_2) * 10}}</div>
                </div>
                <div v-if="parseInt(match.stats.catch + match.stats.catch_2) > 0" class="row">
                  <div class="stats">Catch</div>
                  <div class="stats2">{{parseInt(match.stats.catch + match.stats.catch_2) * 6}}</div>
                </div>
                <div v-if="parseInt(match.stats.run_out + match.stats.run_out_2) > 0" class="row">
                  <div class="stats">Run out</div>
                  <div class="stats2">{{parseInt(match.stats.run_out + match.stats.run_out_2) * 8}}</div>
                </div>
              </div>
              <div v-else>
                <div v-if="parseInt(match.stats.catch) > 0" class="row">
                  <div class="stats">Dismissals</div>
                  <div class="stats2">{{parseInt(match.stats.catch) * 6}}</div>
                </div>
                <div v-if="parseInt(match.stats.run_out) > 0" class="row">
                  <div class="stats">Run out</div>
                  <div class="stats2">{{parseInt(match.stats.run_out) * 8}}</div>
                </div>
              </div>
            </div>
          </div>
          <div style="margin: 0.5rem; background-color: var(--third-color-dark)" class="rh">
            Total
            <span style="float: right">{{selected_round.points}} Pts</span>
          </div>
        </div>
        <div v-else style="text-align: center; padding: 1rem">
          Did not play in this round
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
    import {getOnlyFirstName, IsEmptyObject} from "../../filter";
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    export default {
        name: "points",
        props: {
            tournament: Object,
            user_id: String,
            user_name: String,
            user_team: String,
            user: Object
        },
        data: function () {
            return{
                loading: false,
                rounds: [],
                c_index: 0,
                pool: [],
                selectedPlayers: {},
                currentRound: {},
                activeRound: 0,
                total_points: 0,
                rank: 0,
                round_points: 0,
                roundInfos: [],
                no_team: false,
                imageURL: require('../../assets/user.svg'),
                EmptyObject: IsEmptyObject,
                GET_FIRST_NAME: getOnlyFirstName,
                round_status: '',
                selected_player: '',
                dialog: false,
                selected_round: {},
                isTest: false
            }
        },
        methods: {
            getOpponent(match_id, round_key){
                const self = this;
                let rounds = self.tournament.rounds;
                let teams = self.tournament.teams;
                let opponent = '';
                for(let i = 0; i < rounds.length; i++) {
                    if(rounds[i].key === round_key) {
                        let matches = rounds[i].matches;
                        for(let m = 0; m < matches.length; m++) {
                            if(matches[m].match_id === match_id) {
                                if(matches[m].tm_1 === self.getPlayerByKey(self.selected_player).team_id) {
                                    opponent = matches[m].tm_2
                                } else {
                                    opponent = matches[m].tm_1
                                }
                            }
                        }
                    }
                }
                for (let t = 0; t < teams.length; t++) {
                    if(teams[t].id === opponent) return teams[t].name
                }
            },
            getECOBonus(stats){
                const self = this;
                let object = {
                    hasBonus: false,
                    points: 0,
                    reason: ''
                };
                let match_type = self.tournament.match_type;
                if(match_type.toUpperCase() === 'ODI') {
                    if(stats.economy && stats.overs && parseInt(stats.overs) >= 4) {
                        if(parseFloat(stats.economy) <= 3) {
                            object.points = '2';
                            object.hasBonus = true;
                            object.reason = 'Economy rate less than 3';
                        } else if(parseFloat(stats.economy) <= 6){
                            object.points = '1';
                            object.hasBonus = true;
                            object.reason = 'Economy rate less than 6';
                        } else if(parseFloat(stats.economy) >= 9){
                            object.points = '-2';
                            object.hasBonus = true;
                            object.reason = 'Economy rate greater than 9';
                        } else if(parseFloat(stats.economy) >= 7){
                            object.reason = 'Economy rate greater than 7';
                            object.points = '-1';
                            object.hasBonus = true;
                        }
                    }
                    return object
                }
                if(match_type.toUpperCase() === 'T20') {
                  if(stats.economy && stats.overs && parseInt(stats.overs) >= 2) {
                    if(parseFloat(stats.economy) <= 4) {
                      object.points = '4';
                      object.hasBonus = true;
                      object.reason = 'Economy rate less than 4';
                    } else if(parseFloat(stats.economy) <= 7){
                      object.points = '2';
                      object.hasBonus = true;
                      object.reason = 'Economy rate less than 7';
                    } else if(parseFloat(stats.economy) >= 12){
                      object.points = '-4';
                      object.hasBonus = true;
                      object.reason = 'Economy rate greater than 12';
                    } else if(parseFloat(stats.economy) >= 10){
                      object.points = '-2';
                      object.hasBonus = true;
                      object.reason = 'Economy rate greater than 10';
                    } else if(parseFloat(stats.economy) >= 8){
                      object.reason = 'Economy rate greater than 8';
                      object.points = '-1';
                      object.hasBonus = true;
                    }
                  }
                    return object
                }
                if(match_type.toUpperCase() === 'T10') {
                    if(stats.economy && stats.overs) {
                        if(parseFloat(stats.economy) <= 6) {
                            object.points = '2';
                            object.hasBonus = true;
                            object.reason = 'Economy rate less than 6';
                        } else if(parseFloat(stats.economy) <= 8){
                            object.points = '1';
                            object.hasBonus = true;
                            object.reason = 'Economy rate less than 8';
                        } else if(parseFloat(stats.economy) >= 12){
                            object.points = '-2';
                            object.hasBonus = true;
                            object.reason = 'Economy rate greater than 12';
                        } else if(parseFloat(stats.economy) >= 10){
                            object.reason = 'Economy rate greater than 10';
                            object.points = '-1';
                            object.hasBonus = true;
                        }
                    }
                    return object
                }
            },
            getSRBonus(stats){
                const self = this;
                let object = {
                    hasBonus: false,
                    points: 0,
                    reason: ''
                };
                let role = self.getPlayerByKey(self.selected_player).playingRole;
                let match_type = self.tournament.match_type;
                if(!role.toLowerCase().includes('bowler')){
                    let sr = (parseInt(stats.runs) / parseInt(stats.balls))*100;
                    if(match_type.toUpperCase() === 'ODI') {
                        if(stats.balls && parseInt(stats.balls) >= 20) {
                            if(sr < 30) {
                                object.hasBonus = true;
                                object.points = 6;
                                object.reason = 'Strike Rate below 30';
                            } else if(sr < 40) {
                                object.hasBonus = true;
                                object.points = 4;
                                object.reason = 'Strike Rate below 40';
                            } else if(sr < 50) {
                                object.hasBonus = true;
                                object.points = 2;
                                object.reason = 'Strike Rate below 50';
                            }
                        }
                        return object
                    }
                    if(match_type.toUpperCase() === 'T20') {
                      if(stats.balls && parseInt(stats.balls) >= 10) {
                        if(sr < 30) {
                          object.hasBonus = true;
                          object.points = -8;
                          object.reason = 'Strike Rate below 30';
                        } else if(sr < 40) {
                          object.hasBonus = true;
                          object.points = -6;
                          object.reason = 'Strike Rate below 40';
                        } else if(sr < 50) {
                          object.hasBonus = true;
                          object.points = -4;
                          object.reason = 'Strike Rate below 50';
                        } else if(sr < 80) {
                          object.hasBonus = true;
                          object.points = -2;
                          object.reason = 'Strike Rate below 80';
                        } else if(sr >= 200) {
                          object.hasBonus = true;
                          object.points = 8;
                          object.reason = 'Strike Rate above 200';
                        } else if(sr >= 175) {
                          object.hasBonus = true;
                          object.points = 6;
                          object.reason = 'Strike Rate above 175';
                        } else if(sr >= 150) {
                          object.hasBonus = true;
                          object.points = 4;
                          object.reason = 'Strike Rate above 150';
                        } else if(sr >= 130) {
                          object.hasBonus = true;
                          object.points = 2;
                          object.reason = 'Strike Rate above 130';
                        }
                      }
                      return object
                    }
                    if(match_type.toUpperCase() === 'T10') {
                        if(stats.balls && parseInt(stats.balls) >= 10) {
                            if(sr < 30) {
                                object.hasBonus = true;
                                object.points = 10;
                                object.reason = 'Strike Rate below 30';
                            } else if(sr < 40) {
                                object.hasBonus = true;
                                object.points = 8;
                                object.reason = 'Strike Rate below 40';
                            } else if(sr < 50) {
                                object.hasBonus = true;
                                object.points = 6;
                                object.reason = 'Strike Rate below 50';
                            } else if(sr < 80) {
                                object.hasBonus = true;
                                object.points = 4;
                                object.reason = 'Strike Rate below 80';
                            } else if(sr < 100) {
                                object.hasBonus = true;
                                object.points = 2;
                                object.reason = 'Strike Rate below 100';
                            }
                        }
                        return object
                    }
                } else {
                    return object
                }
            },
            getWicketBonus(stats){
                const self = this;
                let object = {
                    hasBonus: false,
                    points: 0,
                    type: '',
                    bonus: 0
                };
                let wicket = stats.wickets;
                let match_type = self.tournament.match_type;
                if(match_type.toUpperCase() === 'TEST') {
                  let total = parseInt(stats.wickets) + parseInt(stats.wickets_2);
                  object.points = total * 20;
                  if(total >= 12) {
                    object.hasBonus = true;
                    object.bonus = 60;
                    object.type = '12-Wicket Bonus';
                  } else if(total >= 10){
                    object.hasBonus = true;
                    object.bonus = 50;
                    object.type = '10-Wicket Bonus';
                  } else if(total >= 7){
                    object.hasBonus = true;
                    object.bonus = 30;
                    object.type = '7-Wicket Bonus';
                  } else if(total >= 5){
                    object.hasBonus = true;
                    object.bonus = 10;
                    object.type = '5-Wicket Bonus';
                  }
                  return object
                }
                if(match_type.toUpperCase() === 'ODI') {
                    object.points = parseInt(wicket) * 20;
                    if(parseInt(wicket) >= 5) {
                        object.hasBonus = true;
                        object.bonus = 20;
                        object.type = '5-Wicket Haul';
                    } else if(parseInt(wicket) === 4){
                        object.hasBonus = true;
                        object.bonus = 10;
                        object.type = '4-Wicket Haul';
                    }
                    return object
                }
                if(match_type.toUpperCase() === 'T20') {
                  object.points = parseInt(wicket) * 25;
                  if(parseInt(wicket) >= 5) {
                    object.hasBonus = true;
                    object.bonus = 50;
                    object.type = '5-Wicket Haul';
                  } else if(parseInt(wicket) === 4){
                    object.hasBonus = true;
                    object.bonus = 30;
                    object.type = '4-Wicket Haul';
                  } else if(parseInt(wicket) === 3){
                    object.hasBonus = true;
                    object.bonus = 20;
                    object.type = '3-Wicket Haul';
                  } else if(parseInt(wicket) === 2){
                    object.hasBonus = true;
                    object.bonus = 10;
                    object.type = '2-Wicket Haul';
                  }
                  return object
                }
                if(match_type.toUpperCase() === 'T10') {
                    object.points = parseInt(wicket) * 25;
                    if(parseInt(wicket) >= 4) {
                        object.hasBonus = true;
                        object.bonus = 20;
                        object.type = '4-Wicket Haul';
                    } else if(parseInt(wicket) >= 2){
                        object.hasBonus = true;
                        object.bonus = 10;
                        object.type = '2-Wicket Haul';
                    }
                    return object
                }
            },
            getMaidenBonus(maidens){
                const self = this;
                let match_type = self.tournament.match_type;
                if(match_type.toUpperCase() === 'ODI') {
                    return parseInt(maidens) * 4;
                }
                if(match_type.toUpperCase() === 'T20') {
                    return parseInt(maidens) * 10;
                }
                if(match_type.toUpperCase() === 'T10') {
                    return parseInt(maidens) * 10;
                }
            },
            getDuckMinus(runs){
                const self = this;
                let role = self.getPlayerByKey(self.selected_player).playingRole;
                return !role.toLowerCase().includes('bowler') && parseInt(runs) === 0;
            },
            getMilestoneBonus(runs){
                const self = this;
                let object = {
                    hasBonus: false,
                    points: 0,
                    type: ''
                };
                let match_type = self.tournament.match_type;
                if(match_type.toUpperCase() === 'TEST') {
                    if(parseInt(runs) >= 200) {
                        object.hasBonus = true;
                        object.points = 50;
                        object.type = 'Double Century';
                    } else if(parseInt(runs) >= 100){
                        object.hasBonus = true;
                        object.points = 20;
                        object.type = 'Century';
                    } else if(parseInt(runs) >= 50){
                        object.hasBonus = true;
                        object.points = 10;
                        object.type = 'Half Century';
                    }
                    return object
                }
                if(match_type.toUpperCase() === 'ODI') {
                    if(parseInt(runs) >= 100){
                        object.hasBonus = true;
                        object.points = 20;
                        object.type = 'Century';
                    } else if(parseInt(runs) >= 50){
                        object.hasBonus = true;
                        object.points = 10;
                        object.type = 'Half Century';
                    }
                    return object
                }
                if(match_type.toUpperCase() === 'T20') {
                  if(parseInt(runs) >= 100){
                    object.hasBonus = true;
                    object.points = 50;
                    object.type = 'Century';
                  } else if(parseInt(runs) >= 50){
                    object.hasBonus = true;
                    object.points = 30;
                    object.type = 'Half Century';
                  } else if(parseInt(runs) >= 30){
                    object.hasBonus = true;
                    object.points = 20;
                    object.type = '30 Run Bonus';
                  }
                  return object
                }
                if(match_type.toUpperCase() === 'T10') {
                    if(parseInt(runs) >= 100) {
                        object.hasBonus = true;
                        object.points = 40;
                        object.type = 'Century';
                    } else if(parseInt(runs) >= 50){
                        object.hasBonus = true;
                        object.points = 20;
                        object.type = 'Half Century';
                    } else if(parseInt(runs) >= 30){
                        object.hasBonus = true;
                        object.points = 10;
                        object.type = '30 Run Bonus';
                    }
                    return object
                }
            },
            openDialog(player){
                const self = this;
                self.selected_player = player;
                let rounds = self.getPlayerByKey(player).rounds
                for (let i = 0; i < rounds.length; i++){
                    if(rounds[i].key === self.currentRound.key) {
                        self.selected_round = rounds[i];
                    }
                }
                self.dialog = true;
            },
            closeDialog(){
                const self = this;
                self.selected_player = '';
                self.dialog = false;
            },
            replaceByDefault(e) {
                const self = this;
                e.target.src = self.imageURL
            },
            cancelView(){
              const self = this;
              self.rounds.sort((a, b) => (parseInt(a.key.substring(1)) > parseInt(b.key.substring(1)) ? 1 : -1));
              self.$emit('cancel-view')
            },
            changeRound(index) {
                const self = this;
                self.c_index =  index;
                self.currentRound = self.rounds[self.c_index];
                self.round_points = self.tournament.users[self.user_id].rounds[self.currentRound.key] || 0
                for(let i = 0; i < self.roundInfos.length; i++) {
                    if(self.roundInfos[i].key === self.currentRound.key) {
                        self.round_status = self.roundInfos[i].status || 'In Progress'
                    }
                }
            },
            getPlayerByKey(key){
                const self = this;
                let i;
                for(i = 0; i < self.pool.length; i++) {
                    if(self.pool[i].key === key) {
                        return self.pool[i];
                    }
                }
            },
            getPointsByKey(key){
                const self = this;
                let rounds = self.getPlayerByKey(key).rounds
                let points = 0
                if(rounds) {
                    for (let i = 0; i < rounds.length; i++) {
                        if(rounds[i].key === self.currentRound.key) {
                            if(rounds[i].played) {
                                if(key === self.currentRound.cap) {
                                    points = parseFloat(rounds[i].points * 2)
                                } else if(key === self.currentRound.vc){
                                    points = parseFloat(rounds[i].points * 1.5)
                                } else {
                                    points = rounds[i].points
                                }
                            }
                        }
                    }
                }
                return points
            }
        },
        mounted(){
            const self = this;
            if(self.tournament && self.user_id){
                self.loading = true;
                let database = firebase.database();
                self.isTest = self.tournament.match_type.toUpperCase() === 'TEST';
                self.total_points = self.tournament.users[self.user_id].total_points;
                self.rank = self.tournament.users[self.user_id].rank;
                self.activeRound = self.tournament.act_round;
                if(self.user.tm_crt) {
                    self.no_team = false;
                    for (let r = 0; r < self.user.rounds.length; r++) {
                        if(parseInt(self.tournament.act_round) !== parseInt(self.tournament.tot_round)){
                            if(parseInt(self.user.rounds[r].key.substring(1)) !== parseInt(self.tournament.act_round)) {
                                self.rounds.push(self.user.rounds[r])
                            }
                        } else {
                            if(self.tournament.transfer_open) {
                                if(parseInt(self.user.rounds[r].key.substring(1)) !== parseInt(self.tournament.act_round)) {
                                    self.rounds.push(self.user.rounds[r])
                                }
                            } else {
                                self.rounds.push(self.user.rounds[r])
                            }
                        }
                    }
                    if(self.rounds.length > 0){
                        self.rounds.sort((a, b) => (parseInt(a.key.substring(1)) < parseInt(b.key.substring(1)) ? 1 : -1));
                        self.currentRound = self.rounds[self.c_index];
                        self.round_points = self.tournament.users[self.user_id].rounds ?
                            self.tournament.users[self.user_id].rounds[self.currentRound.key] : 0;
                        self.roundInfos = self.tournament.rounds;
                        for(let i = 0; i < self.roundInfos.length; i++) {
                            if(self.roundInfos[i].key === self.currentRound.key) {
                                self.round_status = self.roundInfos[i].status || 'In Progress'
                            }
                        }
                        database.ref('tournaments/' + self.tournament.id + '/pool/').once('value', function (snap) {
                            self.pool = snap.val();
                            self.loading = false;
                        }).catch(()=> {
                            self.goBack()
                        });
                    } else {
                        self.loading = false;
                    }
                } else {
                    self.loading = false;
                    self.no_team = true;
                }
            }
        }
    }
</script>

<style scoped>
  .play-ground{
    font-size: 1.6rem;
    padding: 0.5rem;
  }
  .eve{
    color: white;
    margin: 1rem 0 !important;
    padding-right: 0.5rem !important;
    background-color: rgba(0,0,0,0.1);
  }
  .eve-player{
    padding: 0.5rem;
    margin-top: 2rem;
    position: relative;
    background-color: #cccccc;
  }
  .ev-pl-tp{
    padding: 0.5rem 1rem;
    color: white;
    background-color: var(--black-background);
  }
  .points{
    background-color: var(--third-color-dark);
    color: white;
    text-align: center;
    width: 6.5rem;
    font-size: 1.2rem;
    overflow: hidden;
  }
  .nm{
    background-color: var(--gray-dark);
  }
  .image-wrapper{
    overflow: hidden;
    width: 6.5rem;
    height: 8rem;
  }
  .image{
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .usr{
    max-width: 8rem;
    padding: 1rem 0.5rem 1rem 0;
  }
  .captain{
    background-color: var(--captain);
  }
  .vcap{
    background-color: var(--vicecap);
  }
  .features{
    margin: 0.5rem 0 0 0 !important;
    font-size: 1.4rem;
    color: white;
    padding: 0.5rem;
  }
  .fchip{
    color: white;
    border-radius: 0.4rem;
    padding: 0.5rem;
    height: 100%;
    position: relative;
    background-color: var(--black-background);
  }
  .fchip-ttl{
    padding: 0 0 3.2rem 0;
    text-align: center;
  }
  .fchip-val{
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    position: absolute;
    bottom: 0.5rem;
    width: calc(100% - 1rem);
    margin: auto;
    background-color: var(--black-light-foreground);
  }
  .fchip-val-alt{
    padding: 0.5rem;
  }
  .mMode{
    display: flex;
  }
  .round-header{
    background-color: #cccccc;
    color: #050505;
  }
  .stats{
    width: 75%;
    padding: 0.5rem;
  }
  .stats2{
    width: 25%;
    padding: 0.5rem 1rem 0.5rem;
    text-align: right;
  }
  .stat-wrp{
    padding: 0.5rem;
    background-color: white;
  }
  .rh{
    background-color: var(--primary-color-light);
    color: white;
    padding: 1rem 0.5rem;
  }
  @media (max-width: 300px) {
    .mMode {
      display: none;
    }
  }
</style>