<template>
  <div class="container-fluid no-padding">
    <div v-if="!EmptyObject(match) && !no_team">
      <v-toolbar flat style="background-color: var(--primary-color)" dark >
        <v-icon @click="cancelView" style="font-size: 2rem">mdi-arrow-left</v-icon>
        <v-spacer></v-spacer>
        <v-toolbar-title style="padding: 0 3rem; margin: 0 3rem; border-right: 1px solid #EBF2FE">
          <div style="font-size: 1rem; text-align: left">{{user_name}}</div>
        </v-toolbar-title>
        <v-toolbar-title >
          <div style="font-size: 1rem; text-align: left">Points : {{total_points}}</div>
          <div style="font-size: 1.2rem; text-align: left">Rank : {{rank}}</div>
        </v-toolbar-title>
      </v-toolbar>
      <div class="play-ground">
        <div class="eve-player">
          <div class="ev-pl-tp">Wicket Keeper</div>
          <div class="row">
            <div :key="index" v-for="(player, index) in selectedPlayers['wk'].players" class="col-2 usr">
              <div @click="openDialog(player)" style="cursor: pointer">
                <div class="points nm">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
                <div class="image-wrapper">
                  <img class="image" :src="getPlayerByKey(player).imageURL">
                </div>
                <div class="points">{{getPointsByKey(player)}}</div>
                <div v-if="selectedPlayers.cap === player" class="points captain">cap</div>
                <div v-if="selectedPlayers.vc === player" class="points vcap">vice</div>
              </div>
            </div>
          </div>
        </div>
        <div class="eve-player">
          <div class="ev-pl-tp">Batsman</div>
          <div class="row">
            <div :key="index" v-for="(player, index) in selectedPlayers['bts'].players" class="col-2 usr">
              <div @click="openDialog(player)" style="cursor: pointer">
                <div class="points nm">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
                <div class="image-wrapper">
                  <img class="image" :src="getPlayerByKey(player).imageURL">
                </div>
                <div class="points">{{getPointsByKey(player)}}</div>
                <div v-if="selectedPlayers.cap === player" class="points captain">cap</div>
                <div v-if="selectedPlayers.vc === player" class="points vcap">vice</div>
              </div>
            </div>
          </div>
        </div>
        <div class="eve-player">
          <div class="ev-pl-tp">All-Rounder</div>
          <div class="row">
            <div :key="index" v-for="(player, index) in selectedPlayers['al'].players" class="col-2 usr">
              <div @click="openDialog(player)" style="cursor: pointer">
                <div class="points nm">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
                <div class="image-wrapper">
                  <img class="image" :src="getPlayerByKey(player).imageURL">
                </div>
                <div class="points">{{getPointsByKey(player)}}</div>
                <div v-if="selectedPlayers.cap === player" class="points captain">cap</div>
                <div v-if="selectedPlayers.vc === player" class="points vcap">vice</div>
              </div>
            </div>
          </div>
        </div>
        <div class="eve-player">
          <div class="ev-pl-tp">Bowler</div>
          <div class="row">
            <div :key="index" v-for="(player, index) in selectedPlayers['bow'].players" class="col-2 usr">
              <div @click="openDialog(player)" style="cursor: pointer">
                <div class="points nm">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
                <div class="image-wrapper">
                  <img class="image" :src="getPlayerByKey(player).imageURL">
                </div>
                <div class="points">{{getPointsByKey(player)}}</div>
                <div v-if="selectedPlayers.cap === player" class="points captain">cap</div>
                <div v-if="selectedPlayers.vc === player" class="points vcap">vice</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="eve text-center">Oops ! Seems like this user does not have a team yet!</div>
      <div style="padding: 1rem">
        <button style="width: 100%" @click="cancelView" class="btn btn-neutral-outline">Let's go back</button>
      </div>
    </div>
    <v-dialog max-width="300" v-model="dialog" persistent>
      <v-toolbar v-if="selected_player" flat style="max-height: 6.4rem; background-color: var(--third-color-dark)" dark >
        <v-avatar
        >
          <img
            :src="getPlayerByKey(selected_player).imageURL"
            alt=""
          >
        </v-avatar>
        <v-spacer></v-spacer>
        <v-toolbar-title style="font-size: 1.6rem">{{getPlayerByKey(selected_player).name}}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon dark @click="closeDialog">
          <v-icon style="font-size: 2rem">mdi-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card v-if="selected_player" style="border-radius: 0; max-width: 100%; background-color: #f7f7f7; overflow-y: auto; overflow-x: hidden">
        <div v-if="selected_round && selected_round.played">
          <div class="row round-header">
            <div class="stats">Statistics</div>
            <div class="stats2">Pts</div>
          </div>
          <div class="row">
            <div class="stats">In Playing XI</div>
            <div class="stats2">5</div>
          </div>
          <div v-if="isTest">
            <div v-if="selected_round.batted">
              <div v-if="parseInt(selected_round.runs) > 0" class="row">
                <div class="stats">Runs Scored (First Innings)</div>
                <div class="stats2">{{selected_round.runs}}</div>
              </div>
              <div v-if="parseInt(selected_round.fours) > 0" class="row">
                <div class="stats">Boundary Bonus (First Innings)</div>
                <div class="stats2">{{selected_round.fours}}</div>
              </div>
              <div v-if="parseInt(selected_round.sixs) > 0" class="row">
                <div class="stats">Six Bonus (First Innings)</div>
                <div class="stats2">{{selected_round.sixs * 2}}</div>
              </div>
              <div v-if="getMilestoneBonus(selected_round.runs).hasBonus" class="row">
                <div class="stats">Bonus for a {{getMilestoneBonus(selected_round.runs).type}} (First Innings)</div>
                <div class="stats2">{{getMilestoneBonus(selected_round.runs).points}}</div>
              </div>
              <div v-if="getDuckMinus(selected_round.runs)" class="row">
                <div class="stats">Dismissal for a duck (First Innings)</div>
                <div class="stats2">-10</div>
              </div>
            </div>
            <div v-if="selected_round.batted_2">
              <div v-if="parseInt(selected_round.runs_2) > 0" class="row">
                <div class="stats">Runs Scored (Second Innings)</div>
                <div class="stats2">{{selected_round.runs_2}}</div>
              </div>
              <div v-if="parseInt(selected_round.fours_2) > 0" class="row">
                <div class="stats">Boundary Bonus (Second Innings)</div>
                <div class="stats2">{{selected_round.fours_2}}</div>
              </div>
              <div v-if="parseInt(selected_round.sixs_2) > 0" class="row">
                <div class="stats">Six Bonus (Second Innings)</div>
                <div class="stats2">{{selected_round.sixs_2 * 2}}</div>
              </div>
              <div v-if="getMilestoneBonus(selected_round.runs_2).hasBonus" class="row">
                <div class="stats">Bonus for a {{getMilestoneBonus(selected_round.runs_2).type}} (Second Innings)</div>
                <div class="stats2">{{getMilestoneBonus(selected_round.runs_2).points}}</div>
              </div>
              <div v-if="getDuckMinus(selected_round.runs_2)" class="row">
                <div class="stats">Dismissal for a duck (Second Innings)</div>
                <div class="stats2">-10</div>
              </div>
            </div>
          </div>
          <div v-else>
            <div v-if="selected_round.batted">
              <div v-if="parseInt(selected_round.runs) > 0" class="row">
                <div class="stats">Runs Scored</div>
                <div class="stats2">{{selected_round.runs}}</div>
              </div>
              <div v-if="parseInt(selected_round.fours) > 0" class="row">
                <div class="stats">Boundary Bonus</div>
                <div class="stats2">{{selected_round.fours}}</div>
              </div>
              <div v-if="parseInt(selected_round.sixs) > 0" class="row">
                <div class="stats">Six Bonus</div>
                <div class="stats2">{{selected_round.sixs * 2}}</div>
              </div>
              <div v-if="getMilestoneBonus(selected_round.runs).hasBonus" class="row">
                <div class="stats">Bonus for a {{getMilestoneBonus(selected_round.runs).type}}</div>
                <div class="stats2">{{getMilestoneBonus(selected_round.runs).points}}</div>
              </div>
              <div v-if="getDuckMinus(selected_round.runs)" class="row">
                <div class="stats">Dismissal for a duck</div>
                <div class="stats2">-10</div>
              </div>
            </div>
          </div>
          <div v-if="selected_round.bowled">
            <div v-if="getWicketBonus(selected_round).points > 0" class="row">
              <div class="stats">Wicket</div>
              <div class="stats2">{{getWicketBonus(selected_round).points}}</div>
            </div>
            <div v-if="getWicketBonus(selected_round).hasBonus" class="row">
              <div class="stats">{{getWicketBonus(selected_round).type}}</div>
              <div class="stats2">{{getWicketBonus(selected_round).bonus}}</div>
            </div>
            <div v-if="!isTest && parseInt(selected_round.maidens) > 0" class="row">
              <div class="stats">Maiden Bonus</div>
              <div class="stats2">{{getMaidenBonus(selected_round.maidens)}}</div>
            </div>
          </div>
          <div v-if="isTest">
            <div v-if="parseInt(selected_round.stump + selected_round.stump_2) > 0" class="row">
              <div class="stats">Stumping</div>
              <div class="stats2">{{parseInt(selected_round.stump + selected_round.stump_2) * 10}}</div>
            </div>
            <div v-if="parseInt(selected_round.catch + selected_round.catch_2) > 0" class="row">
              <div class="stats">Catch</div>
              <div class="stats2">{{parseInt(selected_round.catch + selected_round.catch_2) * 6}}</div>
            </div>
            <div v-if="parseInt(selected_round.run_out + selected_round.run_out_2) > 0" class="row">
              <div class="stats">Run out</div>
              <div class="stats2">{{parseInt(selected_round.run_out + selected_round.run_out_2) * 8}}</div>
            </div>
          </div>
          <div v-else>
            <div v-if="parseInt(selected_round.stump) > 0" class="row">
              <div class="stats">Stumping</div>
              <div class="stats2">{{parseInt(selected_round.stump) * 10}}</div>
            </div>
            <div v-if="parseInt(selected_round.catch) > 0" class="row">
              <div class="stats">Catch</div>
              <div class="stats2">{{parseInt(selected_round.catch) * 6}}</div>
            </div>
            <div v-if="parseInt(selected_round.run_out) > 0" class="row">
              <div class="stats">Run out</div>
              <div class="stats2">{{parseInt(selected_round.run_out) * 8}}</div>
            </div>
          </div>
          <div style="margin: 0.5rem; background-color: var(--third-color-dark)" class="rh">
            Total
            <span style="float: right">{{getPlayerByKey(selected_player).total_points}} Pts</span>
          </div>
        </div>
        <div v-else style="text-align: center; padding: 1rem">
          Did not play in this match
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
    import {getOnlyFirstName, IsEmptyObject} from "../../filter";
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    export default {
        name: "points",
        props: {
            match: Object,
            user_id: String,
            user_name: String,
        },
        data: function () {
            return{
                pool: [],
                selectedPlayers: {
                    'wk': {
                        players: []
                    },
                    'bts': {
                        players: []
                    },
                    'al': {
                        players: []
                    },
                    'bow': {
                        players: []
                    },
                },
                total_points: 0,
                rank: 0,
                no_team: false,
                EmptyObject: IsEmptyObject,
                GET_FIRST_NAME: getOnlyFirstName,
                selected_player: '',
                dialog: false,
                selected_round: {},
                isTest: false
            }
        },
        methods: {
            getMaidenBonus(maidens){
                const self = this;
                let match_type = self.match.data.match_type;
                if(match_type.toUpperCase() === 'ODI') {
                    return parseInt(maidens) * 4;
                }
                if(match_type.toUpperCase() === 'T20') {
                    return parseInt(maidens) * 6;
                }
                if(match_type.toUpperCase() === 'T10') {
                    return parseInt(maidens) * 10;
                }
            },
            getWicketBonus(stats){
                const self = this;
                let object = {
                    hasBonus: false,
                    points: 0,
                    type: '',
                    bonus: 0
                };
                let wicket = stats.wickets;
                let match_type = self.match.data.match_type;
                if(match_type.toUpperCase() === 'TEST') {
                    let total = parseInt(stats.wickets) + parseInt(stats.wickets_2);
                    object.points = parseInt(total) * 15;
                    if(parseInt(total) >= 10) {
                        object.hasBonus = true;
                        object.bonus = 25;
                        object.type = '10-Wicket Haul';
                    } else if(parseInt(total) >= 5){
                        object.hasBonus = true;
                        object.bonus = 10;
                        object.type = '5-Wicket Haul';
                    }
                    return object
                }
                if(match_type.toUpperCase() === 'ODI') {
                    object.points = parseInt(wicket) * 20;
                    if(parseInt(wicket) >= 5) {
                        object.hasBonus = true;
                        object.bonus = 20;
                        object.type = '5-Wicket Haul';
                    } else if(parseInt(wicket) === 4){
                        object.hasBonus = true;
                        object.bonus = 10;
                        object.type = '4-Wicket Haul';
                    }
                    return object
                }
                if(match_type.toUpperCase() === 'T20') {
                    object.points = parseInt(wicket) * 25;
                    if(parseInt(wicket) >= 5) {
                        object.hasBonus = true;
                        object.bonus = 20;
                        object.type = '5-Wicket Haul';
                    } else if(parseInt(wicket) >= 3){
                        object.hasBonus = true;
                        object.bonus = 10;
                        object.type = '3-Wicket Haul';
                    }
                    return object
                }
                if(match_type.toUpperCase() === 'T10') {
                    object.points = parseInt(wicket) * 25;
                    if(parseInt(wicket) >= 4) {
                        object.hasBonus = true;
                        object.bonus = 20;
                        object.type = '4-Wicket Haul';
                    } else if(parseInt(wicket) >= 2){
                        object.hasBonus = true;
                        object.bonus = 10;
                        object.type = '2-Wicket Haul';
                    }
                    return object
                }
            },
            getDuckMinus(runs){
                const self = this;
                let role = self.getPlayerByKey(self.selected_player).playingRole;
                return !role.toLowerCase().includes('bowler') && parseInt(runs) === 0;
            },
            getMilestoneBonus(runs){
                const self = this;
                let object = {
                    hasBonus: false,
                    points: 0,
                    type: ''
                };
                let match_type = self.match.data.match_type;
                if(match_type.toUpperCase() === 'TEST') {
                    if(parseInt(runs) >= 200) {
                        object.hasBonus = true;
                        object.points = 20;
                        object.type = 'Double Century';
                    } else if(parseInt(runs) >= 100){
                        object.hasBonus = true;
                        object.points = 10;
                        object.type = 'Century';
                    } else if(parseInt(runs) >= 50){
                        object.hasBonus = true;
                        object.points = 5;
                        object.type = 'Half Century';
                    }
                    return object
                }
                if(match_type.toUpperCase() === 'ODI') {
                    if(parseInt(runs) >= 100){
                        object.hasBonus = true;
                        object.points = 20;
                        object.type = 'Century';
                    } else if(parseInt(runs) >= 50){
                        object.hasBonus = true;
                        object.points = 10;
                        object.type = 'Half Century';
                    }
                    return object
                }
                if(match_type.toUpperCase() === 'T20') {
                    if(parseInt(runs) >= 100){
                        object.hasBonus = true;
                        object.points = 30;
                        object.type = 'Century';
                    } else if(parseInt(runs) >= 50){
                        object.hasBonus = true;
                        object.points = 15;
                        object.type = 'Half Century';
                    }
                    return object
                }
                if(match_type.toUpperCase() === 'T10') {
                    if(parseInt(runs) >= 100) {
                        object.hasBonus = true;
                        object.points = 40;
                        object.type = 'Century';
                    } else if(parseInt(runs) >= 50){
                        object.hasBonus = true;
                        object.points = 20;
                        object.type = 'Half Century';
                    } else if(parseInt(runs) >= 30){
                        object.hasBonus = true;
                        object.points = 10;
                        object.type = '30 Run Bonus';
                    }
                    return object
                }
            },
            openDialog(player){
                const self = this;
                self.selected_player = player;
                self.selected_round = self.getPlayerByKey(player).stats;
                self.dialog = true;
            },
            closeDialog(){
                const self = this;
                self.selected_player = '';
                self.dialog = false;
            },
            cancelView(){
                const self = this;
                self.$emit('cancel-view')
            },
            getPlayerByKey(key){
                const self = this;
                let i;
                let player = {};
                for(i = 0; i <self.pool.length; i++) {
                    if(self.pool[i].key === key) {
                        player = self.pool[i];
                    }
                }
                return player;
            },
            getPointsByKey(key){
                const self = this;
                let player = self.getPlayerByKey(key);
                let points = player.total_points;
                if(player.key === self.selectedPlayers.cap) {
                    points = parseFloat(points * 2)
                } else if(player.key === self.selectedPlayers.vc) {
                    points = parseFloat(points * 1.5)
                }
                return points;
            },
        },
        mounted(){
            const self = this;
            if(!self.EmptyObject(self.match) && self.user_id){
                self.isTest = self.match.match_type.toUpperCase() === 'TEST';
                self.total_points = self.match.users[self.user_id].total_points;
                self.rank = self.match.users[self.user_id].rank;
                let database = firebase.database();
                let tournament_ref = database.ref('single-matches/' + self.match.id);
                let query = tournament_ref.child('users').orderByKey().equalTo(self.user_id).limitToFirst(1)
                query.once('value', function (snap) {
                    let u = snap.val();
                    if(u[self.user_id].tm_crt) {
                        self.no_team = false;
                        self.pool = self.match.pool;
                        self.selectedPlayers = u[self.user_id].my_sqd;
                    } else {
                        self.no_team = true;
                    }
                });
                self.no_team = false;
            }
        }
    }
</script>

<style scoped>
  .play-ground{
    font-size: 1.6rem;
    padding: 0.5rem;
  }
  .eve{
    color: white;
    margin: 1rem 0 !important;
    padding-right: 0.5rem !important;
    background-color: rgba(0,0,0,0.1);
  }
  .eve-player{
    padding: 1rem;
  }
  .ev-pl-tp{
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 0.2rem;
    background-color: var(--black-background);
  }
  .points{
    background-color: var(--third-color-dark);
    color: white;
    text-align: center;
    width: 6rem;
    font-size: 1.2rem;
    overflow: hidden;
  }
  .nm{
    background-color: #3d4249;
  }
  .image-wrapper{
    overflow: hidden;
    width: 6rem;
    height: 7rem;
  }
  .image{
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .usr{
    max-width: 8rem;
    padding: 1rem 0.5rem 1rem 0;
  }
  .captain{
    background-color: var(--captain);
  }
  .vcap{
    background-color: var(--vicecap);
  }
  .mMode{
    display: flex;
  }
  .round-header{
    background-color: #cccccc;
    color: #050505;
  }
  .stats{
    width: 75%;
    padding: 0.5rem;
  }
  .stats2{
    width: 25%;
    padding: 0.5rem 1rem 0.5rem;
    text-align: right;
  }
  .stat-wrp{
    padding: 0.5rem;
    background-color: white;
  }
  .rh{
    background-color: var(--primary-color-light);
    color: white;
    padding: 1rem 0.5rem;
  }
  @media (max-width: 300px) {
    .mMode {
      display: none;
    }
  }
</style>