<template>
  <div class="container-fluid top-header-mar" style="height: 100%; background-color: var(--third-color-dark)">
    <v-toolbar flat style="background-color: var(--primary-color)" dark >
      <v-icon @click="goBack" style="font-size: 2rem">mdi-arrow-left</v-icon>
      <v-spacer></v-spacer>
      <v-toolbar-title>
        <div style="font-size: 1.6rem; text-align: right">Prizes</div>
      </v-toolbar-title>
    </v-toolbar>
    <tournament-prizes
      :key="change"
      v-bind:type="type"
      v-bind:special="special"
      v-bind:series_cup="series_cup"
      v-on:cancel="goBack"
    ></tournament-prizes>
  </div>
</template>

<script>
    import TournamentPrizes from "./tournament-prizes";
    export default {
        name: "prizes",
        components: {
            TournamentPrizes
        },
        data: function () {
            return {
                id: '',
                type: '',
                change: 0,
                special: false,
                series_cup: false
            }
        },
        methods: {
            goBack(){
                this.$router.go(-1)
            },
        },
        mounted() {
            const self = this;
            self.id = self.$route.query.q;
            self.type = self.$route.query.type;
            self.special = self.$route.query.special;
            self.series_cup = self.$route.query.series_cup;
            self.change++;
        }
    }
</script>

<style scoped>

</style>