<template>
  <div class="container-fluid top-header-mar-no-back">
    <div class="container-wrapper">
      <div v-if="!switchChange">
        <div style="padding: 1rem !important;" class="row">
          <div class="col-4 col-sm-6 col-md-4 col-lg-4 col-xl-4 my-auto">
            <div class="image-wrapper">
              <v-icon @click="changeAvatar" style="position: absolute; top: 0; right: 0" class="bt-ico-default">mdi-pencil</v-icon>
              <img class="image" :src="imageUrl">
            </div>
          </div>
          <div class="col-8 col-sm-6 col-md-8 col-lg-8 col-xl-8 my-auto">
            <div style="text-align: left; color: #050505;">
              <div style="border: 1px solid gray; padding: 0.5rem; position: relative">
                <v-icon  style="position: absolute; top: 0; right: 0" class="bt-ico-default" @click="changeName">mdi-pencil</v-icon>
                <div style="font-size: 2.4rem">{{displayName || "N/A"}}</div>
              </div>
              <div style="margin: 1rem 0; padding: 0.5rem; border: 1px solid gray; position: relative">
                <v-icon @click="changeContactInfo" style="position: absolute; top: 0; right: 0" class="bt-ico-default">mdi-pencil</v-icon>
                <div style="font-size: 1.6rem"> <v-icon style="margin-right: 0.5rem; color: var(--grey-area)">mdi-phone</v-icon>{{displayPhone || "No phone number on file"}}</div>
                <div style="font-size: 1.4rem"> <v-icon style="margin-right: 0.5rem; color: var(--grey-area)">mdi-home</v-icon>{{displayAddress || "No address on file"}}</div>
                <div style="font-size: 1.4rem"> <v-icon style="margin-right: 0.5rem; color: var(--grey-area)">mdi-tshirt-crew</v-icon>{{displayShirt || "No T-shirt size on file"}}</div>
              </div>
              <div style="text-align: center;">
                <button style="width: 100%;" class="btn btn-error-color-outline" @click="changePassword">Change Password</button>
              </div>
              <div style="text-align: center;">
                <button style="width: 100%; margin-top: 1rem" class="btn btn-first-outline" @click="logoutCallback">
                  <v-icon color="black" style="margin-right: 0.5rem">mdi-logout</v-icon> Log out
                </button>
              </div>
            </div>
          </div>
        </div>
        <div style="padding: 1rem !important;" class="row">
          <div class="col-6 my-auto p-2">
          </div>
          <div class="col-6 my-auto p-2">

          </div>
        </div>
      </div>
      <div v-else>
        <div v-if="nameChange">
          <div style="margin: 2rem 2rem 2rem; background-color: white; padding: 3rem 1rem">
            <h3 style="padding: 1rem">Update User Name</h3>
            <div>
              <v-text-field
                color="#8238CD"
                dense
                v-model="name"
                label="Name"
                :error-messages="nameErrors"
                prepend-inner-icon="mdi-account"
                outlined
              ></v-text-field>
            </div>
            <div style="text-align: right">
              <button @click="updateName" style="margin-right: 1rem" class="btn btn-error-color">Submit</button>
              <button class="btn btn-neutral-action" @click="resetAll">Cancel</button>
            </div>
          </div>
        </div>
        <div style="" v-if="passwordChange">
          <div style="margin: 2rem 2rem 2rem; background-color: white; padding: 3rem 1rem">
            <h3 style="padding: 1rem">Update Password</h3>
            <v-form ref="form" @submit.prevent="" lazy-validation>
              <div>
                <v-text-field
                    color="#8238CD"
                    dense
                    v-model="password"
                    label="Password"
                    :error-messages="passwordErrors"
                    prepend-inner-icon="mdi-lock"
                    :append-icon="showIcon1 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showIcon1 ? 'text' : 'password'"
                    @click:append="showIcon1 = !showIcon1"
                    outlined
                    autocomplete="on"
                ></v-text-field>
              </div>
              <div>
                <v-text-field
                    color="#8238CD"
                    dense
                    v-model="rePassword"
                    label="Repeat Password"
                    :error-messages="repeatPasswordErrors"
                    prepend-inner-icon="mdi-lock"
                    :append-icon="showIcon2 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showIcon2 ? 'text' : 'password'"
                    @click:append="showIcon2 = !showIcon2"
                    outlined
                    autocomplete="on"
                ></v-text-field>
              </div>
              <div style="text-align: right">
                <button @click="updatePassword" style="margin-right: 1rem" class="btn btn-error-color">Submit</button>
                <button class="btn btn-neutral-action" @click="resetAll">Cancel</button>
              </div>
            </v-form>
          </div>
        </div>
        <div v-if="infoChange">
          <div style="margin: 2rem 2rem 2rem; background-color: white; padding: 3rem 1rem">
            <h3 style="padding: 1rem">Update Contact Information</h3>
            <div>
              <v-text-field
                  color="#8238CD"
                  dense
                  v-model="phone"
                  label="Mobile Number"
                  :error-messages="phoneErrors"
                  prepend-inner-icon="mdi-phone"
                  outlined
              ></v-text-field>
            </div>
            <div>
              <v-textarea
                  color="#8238CD"
                  v-model="address"
                  label="Delivery Address"
                  :error-messages="addressErrors"
                  prepend-inner-icon="mdi-home"
                  outlined
              ></v-textarea>
            </div>
            <div>
              <v-select
                  color="#8238CD"
                  dense
                  v-model="shirt"
                  label="T Shirt Size"
                  :error-messages="shirtErrors"
                  prepend-inner-icon="mdi-tshirt-crew"
                  outlined
                  :items="shirtSizeList"
              ></v-select>
            </div>
            <div style="text-align: right">
              <button @click="updateInfo" style="margin-right: 1rem" class="btn btn-error-color">Submit</button>
              <button class="btn btn-neutral-action" @click="resetAll">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <v-snackbar
        :timeout="1500"
        v-model="snackbar"
        centered
        top
      >
        {{snackbarMessage}}
      </v-snackbar>
      <change-image
          v-if="avatarChange"
          v-on:close="resetAll"
      ></change-image>
    </div>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import 'firebase/storage'
    import {required, minLength, maxLength, sameAs, helpers} from "vuelidate/lib/validators";
    import ChangeImage from "../common/change-image"
    const phone_validator = helpers.regex(
        "phone_validator",
        /^(?:\+?(?:88|01)?)(?:\d{11}|\d{13})$/
    );
    export default {
        name: "profile",
        components: {
          ChangeImage,
        },
        data: function(){
            return {
                name: '',
                user: {},
                switchChange: false,
                selectedIndex: -1,
                imageUrl: '',
                snackbar: false,
                snackbarMessage: '',
                isPassword: false,
                avatarChange: false,
                nameChange: false,
                password: '',
                rePassword: '',
                showIcon1: false,
                showIcon2: false,
                passwordChange: false,
                infoChange: false,
                phone: '',
                address: '',
                shirt: '',
                displayName: '',
                displayPhone: '',
                displayAddress: '',
                displayShirt: '',
                shirtSizeList: ['S', 'M', 'L', 'XL', 'XXL']
            }
        },
        validations: {
            name: { required, maxLength: maxLength(200) },
            team_name: { required, maxLength: maxLength(32) },
            password: { required, minLength: minLength(6), maxLength: maxLength(32) },
            rePassword: { required, sameAsPassword: sameAs('password')},
            phone: {
              required,
              phone_validator,
              minLength: minLength(10),
              maxLength: maxLength(15)
            },
            address: { required, maxLength: maxLength(4000) },
            shirt: { required},
        },
        methods: {
            resetAll(){
                const self = this;
                self.switchChange = false;
                self.avatarChange = false;
                self.nameChange = false;
                self.passwordChange = false;
                self.infoChange = false;
                self.phone = "";
                self.name = "";
                self.address = "";
                self.shirt = "";
            },
            changeContactInfo(){
              const self = this;
              self.resetAll()
              self.switchChange = true;
              self.infoChange = true;
              self.phone = self.displayPhone || '';
              self.address = self.displayAddress || '';
              self.shirt = self.displayShirt || '';
            },
            changeName(){
                const self = this;
                self.resetAll()
                self.switchChange = true;
                self.nameChange = true;
                self.name = self.displayName || '';
            },
            changeAvatar(){
                const self = this;
                self.resetAll()
                self.switchChange = true;
                self.avatarChange = true;
            },
            changePassword(){
                const self = this;
                self.resetAll();
                self.switchChange = true;
                self.passwordChange = true;
            },
            updatePassword(){
                const self = this;
                self.$v.$touch();
                if (!self.$v.password.$anyError && !self.$v.rePassword.$anyError ) {
                    self.user.updatePassword(self.password).then(function() {
                        self.snackbar = true;
                        self.snackbarMessage = 'Password Updated Successfully';
                    }).catch(function(error) {
                        self.snackbar = true;
                        self.snackbarMessage = error.message;
                    });
                }
            },
            updateName(){
                const self = this;
                self.$v.$touch();
                if (!self.$v.name.$anyError) {
                    self.user.updateProfile({
                        displayName: self.name
                    }).then(function() {
                        let database = firebase.database();
                        database.ref('users/' + self.user.uid).update({
                            name: self.name
                        }).then(function () {
                            self.snackbar = true;
                            self.snackbarMessage = 'Profile Updated Successfully';
                            location.reload();
                        })
                    }).catch(function(error) {
                        // eslint-disable-next-line
                        console.log(error);
                    });
                }
            },
            updateInfo(){
              const self = this;
              self.$v.$touch();
              if (!self.$v.phone.$anyError && !self.$v.address.$anyError) {
                let database = firebase.database();
                database.ref('users/' + self.user.uid).update({
                  phone: self.phone,
                  address: self.address,
                  shirt: self.shirt
                }).then(function () {
                  self.snackbar = true;
                  self.snackbarMessage = 'Profile Updated Successfully';
                  self.resetAll()
                })
              }
            },
            cancelUpdate(){
                this.$router.push({name: 'dashboard'}).catch(function () {})
            },
            async logoutCallback(){
                const self = this;
                try{
                    // eslint-disable-next-line
                    const user = await firebase.auth().signOut()
                    self.$router.push({ name: "home" }).catch(function () {});
                }catch (e) {
                    // eslint-disable-next-line
                    console.log(e)
                }
            },
            getUpdatedInfo(){
              const self = this;
              let database = firebase.database();
              database.ref('users/' + self.user.uid).on('value', function(snapshot) {
                self.displayPhone = snapshot.val().phone;
                self.displayAddress = snapshot.val().address;
                self.displayName = snapshot.val().name;
                self.displayShirt = snapshot.val().shirt;
              });
            },

        },
        computed: {
            nameErrors(){
                const errors = [];
                if (!this.$v.name.$dirty) return errors;
                !this.$v.name.maxLength &&
                errors.push('Can be at best 200 character long');
                !this.$v.name.required &&
                errors.push('Required');
                return errors;
            },
            passwordErrors() {
                const errors = [];
                if (!this.$v.password.$dirty) return errors;
                !this.$v.password.minLength &&
                errors.push('Must be at least 6 character long');
                !this.$v.password.maxLength &&
                errors.push('Can be at best 32 character long');
                !this.$v.password.required &&
                errors.push('Required');
                return errors;
            },
            repeatPasswordErrors() {
                const errors = [];
                if (!this.$v.password.$dirty) return errors;
                !this.$v.rePassword.sameAsPassword &&
                errors.push('Password do not match');
                return errors;
            },
            phoneErrors() {
              const errors = [];
              if (!this.$v.phone.$dirty) return errors;
              !this.$v.phone.phone_validator &&
              errors.push('Invalid');
              !this.$v.phone.required &&
              errors.push('Required');
              return errors;
            },
            addressErrors(){
              const errors = [];
              if (!this.$v.address.$dirty) return errors;
              !this.$v.address.maxLength &&
              errors.push('Address too long');
              !this.$v.address.required &&
              errors.push('Required');
              return errors;
            },
            shirtErrors(){
              const errors = [];
              if (!this.$v.shirt.$dirty) return errors;
              !this.$v.shirt.required &&
              errors.push('Required');
              return errors;
            },
        },
        mounted() {
            const self = this;
            self.user = firebase.auth().currentUser;
            for(let i = 0; i < self.user.providerData.length; i++) {
                if(self.user.providerData[i].providerId === 'password') {
                    self.isPassword = true;
                }
            }
            if(self.user) {
                self.imageUrl = self.user.photoURL || self.avatars[0].image;
            }
            self.getUpdatedInfo();
        }
    }
</script>

<style scoped>
  .container-wrapper{
    background-color: white;
  }
  .image-wrapper{
    overflow: hidden;
    position: relative;
  }
  .image{
    width: 100%;
    height: auto;
    border-radius: 0;
  }
  .overlay-wrapper{
    position: absolute;
    height: 100%;
    background-color: #050505;
    top: 0;
  }
  .avt-warp{
    height: auto;
    width: 100%;
    overflow-y: hidden;
  }
  .avt{
    height: auto;
    width: 100%;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
  }
  .avt:hover{
    background-color: var(--third-color);
  }
  .selectClass{
    background-color: var(--third-color);
  }
</style>