<template>
  <div v-if="!EmptyObject(tournament)" class="container-fluid top-header-mar-no-back" style="background-color: var(--third-color-dark); background-image: var(--background-color-alt);">
    <tournament-rules
      v-if="!loading"
      :key="updateAfterLoad"
      v-bind:rules="tournament.data.rules"
      v-bind:rounds="tournament.data.rounds"
      v-bind:is-classic="isClassic"
      v-bind:is-series="isSeries"
      v-on:cancel="goBack"
    ></tournament-rules>
  </div>
</template>

<script>
    import TournamentRules from "./team-rules";
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import {IsEmptyObject} from "../../filter";
    export default {
        name: "rules",
        components: {
            TournamentRules
        },
        data: function () {
            return {
                loading: false,
                tournament: {},
                id: '',
                updateAfterLoad: 0,
                EmptyObject: IsEmptyObject,
                type: '',
                isClassic: false,
                isSeries: false
            }
        },
        methods: {
            goBack(){
                this.$router.go(-1)
            },
            getTournament(){
                const self = this;
                self.loading = true;
                let database = firebase.database();
                database.ref('tournaments/' + self.id).once('value', function(snapshot) {
                    self.tournament = snapshot.val();
                    self.loading = false;
                    self.updateAfterLoad++;
                });
            },
            getMatch(){
                const self = this;
                self.loading = true;
                let database = firebase.database();
                database.ref('single-matches/' + self.id).once('value', function(snapshot) {
                    self.tournament = snapshot.val();
                    self.loading = false;
                    self.updateAfterLoad++;
                });
            },
            getSeries(){
                const self = this;
                self.loading = true;
                let database = firebase.database();
                database.ref('series/' + self.id).once('value', function(snapshot) {
                    self.tournament = snapshot.val();
                    self.loading = false;
                    self.updateAfterLoad++;
                });
            },
        },
        mounted() {
            const self = this;
            self.id = self.$route.query.q;
            self.type = self.$route.query.type;
            if(self.type && self.type === 'match') {
                self.isClassic = false;
                self.getMatch()
            } else if(self.type && self.type === 'series') {
                self.isClassic = true;
                self.isSeries = true;
                self.getSeries()
            } else {
                self.isClassic = true;
                self.isSeries = false;
                self.getTournament()
            }
        }
    }
</script>

<style scoped>

</style>