<template>
  <div class="container-fluid main-body top-header-mar-no-back">
    <banner
        v-if="ad_src"
        :image="ad_src"
        :url="ad_url"
    ></banner>
    <div style="height: 100%" v-if="!loading">
      <div :key="index" v-for="(tournament, index) in tournaments">
        <div v-if="tournament.tr_active" style="position: relative; padding: 0.5rem">
          <v-card style="background-image: var(--round-background)" dark class="mx-auto">
            <v-img
              class="white--text align-end"
              height="150px"
              :src="tournament.imageURL"
              @error="replaceByDefault(index)"
            >
              <div style="position: absolute; top: 0; width: 100%; right: 0; height: 100%; background-image: var(--round-background)">
                <div :key="timeChange"  v-if="GET_DEADLINE(tournament.act_round, tournament.rounds).distance > 0">
                  <div style="text-align: center; color: white; font-size: 1.2rem; padding-top: 2rem">Transfer deadline Round {{tournament.act_round}}</div>
                  <div style="text-align: center; color: white; font-size: 1.6rem;">
                    {{tournament.name}}
                  </div>
                  <div class="row justify-content-center" style="padding: 1rem 0 2rem 0">
                    <div class="col-2 col-sm-1 col-md-1 col-lg-1 col-xl-1 no-padding dchip">
                      <div v-bind:class="[{dchipErr : GET_DEADLINE(tournament.act_round, tournament.rounds).remaining_time < 10}]" style="font-size: 2.4rem; font-weight: bold">{{GET_DEADLINE(tournament.act_round, tournament.rounds).day}}</div>
                      <div style="font-size: 1rem">day</div>
                    </div>
                    <div class="col-2 col-sm-1 col-md-1 col-lg-1 col-xl-1 no-padding dchip">
                      <div v-bind:class="[{dchipErr : GET_DEADLINE(tournament.act_round, tournament.rounds).remaining_time < 10}]" style="font-size: 2.4rem; font-weight: bold">{{GET_DEADLINE(tournament.act_round, tournament.rounds).hour}}</div>
                      <div style="font-size: 1rem">hour</div>
                    </div>
                    <div class="col-2 col-sm-1 col-md-1 col-lg-1 col-xl-1 no-padding dchip">
                      <div v-bind:class="[{dchipErr : GET_DEADLINE(tournament.act_round, tournament.rounds).remaining_time < 10}]" style="font-size: 2.4rem; font-weight: bold">{{GET_DEADLINE(tournament.act_round, tournament.rounds).minute}}</div>
                      <div style="font-size: 1rem">min</div>
                    </div>
                  </div>
                </div>
                <div v-else>
                  <div style="padding: 0; font-size: 1.2rem" v-if="parseInt(tournament.act_round) === parseInt(tournament.tot_round)">
                    <div style="padding-top: 3rem; text-align: center; color: white; font-size: 1.6rem; font-weight: bold">
                      {{tournament.name}} is in the last round.
                    </div>
                  </div>
                  <div v-else>
                    <div style="padding: 1rem 0; text-align: center">
                      Transfer window for round {{tournament.act_round + 1}} will open soon. Stay tuned.
                    </div>
                  </div>
                </div>
                <div style="color: white; position: absolute; top: 0.5rem; right: 0.5rem; font-size: 2.4rem">
                  <v-menu min-width="100" bottom left>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon color="white" v-bind="attrs" v-on="on">mdi-information</v-icon>
                    </template>
                    <v-list dense>
                      <v-list-item dense @click="gotoPrizes(tournament)">
                        <v-list-item-title style="font-size: 1.2rem">Prizes</v-list-item-title>
                      </v-list-item>
                      <v-list-item dense @click="gotoFixture(tournament)">
                        <v-list-item-title style="font-size: 1.2rem">Fixture</v-list-item-title>
                      </v-list-item>
                      <v-list-item dense @click="gotoRules(tournament)">
                        <v-list-item-title style="font-size: 1.2rem">Rules</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </div>
              </div>
            </v-img>
            <div class="t-back-wrp">
              <div style="padding: 0; font-size: 1.2rem" v-if="parseInt(tournament.act_round) === parseInt(tournament.tot_round) && GET_DEADLINE(tournament.act_round, tournament.rounds).distance <= 0">
                <div style="text-align: center; padding: 2rem; background-color: rgba(0,0,0,0.1)">
                  <button style="margin-right: 1rem; min-width: 12rem;" v-if="tournament.enrolled" class="btn btn-second"  @click="goTournamentHome(tournament)">Ground</button>
                  <button style="margin-right: 1rem; min-width: 12rem" class="btn btn-neutral-outline" @click="gotoLeaderBoard(tournament)">Leaderboard</button>
                </div>
              </div>
              <div v-else>
                <div style="text-align: center; padding: 2rem; background-color: rgba(0,0,0,0.1)">
                  <button class="btn btn-second" v-if="!tournament.enrolled"  @click="enterTeamName(tournament, index)">Join Tournament</button>
                  <div v-else>
                    <button style="margin-right: 1rem; min-width: 12rem;" class="btn btn-second"  @click="goTournamentHome(tournament)">Ground</button>
                    <button style="margin-right: 1rem; min-width: 12rem" class="btn btn-neutral-outline"  @click="gotoLeaderBoard(tournament)">Leaderboard</button>
                  </div>
                </div>
              </div>
            </div>
          </v-card>
          <v-overlay absolute :value="tournament.loading">
            <v-progress-circular indeterminate size="64"></v-progress-circular>
          </v-overlay>
        </div>
      </div>
    </div>
    <banner
        v-if="ad_src_1"
        :image="ad_src_1"
        :url="ad_url_1"
    ></banner>
    <v-overlay absolute :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <v-dialog persistent max-width="400" v-model="dialog">
      <v-card  style="max-width: 100%; overflow-y: auto; overflow-x: hidden;">
        <v-toolbar flat style="max-height: 6.4rem; background-color: var(--secondary-color)" dark >
          <v-toolbar-title style="font-size: 1.6rem">
            Enter Squad
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon dark @click="dialog = false">
              <v-icon style="font-size: 2rem">mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <div style="margin: 2rem 2rem 2rem">
          <v-text-field
            v-model="team_name"
            outlined
            dense
            label="Team Name"
            :error-messages="nameErrors"
          >
          </v-text-field>
          <div style="text-align: right">
            <button @click="joinTournament" class="btn btn-third">Submit</button>
          </div>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database'
    import 'firebase/auth';
    import {required, maxLength} from "vuelidate/lib/validators";
    import {getDeadLineByCurrentRound} from "../../filter";
    import Banner from "../ad/banner-ad"
    export default {
        name: "dashboard",
        components: {
          Banner
        },
        validations: {
            team_name: {required, maxLength: maxLength(32)},
        },
        data: function () {
            return {
                currentUser: firebase.auth().currentUser,
                tournaments: [],
                selectedTournament: {},
                dialog: false,
                selectedIndex: undefined,
                team_name: '',
                GET_DEADLINE: getDeadLineByCurrentRound,
                timeChange: 0,
                interval: null,
                loading: false,
                t_ids: [],
                ad_src: 'https://firebasestorage.googleapis.com/v0/b/khelo-com.appspot.com/o/ad%2F238915235_137381238582347_513466245621277864_n.png?alt=media&token=14b17e2a-d0cf-4900-ad0d-74a87d3a0ecc',
                ad_url: 'https://www.facebook.com/attirestall.bd',
                ad_src_1: '',
                ad_url_1: '',
            }
        },
        methods: {
            openUrl(){
              window.open(this.ad_url, '_blank');
            },
            replaceByDefault(ind) {
                const self = this;
                self.tournaments[ind].imageURL = require('../../assets/logo/icon_logo_white.png')
            },
            getTournamentData(){
                const self = this;
                self.tournaments = [];
                let database = firebase.database();
                for(let i = 0; i < self.t_ids.length; i++) {
                    let ref = database.ref('tournaments/' + self.t_ids[i] + '/data/')
                    ref.on('value', function(snapshot) {
                        let object = snapshot.val();
                        object.loading = true;
                        let query_2 = ref.child('users').orderByKey().equalTo(self.currentUser.uid).limitToFirst(1)
                        query_2.once('value', function (snap) {
                            object.enrolled = !!snap.val();
                            object.loading = false;
                        });
                        let user_ref = database.ref('tournaments/' + self.t_ids[i] + '/users/')
                        let query = user_ref.orderByKey().equalTo(self.currentUser.uid).limitToFirst(1)
                        query.on('value', function (snap) {
                            object.enrolled = !!snap.val();
                            object.loading = false;
                        });
                        let found = false;
                        for(let j = 0; j < self.tournaments.length; j++) {
                            if(self.tournaments[j].id === object.id) {
                                self.tournaments[j] = object
                                found = true;
                                break;
                            }
                        }
                        if(!found) self.tournaments.push(object)
                    });
                }
                self.loading = false;
            },
            getTournaments(){
                let database = firebase.database();
                const self = this;
                self.loading = true;
                database.ref('public-tournaments').on('value', function(snapshot) {
                    let returnArr = [];
                    snapshot.forEach(function(childSnapshot) {
                        if(childSnapshot.val().active && childSnapshot.val().type === 'tournament'){
                            returnArr.push(childSnapshot.key);
                        }
                    });
                    self.t_ids = returnArr;
                    self.getTournamentData()
                });
            },
            enterTeamName(tournament, index){
                const self = this;
                self.selectedTournament = tournament;
                self.selectedIndex = index;
                self.team_name = '';
                self.dialog = true;
            },
            joinTournament(){
                const self = this;
                self.$v.$touch();
                if (!self.$v.$anyError) {
                    self.dialog = false;
                    self.tournaments[self.selectedIndex].loading = true;
                    let database = firebase.database();
                    database.ref('tournaments/' + self.selectedTournament.id + '/users/' + self.currentUser.uid).set({
                            tm_name: self.team_name,
                            tm_crt: false,
                            doj: new Date().getTime()
                        }
                    ).then(function () {
                        self.selectedTournament = {};
                        self.selectedIndex = undefined;
                        self.team_name = '';
                        setTimeout(()=> {
                            self.getTournaments()
                        }, 2000)
                    }).catch(function () {
                        // console.log()
                    });
                }
            },
            goTournamentHome(tournament){
                const self = this;
                self.$router.push({name: "tournament", query: {
                        q: tournament.id
                    }}).catch()
            },
            gotoFixture(tournament){
                const self = this;
                self.$router.push({name: "fixture",
                    query: {
                        q: tournament.id
                    }
                }).catch()
            },
            gotoRules(tournament){
                const self = this;
                self.$router.push({name: "tournament-rules",
                    query: {
                        q: tournament.id
                    }
                }).catch()
            },
            gotoPrizes(tournament){
                const self = this;
                let query = {
                    q: tournament.id
                };
                if(tournament.special_prize) {
                    query.special = true;
                }
                self.$router.push({name: "tournament-prizes",
                    query: query
                }).catch()
            },
            gotoLeaderBoard(tournament){
                const self = this;
                self.$router.push({name: "leaderboard", query: {
                        q: tournament.id
                    }}).catch()
            },
            getAds(){
              const self = this;
              let database = firebase.database();
              database.ref('ads/series').on('value', function(snapshot) {
                self.ad_url = snapshot.val().ad_url;
                self.ad_src = snapshot.val().ad_src;
                self.ad_url_1 = snapshot.val().ad_url_1;
                self.ad_src_1 = snapshot.val().ad_src_1;
              });
            }
        },
        computed: {
            nameErrors() {
                const errors = [];
                if (!this.$v.team_name.$dirty) return errors;
                !this.$v.team_name.maxLength &&
                errors.push('Maximum 32 Characters');
                !this.$v.team_name.required &&
                errors.push('Required');
                return errors;
            }
        },
        mounted(){
            const self = this;
            self.getTournaments()
            self.getAds()
        },
        beforeDestroy() {
            clearInterval(this.interval);
        },
        created() {
            const self = this;
            self.interval = setInterval(() => {
                self.timeChange++
            }, 60000);
        },

    }
</script>

<style scoped>
  .dchip{
    text-align: center;
    border-radius: 0.5rem;
    color: white;
  }
  .dchipErr{
    color: var(--error-state);
  }
  .ad{
    margin: 0.5rem 0.5rem;
    background-color: white;
    cursor: pointer;
  }
  .ad-img{
    width: 100%;
  }
  .t-back-wrp{
    width: 100%;
    margin: auto;
    color: #050505 !important;
  }
</style>
