<template>
  <div class="container-fluid p-1">
    <div v-if="!loading">
      <div v-if="noTimeForThisRound && parseInt(tournament.act_round) === parseInt(tournament.tot_round)">
        <div class="eve" style="margin: 0.5rem; text-align: center">
          Thank you for participating in this tournament. Check leaderboard to know your rank.
        </div>
      </div>
      <div v-else>
        <div class="eve" style="background-color: var(--secondary-color); margin: 0.5rem; text-align: center">
          Pick your team for Round {{tournament.act_round}} before
          <span>{{GET_DEADLINE(tournament.act_round, tournament.rounds).deadline.substring(0,21)}}</span>
        </div>
        <div class="play-ground">
          <div class="eve"> Wicketkeeper ({{selected_count['wk'].in_eleven_count}})</div>
          <div class="row">
            <div :key="index" v-for="(player, index) in selected_count['wk'].in_eleven" class="col-2 usr">
              <div v-if="switchMode && selected_count['wk'].switchable" @click="switchPosition(player, index)" class="image-wrapper">
                <img @error="replaceByDefault" class="image" :src="getPlayerByKey(player).imageURL">
              </div>
              <div v-else  @click="openDialog(player, index, 'wk')" v-bind:class="[{swm: switchMode && !isMainSwitch(player)}]" class="image-wrapper">
                <img v-bind:class="[{imgOp: switchMode && !isMainSwitch(player)}]" @error="replaceByDefault" class="image" :src="getPlayerByKey(player).imageURL">
              </div>
              <div v-bind:class="[{imgOp: switchMode && !isMainSwitch(player) && !selected_count['wk'].switchable}]" class="points points2">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
              <div v-bind:class="[{imgOp: switchMode && !isMainSwitch(player) && !selected_count['wk'].switchable}]" class="points">{{GET_TEAM_NAME(getPlayerByKey(player).team)}}</div>
              <div v-bind:class="[{imgOp: switchMode && !isMainSwitch(player) && !selected_count['wk'].switchable}]" v-if="selected_count['cap'] === player" class="points cap">Captain</div>
              <div v-bind:class="[{imgOp: switchMode && !isMainSwitch(player) && !selected_count['wk'].switchable}]" v-if="selected_count['vc'] === player" class="points vc">Vice</div>
            </div>
          </div>
          <div class="eve">
            Batsman ({{selected_count['bts'].in_eleven_count}})
          </div>
          <div class="row">
            <div :key="index" v-for="(player, index) in selected_count['bts'].in_eleven" class="col-2 usr">
              <div v-if="switchMode && selected_count['bts'].switchable" @click="switchPosition(player, index)" class="image-wrapper">
                <img @error="replaceByDefault" class="image" :src="getPlayerByKey(player).imageURL">
              </div>
              <div v-else @click="openDialog(player, index, 'bts')" v-bind:class="[{swm: switchMode && !isMainSwitch(player)}]" class="image-wrapper">
                <img v-bind:class="[{imgOp: switchMode && !isMainSwitch(player)}]" @error="replaceByDefault" class="image" :src="getPlayerByKey(player).imageURL">
              </div>
              <div v-bind:class="[{imgOp: switchMode && !isMainSwitch(player) && !selected_count['bts'].switchable}]" class="points points2">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
              <div v-bind:class="[{imgOp: switchMode && !isMainSwitch(player) && !selected_count['bts'].switchable}]" class="points">{{GET_TEAM_NAME(getPlayerByKey(player).team)}}</div>
              <div v-bind:class="[{imgOp: switchMode && !isMainSwitch(player) && !selected_count['bts'].switchable}]" v-if="selected_count['cap'] === player" class="points cap">Captain</div>
              <div v-bind:class="[{imgOp: switchMode && !isMainSwitch(player) && !selected_count['bts'].switchable}]" v-if="selected_count['vc'] === player" class="points vc">Vice</div>
            </div>
          </div>
          <div class="eve">
            Al-rounder ({{selected_count['al'].in_eleven_count}})
          </div>
          <div class="row">
            <div :key="index" v-for="(player, index) in selected_count['al'].in_eleven" class="col-2 usr">
              <div v-if="switchMode && selected_count['al'].switchable" @click="switchPosition(player, index)" class="image-wrapper">
                <img @error="replaceByDefault" class="image" :src="getPlayerByKey(player).imageURL">
              </div>
              <div v-else v-bind:class="[{swm: switchMode && !isMainSwitch(player)}]" @click="openDialog(player, index, 'al')" class="image-wrapper">
                <img v-bind:class="[{imgOp: switchMode && !isMainSwitch(player)}]" @error="replaceByDefault" class="image" :src="getPlayerByKey(player).imageURL">
              </div>
              <div v-bind:class="[{imgOp: switchMode && !isMainSwitch(player) && !selected_count['al'].switchable}]" class="points points2">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
              <div v-bind:class="[{imgOp: switchMode && !isMainSwitch(player) && !selected_count['al'].switchable}]" class="points">{{GET_TEAM_NAME(getPlayerByKey(player).team)}}</div>
              <div v-bind:class="[{imgOp: switchMode && !isMainSwitch(player) && !selected_count['al'].switchable}]" v-if="selected_count['cap'] === player" class="points cap">Captain</div>
              <div v-bind:class="[{imgOp: switchMode && !isMainSwitch(player) && !selected_count['al'].switchable}]" v-if="selected_count['vc'] === player" class="points vc">Vice</div>
            </div>
          </div>
          <div class="eve">
            Bowler ({{selected_count['bow'].in_eleven_count}})
          </div>
          <div class="row">
            <div :key="index" v-for="(player, index) in selected_count['bow'].in_eleven" class="col-2 usr">
              <div v-if="switchMode && selected_count['bow'].switchable" @click="switchPosition(player, index)" class="image-wrapper">
                <img @error="replaceByDefault" class="image" :src="getPlayerByKey(player).imageURL">
              </div>
              <div v-else v-bind:class="[{swm: switchMode && !isMainSwitch(player)}]" @click="openDialog(player, index, 'bow')" class="image-wrapper">
                <img v-bind:class="[{imgOp: switchMode && !isMainSwitch(player)}]" @error="replaceByDefault" class="image" :src="getPlayerByKey(player).imageURL">
              </div>
              <div v-bind:class="[{imgOp: switchMode && !isMainSwitch(player) && !selected_count['bow'].switchable}]" class="points points2">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
              <div v-bind:class="[{imgOp: switchMode && !isMainSwitch(player) && !selected_count['bow'].switchable}]" class="points">{{GET_TEAM_NAME(getPlayerByKey(player).team)}}</div>
              <div v-bind:class="[{imgOp: switchMode && !isMainSwitch(player) && !selected_count['bow'].switchable}]" v-if="selected_count['cap'] === player" class="points cap">Captain</div>
              <div v-bind:class="[{imgOp: switchMode && !isMainSwitch(player) && !selected_count['bow'].switchable}]" v-if="selected_count['vc'] === player" class="points vc">Vice</div>
            </div>
          </div>
          <div class="row" style="background-color: white; margin-top: 2rem !important;">
            <div class="col-12 eve" style="background-color: #cccccc; color: #3d4249; border-radius: 0">
              Substitute
            </div>
            <div :key="player" v-for="player in selected_count['wk'].in_sub" class="col-2 usr" style="margin: 0 0 0 1rem !important;">
              <div v-if="switchMode && selected_count['wk'].switchable"
                   @click="switchPosition(player, 0)"
                   class="image-wrapper">
                <img @error="replaceByDefault" class="image" :src="getPlayerByKey(player).imageURL">
              </div>
              <div v-else v-bind:class="[{swm: switchMode && !isMainSwitch(player)}]" @click="openDialog(player, 0, 'wk-sub')" class="image-wrapper">
                <img v-bind:class="[{imgOp: switchMode && !isMainSwitch(player)}]" @error="replaceByDefault" class="image" :src="getPlayerByKey(player).imageURL">
              </div>
              <div v-bind:class="[{imgOp: switchMode && !isMainSwitch(player) && !selected_count['wk'].switchable}]" class="points points2">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
              <div v-bind:class="[{imgOp: switchMode && !isMainSwitch(player) && !selected_count['wk'].switchable}]" class="points">{{GET_TEAM_NAME(getPlayerByKey(player).team)}}</div>
              <div v-bind:class="[{imgOp: switchMode && !isMainSwitch(player) && !selected_count['wk'].switchable}]" style="background-color: var(--third-color-dark); color: white" class="points">WK-SUB</div>
            </div>
            <div :key="player" v-for="(player, index) in selected_count['subs'].players" class="col-2 usr">
              <div v-if="switchMode && selected_count['subs'].switchable && notReachedMinimum(player)" @click="switchPosition(player, index, 'subs')" class="image-wrapper">
                <img @error="replaceByDefault" class="image" :src="getPlayerByKey(player).imageURL">
              </div>
              <div v-else v-bind:class="[{swm: switchMode && !isMainSwitch(player)}]" @click="openDialog(player, index, 'subs')" class="image-wrapper">
                <img v-bind:class="[{imgOp: switchMode && !isMainSwitch(player)}]" @error="replaceByDefault" class="image" :src="getPlayerByKey(player).imageURL">
              </div>
              <div v-bind:class="[{imgOp: switchMode && !isMainSwitch(player) && !selected_count['subs'].switchable}]" class="points points2">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
              <div v-bind:class="[{imgOp: switchMode && !isMainSwitch(player) && !selected_count['subs'].switchable}]" class="points">{{GET_TEAM_NAME(getPlayerByKey(player).team)}}</div>
              <div v-bind:class="[{imgOp: switchMode && !isMainSwitch(player) && !selected_count['subs'].switchable}]" style="background-color: var(--third-color-dark); color: white" class="points">SUB {{index + 1}}</div>
            </div>
          </div>
        </div>
        <div v-if="!noTimeForThisRound" class="row justify-content-center" style="margin: 2rem 0.5rem !important; text-align: left">
          <div class="col-12 pl-1 no-padding" style="text-align: right">
            <button style="margin-right: 1rem" class="btn btn-neutral-action" @click="goBack">Cancel</button>
            <button @click="saveTeam" class="btn btn-first-light">Save</button>
          </div>
        </div>
        <div style="text-align: right" v-else>
          <div class="eve" style="margin: 0.5rem; text-align: center">Round {{tournament.act_round}} transfer closed.
            Wait for the next window to make your changes.
          </div>
          <button style="margin: 0.5rem" class="btn btn-error-color" @click="goBack">Cancel</button>
        </div>
        <v-dialog max-width="300" v-model="dialog" persistent>
          <v-toolbar flat style="max-height: 6.4rem; background-color: var(--primary-color-dark)" dark >
            <v-avatar>
              <img
                :src=getPlayerByKey(selected_player).imageURL
                alt="John"
              >
            </v-avatar>
            <v-spacer></v-spacer>
            <v-toolbar-title style="font-size: 1.4rem">
              <div>{{getPlayerByKey(selected_player).name}}</div>
              <div style="font-size: 1.2rem; background-color: white; color: #050505; padding: 0 0.5rem" v-if="!EmptyObject(selected_player)">vs  {{getTotalMatches(selected_player)}}</div>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon dark @click="closeDialog">
              <v-icon style="font-size: 2rem">mdi-close</v-icon>
            </v-btn>
          </v-toolbar>
          <v-card style="border-radius: 0; max-width: 100%; background-color: #f7f7f7; overflow-y: auto; overflow-x: hidden">
            <div></div>
            <div v-if="!switchMode" class="dlg-btn">
              <button @click="onSwitch" style="width: 100%" class="btn btn-neutral-action">Switch</button>
            </div>
            <div v-if="!switchMode && primary_player_type !=='subs' && primary_player_type !== 'wk-sub'" class="dlg-btn">
              <button @click="makeCaptain" style="width: 100%" class="btn btn-second">Make Captain</button>
            </div>
            <div v-if="!switchMode && primary_player_type !=='subs' && primary_player_type !== 'wk-sub'" class="dlg-btn">
              <button @click="makeViceCaptain" style="width: 100%" class="btn btn-fourth">Make Vice Captain</button>
            </div>
          </v-card>
        </v-dialog>
        <v-snackbar
          :color="snackColor"
          :timeout="2000"
          v-model="snackbar"
          centered
          top
        >
          {{snackbarMessage}}
        </v-snackbar>
      </div>
    </div>
    <v-overlay absolute :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import {getDeadLineByCurrentRound, getOnlyFirstName, getTruncateNameTeam, IsEmptyObject} from "../../filter";
    export default {
        name: "team",
        props: {
            tournament: Object,
            user: Object
        },
        data: function () {
            return {
                loading: false,
                snackbar: false,
                snackbarMessage: '',
                snackColor: 'info',
                GET_TEAM_NAME: getTruncateNameTeam,
                GET_FIRST_NAME: getOnlyFirstName,
                currentUser: firebase.auth().currentUser,
                dialog: false,
                players: [],
                imageURL: require('@/assets/user.svg'),
                totalPlayer: 0,
                teams: [],
                mxpf1tm: 7,
                team_created: false,
                noTimeForThisRound: false,
                GET_DEADLINE: getDeadLineByCurrentRound,
                selected_count: {
                    'wk': {
                        selected: 0,
                        minPlayer: 1,
                        maxPlayer: 1,
                        name: 'Wicketkeeper',
                        players: [],
                        in_eleven: [],
                        in_eleven_count: 0,
                        in_sub: [],
                        in_sub_count: 0,
                        switchable: false
                    },
                    'bts': {
                        selected: 0,
                        minPlayer: 3,
                        maxPlayer: 5,
                        name: 'Batsman',
                        players: [],
                        in_eleven: [],
                        in_eleven_count: 0,
                        switchable: false
                    },
                    'al': {
                        selected: 0,
                        minPlayer: 1,
                        maxPlayer: 3,
                        name: 'All-rounder',
                        players: [],
                        in_eleven: [],
                        in_eleven_count: 0,
                        switchable: false
                    },
                    'bow': {
                        selected: 0,
                        minPlayer: 3,
                        maxPlayer: 5,
                        name: 'Bowler',
                        players: [],
                        in_eleven: [],
                        in_eleven_count: 0,
                        switchable: false
                    },
                    'subs': {
                        name: 'Substitute',
                        players: [],
                        players_count: 4,
                        switchable: false
                    }
                },
                switchMode: false,
                selected_player: {},
                primary_player_type: '',
                plyr_indx: undefined,
                EmptyObject: IsEmptyObject
            }
        },
        methods: {
            getOpponent(key){
                const self = this;
                let teams = self.tournament.teams;
                for(let i = 0; i < teams.length; i++){
                    if(key.toLowerCase() === teams[i].id.toLowerCase()) {
                        return teams[i].name
                    }
                }
            },
            getTotalMatches(player){
                const self = this;
                let player_team = self.getPlayerByKey(player).team_id;
                let rounds = self.tournament.rounds;
                let active_round = 'r' + self.tournament.act_round;
                let opponents = ''
                for(let i = 0; i < rounds.length; i++) {
                    if(rounds[i].key.toLowerCase() === active_round.toLowerCase()) {
                        for(let j = 0; j < rounds[i].matches.length; j++) {
                            if(rounds[i].matches[j].tm_1.toLowerCase() === player_team.toLowerCase()
                                || rounds[i].matches[j].tm_2.toLowerCase() === player_team.toLowerCase()){
                                if(rounds[i].matches[j].tm_1.toLowerCase() === player_team.toLowerCase()) {
                                    opponents = opponents + self.getOpponent(rounds[i].matches[j].tm_2) + ', '
                                } else {
                                    opponents = opponents + self.getOpponent(rounds[i].matches[j].tm_1) + ', '
                                }
                            }
                        }
                    }
                }
                return opponents.substring(0, opponents.length - 2)
            },
            replaceByDefault(e) {
                const self = this;
                e.target.src = self.imageURL
            },
            saveChange(){
                const self = this;
                self.$emit('save-change')
            },
            goBack(){
                const self = this;
                self.$emit('go-back')
            },
            getPlayerByKey(key){
                const self = this;
                let i;
                let array = self.players;
                let player = {};
                for(i = 0; i <array.length; i++) {
                    if(array[i].key === key) {
                        player = array[i].data;
                    }
                }
                return player;
            },
            getPlayingRole(player){
              const self = this;
              let role = self.getPlayerByKey(player).playingRole;
              let re_role = 'bts';
              if(role.toUpperCase().includes('WICKET')) {
                  re_role = 'wk'
              } else if(role.toUpperCase().includes('ALL')) {
                  re_role = 'al'
              } else if(role.toUpperCase().includes('BOWLER')) {
                  re_role = 'bow'
              } else {
                  re_role = 'bts'
              }
              return re_role
            },
            notReachedMinimum(player){
                const self = this;
                let role = self.getPlayingRole(player)
                if(self.primary_player_type && self.primary_player_type !== 'subs' && self.selected_count[self.primary_player_type].in_eleven_count <= self.selected_count[self.primary_player_type].minPlayer) {
                    if(role !== self.primary_player_type) {
                        return false
                    }
                }
                return true
            },
            closeDialog(){
                const self = this;
                self.dialog = false;
                setTimeout(function () {
                    self.selected_player = {};
                    self.plyr_indx = undefined;
                    self.primary_player_type = '';
                }, 300)
            },
            openDialog(player, index, mode){
                const self = this;
                if(!self.switchMode) {
                    self.dialog = true;
                    self.selected_player = player;
                    self.plyr_indx = index;
                    self.primary_player_type = mode;
                } else {
                    self.switchMode = false;
                    self.selected_count['wk'].switchable = false;
                    self.selected_count['bts'].switchable = false;
                    self.selected_count['al'].switchable = false;
                    self.selected_count['bow'].switchable = false;
                    self.selected_count['subs'].switchable = false;
                    self.selected_player = {};
                    self.plyr_indx = undefined;
                    self.primary_player_type = '';
                }

            },
            onSwitch(){
                const self = this;
                self.dialog = false;
                let player_type = self.getPlayingRole(self.selected_player)
                switch (self.primary_player_type) {
                    case 'wk':
                        self.selected_count['wk'].switchable = true;
                        break;
                    case 'bts':
                        if(self.selected_count['bts'].in_eleven_count >= self.selected_count['bts'].minPlayer) {
                            self.selected_count['subs'].switchable = true;
                        }
                        break;
                    case 'al':
                        if(self.selected_count['al'].in_eleven_count >= self.selected_count['al'].minPlayer) {
                            self.selected_count['subs'].switchable = true;
                        }
                        break;
                    case 'bow':
                        if(self.selected_count['bow'].in_eleven_count >= self.selected_count['bow'].minPlayer) {
                            self.selected_count['subs'].switchable = true;
                        }
                        break;
                    case 'wk-sub':
                        self.selected_count['wk'].switchable = true;
                        break;
                    case 'subs':
                        if(player_type === 'bts' || self.selected_count['bts'].in_eleven_count > self.selected_count['bts'].minPlayer) {
                            self.selected_count['bts'].switchable = true;
                        }
                        if(player_type === 'al' ||self.selected_count['al'].in_eleven_count > self.selected_count['al'].minPlayer) {
                            self.selected_count['al'].switchable = true;
                        }
                        if(player_type === 'bow' || self.selected_count['bow'].in_eleven_count > self.selected_count['bow'].minPlayer) {
                            self.selected_count['bow'].switchable = true;
                        }
                        self.selected_count['subs'].switchable = true;
                        break;
                }
                self.switchMode = true;
            },
            switchPosition(player, index, secondary_type){
                const self = this;
                let temp = '';
                let primary_role = self.getPlayingRole(self.selected_player);
                let switchable_role = self.getPlayingRole(player);
                if(self.primary_player_type === 'subs'){
                    if(player === self.selected_count['cap']) {
                        self.selected_count['cap'] = self.selected_player
                    }
                    if(player === self.selected_count['vc']) {
                        self.selected_count['vc'] = self.selected_player
                    }
                } else {
                    if(self.selected_player === self.selected_count['cap']) {
                        self.selected_count['cap'] = player
                    }
                    if(self.selected_player === self.selected_count['vc']) {
                        self.selected_count['vc'] = player
                    }
                }
                if(self.switchMode) {
                    switch (self.primary_player_type) {
                        case 'wk':
                            if(self.selected_count['wk'].in_eleven[0] !== player) {
                                temp = self.selected_count['wk'].in_eleven[0];
                                self.selected_count['wk'].in_eleven[0] = self.selected_count['wk'].in_sub[0]
                                self.selected_count['wk'].in_sub[0] = temp
                            }
                            break;
                        case 'bts':
                            self.selected_count['subs'].players[index] = self.selected_player;
                            if(switchable_role === self.primary_player_type) {
                                self.selected_count[switchable_role].in_eleven[self.plyr_indx] = player;
                            } else {
                                self.selected_count[self.primary_player_type].in_eleven.splice(self.plyr_indx, 1)
                                self.selected_count[self.primary_player_type].in_eleven_count--;
                                self.selected_count[switchable_role].in_eleven.push(player);
                                self.selected_count[switchable_role].in_eleven_count++;
                            }
                            break;
                        case 'al':
                            self.selected_count['subs'].players[index] = self.selected_player;
                            if(switchable_role === self.primary_player_type) {
                                self.selected_count[switchable_role].in_eleven[self.plyr_indx] = player;
                            } else {
                                self.selected_count[self.primary_player_type].in_eleven.splice(self.plyr_indx, 1)
                                self.selected_count[self.primary_player_type].in_eleven_count--;
                                self.selected_count[switchable_role].in_eleven.push(player);
                                self.selected_count[switchable_role].in_eleven_count++;
                            }
                            break;
                        case 'bow':
                            self.selected_count['subs'].players[index] = self.selected_player;
                            if(switchable_role === self.primary_player_type) {
                                self.selected_count[switchable_role].in_eleven[self.plyr_indx] = player;
                            } else {
                                self.selected_count[self.primary_player_type].in_eleven.splice(self.plyr_indx, 1)
                                self.selected_count[self.primary_player_type].in_eleven_count--;
                                self.selected_count[switchable_role].in_eleven.push(player);
                                self.selected_count[switchable_role].in_eleven_count++;
                            }
                            break;
                        case 'wk-sub':
                            if(self.selected_count['wk'].in_sub[0] !== player) {
                                temp = self.selected_count['wk'].in_sub[0];
                                self.selected_count['wk'].in_sub[0] = self.selected_count['wk'].in_eleven[0]
                                self.selected_count['wk'].in_eleven[0] = temp
                            }
                            break;
                        case 'subs':
                            if(secondary_type === self.primary_player_type) {
                                self.selected_count[self.primary_player_type].players[self.plyr_indx] = player;
                                self.selected_count[self.primary_player_type].players[index] = self.selected_player;
                            } else {
                                if(switchable_role === primary_role) {
                                    self.selected_count[switchable_role].in_eleven[index] = self.selected_player;
                                    self.selected_count[self.primary_player_type].players[self.plyr_indx] = player;
                                } else {
                                    self.selected_count[primary_role].in_eleven.push(self.selected_player);
                                    self.selected_count[primary_role].in_eleven_count++;
                                    self.selected_count[switchable_role].in_eleven.splice(index, 1)
                                    self.selected_count[switchable_role].in_eleven_count--;
                                    self.selected_count[self.primary_player_type].players[self.plyr_indx] = player;
                                }
                            }
                            break;
                    }
                    self.switchMode = false;
                }
                self.selected_player = {};
                self.plyr_indx = undefined;
                self.primary_player_type = '';
                self.selected_count['wk'].switchable = false;
                self.selected_count['bts'].switchable = false;
                self.selected_count['al'].switchable = false;
                self.selected_count['bow'].switchable = false;
                self.selected_count['subs'].switchable = false;
            },
            isMainSwitch(player){
                const self = this;
                return self.selected_player === player
            },
            setPlayers(players) {
                const self = this;
                let returnArr = [];
                players.forEach(function(childSnapshot) {
                    let object = {
                        key: childSnapshot.key,
                        data: childSnapshot
                    };
                    returnArr.push(object);
                });
                self.players = returnArr;
            },
            updateRules(rules){
                const self = this;
                self.selected_count['wk'].minPlayer = rules.min_wk;
                self.selected_count['wk'].maxPlayer = rules.max_wk;
                self.selected_count['bts'].minPlayer = rules.min_bts;
                self.selected_count['bts'].maxPlayer = rules.max_bts;
                self.selected_count['al'].minPlayer = rules.min_al;
                self.selected_count['al'].maxPlayer = rules.max_al;
                self.selected_count['bow'].minPlayer = rules.min_bow;
                self.selected_count['bow'].maxPlayer = rules.max_bow;
                self.mxpf1tm = rules.max_pf1tm;
            },
            makeCaptain() {
                const self = this;
                if(self.selected_count['vc'] === self.selected_player) {
                    self.selected_count['vc'] = self.selected_count['cap']
                }
                self.selected_count['cap'] = self.selected_player
                self.closeDialog()
            },
            makeViceCaptain() {
                const self = this;
                if(self.selected_count['cap'] === self.selected_player) {
                    self.selected_count['cap'] = self.selected_count['vc']
                }
                self.selected_count['vc'] = self.selected_player
                self.closeDialog()
            },
            saveTeam(){
                const self = this;
                if(getDeadLineByCurrentRound(self.tournament.act_round, self.tournament.rounds).distance > 0 && self.tournament.transfer_open){
                    let roundData = {};
                    let roundDataKey = '';
                    let in_eleven_wk = [];
                    let in_eleven_bts = [];
                    let in_eleven_al = [];
                    let in_eleven_bow = [];
                    let in_sub_wk = [];
                    let in_sub_other = [];
                    let cap = self.selected_count['cap'];
                    let vc = self.selected_count['vc'];
                    for(let x = 0; x < self.selected_count['wk'].in_eleven.length; x++) {
                        in_eleven_wk.push(self.selected_count['wk'].in_eleven[x])
                    }
                    for(let x = 0; x < self.selected_count['bts'].in_eleven.length; x++) {
                        in_eleven_bts.push(self.selected_count['bts'].in_eleven[x])
                    }
                    for(let x = 0; x < self.selected_count['al'].in_eleven.length; x++) {
                        in_eleven_al.push(self.selected_count['al'].in_eleven[x])
                    }
                    for(let x = 0; x < self.selected_count['bow'].in_eleven.length; x++) {
                        in_eleven_bow.push(self.selected_count['bow'].in_eleven[x])
                    }
                    for(let x = 0; x < self.selected_count['wk'].in_sub.length; x++) {
                        in_sub_wk.push(self.selected_count['wk'].in_sub[x])
                    }
                    for(let x = 0; x < self.selected_count['subs'].players.length; x++) {
                        in_sub_other.push(self.selected_count['subs'].players[x])
                    }
                    let key = 'r' + self.tournament.act_round;
                    let database = firebase.database()
                    database.ref('tournaments/' + self.tournament.id + '/users/' + self.currentUser.uid + '/rounds').once('value', function(snapshot) {
                        snapshot.forEach(function(childSnapshot) {
                            if(childSnapshot.val().key === key) {
                                roundData = childSnapshot.val()
                                roundDataKey = childSnapshot.key;
                            }
                        });
                        roundData.in_eleven_wk = in_eleven_wk;
                        roundData.in_eleven_bts = in_eleven_bts;
                        roundData.in_eleven_al = in_eleven_al;
                        roundData.in_eleven_bow = in_eleven_bow;
                        roundData.in_sub_wk = in_sub_wk;
                        roundData.in_sub_other = in_sub_other;
                        roundData.cap = cap;
                        roundData.vc = vc;
                        database.ref('tournaments/' + self.tournament.id + '/users/' + self.currentUser.uid + '/rounds/' + roundDataKey).update(roundData)
                              .then(function () {
                                self.saveChange()
                              }).catch(function () {
                                self.snackbar = true;
                                self.snackbarMessage = 'Sorry, something went wrong. Please try again later.';
                                self.snackColor = 'error';
                              })
                    });
                } else {
                    self.snackbar = true;
                    self.snackbarMessage = 'Times up';
                    self.snackColor = 'error';
                    setTimeout(()=>{
                        self.goBack();
                    }, 1000)
                }

            }

        },
        mounted(){
            const self = this;
            if(self.tournament) {
                let database = firebase.database();
                let tournament_ref = database.ref('tournaments/' + self.tournament.id);
                let query = tournament_ref.child('users').orderByKey().equalTo(self.currentUser.uid).limitToFirst(1)
                query.on('value', function (snap) {
                let u = snap.val();
                self.loading = true;
                self.noTimeForThisRound = getDeadLineByCurrentRound(self.tournament.act_round, self.tournament.rounds).distance <= 0 && !self.tournament.transfer_open;
                self.updateRules(self.tournament.rules);
                for(let i=0; i < self.tournament.teams.length; i++) {
                  self.teams[self.tournament.teams[i].id] = {
                    players: self.tournament.teams[i].players ? self.tournament.teams[i].players.length : 0,
                    selected: 0,
                  }
                }
                if(u) {
                  self.team_created = u[self.currentUser.uid].tm_crt;
                  database.ref('tournaments/' + self.tournament.id + '/pool/').once('value', function (snap) {
                    self.setPlayers(snap.val());
                    if(self.team_created){
                      let mySqd = self.user.my_sqd;
                      self.selected_count['wk'].players = mySqd['wk'].players;
                      self.selected_count['bts'].players = mySqd['bts'].players;
                      self.selected_count['al'].players = mySqd['al'].players;
                      self.selected_count['bow'].players = mySqd['bow'].players;
                      self.totalPlayer = 11;
                      let rounds = self.user.rounds;
                      let roundKey = 'r' + self.tournament.act_round;
                      if(rounds) {
                        let p;
                        for(p=0; p < rounds.length; p++) {
                          if(rounds[p].key.toUpperCase() === roundKey.toUpperCase()) {
                            for(let i=0; i < rounds[p].in_eleven_bts.length; i++) {
                              self.selected_count['bts'].in_eleven.push(rounds[p].in_eleven_bts[i]);
                              self.selected_count['bts'].in_eleven_count = self.selected_count['bts'].in_eleven_count + 1;
                            }
                            for(let i=0; i < rounds[p].in_eleven_al.length; i++) {
                              self.selected_count['al'].in_eleven.push(rounds[p].in_eleven_al[i]);
                              self.selected_count['al'].in_eleven_count = self.selected_count['al'].in_eleven_count + 1;
                            }
                            for(let i=0; i < rounds[p].in_eleven_bow.length; i++) {
                              self.selected_count['bow'].in_eleven.push(rounds[p].in_eleven_bow[i]);
                              self.selected_count['bow'].in_eleven_count = self.selected_count['bow'].in_eleven_count + 1;
                            }
                            for(let i=0; i < rounds[p].in_sub_other.length; i++) {
                              self.selected_count['subs'].players.push(rounds[p].in_sub_other[i]);
                            }
                            self.selected_count['wk'].in_eleven.push(rounds[p].in_eleven_wk[0]);
                            self.selected_count['wk'].in_eleven_count = 1;
                            self.selected_count['wk'].in_sub.push(rounds[p].in_sub_wk[0]);
                            self.selected_count['wk'].in_sub_count = 1;
                            self.selected_count['cap'] = rounds[p].cap;
                            self.selected_count['vc'] = rounds[p].vc;
                            break;
                          }
                        }
                      }
                    } else {
                      self.free_transfer = 'unlimited';
                      self.transfer_cost = 0;
                    }
                    self.loading = false;
                  }).catch(()=> {
                    self.goBack()
                  });
                } else {
                  self.$router.push({name: 'dashboard'}).catch()
                }});
            }
        }
    }
</script>

<style scoped>
  .play-ground{
    margin: 0.5rem;
    font-size: 1.6rem;
  }
  .eve{
    color: white;
    border-radius: 0.4rem;
    padding: 0.2rem 0.5rem;
    background-color: var(--black-background);
  }
  .points{
    background-color: #cccccc;
    color: #050505;
    text-align: center;
    width: 6.5rem;
    font-size: 0.9rem;
    overflow: hidden;
  }
  .points2{
    background-color: #3d4249;
    color: white;
    font-size: 1rem;
  }
  .cap{
    background-color: var(--captain);
    color: white;
  }
  .vc{
    background-color: var(--vicecap);
    color: white;
  }
  .player-card{
    padding: 1rem !important;
    border-bottom: 0.1rem solid #efefef;
  }
  .usr-image{
    width: 100%;
    height: 100%;
    border-radius: 0.4rem 0.4rem 0 0;
  }
  .user-img{
    height: 8.8rem !important;
    border-radius: 0.4rem !important;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.9),
      rgba(170, 170, 170, 0.9)
    )
  }
  .image-wrapper{
    overflow: hidden;
    width: 6.5rem;
    height: 8rem;
    cursor: pointer;
  }
  .image-wrapper-pop{
    overflow: hidden;
    max-width: 3rem;
    height: auto;
    cursor: pointer;
  }
  .image-wrapper-fnl{
    overflow: hidden;
    width: 4rem;
    height: 5rem;
    cursor: pointer;
  }
  .image-wrapper-single{
    overflow: hidden;
    width: 10rem;
    height: auto;
    border-radius: 0.4rem;
    cursor: pointer;
  }
  .image{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }
  .usr{
    max-width: 8rem;
    padding: 1rem 0.5rem 1rem 0;
  }
  .dlg-btn{
    margin: 1rem !important;
  }
  .imgOp{
    opacity: 0.2 !important;
  }
  .swsop{
    opacity: 0.5 !important;
    background-color: #3d4249;
  }
  .swm{
    background-color: var(--black-background) !important;
  }
  .sws{
    background-color: var(--secondary-color);
  }
</style>