<template>
  <div v-if="!EmptyObject(rulesObj)">
    <v-toolbar flat style="background-color: var(--primary-color)" dark >
      <v-icon @click="goBack" style="font-size: 2rem">mdi-arrow-left</v-icon>
      <v-spacer></v-spacer>
      <v-toolbar-title>
        <div style="font-size: 1.4rem; text-align: right">Rules</div>
      </v-toolbar-title>
    </v-toolbar>
    <div v-if="classic">
      <div v-if="!isSeries" class="item head">
        <div class="itm-ttl">Squad</div>
        <div class="itm-sub">
          Your initial <span class="scnd mn">15 Man</span> squad must be consisted of:
          <ul>
            <li><span class="scnd mn">2</span> Wicketkeepers</li>
            <li><span class="scnd mn">5</span> Batsmen</li>
            <li><span class="scnd mn">3</span> All-rounders</li>
            <li><span class="scnd mn">5</span> Bowlers</li>
          </ul>
        </div>
      </div>
      <div class="item head">
        <div class="itm-ttl">Budget</div>
        <div class="itm-sub">
          The total value of your initial squad must not exceed <span class="scnd nmb">$100</span> million
        </div>
      </div>
      <div class="item head">
        <div v-if="isSeries" class="itm-ttl">Create Squad</div>
        <div v-else class="itm-ttl">Pick Team</div>
        <div class="itm-sub">You can pick your <span class="scnd">11 Man</span> team using any of the combination below:</div>
        <div class="row item">
          <div class="col-4">Player Type</div>
          <div class="col-4">Minimum</div>
          <div class="col-4">Maximum</div>
        </div>
        <div class="row item">
          <div class="col-4">Wicketkeeper</div>
          <div class="col-4">1</div>
          <div v-if="!isSeries" class="col-4">N/A</div>
          <div v-else class="col-4">2</div>
        </div>
        <div class="row item">
          <div class="col-4">Batsmen</div>
          <div class="col-4">3</div>
          <div class="col-4">5</div>
        </div>
        <div class="row item">
          <div class="col-4">All-rounders</div>
          <div class="col-4">1</div>
          <div class="col-4">3</div>
        </div>
        <div class="row item">
          <div class="col-4">Bowler</div>
          <div class="col-4">3</div>
          <div class="col-4">5</div>
        </div>
      </div>
      <div class="item head">
        <div class="itm-ttl">Maximum Player from one team</div>
        <div class="itm-sub">
          You can pick maximum <span class="scnd nmb">{{rulesObj.max_pf1tm}}* players</span> from one team
        </div>
      </div>
      <div class="item head">
        <div class="itm-ttl">Transfers</div>
        <div class="itm-sub">
          After selecting your squad you can buy and sell players in the transfer market.
          Unlimited transfers can be made at no cost until your first deadline/transfer. After that general rules will apply.
          However for every extra transfer beyond the quota <span class="scnd">{{rulesObj.deduct_scale}}</span> points will be deducted from your total points.
        </div>
      </div>
      <div v-if="!isSeries" class="item head">
        <div class="itm-ttl">Substitution</div>
        <div class="itm-sub">
          Substitutions happen at the end of the round when all matches have been played. If one or more players from your team do not play in that round he/they will be substituted
          with the substitute players who have the same playing role, if not then according to the substitute order you have provided.
          eg: You have an allrounder who did not play in that round, also you have an allrounder in the bench who played in that round.
          So after the round, the allrounder of the main team will be substituted with the allrounder from the bench. If there is no allrounder in your bench
          but only bowlers and batsman, then the allrounder will be substituted with the first player who played in that round from your bench.

          However, a wicketkeeper can only be substituted with a wicketkeeper.
        </div>
      </div>
      <div class="item head">
        <div class="itm-ttl">Free Transfer</div>
        <div :key="index" v-for="(round, index) in rounds" class="row item">
          <div class="col-8">Round {{round.key.substring(1)}}</div>
          <div class="col-4">{{round.fr_trns}}</div>
        </div>
      </div>
      <div class="item head" style="padding: 1rem">
        <div class="itm-ttl">Others</div>
        <ul>
          <li v-if="!isSeries"> *Number of maximum player can be taken from one team changes in Qualifier rounds (Semifinal/final)</li>
          <li> Your scoring will start from the round you joined the tournament.</li>
          <li v-if="!isSeries"> Private league scoring will start from the round you joined the league.
            Any point scored by your player before joining any league won't be added to your league point.
            However it will not affect your overall points for global championship.
          </li>
          <li>
            If there is a 'No Result' or the match is 'Postponed' due to any reason then that match will be considered as 'Cancelled'
            and no points will be awarded for that match. For Test matches, at least 2 innings must be played completely to consider the match as
            'Done', otherwise it will be marked as 'Canceled'.
          </li>
        </ul>
      </div>
    </div>
    <div v-else>
      <div class="item head">
        <div class="itm-ttl">Budget</div>
        <div class="itm-sub">
          The total value of your team must not exceed <span class="scnd nmb">$100</span> million
        </div>
      </div>
      <div class="item head">
        <div class="itm-ttl">Pick Team</div>
        <div class="itm-sub">You can pick your <span class="scnd">11 Man</span> team using any of the combination below:</div>
        <div class="row item">
          <div class="col-4">Player Type</div>
          <div class="col-4">Minimum</div>
          <div class="col-4">Maximum</div>
        </div>
        <div class="row item">
          <div class="col-4">Wicketkeeper</div>
          <div class="col-4">1</div>
          <div class="col-4">2</div>
        </div>
        <div class="row item">
          <div class="col-4">Batsmen</div>
          <div class="col-4">3</div>
          <div class="col-4">5</div>
        </div>
        <div class="row item">
          <div class="col-4">All-rounders</div>
          <div class="col-4">1</div>
          <div class="col-4">3</div>
        </div>
        <div class="row item">
          <div class="col-4">Bowler</div>
          <div class="col-4">3</div>
          <div class="col-4">5</div>
        </div>
      </div>
      <div class="item head">
        <div class="itm-ttl">Maximum Player from one team</div>
        <div class="itm-sub">You can select maximum <span class="scnd nmb">7 players</span> from one team</div>
      </div>
      <div class="item head">
        <div class="itm-ttl">Transfers</div>
        <div class="itm-sub">
          <span class="scnd mn">Unlimited</span> transfers can be made at no cost until the deadline.
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import {IsEmptyObject} from "../../filter";
    export default {
        name: "team-rules",
        props: {
          rules: Object,
          rounds: Array,
          isClassic: Boolean,
          isSeries: Boolean
        },
        data: function(){
          return {
              rulesObj: {},
              EmptyObject: IsEmptyObject,
              classic: false
          }
        },
        methods: {
            goBack(){
                this.$emit('cancel')
            }
        },
        mounted() {
            const self = this;
            if(!IsEmptyObject(self.rules)) {
                self.rulesObj = self.rules;
                self.classic = self.isClassic;
            }
        }
    }
</script>

<style scoped>
  li{
    margin: 0.5rem 0;
  }
  .item{
    color: white;
    background-color: rgba(0,0,0,0.2);
    margin: 0.5rem !important;
  }
  .head{
    background-color: rgba(0,0,0,0.3);
  }
  .itm-ttl{
    padding: 0.5rem 1.5rem;
    font-size: 1.6rem;
  }
  .itm-sub{
    padding: 0.5rem 1.5rem;
    font-size: 1.4rem;
    background-color: rgba(0,0,0,0.2);
  }
  .arr{
    float: right;
    color: var(--third-color);
  }
  .scnd{
    padding: 0.1rem 0.2rem;
    background-color: var(--secondary-color);
    border-radius: 0.2rem;
  }
  .crt{
    background-color: var(--third-color);
  }
  .mn{
    font-weight: bold;
    color: var(--primary-color-dark);
    background-color: white;
  }
  .nmb{
    font-weight: bold;
    color: var(--fourth-color);
    background-color: white;
  }
  .sqd{
    background-color: var(--success-state);
  }
</style>