<template>
  <div style="padding: 2rem 0" class="container-fluid">
    <div v-if="!loading">
      <div class="eve" style="font-size: 1.2rem; color: white; background-color: var(--secondary-color); margin: 0.5rem; text-align: center">
        {{tournament.data.name}}
      </div>
      <div class="row features justify-content-center">
        <div class="col-6 no-padding pr-2">
          <div class="fchip">
            <div class="fchip-ttl">Squad</div>
            <div class="fchip-val">{{totalPlayer}}/11</div>
          </div>
        </div>
        <div class="col-6 no-padding pl-2">
          <div class="fchip">
            <div class="fchip-ttl">Bank</div>
            <div v-bind:class="[{lmtCrs: cr_limit - cr_used <= 0}]" class="fchip-val">${{cr_limit - cr_used}}m</div>
          </div>
        </div>
      </div>
      <div v-if="step === 1">
        <div class="play-ground">
          <div class="eve wicket-keeper"> Wicketkeeper ({{selected_count['wk'].selected}})</div>
          <div class="row">
            <div :key="index" v-for="(player, index) in selected_count['wk'].players" class="col-2 usr">
              <div @click="openDialog('wk')" class="image-wrapper">
                <img class="image" :src="getPlayerByKey(player).imageURL">
              </div>
              <div class="points">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
            </div>
            <div v-if="selected_count['wk'].selected < selected_count['wk'].maxPlayer && totalPlayer < 11" class="col-2 usr">
              <div @click="openDialog('wk')" class="image-wrapper user-img">
                <img style="padding: 0.4rem" class="usr-image" src="../../assets/plus.png">
              </div>
            </div>
          </div>
          <div class="eve batsman">
            Batsman ({{selected_count['bts'].selected}})
          </div>
          <div class="row">
            <div :key="index" v-for="(player, index) in selected_count['bts'].players" class="col-2 usr">
              <div @click="openDialog('bts')" class="image-wrapper">
                <img class="image" :src="getPlayerByKey(player).imageURL">
              </div>
              <div class="points">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
            </div>
            <div v-if="selected_count['bts'].selected < selected_count['bts'].maxPlayer && totalPlayer < 11" class="col-2 usr">
              <div @click="openDialog('bts')" class="image-wrapper user-img">
                <img style="padding: 0.4rem" class="usr-image" src="../../assets/plus.png">
              </div>
            </div>
          </div>
          <div class="eve all-rounder">
            All-rounder ({{selected_count['al'].selected}})
          </div>
          <div class="row">
            <div :key="index" v-for="(player, index) in selected_count['al'].players" class="col-2 usr">
              <div @click="openDialog('al')" class="image-wrapper">
                <img class="image" :src="getPlayerByKey(player).imageURL">
              </div>
              <div class="points">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
            </div>
            <div v-if="selected_count['al'].selected < selected_count['al'].maxPlayer && totalPlayer < 11" class="col-2 usr">
              <div @click="openDialog('al')" class="image-wrapper user-img">
                <img style="padding: 0.4rem" class="usr-image" src="../../assets/plus.png">
              </div>
            </div>
          </div>
          <div class="eve bowler">
            Bowler ({{selected_count['bow'].selected}})
          </div>
          <div class="row">
            <div :key="index" v-for="(player, index) in selected_count['bow'].players" class="col-2 usr">
              <div @click="openDialog('bow')" class="image-wrapper">
                <img class="image" :src="getPlayerByKey(player).imageURL">
              </div>
              <div class="points">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
            </div>
            <div v-if="selected_count['bow'].selected < selected_count['bow'].maxPlayer && totalPlayer < 11" class="col-2 usr">
              <div @click="openDialog('bow')" class="image-wrapper user-img">
                <img style="padding: 0.4rem" class="usr-image" src="../../assets/plus.png">
              </div>
            </div>
          </div>
          <div class="eve" v-if="!validSelection"
               style="margin-top: 0.5rem; font-size: 1.2rem; color: white; background-color: var(--error-state)">
            <v-icon style="margin-right: 0.5rem; font-size: 1.4rem; margin-bottom: 0.2rem" color="white">mdi-information</v-icon> {{page1ErrorReason}}
          </div>
          <div v-else class="eve" style="background-color: var(--success-state); font-size: 1rem">
            <v-icon style="margin-right: 0.5rem; font-size: 1.4rem; margin-bottom: 0.1rem" color="white">mdi-check-circle</v-icon> Go to next step and select your captain.
          </div>
        </div>
        <div class="row justify-content-center" style="margin: 2rem 0.5rem !important; text-align: left">
          <div class="col-12 pl-1 no-padding" style="text-align: right">
            <button style="margin-right: 1rem" class="btn btn-neutral-action" @click="goBack">Cancel</button>
            <button :disabled="!validSelection" class="btn btn-first-light" @click="goToCaptainSelection">Next</button>
          </div>
        </div>
      </div>
      <div v-if="step === 2">
        <div class="play-ground">
          <div class="eve wicket-keeper">
            <div>Wicketkeeper</div>
          </div>
          <div class="row">
            <div :key="index" v-for="(player, index) in selected_count['wk'].players" class="col-2 usr">
              <div @click="openDialog2(player)" class="image-wrapper">
                <img class="image" :src="getPlayerByKey(player).imageURL">
              </div>
              <div v-bind:class="[{noV: selected_count['cap'] === player || selected_count['vc'] === player}]" class="points">
                {{GET_FIRST_NAME(getPlayerByKey(player).name)}}
              </div>
              <div v-if="selected_count['cap'] === player" class="points captain">cap</div>
              <div v-if="selected_count['vc'] === player" class="points vcap">vice</div>
            </div>
          </div>
          <div class="eve batsman">
            <div>Batsman</div>
          </div>
          <div class="row">
            <div :key="index" v-for="(player, index) in selected_count['bts'].players" class="col-2 usr">
              <div @click="openDialog2(player)" class="image-wrapper">
                <img class="image" :src="getPlayerByKey(player).imageURL">
              </div>
              <div v-bind:class="[{noV: selected_count['cap'] === player || selected_count['vc'] === player}]" class="points">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
              <div v-if="selected_count['cap'] === player" class="points captain">cap</div>
              <div v-if="selected_count['vc'] === player" class="points vcap">vice</div>
            </div>
          </div>
          <div class="eve all-rounder">
            <div>All-rounder</div>
          </div>
          <div class="row">
            <div :key="index" v-for="(player, index) in selected_count['al'].players" class="col-2 usr">
              <div @click="openDialog2(player)" class="image-wrapper">
                <img class="image" :src="getPlayerByKey(player).imageURL">
              </div>
              <div v-bind:class="[{noV: selected_count['cap'] === player || selected_count['vc'] === player}]" class="points">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
              <div v-if="selected_count['cap'] === player" class="points captain">cap</div>
              <div v-if="selected_count['vc'] === player" class="points vcap">vice</div>
            </div>
          </div>
          <div class="eve bowler">
            <div>Bowler</div>
          </div>
          <div class="row">
            <div @click="openDialog2(player)" :key="index" v-for="(player, index) in selected_count['bow'].players" class="col-2 usr">
              <div @click="openDialog2(player)" class="image-wrapper">
                <img class="image" :src="getPlayerByKey(player).imageURL">
              </div>
              <div v-bind:class="[{noV: selected_count['cap'] === player || selected_count['vc'] === player}]" class="points">{{GET_FIRST_NAME(getPlayerByKey(player).name)}}</div>
              <div v-if="selected_count['cap'] === player" class="points captain">cap</div>
              <div v-if="selected_count['vc'] === player" class="points vcap">vice</div>
            </div>
          </div>
          <div class="eve" style="font-size: 1.2rem; color: papayawhip; background-color: var(--error-state)" v-if="!validSelection || !selected_count['cap'] || !selected_count['vc']">
            <v-icon style="margin-right: 0.5rem; font-size: 1.4rem; margin-bottom: 0.2rem" color="white">mdi-information</v-icon> Please Select your captain and vice-captain.
          </div>
          <div v-else class="eve" style="background-color: var(--success-state); font-size: 1rem">
            <v-icon style="margin-right: 0.5rem; font-size: 1.4rem; margin-bottom: 0.1rem" color="white">mdi-check-circle</v-icon>
            Your team looks perfect. Save your selection.
          </div>
        </div>
        <div class="row justify-content-between" style="margin: 2rem 0.5rem !important;">
          <div class="col-4 p-2 no-padding" style="text-align: left">
            <button class="btn btn-neutral-action" @click="goBack">Cancel</button>
          </div>
          <div class="col-8 p-2 no-padding" style="text-align: right">
            <button style="margin-right: 1rem" class="btn btn-neutral-outline" @click="step = step - 1">Back</button>
            <button v-if="validSelection && selected_count['cap'] && selected_count['vc']" class="btn btn-first-light" @click="saveSelection">Save</button>
            <button :disabled="true" v-else class="btn btn-first-light">Save</button>
          </div>
        </div>
      </div>
      <v-dialog v-model="dialog" scrollable fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-card style="height: 100vh; overflow-y: auto; width: 100%; overflow-x: hidden; background-color: white">
          <v-toolbar flat style="max-height: 6.4rem; background-color: var(--primary-color-dark)" dark >
            <v-btn icon dark @click="dialog = false">
              <v-icon style="font-size: 2rem">mdi-arrow-left</v-icon>
            </v-btn>
            <v-toolbar-title style="font-size: 1.6rem">
              {{selected_count[selection_ongoing].name}} ({{selected_count[selection_ongoing].selected}})
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn style="font-size: 1.4rem" dark text @click="dialog = false">Done</v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <div style="background-color: var(--error-state); border-radius: 0; font-size: 1.2rem" class="eve" v-if="selectionError">{{stg_one_err_msg}}</div>
          <div class="row p-hd">
            <div class="nm" style="text-align: left">
              <div>Player</div>
              <v-icon @click="sortArrayPlayersByPlayer" color="white">{{!byPlayer ? 'mdi-menu-up' : 'mdi-menu-down'}}</v-icon>
            </div>
            <div class="price text-center">
              <div>Price</div>
              <v-icon @click="sortArrayPlayersByPrice" color="white">{{!byPrice ? 'mdi-menu-up' : 'mdi-menu-down'}}</v-icon>
            </div>
            <div class="select text-right">
            <span v-bind:class="[{pcrErr : cr_used === 100}]" style=" font-size: 1.4rem; margin-left: 1rem; padding: 0 0.5rem; float: right">
             ${{cr_limit - cr_used}}m
            </span>
            </div>
          </div>
          <div class="row player-card" :key="index" v-for="(player, index) in sortedPlayers">
            <div class="name">
              <img @error="replaceByDefault" class="image-sn" :src="player.data.imageURL ? player.data.imageURL: imageURL" alt="Smiley face">
              <div style="font-size: 1.2rem; text-align: left; color: #050505; margin-top: 0.5rem">{{player.data.name}}</div>
              <div style="font-size: 1rem; text-align: left; color: #777777">{{player.data.team}}</div>
              <div style="font-size: 1rem; text-align: left; color: var(--third-color-dark)">#{{player.data.rank}}</div>
            </div>
            <div class="price">
              <div style="font-size: 1.4rem; text-align: center; color: #050505">{{'$' + player.data.price + 'm'}}</div>
            </div>
            <div class="select" style="text-align: right; padding-right: 0.1rem !important;">
              <v-icon size="14" class="bt-ico-default" v-if="!isSelected(player)" @click="selectThisPlayer(player)">mdi-plus</v-icon>
              <v-icon size="14" class="bt-ico-success" v-else @click="removeThisPlayer(player)">mdi-check</v-icon>
            </div>
          </div>
        </v-card>
      </v-dialog>
      <v-dialog max-width="300" v-model="dialog2">
        <v-card v-if="captain" style="max-width: 100%; background-color: #f7f7f7; overflow-y: auto; overflow-x: hidden">
          <div style="padding: 1rem 1rem 3rem !important;">
            <div class="row" style="background-color: #cccccc">
              <div class="col-5 no-padding">
                <div class="image-wrapper-single">
                  <img @error="replaceByDefault" class="image" :src="getPlayerByKey(captain).imageURL" alt="Smiley face">
                </div>
              </div>
              <div class="col-7 no-padding my-auto mx-auto">
                <div style="font-size: 1.6rem; text-align: center">{{getPlayerByKey(captain).name}}</div>
                <div style="font-size: 1.4rem; text-align: center">{{getPlayerByKey(captain).playingRole}}</div>
              </div>
            </div>
            <div style="text-align: center !important; margin-top: 3rem !important;">
              <button class="btn btn-neutral-action" v-if="selected_count['cap'] === captain" @click="removeCaptain" style="margin-right: 1rem;">
                Remove Captain
              </button>
              <button class="btn btn-third" v-else @click="makeCaptain" style="margin-right:1rem; background-color: var(--captain) !important;">Captain</button>
              <button class="btn btn-neutral-action" v-if="selected_count['vc'] === captain" @click="removeViceCaptain">Remove Vice-Captain</button>
              <button class="btn btn-third" v-else @click="makeViceCaptain" style="background-color: var(--vicecap) !important;">Vice-Captain</button>
            </div>
          </div>
        </v-card>
      </v-dialog>
      <v-snackbar
        :timeout="2000"
        v-model="snackbar"
        centered
        top
      >
        {{snackbarMessage}}
      </v-snackbar>
    </div>
    <v-overlay absolute :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import {getDeadLineByCurrentRound, getDeadlineMatch, getOnlyFirstName} from "../../filter";
    export default {
        name: "team",
        props: {
            match_id: String
        },
        data: function () {
            return {
                loading: false,
                GET_FIRST_NAME: getOnlyFirstName,
                currentUser: firebase.auth().currentUser,
                step: 1,
                dialog: false,
                dialog2: false,
                players: [],
                wicketKeepers: [],
                batsmen: [],
                bowlers: [],
                allRounders: [],
                imageURL: require('@/assets/user.svg'),
                sortedPlayers: [],
                selectedPlayers: [],
                selection_ongoing: 'wk',
                selected_count: {
                    'wk': {
                        selected: 0,
                        minPlayer: 1,
                        maxPlayer: 2,
                        name: 'Wicketkeeper',
                        players: [],
                    },
                    'bts': {
                        selected: 0,
                        minPlayer: 3,
                        maxPlayer: 5,
                        name: 'Batsman',
                        players: [],
                    },
                    'al': {
                        selected: 0,
                        minPlayer: 1,
                        maxPlayer: 3,
                        name: 'All-rounder',
                        players: [],
                    },
                    'bow': {
                        selected: 0,
                        minPlayer: 3,
                        maxPlayer: 5,
                        name: 'Bowler',
                        players: [],
                    }
                },
                totalPlayer: 0,
                teams: [],
                captain: {},
                mxpf1tm: 7,
                cr_limit: 100,
                cr_used: 0,
                team_created: false,
                stg_one_err_msg: "",
                snackbar: false,
                snackbarMessage: '',
                selectionError: false,
                page1ErrorReason: '',
                byPrice: false,
                byPlayer: false,
                GET_DEADLINE: getDeadLineByCurrentRound,
                tournament: {}
            }
        },
        methods: {
            replaceByDefault(e) {
                const self = this;
                e.target.src = self.imageURL
            },
            goBack(){
                const self = this;
                self.$emit('cancel')
            },
            getErrorReason(player){
                const self = this;
                if(self.selected_count[self.selection_ongoing].selected + 1 > self.selected_count[self.selection_ongoing].maxPlayer) {
                    self.stg_one_err_msg = 'You can select only ' + self.selected_count[self.selection_ongoing].maxPlayer +
                        ' ' + self.selected_count[self.selection_ongoing].name + '.'
                } else if(player && self.teams[player.data.team_id].selected + 1 > self.mxpf1tm) {
                    self.stg_one_err_msg = 'You can select only ' + self.mxpf1tm +
                        ' from one team.'
                } else if(player && (self.cr_used + parseFloat(player.data.price)) > self.cr_limit ) {
                    self.stg_one_err_msg = 'You do not have sufficient balance in your bank.'
                } else if(self.totalPlayer+1 >= 11) {
                    self.stg_one_err_msg = 'You have already selected 11 Players'
                } else {
                    self.stg_one_err_msg = ''
                }
            },
            getPlayerByKey(key){
                const self = this;
                let i;
                let array = self.players;
                let player = {};
                for(i = 0; i <array.length; i++) {
                    if(array[i].key === key) {
                        player = array[i].data;
                    }
                }
                return player;
            },
            isPresent(key, array){
                let i;
                for(i = 0; i <array.length; i++) {
                    if(array[i] === key) return true;
                }
                return false
            },
            goToCaptainSelection(){
                const self = this;
                self.step = 2;
            },
            isSelected(player){
                const self = this;
                let i;
                for(i = 0; i < self.selectedPlayers.length; i++) {
                    if(self.selectedPlayers[i] === player.key) {
                        return true;
                    }
                }
                return false
            },
            removeThisPlayer(player){
                const self = this;
                let i;
                for(i = 0; i < self.selected_count[self.selection_ongoing].players.length; i++) {
                    if(self.selected_count[self.selection_ongoing].players[i] === player.key) {
                        self.selected_count[self.selection_ongoing].players.splice(i, 1);
                        self.selected_count[self.selection_ongoing].selected--;
                        self.totalPlayer--;
                        break
                    }
                }
                self.cr_used = self.cr_used - parseFloat(player.data.price);
                if(self.selected_count['cap'] === player.key) {
                    self.selected_count['cap'] = undefined
                }
                if(self.selected_count['vc'] === player.key) {
                    self.selected_count['vc'] = undefined
                }
                const index = self.selectedPlayers.findIndex(key => key === player.key);
                if(index !== -1){
                    self.selectedPlayers.splice(index, 1);
                }
                self.selectionError = false;
                self.teams[player.data.team_id].selected--;
            },
            selectThisPlayer(player){
                const self = this;
                if(self.selected_count[self.selection_ongoing].selected < self.selected_count[self.selection_ongoing].maxPlayer
                    && self.totalPlayer < 11 && self.teams[player.data.team_id].selected < self.mxpf1tm
                    && (self.cr_used + parseFloat(player.data.price)) <= self.cr_limit
                ) {
                    self.selectionError = false;
                    self.selected_count[self.selection_ongoing].selected++;
                    self.totalPlayer++;
                    self.teams[player.data.team_id].selected++;
                    self.cr_used = self.cr_used + parseFloat(player.data.price);
                    self.selected_count[self.selection_ongoing].players.push(player.key);
                    self.selectedPlayers.push(player.key)
                } else {
                    self.getErrorReason(player);
                    self.selectionError = true;
                }
            },
            sortArrayPlayersByPrice(){
                const self = this;
                self.byPlayer = false;
                if(self.byPrice) {
                    self.sortedPlayers.sort((a, b) => (parseFloat(a['data'].price) >= parseFloat(b['data'].price) ? 1 : -1));
                } else {
                    self.sortedPlayers.sort((a, b) => (parseFloat(a['data'].price) <= parseFloat(b['data'].price) ? 1 : -1));
                }
                self.byPrice = !self.byPrice;
            },
            sortArrayPlayersByPlayer(){
                const self = this;
                self.byPrice = false;
                if(self.byPlayer) {
                    self.sortedPlayers.sort((a, b) => (self.GET_FIRST_NAME(a['data'].name) >= self.GET_FIRST_NAME(b['data'].name) ? 1 : -1));
                } else {
                    self.sortedPlayers.sort((a, b) => (self.GET_FIRST_NAME(a['data'].name) <= self.GET_FIRST_NAME(b['data'].name) ? 1 : -1));
                }
                self.byPlayer = !self.byPlayer;
            },
            openDialog(type){
                const self = this;
                self.selection_ongoing = type;
                self.selectionError = false;
                self.byPlayer = true;
                self.byPrice = false;
                switch (type) {
                    case 'wk':
                        self.sortedPlayers = self.wicketKeepers;
                        self.sortedPlayers.sort((a, b) => (self.GET_FIRST_NAME(a['data'].name) >= self.GET_FIRST_NAME(b['data'].name) ? 1 : -1));
                        break;
                    case 'bts':
                        self.sortedPlayers = self.batsmen;
                        self.sortedPlayers.sort((a, b) => (self.GET_FIRST_NAME(a['data'].name) >= self.GET_FIRST_NAME(b['data'].name) ? 1 : -1));
                        break;
                    case 'al':
                        self.sortedPlayers = self.allRounders;
                        self.sortedPlayers.sort((a, b) => (self.GET_FIRST_NAME(a['data'].name) >= self.GET_FIRST_NAME(b['data'].name) ? 1 : -1));
                        break;
                    case 'bow':
                        self.sortedPlayers = self.bowlers;
                        self.sortedPlayers.sort((a, b) => (self.GET_FIRST_NAME(a['data'].name) >= self.GET_FIRST_NAME(b['data'].name) ? 1 : -1));
                        break;
                    default:
                        self.sortedPlayers = self.players;
                        self.sortedPlayers.sort((a, b) => (self.GET_FIRST_NAME(a['data'].name) >= self.GET_FIRST_NAME(b['data'].name) ? 1 : -1));
                        break;
                }
                setTimeout(function () {
                    self.dialog = true;
                }, 200)
            },
            openDialog2(player){
                const self = this;
                self.dialog2 = true;
                self.captain = player;
            },
            makeCaptain(){
                const self = this;
                if(self.selected_count['vc'] && self.selected_count['vc'] === self.captain) {
                    self.selected_count['vc'] = '';
                }
                self.selected_count['cap'] = self.captain;
                self.dialog2 = false;
            },
            removeCaptain(){
                const self = this;
                self.selected_count['cap'] = ''
                self.dialog2 = false;
            },
            makeViceCaptain(){
                const self = this;
                if(self.selected_count['cap'] && self.selected_count['cap'] === self.captain) {
                    self.selected_count['cap'] = '';
                }
                self.selected_count['vc'] = self.captain
                self.dialog2 = false;
            },
            removeViceCaptain(){
                const self = this;
                self.selected_count['vc'] = ''
                self.dialog2 = false;
            },
            saveSelection(){
                const self = this;
                let database = firebase.database();
                database.ref('single-matches/' + self.match_id + '/data/transfer_open').once('value', function(snapshot) {
                    // eslint-disable-next-line
                    let timeForThisRound =
                        getDeadlineMatch(self.tournament.data.deadline).distance > 0 && self.tournament.data.transfer_open && snapshot.val();
                    if(timeForThisRound){
                        let data = {
                            updated_on: new Date().getTime(),
                            tm_crt: true,
                            my_sqd: self.selected_count,
                            players: self.selectedPlayers,
                        };
                        let database = firebase.database();
                        database.ref('single-matches/' + self.tournament.data.id + '/users/' + self.currentUser.uid).update(data)
                            .then(function () {
                                self.goBack()
                            }).catch(function () {
                            self.snackbar = true;
                            self.snackbarMessage = 'Something went wrong, your team is not saved.'
                        })
                    } else {
                        self.snackbar = true;
                        self.snackbarMessage = 'Times up';
                        window.location.reload()
                    }
                });
            },
            setPlayers(players) {
                const self = this;
                let returnArr = [];
                players.forEach(function(childSnapshot) {
                    let object = {
                        key: childSnapshot.key,
                        data: childSnapshot
                    };
                    if(childSnapshot.playingRole && childSnapshot.playingRole.toUpperCase().includes('WICKET')) {
                        self.wicketKeepers.push(object)
                    } else if(childSnapshot.playingRole && childSnapshot.playingRole.toUpperCase().includes('ALL')) {
                        self.allRounders.push(object)
                    } else if(childSnapshot.playingRole && childSnapshot.playingRole.toUpperCase().includes('BOWLER')) {
                        self.bowlers.push(object)
                    } else {
                        self.batsmen.push(object)
                    }
                    returnArr.push(object);
                    // Fill the local data property with Firebase data
                });
                self.players = returnArr;
            },
            updateRules(rules){
                const self = this;
                self.selected_count['wk'].minPlayer = rules.min_wk;
                self.selected_count['wk'].maxPlayer = rules.max_wk;
                self.selected_count['bts'].minPlayer = rules.min_bts;
                self.selected_count['bts'].maxPlayer = rules.max_bts;
                self.selected_count['al'].minPlayer = rules.min_al;
                self.selected_count['al'].maxPlayer = rules.max_al;
                self.selected_count['bow'].minPlayer = rules.min_bow;
                self.selected_count['bow'].maxPlayer = rules.max_bow;
                self.mxpf1tm = rules.max_pf1tm;
                self.cr_limit = parseFloat(rules.cr_limit);
            },
            setUpSquad(sqd, pool){
                const self = this;
                let res = [], i, j;
                for(i=0; i < sqd.length; i++) {
                    for(j=0; j < pool.length; j++){
                        if(sqd[i] === pool[j].key) {
                            res.push(pool[j].key);
                            self.selectedPlayers.push(pool[j].key)
                            self.cr_used = self.cr_used + parseFloat(pool[j].data.price);
                            self.teams[pool[j].data.team_id].selected++;
                            break;
                        }
                    }
                }
                return res;
            },
        },
        computed: {
            validSelection(){
                const self = this;
                let reason = 'Select at least ';
                let otherReason = false;
                if(self.selected_count['wk'].selected < self.selected_count['wk'].minPlayer){
                    otherReason = true;
                    reason = reason + self.selected_count['wk'].minPlayer + ' wicketkeeper';
                }
                if(self.selected_count['bts'].selected < self.selected_count['wk'].minPlayer){
                    reason = otherReason ? reason + ', ' : reason;
                    otherReason = true;
                    reason = reason + self.selected_count['bts'].minPlayer + ' batsmen';
                }
                if(self.selected_count['al'].selected < self.selected_count['wk'].minPlayer){
                    reason = otherReason ? reason + ', ' : reason;
                    otherReason = true;
                    reason = reason + self.selected_count['al'].minPlayer + ' all-rounder';
                }
                if(self.selected_count['bow'].selected < self.selected_count['bow'].minPlayer){
                    reason = otherReason ? reason + ', ' : reason;
                    otherReason = true;
                    reason = reason + self.selected_count['bow'].minPlayer + ' bowlers';
                }
                if(self.totalPlayer !== 11 && !otherReason){
                    self.page1ErrorReason = 'You need to choose 11 players to complete your squad.';
                } else {
                    self.page1ErrorReason = reason
                }
                return self.totalPlayer === 11 && self.cr_used <= self.cr_limit
                    && self.selected_count['wk'].selected >= self.selected_count['wk'].minPlayer
                    && self.selected_count['wk'].selected <= self.selected_count['wk'].maxPlayer
                    && self.selected_count['bts'].selected >= self.selected_count['bts'].minPlayer
                    && self.selected_count['bts'].selected <= self.selected_count['bts'].maxPlayer
                    && self.selected_count['al'].selected >= self.selected_count['al'].minPlayer
                    && self.selected_count['al'].selected <= self.selected_count['al'].maxPlayer
                    && self.selected_count['bow'].selected >= self.selected_count['bow'].minPlayer
                    && self.selected_count['bow'].selected <= self.selected_count['bow'].maxPlayer;
            }
        },
        mounted(){
            const self = this;
            if(self.match_id){
                let database = firebase.database();
                let id = self.match_id;
                self.loading = true;
                database.ref('single-matches/' + id).once('value', function(snapshot) {
                    self.tournament = snapshot.val();
                    let timeForThisRound = getDeadlineMatch(self.tournament.data.deadline).distance > 0 && self.tournament.data.transfer_open;
                    if(timeForThisRound){
                        self.loading = false;
                        if(self.tournament.users) {
                            self.team_created = Object.keys(snapshot.val().users).find(function (key) {
                                return key === self.currentUser.uid;
                            })
                        } else {
                            self.team_created = false
                        }
                        self.setPlayers(self.tournament.data.pool)
                        self.updateRules(self.tournament.data.rules)
                        let i;
                        for(i=0; i < self.tournament.data.teams.length; i++) {
                            self.teams[self.tournament.data.teams[i].id] = {
                                players: self.tournament.data.teams[i].players.length,
                                selected: 0,
                            }
                        }
                        if(self.team_created){
                            let mySqd = self.tournament.users[self.currentUser.uid].my_sqd;
                            self.selected_count['wk'].players = self.setUpSquad(mySqd['wk'].players, self.wicketKeepers);
                            self.selected_count['wk'].selected =mySqd['wk'].selected;
                            self.selected_count['bts'].players = self.setUpSquad(mySqd['bts'].players, self.batsmen);
                            self.selected_count['bts'].selected =mySqd['bts'].selected;
                            self.selected_count['al'].players = self.setUpSquad(mySqd['al'].players, self.allRounders);
                            self.selected_count['al'].selected =mySqd['al'].selected;
                            self.selected_count['bow'].players = self.setUpSquad(mySqd['bow'].players, self.bowlers);
                            self.selected_count['bow'].selected =mySqd['bow'].selected;
                            self.selected_count['cap'] = mySqd['cap'];
                            self.selected_count['vc'] = mySqd['vc'];
                            self.totalPlayer = 11;
                        }
                    } else {
                        self.$router.push({name: 'single-match'}).catch(function () {})
                    }
                });
            }
        }
    }
</script>

<style scoped>
  .play-ground{
    margin: 0.5rem;
    font-size: 1.6rem;
  }
  .eve{
    color: white;
    border-radius: 0.4rem;
    padding: 0.2rem 0.5rem;
    background-color: var(--black-background);
  }
  .points{
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    width: 6rem;
    font-size: 1.2rem;
    border-radius: 0 0 0.4rem 0.4rem;
    overflow: hidden;
  }
  .player-card{
    padding: 1rem !important;
    border-bottom: 0.1rem solid #efefef;
  }
  .usr-image{
    width: 100%;
    height: 100%;
    border-radius: 0.4rem 0.4rem 0 0;
  }
  .user-img{
    height: 8.8rem !important;
    border-radius: 0.4rem !important;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.9),
      rgba(170, 170, 170, 0.9)
    )
  }
  .image-wrapper{
    overflow: hidden;
    width: 6rem;
    height: 7rem;
    cursor: pointer;
  }
  .image-wrapper-pop{
    overflow: hidden;
    max-width: 3rem;
    height: auto;
    cursor: pointer;
  }
  .image-wrapper-fnl{
    overflow: hidden;
    width: 4rem;
    height: 5rem;
    cursor: pointer;
  }
  .image-wrapper-single{
    overflow: hidden;
    width: 10rem;
    height: auto;
    border-radius: 0.4rem;
    cursor: pointer;
  }
  .image{
    width: 100%;
    height: 100%;
    border-radius: 0.4rem 0.4rem 0 0;
    background-color: #ffffff;
  }
  .usr{
    max-width: 8rem;
    padding: 1rem 0.5rem 1rem 0;
  }
  .captain{
    background-color: var(--captain);
  }
  .vcap{
    background-color: var(--vicecap);
  }
  .features{
    padding: 0.5rem !important;
    font-size: 1.4rem;
    color: white;
  }
  .fchip{
    background-color: var(--black-background);
    color: white;
    border-radius: 0.4rem;
    padding: 0.5rem;
    height: 100%;
    position: relative;
  }
  .fchip-ttl{
    padding: 0 0 3.2rem 0;
    text-align: center;
  }
  .fchip-val{
    background-color: var(--black-light-foreground);
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    position: absolute;
    bottom: 0.5rem;
    width: calc(100% - 1rem);
    margin: auto;
  }
  .pchip{
    background-color: var(--primary-color-dark);
    color: white;
    position: relative;
    font-size: 1.4rem;
    height: 100%;
  }
  .pcrErr{
    background-color: var(--error-state) !important;
    color: white !important;
  }
  .p-hd{
    font-size: 1.4rem;
    margin: 0 2rem;
    color: white;
    background-color: var(--primary-color);
    padding: 0 1rem;
  }
  .lmtCrs{
    color: var(--error-state);
  }
  .select{
    width: 10%;
    margin: auto;
  }
  .name{
    width: 40%;
    font-size: 1.2rem;
    overflow-x: hidden;
    margin: auto 0;
  }
  .pnts{
    width: 15%;
    margin: auto;
  }
  .price{
    width: 20%;
    margin: auto;
  }
  .image-sn{
    max-width: 3rem;
    width: 100%;
    height: 100%;
  }
  .nm{
    width: 40%;
    font-size: 1.2rem;
  }
</style>