<template>
  <div class="container-fluid p-1">
    <div v-if="noTimeForThisRound && parseInt(tournament.data.act_round) === parseInt(tournament.data.tot_round)">
      <div class="eve" style="margin: 0.5rem; text-align: center">
        Thank you for participating in this tournament. Check leaderboard to know your rank.
      </div>
    </div>
    <div v-else>
      <div class="eve" style="background-color: var(--gray); margin: 0.5rem; text-align: center">
        Round {{tournament.data.act_round}} transfer deadline
        <span>{{GET_DEADLINE(tournament.data.act_round, tournament.data.rounds).deadline.substring(0,21)}}</span>
      </div>
      <div class="row features justify-content-center">
        <div class="col-3 no-padding">
          <div class="fchip">
            <div class="fchip-ttl">Free Transfer</div>
            <div v-bind:class="[{lmtCrs: free_transfer === 0}]" class="fchip-val">{{free_transfer}}</div>
          </div>
        </div>
        <div v-if="step === 1" class="col-3 no-padding">
          <div class="fchip" style="margin: 0 0 0 0.5rem">
            <div class="fchip-ttl">Active Round</div>
            <div class="fchip-val">{{tournament.data.act_round}}</div>
          </div>
        </div>
        <div v-if="step === 1" class="col-3 no-padding">
          <div class="fchip" style="margin: 0 0.5rem 0 0.5rem">
            <div class="fchip-ttl">Squad</div>
            <div class="fchip-val">{{totalPlayer}}</div>
          </div>
        </div>
        <div v-if="step > 1" class="col-3 no-padding">
          <div class="fchip" style="margin: 0 0.5rem 0 0.5rem">
            <div class="fchip-ttl">Transfer</div>
            <div v-bind:class="[{lmtCrs: projected_cost > 0}]" class="fchip-val"><span v-if="trans_count > 0">-</span>{{trans_count}}</div>
          </div>
        </div>
        <div v-if="step > 1" class="col-3 no-padding">
          <div class="fchip" style="margin: 0 0.5rem 0 0.5rem">
            <div class="fchip-ttl">Cost</div>
            <div v-bind:class="[{lmtCrs: projected_cost > 0}]" class="fchip-val"><span v-if="projected_cost > 0">-</span>{{projected_cost}}</div>
          </div>
        </div>
        <div class="col-3 no-padding">
          <div class="fchip">
            <div class="fchip-ttl">Bank</div>
            <div v-bind:class="[{lmtCrs: cr_limit - cr_used <= 0}]" class="fchip-val">${{cr_limit - cr_used}}m</div>
          </div>
        </div>
      </div>
      <div v-if="step === 1">
        <div class="play-ground">
          <div class="eve wicket-keeper"> Wicketkeeper ({{selected_count['wk'].selected}})</div>
          <div class="row">
            <div :key="index" v-for="(player, index) in selected_count['wk'].players" class="col-2 usr">
              <div @click="openDialog('wk')" class="image-wrapper">
                <img class="image" :src="player.data.imageURL">
              </div>
              <div class="points">{{GET_FIRST_NAME(player.data.name)}}</div>
            </div>
            <div v-if="selected_count['wk'].selected < selected_count['wk'].maxPlayer && totalPlayer < 11" class="col-2 usr">
              <div @click="openDialog('wk')" class="image-wrapper user-img">
                <img style="padding: 0.4rem" class="usr-image" src="../../assets/plus.png">
              </div>
            </div>
          </div>
          <div class="eve batsman">
            Batsman ({{selected_count['bts'].selected}})
          </div>
          <div class="row">
            <div :key="index" v-for="(player, index) in selected_count['bts'].players" class="col-2 usr">
              <div @click="openDialog('bts')" class="image-wrapper">
                <img class="image" :src="player.data.imageURL">
              </div>
              <div class="points">{{GET_FIRST_NAME(player.data.name)}}</div>
            </div>
            <div v-if="selected_count['bts'].selected < selected_count['bts'].maxPlayer && totalPlayer < 11" class="col-2 usr">
              <div @click="openDialog('bts')" class="image-wrapper user-img">
                <img style="padding: 0.4rem" class="usr-image" src="../../assets/plus.png">
              </div>
            </div>
          </div>
          <div class="eve all-rounder">
            Al-rounder ({{selected_count['al'].selected}})
          </div>
          <div class="row">
            <div :key="index" v-for="(player, index) in selected_count['al'].players" class="col-2 usr">
              <div @click="openDialog('al')" class="image-wrapper">
                <img class="image" :src="player.data.imageURL">
              </div>
              <div class="points">{{GET_FIRST_NAME(player.data.name)}}</div>
            </div>
            <div v-if="selected_count['al'].selected < selected_count['al'].maxPlayer && totalPlayer < 11" class="col-2 usr">
              <div @click="openDialog('al')" class="image-wrapper user-img">
                <img style="padding: 0.4rem" class="usr-image" src="../../assets/plus.png">
              </div>
            </div>
          </div>
          <div class="eve bowler">
            Bowler ({{selected_count['bow'].selected}})
          </div>
          <div class="row">
            <div :key="index" v-for="(player, index) in selected_count['bow'].players" class="col-2 usr">
              <div @click="openDialog('bow')" class="image-wrapper">
                <img class="image" :src="player.data.imageURL">
              </div>
              <div class="points">{{GET_FIRST_NAME(player.data.name)}}</div>
            </div>
            <div v-if="selected_count['bow'].selected < selected_count['bow'].maxPlayer && totalPlayer < 11" class="col-2 usr">
              <div @click="openDialog('bow')" class="image-wrapper user-img">
                <img style="padding: 0.4rem" class="usr-image" src="../../assets/plus.png">
              </div>
            </div>
          </div>
          <div class="eve" v-if="!validSelection"
               style="margin-top: 0.5rem; font-size: 1.2rem; color: white; background-color: var(--error-state)">
            <v-icon style="margin-right: 0.5rem; font-size: 1.4rem; margin-bottom: 0.2rem" color="white">mdi-information</v-icon> {{page1ErrorReason}}
          </div>
          <div v-else class="eve" style="background-color: var(--success-state); font-size: 1rem">
            <v-icon style="margin-right: 0.5rem; font-size: 1.4rem; margin-bottom: 0.1rem" color="white">mdi-check-circle</v-icon> Go to next step and select your captain.
          </div>
        </div>
        <div v-if="!noTimeForThisRound" class="row justify-content-center" style="margin: 2rem 0.5rem !important; text-align: left">
          <div class="col-12 pl-1 no-padding" style="text-align: right">
            <button style="margin-right: 1rem" class="btn btn-neutral-action" @click="goBack">Cancel</button>
            <button :disabled="!validSelection" class="btn btn-first-light" @click="goToCaptainSelection">Next</button>
          </div>
        </div>
        <div style="text-align: right" v-else>
          <div class="eve" style="margin: 0.5rem; text-align: center">Round {{tournament.data.act_round}} transfer closed.
            Wait for the next window to make your changes.
          </div>
          <button style="margin: 0.5rem" class="btn btn-error-color" @click="goBack">Cancel</button>
        </div>
      </div>
      <div v-if="step === 2">
        <div class="play-ground">
          <div class="eve wicket-keeper">
            <div>Wicketkeeper</div>
          </div>
          <div class="row">
            <div :key="index" v-for="(player, index) in selected_count['wk'].players" class="col-2 usr">
              <div @click="openDialog2(player)" class="image-wrapper">
                <img class="image" :src="player.data.imageURL">
              </div>
              <div v-bind:class="[{noV: selected_count['cap'] === player.key || selected_count['vc'] === player.key}]" class="points">{{GET_FIRST_NAME(player.data.name)}}</div>
              <div v-if="selected_count['cap'] === player.key" class="points captain">cap</div>
              <div v-if="selected_count['vc'] === player.key" class="points vcap">vice</div>
            </div>
          </div>
          <div class="eve batsman">
            <div>Batsman</div>
          </div>
          <div class="row">
            <div :key="index" v-for="(player, index) in selected_count['bts'].players" class="col-2 usr">
              <div @click="openDialog2(player)" class="image-wrapper">
                <img class="image" :src="player.data.imageURL">
              </div>
              <div v-bind:class="[{noV: selected_count['cap'] === player.key || selected_count['vc'] === player.key}]" class="points">{{GET_FIRST_NAME(player.data.name)}}</div>
              <div v-if="selected_count['cap'] === player.key" class="points captain">cap</div>
              <div v-if="selected_count['vc'] === player.key" class="points vcap">vice</div>
            </div>
          </div>
          <div class="eve all-rounder">
            <div>All-rounder</div>
          </div>
          <div class="row">
            <div :key="index" v-for="(player, index) in selected_count['al'].players" class="col-2 usr">
              <div @click="openDialog2(player)" class="image-wrapper">
                <img class="image" :src="player.data.imageURL">
              </div>
              <div v-bind:class="[{noV: selected_count['cap'] === player.key || selected_count['vc'] === player.key}]" class="points">{{GET_FIRST_NAME(player.data.name)}}</div>
              <div v-if="selected_count['cap'] === player.key" class="points captain">cap</div>
              <div v-if="selected_count['vc'] === player.key" class="points vcap">vice</div>
            </div>
          </div>
          <div class="eve bowler">
            <div>Bowler</div>
          </div>
          <div class="row">
            <div @click="openDialog2(player)" :key="index" v-for="(player, index) in selected_count['bow'].players" class="col-2 usr">
              <div @click="openDialog2(player)" class="image-wrapper">
                <img class="image" :src="player.data.imageURL">
              </div>
              <div v-bind:class="[{noV: selected_count['cap'] === player.key || selected_count['vc'] === player.key}]" class="points">{{GET_FIRST_NAME(player.data.name)}}</div>
              <div v-if="selected_count['cap'] === player.key" class="points captain">cap</div>
              <div v-if="selected_count['vc'] === player.key" class="points vcap">vice</div>
            </div>
          </div>
          <div class="eve" style="font-size: 1.2rem; color: papayawhip; background-color: var(--error-state)" v-if="!validSelection || !selected_count['cap'] || !selected_count['vc']">
            <v-icon style="margin-right: 0.5rem; font-size: 1.4rem; margin-bottom: 0.2rem" color="white">mdi-information</v-icon> Please Select your captain and vice-captain.
          </div>
          <div v-else class="eve" style="background-color: var(--success-state); font-size: 1rem">
            <v-icon style="margin-right: 0.5rem; font-size: 1.4rem; margin-bottom: 0.1rem" color="white">mdi-check-circle</v-icon>
            Your team looks perfect. Save your selection.
          </div>
        </div>
        <div class="row justify-content-between" style="margin: 2rem 0.5rem !important;">
          <div class="col-4 p-2 no-padding" style="text-align: left">
            <button class="btn btn-neutral-action" @click="goBack">Cancel</button>
          </div>
          <div class="col-8 p-2 no-padding" style="text-align: right">
            <button style="margin-right: 1rem" class="btn btn-neutral-outline" @click="step = step - 1">Back</button>
            <button v-if="validSelection && selected_count['cap'] && selected_count['vc']" class="btn btn-first-light" @click="gotoTransferPage">Save</button>
            <button :disabled="true" v-else class="btn btn-first-light">Save</button>
          </div>
        </div>
      </div>
      <div style="margin: 0.5rem" v-if="step === 3">
        <div style="font-size: 1.4rem; color: white; margin: 1rem 0 !important;" v-if="trans_count > 0 && team_created">
          <div style="background-color: var(--secondary-color); font-size: 1.4rem; margin: 1rem 0; text-align: center; padding: 0.5rem; border-radius: 0.4rem">
            You are about to transfer {{trans_count}} player(s).
          </div>
          <div class="row">
            <div class="col-6 pr-1 no-padding">
              <div style="background-color: var(--black-background); border-radius: 0.4rem; padding: 1rem">
                <div style="padding: 0.5rem" class="fchip-ttl">
                  <v-icon style="margin-right: 1rem; font-size: 2rem; margin-bottom: 0.3rem" color="success">mdi-check-circle</v-icon>  Transfer In
                </div>
                <div :key="index" v-for="(item, index) in trans_in">
                  <div class="row" style="background-color: var(--black-light-foreground); border: 1px solid var(--black-background); border-radius: 0.4rem">
                    <div class="col-3">
                      <div class="image-wrapper-fnl">
                        <img class="image" :src="item.imageURL">
                      </div>
                    </div>
                    <div class="col-8 my-auto">
                      <div>{{item.name}}</div>
                      <div>{{item.playingRole}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 pl-1 no-padding">
              <div style="background-color: var(--black-background); border-radius: 0.4rem; padding: 1rem">
                <div style="padding: 0.5rem" class="fchip-ttl">
                  <v-icon style="margin-right: 1rem; font-size: 2rem; margin-bottom: 0.3rem" color="error">mdi-cancel</v-icon> Transfer Out
                </div>
                <div :key="index" v-for="(item, index) in trans_out">
                  <div class="row" style="background-color: var(--black-light-foreground); border: 1px solid var(--black-background); border-radius: 0.4rem">
                    <div class="col-3">
                      <div class="image-wrapper-fnl">
                        <img class="image" :src="item.imageURL">
                      </div>
                    </div>
                    <div class="col-8 my-auto">
                      <div>{{item.name}}</div>
                      <div>{{item.playingRole}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="color: white; background-color: var(--secondary-color); font-size: 1.4rem; margin: 1rem 0; text-align: center; padding: 0.5rem; border-radius: 0.4rem">
          Transfer(s) will be activated in Round {{tournament.data.act_round}} if made before deadline.
        </div>
        <div class="eve" style="margin: 0; padding: 1rem; border-radius: 0.4rem; background-color: rgba(0,0,0,0.2)">
          <div style="font-size: 1.6rem" class="row">Transfer Summery</div>
          <div>
            <div style="background-color: var(--black-light-foreground)" class="row">
              <div class="col-8 p-1 text-left">Transfer Made</div>
              <div class="col-4 p-1 text-right">{{trans_count}}</div>
            </div>
            <div class="row">
              <div class="col-8 p-1 text-left">Free Transfer</div>
              <div class="col-4 p-1 text-right">{{free_transfer}}</div>
            </div>
            <div style="background-color: var(--black-light-foreground)" class="row">
              <div  class="col-8 p-1 text-left">Additional Transfer</div>
              <div class="col-4 p-1 text-right">
                {{parseInt(trans_count) > parseInt(free_transfer) ? parseInt(trans_count) - parseInt(free_transfer) : 0 }}
                ( {{parseInt(projected_cost) > 0 ? -projected_cost : 0}}pts )
              </div>
            </div>
            <div class="row">
              <div class="col-8 p-1 text-left">Left in the bank</div>
              <div class="col-4 p-1 text-right">${{cr_limit - cr_used}}m</div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center" style="margin: 2rem 0.5rem !important;">
          <div class="col-4 p-2 no-padding" style="text-align: left">
            <button class="btn btn-neutral-action" @click="goBack">Cancel</button>
          </div>
          <div class="col-8 p-2 no-padding" style="text-align: right">
            <button style="margin-right: 1rem" class="btn btn-neutral-outline" @click="step = step - 1">Back</button>
            <button v-if="validSelection && selected_count['cap'] && selected_count['vc']" class="btn btn-second" @click="saveSelection">Confirm</button>
            <button :disabled="true" v-else class="btn btn-second">Confirm</button>
          </div>
        </div>
      </div>
      <v-dialog v-model="dialog" scrollable fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-card style="height: 100vh; overflow-y: auto; width: 100%; overflow-x: hidden; background-color: white">
          <v-toolbar flat style="max-height: 6.4rem; background-color: var(--primary-color-dark)" dark >
            <v-btn icon dark @click="dialog = false">
              <v-icon style="font-size: 2rem">mdi-arrow-left</v-icon>
            </v-btn>
            <v-toolbar-title style="font-size: 1.6rem">
              {{selected_count[selection_ongoing].name}} ({{selected_count[selection_ongoing].selected}})
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn style="font-size: 1.4rem" dark text @click="dialog = false">Done</v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <div style="background-color: var(--error-state); border-radius: 0; font-size: 1.2rem" class="eve" v-if="selectionError">{{stg_one_err_msg}}</div>
          <div class="row p-hd">
            <div class="nm" style="text-align: left">
              <div>Player</div>
              <v-icon @click="sortArrayPlayersByPlayer" color="white">{{!byPlayer ? 'mdi-menu-up' : 'mdi-menu-down'}}</v-icon>
            </div>
            <div class="pnts text-center" style="padding-right: 0.1rem">
              <div>% Select</div>
              <v-icon @click="sortArrayPlayersBySelect" color="white">{{!bySelect ? 'mdi-menu-up' : 'mdi-menu-down'}}</v-icon>
            </div>
            <div class="pnts text-center">
              <div>Points</div>
              <v-icon @click="sortArrayPlayersByPoints" color="white">{{!byPrice ? 'mdi-menu-up' : 'mdi-menu-down'}}</v-icon>
            </div>
            <div class="price text-center">
              <div>Price</div>
              <v-icon @click="sortArrayPlayersByPrice" color="white">{{!byPrice ? 'mdi-menu-up' : 'mdi-menu-down'}}</v-icon>
            </div>
            <div class="select text-right">
            <span v-bind:class="[{pcrErr : cr_used === 100}]" style=" font-size: 1.4rem; margin-left: 1rem; padding: 0 0.5rem; float: right">
             ${{cr_limit - cr_used}}m
            </span>
            </div>
          </div>
          <div class="row player-card" :key="index" v-for="(player, index) in sortedPlayers">
            <div class="name">
              <img @error="replaceByDefault" class="image-sn" :src="player.data.imageURL ? player.data.imageURL: imageURL" alt="Smiley face">
              <div style="font-size: 1.2rem; text-align: left; color: #050505; margin-top: 0.5rem">{{player.data.name}}</div>
              <div style="font-size: 1rem; text-align: left; color: #777777">{{player.data.team}}</div>
              <div style="font-size: 1rem; text-align: left; color: var(--third-color-dark)">#{{player.data.rank}}</div>
            </div>
            <div class="pnts">
              <div style="font-size: 1.4rem; text-align: center; color: #050505">{{player.data.selected_by}}</div>
            </div>
            <div class="pnts">
              <div style="font-size: 1.4rem; text-align: center; color: #050505">{{player.data.total_points}}</div>
            </div>
            <div class="price">
              <div style="font-size: 1.4rem; text-align: center; color: #050505">{{'$' + player.data.price + 'm'}}</div>
            </div>
            <div class="select" style="text-align: right; padding-right: 0.1rem !important;">
              <v-icon size="14" class="bt-ico-default" v-if="!isSelected(player)" @click="selectThisPlayer(player)">mdi-plus</v-icon>
              <v-icon size="14" class="bt-ico-success" v-else @click="removeThisPlayer(player)">mdi-check</v-icon>
            </div>
          </div>
        </v-card>
      </v-dialog>
      <v-dialog max-width="300" v-model="dialog2">
        <v-card v-if="captain" style="max-width: 100%; background-color: #f7f7f7; overflow-y: auto; overflow-x: hidden">
          <div v-if="captain.data" style="padding: 1rem 1rem 3rem !important;">
            <div class="row" style="background-color: #cccccc">
              <div class="col-5 no-padding">
                <div class="image-wrapper-single">
                  <img class="image" :src="captain.data.imageURL ? captain.data.imageURL: imageURL" alt="Smiley face">
                </div>
              </div>
              <div class="col-7 no-padding my-auto mx-auto">
                <div style="font-size: 1.6rem; text-align: center">{{captain.data.name}}</div>
                <div style="font-size: 1.4rem; text-align: center">{{captain.data.playingRole}}</div>
              </div>
            </div>
            <div style="text-align: center; margin-top: 1rem">
              <div class="row justify-content-center">
                <div class="col-12" :key="index" v-for="(round, index) in captain.data.rounds" style="font-size: 1.6rem; padding: 0.1rem">
                  <div class="fchip" style="background-color: #cccccc">
                    <div style="background-color: #f7f7f7; color: var(--black-background)">{{round.key.toUpperCase()}}</div>
                    <div style="color: #050505">{{round.points}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="fchip" style="text-align: center; margin-top: 0.1rem; background-color: #cccccc; color: #050505">
              <div style="font-size: 1.6rem">Points: {{captain.data.total_points}}</div>
            </div>
            <div style="margin-top: 1rem; font-size: 1.2rem; text-align: center; color: #212121"><span style="color: var(--secondary-color)">{{captain.data.cap_by}}%</span> users made <span style="color: #3d4249">{{captain.data.name}}</span> captain.</div>
            <div style="text-align: center !important; margin-top: 3rem !important;">
              <button class="btn btn-neutral-action" v-if="selected_count['cap'] === captain.key" @click="removeCaptain" style="margin-right: 1rem;">
                Remove Captain
              </button>
              <button class="btn btn-third" v-else @click="makeCaptain" style="margin-right:1rem; background-color: var(--captain) !important;">Captain</button>
              <button class="btn btn-neutral-action" v-if="selected_count['vc'] === captain.key" @click="removeViceCaptain">Remove Vice-Captain</button>
              <button class="btn btn-third" v-else @click="makeViceCaptain" style="background-color: var(--vicecap) !important;">Vice-Captain</button>
            </div>
          </div>
        </v-card>
      </v-dialog>
      <v-snackbar
        :timeout="2000"
        v-model="snackbar"
        centered
        top
      >
        {{snackbarMessage}}
      </v-snackbar>
    </div>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import {getDeadLineByCurrentRound, getOnlyFirstName} from "../../filter";
    export default {
        name: "team",
        props: {
            tournament: Object
        },
        data: function () {
            return {
                GET_FIRST_NAME: getOnlyFirstName,
                currentUser: firebase.auth().currentUser,
                step: 1,
                dialog: false,
                dialog2: false,
                players: [],
                wicketKeepers: [],
                batsmen: [],
                bowlers: [],
                allRounders: [],
                imageURL: require('@/assets/user.svg'),
                sortedPlayers: [],
                selectedPlayers: [],
                selection_ongoing: 'wk',
                selected_count: {
                    'wk': {
                        selected: 0,
                        minPlayer: 1,
                        maxPlayer: 2,
                        name: 'Wicketkeeper',
                        players: [],
                    },
                    'bts': {
                        selected: 0,
                        minPlayer: 3,
                        maxPlayer: 5,
                        name: 'Batsman',
                        players: [],
                    },
                    'al': {
                        selected: 0,
                        minPlayer: 1,
                        maxPlayer: 3,
                        name: 'All-rounder',
                        players: [],
                    },
                    'bow': {
                        selected: 0,
                        minPlayer: 3,
                        maxPlayer: 5,
                        name: 'Bowler',
                        players: [],
                    }
                },
                totalPlayer: 0,
                teams: [],
                captain: {},
                mxpf1tm: 7,
                cr_limit: 100,
                cr_used: 0,
                sqd_val: 0,
                previous_selection: [],
                trans_out: [],
                trans_in: [],
                trans_count: 0,
                free_transfer: 0,
                team_created: false,
                transfer_cost: 0,
                projected_cost: 0,
                stg_one_err_msg: "",
                snackbar: false,
                snackbarMessage: '',
                selectionError: false,
                page1ErrorReason: '',
                noTimeForThisRound: false,
                byPoints: false,
                byPrice: false,
                byPlayer: false,
                bySelect: false,
                GET_DEADLINE: getDeadLineByCurrentRound
            }
        },
        methods: {
            replaceByDefault(e) {
                const self = this;
                e.target.src = self.imageURL
            },
            goBack(){
                const self = this;
                self.$emit('save-change')
            },
            getErrorReason(player){
                const self = this;
                if(self.selected_count[self.selection_ongoing].selected + 1 > self.selected_count[self.selection_ongoing].maxPlayer) {
                    self.stg_one_err_msg = 'You can select only ' + self.selected_count[self.selection_ongoing].maxPlayer +
                        ' ' + self.selected_count[self.selection_ongoing].name + '.'
                } else if(player && self.teams[player.data.team_id].selected + 1 > self.mxpf1tm) {
                    self.stg_one_err_msg = 'You can select only ' + self.mxpf1tm +
                        ' from one team.'
                } else if(player && (self.cr_used + parseFloat(player.data.price)) > self.cr_limit ) {
                    self.stg_one_err_msg = 'You do not have sufficient balance in your bank.'
                } else if(self.totalPlayer+1 >= 11) {
                    self.stg_one_err_msg = 'You have already selected 11 Players'
                } else {
                    self.stg_one_err_msg = ''
                }
            },
            getPlayerByKey(key){
                const self = this;
                let i;
                let array = self.players;
                let player = {};
                for(i = 0; i <array.length; i++) {
                    if(array[i].key === key) {
                        player = array[i].data;
                    }
                }
                return player;
            },
            isPresent(key, array){
                let i;
                for(i = 0; i <array.length; i++) {
                    if(array[i] === key) return true;
                }
                return false
            },
            goToCaptainSelection(){
                const self = this;
                self.step = 2;
                self.trans_in = [];
                self.trans_out = [];
                self.trans_count = 0;
                let i, player;
                for(i = 0; i < self.selectedPlayers.length; i++) {
                    if(!self.isPresent(self.selectedPlayers[i], self.previous_selection)) {
                        player = self.getPlayerByKey(self.selectedPlayers[i])
                        self.trans_in.push(player)
                        self.trans_count++;
                    }
                }
                for(i = 0; i < self.previous_selection.length; i++) {
                    if(!self.isPresent(self.previous_selection[i], self.selectedPlayers)) {
                        player = self.getPlayerByKey(self.previous_selection[i])
                        self.trans_out.push(player)
                    }
                }
                if(!self.team_created || self.free_transfer === "unlimited") {
                    self.projected_cost = 0
                } else {
                    if(parseInt(self.trans_count) > parseInt(self.free_transfer)) {
                        self.projected_cost = (parseInt(self.trans_count) - parseInt(self.free_transfer))*10
                    } else {
                        self.projected_cost = 0
                    }
                }
            },
            gotoTransferPage(){
                const self = this;
                self.step = 3;
            },
            isSelected(player){
                const self = this;
                let i;
                for(i = 0; i < self.selectedPlayers.length; i++) {
                    if(self.selectedPlayers[i] === player.key) {
                        return true;
                    }
                }
                return false
            },
            removeThisPlayer(player){
                const self = this;
                let i;
                for(i = 0; i < self.selected_count[self.selection_ongoing].players.length; i++) {
                    if(self.selected_count[self.selection_ongoing].players[i].key === player.key) {
                        self.selected_count[self.selection_ongoing].players.splice(i, 1);
                        self.selected_count[self.selection_ongoing].selected--;
                        self.totalPlayer--;
                        break
                    }
                }
                self.cr_used = self.cr_used - parseFloat(player.data.price);
                if(self.selected_count['cap'] === player.key) {
                    self.selected_count['cap'] = undefined
                }
                if(self.selected_count['vc'] === player.key) {
                    self.selected_count['vc'] = undefined
                }
                const index = self.selectedPlayers.findIndex(key => key === player.key);
                if(index !== -1){
                    self.selectedPlayers.splice(index, 1);
                }
                self.selectionError = false;
                self.teams[player.data.team_id].selected--;
            },
            selectThisPlayer(player){
                const self = this;
                if(self.selected_count[self.selection_ongoing].selected < self.selected_count[self.selection_ongoing].maxPlayer
                    && self.totalPlayer < 11 && self.teams[player.data.team_id].selected < self.mxpf1tm
                    && (self.cr_used + parseFloat(player.data.price)) <= self.cr_limit
                ) {
                    self.selectionError = false;
                    self.selected_count[self.selection_ongoing].selected++;
                    self.totalPlayer++;
                    self.teams[player.data.team_id].selected++;
                    self.cr_used = self.cr_used + parseFloat(player.data.price);
                    self.selected_count[self.selection_ongoing].players.push(player);
                    self.selectedPlayers.push(player.key)
                } else {
                    self.getErrorReason(player);
                    self.selectionError = true;
                }
            },
            sortArrayPlayersByPoints(){
                const self = this;
                self.byPrice = false;
                self.byPlayer = false;
                self.bySelect = false;
                if(self.byPoints) {
                    self.sortedPlayers.sort((a, b) => (parseInt(a['data'].total_points) >= parseInt(b['data'].total_points) ? 1 : -1));
                } else {
                    self.sortedPlayers.sort((a, b) => (parseInt(a['data'].total_points) <= parseInt(b['data'].total_points) ? 1 : -1));
                }
                self.byPoints = !self.byPoints;
            },
            sortArrayPlayersByPrice(){
                const self = this;
                self.byPoints = false;
                self.byPlayer = false;
                self.bySelect = false;
                if(self.byPrice) {
                    self.sortedPlayers.sort((a, b) => (parseFloat(a['data'].price) >= parseFloat(b['data'].price) ? 1 : -1));
                } else {
                    self.sortedPlayers.sort((a, b) => (parseFloat(a['data'].price) <= parseFloat(b['data'].price) ? 1 : -1));
                }
                self.byPrice = !self.byPrice;
            },
            sortArrayPlayersByPlayer(){
                const self = this;
                self.byPrice = false;
                self.byPoints = false;
                self.bySelect = false;
                if(self.byPlayer) {
                    self.sortedPlayers.sort((a, b) => (self.GET_FIRST_NAME(a['data'].name) >= self.GET_FIRST_NAME(b['data'].name) ? 1 : -1));
                } else {
                    self.sortedPlayers.sort((a, b) => (self.GET_FIRST_NAME(a['data'].name) <= self.GET_FIRST_NAME(b['data'].name) ? 1 : -1));
                }
                self.byPlayer = !self.byPlayer;
            },
            sortArrayPlayersBySelect(){
                const self = this;
                self.byPrice = false;
                self.byPoints = false;
                self.byPlayer = false;
                if(self.bySelect) {
                    self.sortedPlayers.sort((a, b) => (parseFloat(a['data'].selected_by) >= parseFloat(b['data'].selected_by) ? 1 : -1));
                } else {
                    self.sortedPlayers.sort((a, b) => (parseFloat(a['data'].selected_by) <= parseFloat(b['data'].selected_by) ? 1 : -1));
                }
                self.bySelect = !self.bySelect;
            },
            openDialog(type){
                const self = this;
                self.selection_ongoing = type;
                self.selectionError = false;
                self.byPlayer = false;
                self.byPrice = false;
                switch (type) {
                    case 'wk':
                        self.sortedPlayers = self.wicketKeepers;
                        self.sortedPlayers.sort((a, b) => (parseInt(a['data'].total_points) > parseInt(b['data'].total_points) ? 1 : -1));
                        break;
                    case 'bts':
                        self.sortedPlayers = self.batsmen;
                        self.sortedPlayers.sort((a, b) => (parseInt(a['data'].total_points) < parseInt(b['data'].total_points) ? 1 : -1));
                        break;
                    case 'al':
                        self.sortedPlayers = self.allRounders;
                        self.sortedPlayers.sort((a, b) => (parseInt(a['data'].total_points) < parseInt(b['data'].total_points) ? 1 : -1));
                        self.byPoints = true;
                        break;
                    case 'bow':
                        self.sortedPlayers = self.bowlers;
                        self.sortedPlayers.sort((a, b) => (parseInt(a['data'].total_points) < parseInt(b['data'].total_points) ? 1 : -1));
                        break;
                    default:
                        self.sortedPlayers = self.players;
                        break;
                }
                setTimeout(function () {
                    self.dialog = true;
                }, 200)
            },
            openDialog2(player){
                const self = this;
                self.dialog2 = true;
                self.captain = player;
            },
            makeCaptain(){
                const self = this;
                if(self.selected_count['vc'] && self.selected_count['vc'] === self.captain.key) {
                    self.selected_count['vc'] = '';
                }
                self.selected_count['cap'] = self.captain.key;
                self.dialog2 = false;
            },
            removeCaptain(){
                const self = this;
                self.selected_count['cap'] = ''
                self.dialog2 = false;
            },
            makeViceCaptain(){
                const self = this;
                if(self.selected_count['cap'] && self.selected_count['cap'] === self.captain.key) {
                    self.selected_count['cap'] = '';
                }
                self.selected_count['vc'] = self.captain.key
                self.dialog2 = false;
            },
            removeViceCaptain(){
                const self = this;
                self.selected_count['vc'] = ''
                self.dialog2 = false;
            },
            saveSelection(){
                const self = this;
                let rounds = self.tournament.users[self.currentUser.uid].rounds;
                let roundKey = 'r' + self.tournament.data.act_round;
                let deduct_points = 0;
                if(rounds && self.team_created) {
                    let i;
                    for(i=0; i < rounds.length; i++) {
                        if(rounds[i].key === roundKey) {
                            if(self.free_transfer === "unlimited") {
                                deduct_points = 0;
                            } else {
                                if(parseInt(self.trans_count) > parseInt(self.free_transfer)) {
                                    deduct_points = ((parseInt(self.trans_count) - parseInt(self.free_transfer))*10) + parseInt(rounds[i].deduct_points)
                                } else {
                                    deduct_points = parseInt(rounds[i].deduct_points)
                                }
                            }
                            rounds[i] = {
                                key: roundKey,
                                plyrs: self.selectedPlayers,
                                cap: self.selected_count['cap'],
                                vc: self.selected_count['vc'],
                                trns_made: parseInt(self.trans_count) + parseInt(rounds[i].trns_made),
                                deduct_points: deduct_points
                            };
                            break;
                        }
                    }
                    if(rounds.length === i) {
                        rounds[i] = {
                            key: roundKey,
                            plyrs: self.selectedPlayers,
                            cap: self.selected_count['cap'],
                            vc: self.selected_count['vc'],
                            trns_made: parseInt(self.trans_count) + parseInt(rounds[i].trns_made),
                            deduct_points: deduct_points
                        }
                    }
                } else {
                    rounds = [
                        {
                            key: roundKey,
                            plyrs: self.selectedPlayers,
                            cap: self.selected_count['cap'],
                            vc: self.selected_count['vc'],
                            trns_made: 0,
                            deduct_points: deduct_points
                        }
                    ]
                }
                let data = {
                    doj: self.tournament.users[self.currentUser.uid].doj,
                    tm_crt: true,
                    my_sqd: self.selected_count,
                    rounds: rounds,
                    bank: parseFloat(self.cr_limit- parseFloat(self.cr_used))
                };
                let database = firebase.database();
                database.ref('tournaments/' + self.tournament.data.id + '/users/' + self.currentUser.uid).update(data)
                    .then(function () {
                        self.$emit('save-change')
                    }).catch(function () {
                    // console.log("error")
                })
            },
            setPlayers(players) {
                const self = this;
                let returnArr = [];
                players.forEach(function(childSnapshot) {
                    let object = {
                        key: childSnapshot.key,
                        data: childSnapshot
                    };
                    if(childSnapshot.playingRole && childSnapshot.playingRole.toUpperCase().includes('WICKET')) {
                        self.wicketKeepers.push(object)
                    } else if(childSnapshot.playingRole && childSnapshot.playingRole.toUpperCase().includes('ALL')) {
                        self.allRounders.push(object)
                    } else if(childSnapshot.playingRole && childSnapshot.playingRole.toUpperCase().includes('BOWLER')) {
                        self.bowlers.push(object)
                    } else {
                        self.batsmen.push(object)
                    }
                    returnArr.push(object);
                    // Fill the local data property with Firebase data
                });
                self.players = returnArr;
            },
            updateRules(rules){
                const self = this;
                self.selected_count['wk'].minPlayer = rules.min_wk;
                self.selected_count['wk'].maxPlayer = rules.max_wk;
                self.selected_count['bts'].minPlayer = rules.min_bts;
                self.selected_count['bts'].maxPlayer = rules.max_bts;
                self.selected_count['al'].minPlayer = rules.min_al;
                self.selected_count['al'].maxPlayer = rules.max_al;
                self.selected_count['bow'].minPlayer = rules.min_bow;
                self.selected_count['bow'].maxPlayer = rules.max_bow;
                self.mxpf1tm = rules.max_pf1tm;
                self.cr_limit = parseFloat(rules.cr_limit);
            },
            setUpSquad(sqd, pool){
                const self = this;
                let res = [], i, j;
                for(i=0; i < sqd.length; i++) {
                    for(j=0; j < pool.length; j++){
                        if(sqd[i].key === pool[j].key) {
                            res.push(pool[j]);
                            self.selectedPlayers.push(pool[j].key)
                            self.previous_selection.push(pool[j].key)
                            self.cr_used = self.cr_used + parseFloat(sqd[i].data.price);
                            self.sqd_val = self.sqd_val + parseFloat(pool[j].data.price);
                            self.teams[pool[j].data.team_id].selected++;
                            break;
                        }
                    }
                }
                return res;
            },
        },
        computed: {
            validSelection(){
                const self = this;
                let reason = 'Select at least ';
                let otherReason = false;
                if(self.selected_count['wk'].selected < self.selected_count['wk'].minPlayer){
                    otherReason = true;
                    reason = reason + self.selected_count['wk'].minPlayer + ' wicketkeeper';
                }
                if(self.selected_count['bts'].selected < self.selected_count['wk'].minPlayer){
                    reason = otherReason ? reason + ', ' : reason;
                    otherReason = true;
                    reason = reason + self.selected_count['bts'].minPlayer + ' batsmen';
                }
                if(self.selected_count['al'].selected < self.selected_count['wk'].minPlayer){
                    reason = otherReason ? reason + ', ' : reason;
                    otherReason = true;
                    reason = reason + self.selected_count['al'].minPlayer + ' all-rounder';
                }
                if(self.selected_count['bow'].selected < self.selected_count['bow'].minPlayer){
                    reason = otherReason ? reason + ', ' : reason;
                    otherReason = true;
                    reason = reason + self.selected_count['bow'].minPlayer + ' bowlers';
                }
                if(self.totalPlayer !== 11 && !otherReason){
                    self.page1ErrorReason = 'You need to choose 11 players to complete your squad.';
                } else {
                    self.page1ErrorReason = reason
                }
                return self.totalPlayer === 11 && self.cr_used <= self.cr_limit
                    && self.selected_count['wk'].selected >= self.selected_count['wk'].minPlayer
                    && self.selected_count['wk'].selected <= self.selected_count['wk'].maxPlayer
                    && self.selected_count['bts'].selected >= self.selected_count['bts'].minPlayer
                    && self.selected_count['bts'].selected <= self.selected_count['bts'].maxPlayer
                    && self.selected_count['al'].selected >= self.selected_count['al'].minPlayer
                    && self.selected_count['al'].selected <= self.selected_count['al'].maxPlayer
                    && self.selected_count['bow'].selected >= self.selected_count['bow'].minPlayer
                    && self.selected_count['bow'].selected <= self.selected_count['bow'].maxPlayer;
            }
        },
        mounted(){
            const self = this;
            if(self.tournament) {
                self.noTimeForThisRound = getDeadLineByCurrentRound(self.tournament.data.act_round, self.tournament.data.rounds).distance <= 0;
                self.team_created = self.tournament.users[self.currentUser.uid].tm_crt;
                self.setPlayers(self.tournament.data.pool)
                self.updateRules(self.tournament.data.rules)
                let i;
                for(i=0; i < self.tournament.data.teams.length; i++) {
                    self.teams[self.tournament.data.teams[i].id] = {
                        players: self.tournament.data.teams[i].players.length,
                        selected: 0,
                    }
                }
                if(self.team_created){
                    let mySqd = self.tournament.users[self.currentUser.uid].my_sqd;
                    self.selected_count['wk'].players = self.setUpSquad(mySqd['wk'].players, self.wicketKeepers);
                    self.selected_count['wk'].selected =mySqd['wk'].selected;
                    self.selected_count['bts'].players = self.setUpSquad(mySqd['bts'].players, self.batsmen);
                    self.selected_count['bts'].selected =mySqd['bts'].selected;
                    self.selected_count['al'].players = self.setUpSquad(mySqd['al'].players, self.allRounders);
                    self.selected_count['al'].selected =mySqd['al'].selected;
                    self.selected_count['bow'].players = self.setUpSquad(mySqd['bow'].players, self.bowlers);
                    self.selected_count['bow'].selected =mySqd['bow'].selected;
                    self.selected_count['cap'] = mySqd['cap'];
                    self.selected_count['vc'] = mySqd['vc'];
                    self.cr_limit = parseFloat(self.tournament.data.users[self.currentUser.uid].bank) + parseFloat(self.sqd_val);
                    self.totalPlayer = 11;
                    if(self.tournament.data.fr_trns === 'unlimited') {
                        self.free_transfer = self.tournament.data.fr_trns;
                        self.transfer_cost = 0;
                    } else {
                        let rounds = self.tournament.users[self.currentUser.uid].rounds;
                        let roundKey = 'r' + self.tournament.data.act_round;
                        if(rounds) {
                            let p;
                            for(p=0; p < rounds.length; p++) {
                                if(rounds[p].key === roundKey) {
                                    self.free_transfer = parseInt(rounds[p].trns_made) <= parseInt(self.tournament.data.fr_trns)
                                        ? parseInt(self.tournament.data.fr_trns) - parseInt(rounds[p].trns_made) : 0;
                                    self.transfer_cost = parseInt(rounds[p].deduct_points);
                                    break;
                                }
                            }
                        }
                    }
                } else {
                    self.free_transfer = 'unlimited';
                    self.transfer_cost = 0;
                }
            }
        }
    }
</script>

<style scoped>
  .play-ground{
    margin: 0.5rem;
    font-size: 1.6rem;
  }
  .eve{
    color: white;
    border-radius: 0.4rem;
    padding: 0.2rem 0.5rem;
    background-color: var(--black-background);
  }
  .points{
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    width: 6rem;
    font-size: 1.2rem;
    border-radius: 0 0 0.4rem 0.4rem;
    overflow: hidden;
  }
  .player-card{
    padding: 1rem !important;
    border-bottom: 0.1rem solid #efefef;
  }
  .usr-image{
    width: 100%;
    height: 100%;
    border-radius: 0.4rem 0.4rem 0 0;
  }
  .user-img{
    height: 8.8rem !important;
    border-radius: 0.4rem !important;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.9),
      rgba(170, 170, 170, 0.9)
    )
  }
  .image-wrapper{
    overflow: hidden;
    width: 6rem;
    height: 7rem;
    cursor: pointer;
  }
  .image-wrapper-pop{
    overflow: hidden;
    max-width: 3rem;
    height: auto;
    cursor: pointer;
  }
  .image-wrapper-fnl{
    overflow: hidden;
    width: 4rem;
    height: 5rem;
    cursor: pointer;
  }
  .image-wrapper-single{
    overflow: hidden;
    width: 10rem;
    height: auto;
    border-radius: 0.4rem;
    cursor: pointer;
  }
  .image{
    width: 100%;
    height: 100%;
    border-radius: 0.4rem 0.4rem 0 0;
    background-color: #ffffff;
  }
  .usr{
    max-width: 8rem;
    padding: 1rem 0.5rem 1rem 0;
  }
  .captain{
    background-color: var(--captain);
  }
  .vcap{
    background-color: var(--vicecap);
  }
  .features{
    padding: 0.5rem !important;
    font-size: 1.4rem;
    color: white;
  }
  .fchip{
    background-color: var(--black-background);
    color: white;
    border-radius: 0.4rem;
    padding: 0.5rem;
    height: 100%;
    position: relative;
  }
  .fchip-ttl{
    padding: 0 0 3.2rem 0;
    text-align: center;
  }
  .fchip-val{
    background-color: var(--black-light-foreground);
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    position: absolute;
    bottom: 0.5rem;
    width: calc(100% - 1rem);
    margin: auto;
  }
  .pchip{
    background-color: var(--primary-color-dark);
    color: white;
    position: relative;
    font-size: 1.4rem;
    height: 100%;
  }
  .pcrErr{
    background-color: var(--error-state) !important;
    color: white !important;
  }
  .p-hd{
    font-size: 1.4rem;
    margin: 0 2rem;
    color: white;
    background-color: var(--primary-color);
    padding: 0 1rem;
  }
  .lmtCrs{
    color: var(--error-state);
  }
  .select{
    width: 10%;
    margin: auto;
  }
  .name{
    width: 40%;
    font-size: 1.2rem;
    overflow-x: hidden;
    margin: auto 0;
  }
  .pnts{
    width: 15%;
    margin: auto;
  }
  .price{
    width: 20%;
    margin: auto;
  }
  .image-sn{
    max-width: 3rem;
    width: 100%;
    height: 100%;
  }
  .nm{
    width: 40%;
    font-size: 1.2rem;
  }
</style>