<template>
  <div class="container-fluid" style="padding: 4rem 2rem; text-align: center">
    <div v-if="type === 'match'">
      <div style="margin-top: 2rem !important;" class="row prize">
        <div>
          <div class="image-wrp">
            <img class="image" :src="s_prize.image">
          </div>
        </div>
      </div>
      <div style="text-align: left; margin-top: 2rem; padding-bottom: 4rem; color: white">
        <ul>
          <li>Multiple IDs are not allowed. If found s/he will not be considered for any prize.</li>
          <li>You have to be in our official Facebook Group to claim any prize.</li>
          <li>Prizes will be distributed after the end of the tournament.</li>
          <li>You will get an email from us which needs to be responded to get any prize in time.</li>
        </ul>
      </div>
    </div>
    <div v-else>
      <div v-if="special">
        <div style="margin-top: 2rem !important;" class="row prize">
          <div>
            <div class="image-wrp">
              <img class="image" :src="t_prize.image">
            </div>
          </div>
        </div>
        <div style="text-align: left; color: white; margin-top: 2rem; padding-bottom: 4rem">
          <ul>
            <li>In case of a 'Tie in a particular round', user with the higher rank (including that round) will be declared as the round winner</li>
            <li>Users need to enroll before at least one round to be eligible for winning round-wise prizes (except round 1)</li>
            <li>Multiple IDs are not allowed. If found, s/he will not be considered for any prizes.</li>
            <li>You have to be in our official Facebook Group to claim any prizes.</li>
            <li>Prizes will be distributed after the end of the tournament.</li>
            <li>You will get an email from us which needs to be responded to get any prizes in time.</li>
          </ul>
        </div>
      </div>
      <div v-else>
        <div v-if="series_cup">
          <div style="margin-top: 0rem !important;" class="prize">
            <div style="background-color: var(--fourth-color); padding: 1rem; color: white" class="row">
              Points Distribution (For Each Series)
            </div>
            <div style="background-color: #f7f7f7" class="row">
              <div class="col-2 my-auto">
                <div style="text-align: center"><img style="width: 2rem; height: 2rem;" src="@/assets/logo/icon_logo.svg"></div>1000
              </div>
              <div class="col-8 my-auto">
                Champion
              </div>
            </div>
            <div style="background-color: #e6e6e6" class="row">
              <div class="col-2 my-auto">
                <div style="text-align: center"><img style="width: 2rem; height: 2rem;" src="@/assets/logo/icon_logo.svg"></div>900
              </div>
              <div class="col-8 my-auto">
                Runner-up
              </div>
            </div>
            <div style="background-color: #f7f7f7" class="row">
              <div class="col-2 my-auto">
                <div style="text-align: center"><img style="width: 2rem; height: 2rem;" src="@/assets/logo/icon_logo.svg"></div>850
              </div>
              <div class="col-8 my-auto">
                2nd Runner-up
              </div>
            </div>
            <div style="background-color: #e6e6e6" class="row">
              <div class="col-2 my-auto">
                <div style="text-align: center"><img style="width: 2rem; height: 2rem;" src="@/assets/logo/icon_logo.svg"></div>600
              </div>
              <div class="col-8 my-auto">
                4th - 10th
              </div>
            </div>
            <div style="background-color: #f7f7f7" class="row">
              <div class="col-2 my-auto">
                <div style="text-align: center"><img style="width: 2rem; height: 2rem;" src="@/assets/logo/icon_logo.svg"></div>500
              </div>
              <div class="col-8 my-auto">
                11th - 15th
              </div>
            </div>
            <div style="background-color: #e6e6e6" class="row">
              <div class="col-2 my-auto">
                <div style="text-align: center"><img style="width: 2rem; height: 2rem;" src="@/assets/logo/icon_logo.svg"></div>400
              </div>
              <div class="col-8 my-auto">
                16th-20th
              </div>
            </div>
            <div style="background-color: #f7f7f7" class="row">
              <div class="col-2 my-auto">
                <div style="text-align: center"><img style="width: 2rem; height: 2rem;" src="@/assets/logo/icon_logo.svg"></div>300
              </div>
              <div class="col-8 my-auto">
                21st-30th
              </div>
            </div>
            <div style="background-color: #e6e6e6" class="row">
              <div class="col-2 my-auto">
                <div style="text-align: center"><img style="width: 2rem; height: 2rem;" src="@/assets/logo/icon_logo.svg"></div>200
              </div>
              <div class="col-8 my-auto">
                31st - 50th
              </div>
            </div>
            <div style="background-color: #f7f7f7" class="row">
              <div class="col-2 my-auto">
                <div style="text-align: center"><img style="width: 2rem; height: 2rem;" src="@/assets/logo/icon_logo.svg"></div>100
              </div>
              <div class="col-8 my-auto">
                51st - 100th
              </div>
            </div>
            <div style="background-color: #e6e6e6" class="row">
              <div class="col-2 my-auto">
                <div style="text-align: center"><img style="width: 2rem; height: 2rem;" src="@/assets/logo/icon_logo.svg"></div>50
              </div>
              <div class="col-8 my-auto">
                101st - 200th
              </div>
            </div>
            <div style="background-color: lightskyblue" class="row">
              <div class="col-2 my-auto">
                <div style="text-align: center"><img style="width: 2rem; height: 2rem;" src="@/assets/logo/icon_logo.svg"></div>350
              </div>
              <div  class="col-8 my-auto">
                Round wise Winner
              </div>
            </div>
          </div>
          <div style="margin-top: 2rem !important;" class="prize">
            <div style="background-color: var(--fourth-color); padding: 1rem; color: white" class="row">
              Series Cup Prizes ({{duration}})
            </div>
            <div style="background-color: #f7f7f7" class="row">
              <div class="col-3 my-auto">
                Champion
              </div>
              <div class="col-8 my-auto">
                Bluetooth Headphone, Polo Shirt, T-Shirt, Mug & Key Ring
              </div>
            </div>
            <div style="background-color: #e6e6e6" class="row">
              <div class="col-3 my-auto">
                Runner-up
              </div>
              <div class="col-8 my-auto">
                Jersey, Polo Shirt, Mug & Key Ring
              </div>
            </div>
            <div style="background-color: #f7f7f7" class="row">
              <div class="col-3 my-auto">
                2nd Runner-up
              </div>
              <div class="col-8 my-auto">
                Jersey & Key Ring
              </div>
            </div>
            <div style="background-color: #e6e6e6" class="row">
              <div class="col-3 my-auto">
                4th - 10th
              </div>
              <div class="col-8 my-auto">
                T-Shirt & Key Ring
              </div>
            </div>
            <div style="background-color: #f7f7f7" class="row">
              <div class="col-3 my-auto">
                11th - 15th
              </div>
              <div class="col-8 my-auto">
                100 BDT bKash
              </div>
            </div>
          </div>
          <div style="background-color: var(--warning);" class="row justify-center">
            ** In case of 'Tie', Total points in series cup will be considered as 'Tie' breaker**
          </div>
          <div style="margin-top: 2rem !important;" class="prize">
            <div style="background-color: var(--fourth-color); padding: 1rem; color: white" class="row">
              Series Schedule ({{duration}})
            </div>
            <div :key="ind" v-for="(s, ind) in series" v-bind:class="[{invBack: ind%2 === 0}]" class="row back">
              <div class="col-7 my-auto">
                {{s.name}}
              </div>
              <div class="col-5 my-auto">
                {{s.duration}}
              </div>
            </div>
            <div style="background-color: var(--warning);" class="row justify-center">
              ** Authority can add or remove any series due to unavoidable circumstances **
            </div>
          </div>
        </div>
        <div style="margin-top: 0rem !important;" class="prize" v-else>
          <div class="image-wrp">
            <img class="image" :src="f_prize.image">
          </div>
        </div>
        <div style="text-align: left; margin-top: 2rem; padding-bottom: 4rem; color: white">
          <ul>
            <li>Multiple IDs are not allowed. If found, s/he will not be considered for any prizes.</li>
            <li>You have to be in our official Facebook Group to claim any prizes.</li>
            <li>Prizes can change based on schedule</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    export default {
        name: "tournament-prizes",
        props: {
            type: String,
            special: Boolean,
            series_cup: Boolean
        },
        data: function(){
          return {
              f_prize: {},
              s_prize: {},
              t_prize: {},
              name: '',
              duration: '',
              current_series: {},
              series: {}
          }
        },
        methods: {
            getPrizes(){
                const self = this;
                self.f_prize = {};
                self.s_prize = {};
                let database = firebase.database()
                database.ref('prizes/tournaments').once("value", function (snapshot) {
                snapshot.forEach(function(childSnapshot) {
                  if(childSnapshot.key === '1st') {
                    self.f_prize = childSnapshot.val()
                  } else if(childSnapshot.key === '2nd') {
                    self.s_prize = childSnapshot.val()
                  } else if(childSnapshot.key === '3rd') {
                    self.t_prize = childSnapshot.val()
                  }
                });
              })
            },
            getSchedule(){
              const self = this;
              let database = firebase.database();
              database.ref('series-cup/' + self.current_series.id + '/series/').once('value', function(snapshot) {
                self.series = snapshot.val();
              });
              database.ref('series-cup/' + self.current_series.id + '/name/').once('value', function(snapshot) {
                self.name = snapshot.val();
              });
              database.ref('series-cup/' + self.current_series.id + '/duration/').once('value', function(snapshot) {
                self.duration = snapshot.val();
              });
            },
            getCurrentSeriesCup(){
              let database = firebase.database();
              const self = this;
              database.ref('current-series-cup').on('value', function(snapshot) {
                self.current_series = snapshot.val();
                self.getSchedule();
              });
            },
        },
        mounted(){
            const self = this;
            self.getPrizes()
            self.getCurrentSeriesCup()
        }
    }
</script>

<style scoped>
  .image-wrp{
    max-width: 100%;
  }
  .image{
    width: 100%;
    height: 100%;
  }
  .prize{
    background-color: var(--white);
    position: relative;
    padding: 0.5rem;
    color: var(--black-background);
  }
  .back{
    background-color: #f7f7f7;
  }
  .invBack{
    background-color: #e6e6e6;
  }
  .lbl{
    position: absolute;
    top: -3rem;
    left: 0;
    background-color: var(--third-color-dark);
    color: white;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    border-radius: 0 5rem 5rem 0;
  }
</style>