<template>
  <div v-if="!EmptyObject(data)" style="background-color: var(--primary-color)" class="container-fluid top-header-mar">
    <div style="height: 100%" v-if="!loading">
      <div v-if="!selectionMode">
        <v-toolbar flat style="background-color: var(--primary-color)" dark >
          <v-icon @click="gotoMyTournaments" style="font-size: 2rem">mdi-arrow-left</v-icon>
          <v-spacer></v-spacer>
          <v-toolbar-title>
            <div style="font-size: 1rem; text-align: right">{{data.name}}</div>
            <div style="font-size: 1rem; text-align: right">{{new Date(data.start_date).toString().substring(0,11)}} to {{new Date(data.end_date).toString().substring(0,11)}}</div>
          </v-toolbar-title>
        </v-toolbar>
        <div v-if="!EmptyObject(rounds) && !data.archive" class="timer-row">
          <div style="text-align: center;">
            Team Name: {{user.tm_name}}
          </div>
          <div style="text-align: center; font-size: 1.6rem; padding: 0.5rem 0 2.5rem; margin: 0.1rem">
            Points for Round {{displayPoints.key.substring(1)}}
          </div>
          <div class="row justify-content-center">
            <div class="col-4 no-padding">
              <div class="timer-col">
                <div style="font-size: 2.4rem; font-weight: bold">{{parseInt(displayPoints.average) || 0}}</div>
                <div style="font-size: 1.2rem; color: white">Average</div>
              </div>
            </div>
            <div class="col-4 no-padding">
              <div class="timer-col" style="margin: 0 0.5rem">
                <div style="font-size: 2.4rem; font-weight: bold">
                  {{data.users[currentUser.uid].rounds && data.users[currentUser.uid].rounds[displayPoints.key] ? data.users[currentUser.uid].rounds[displayPoints.key] : 0}}
                </div>
                <div style="font-size: 1.2rem; color: white">Your Points</div>
              </div>
            </div>
            <div class="col-4 no-padding">
              <div class="timer-col">
                <div style="font-size: 2.4rem; font-weight: bold">{{displayPoints.max_points || 0}}</div>
                <div style="font-size: 1.2rem; color: white">Highest <v-icon v-if="displayPoints.max_id" style="margin-left: 0.5rem" size="18" @click="seePoints(displayPoints.max_id)" color="white">mdi-eye</v-icon> </div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin: 0.5rem 0 0">
          <div @click="pickTeam" v-if="GET_DEADLINE(data.act_round, data.rounds).distance > 0 && user.tm_crt && !data.archive && data.transfer_open" class="item-list">
            Pick Team <v-icon class="icon-right">mdi-chevron-right</v-icon>
          </div>
          <div @click="transfers" v-if="data.users[currentUser.uid] && GET_DEADLINE(data.act_round, data.rounds).distance > 0 && !data.archive && data.transfer_open" class="item-list">
            {{user.tm_crt ? 'Transfer': 'Create Squad'}} <v-icon class="icon-right">mdi-chevron-right</v-icon>
          </div>
          <div @click="seePoints(currentUser.uid)" v-if="user.tm_crt && !data.archive" class="item-list">
            Points <v-icon class="icon-right">mdi-chevron-right</v-icon>
          </div>
          <div @click="seeLeaderBoard" class="item-list">
            Leaderboard (Overall)<v-icon class="icon-right">mdi-chevron-right</v-icon>
          </div>
          <div @click="seeLeaderBoardRoundAll" class="item-list">
            Leaderboard (By Round) <v-icon class="icon-right">mdi-chevron-right</v-icon>
          </div>
          <div @click="seeLeaderBoardRound" class="item-list">
            Top Scorers <v-icon class="icon-right">mdi-chevron-right</v-icon>
          </div>
          <div v-if="user.tm_crt" style="background: var(--fourth-color-light)" @click="gotoH2HLeague" class="item-list">
            Head to Head<v-icon size="14" color="white" style="margin-left: 0.5rem; margin-bottom: 0.2rem">mdi-star</v-icon>  <v-icon class="icon-right">mdi-chevron-right</v-icon>
          </div>
          <div @click="seeStatistics" class="item-list">
            Statistics <v-icon class="icon-right">mdi-chevron-right</v-icon>
          </div>
          <div @click="seeFixture" v-if="!data.archive" class="item-list">
            Fixtures <v-icon class="icon-right">mdi-chevron-right</v-icon>
          </div>
          <div @click="gotoPointSystem" v-if="!data.archive" class="item-list">
            Points System <v-icon class="icon-right">mdi-chevron-right</v-icon>
          </div>
          <div @click="gotoRulesSection" v-if="!data.archive" class="item-list">
            Rules <v-icon class="icon-right">mdi-chevron-right</v-icon>
          </div>
        </div>
        <div v-if="user.tm_crt && !EmptyObject(myLeagues)" class="item-list-league">
          <div class="">Your Leagues</div>
          <div style="margin: 1rem 0 0 0">
            <div class="row item-list-league-col justify-content-between">
              <div class="col-6 no-padding text-left">Name</div>
              <div class="col-4 no-padding text-left">Code</div>
              <div class="col-2 no-padding text-right">Settings</div>
            </div>
            <div :key="key" v-for="(league, key) in myLeagues" class="row item-list-league-col justify-content-between">
              <div class="col-6 no-padding text-left">{{league.league_name}}</div>
              <div class="col-4 no-padding text-left">
                {{league.code}} <v-icon @click="copyToClipBoard(league.code)" style="color: #050505; font-size: 1.8rem; margin-left: 1rem; margin-right: 0.5rem;">mdi-content-copy</v-icon>
              </div>
              <div class="col-2 no-padding text-right">
                <v-icon @click="openSettings(league, key)" style="font-size: 1.8rem; margin-left: 1rem; margin-right: 0.5rem; color: #050505">mdi-cog</v-icon>
              </div>
            </div>
          </div>
        </div>
        <div v-if="user.tm_crt && !EmptyObject(myPrivateLeagues)" class="item-list-league">
          <div class="">
            Private Leagues
          </div>
          <div >
            <div class="row item-list-league-col justify-content-between">
              <div class="col-3 text-left no-padding">Pos</div>
              <div class="col-9 text-left no-padding">League</div>
            </div>
            <div :key="key" v-for="(league, key) in myPrivateLeagues" class="row item-list-league-col justify-content-between">
              <div class="col-3 text-left no-padding">
                <div v-if="getLeaguePosition(league, key)">
                  {{getLeaguePosition(league, key).rank > 0 ? getLeaguePosition(league, key).rank : 'n/a'}}
                </div>
                <div v-else>n/a</div>
              </div>
              <div class="col-6 text-left no-padding">{{getLeagueName(league, key)}}</div>
              <div class="col-3 no-padding">
                <v-icon style="color: #050505" @click="goToleagueLeaderBoard(league, key)" class="icon-right">mdi-chevron-right</v-icon>
              </div>
            </div>
          </div>
        </div>
        <div v-if="GET_DEADLINE(data.act_round, data.rounds).distance > 0 && !data.archive" class="item-list-league">
          <div>
            Create or Join a Private League
            <v-icon v-if="createShowLeague" @click="createShowLeague = !createShowLeague" class="icon-right">mdi-chevron-up</v-icon>
            <v-icon v-else @click="createShowLeague = !createShowLeague" class="icon-right">mdi-chevron-down</v-icon>
          </div>
          <div style="margin: 0" v-if="createShowLeague">
            <div v-if="user.tm_crt">
              <div class="row" style="margin: 1rem 0 !important;">
                <div class="input-group">
                  <input v-model="leagueCode" type="text" class="form-control" placeholder="League Code">
                  <div class="input-group-append">
                    <button @click="joinLeague" style="font-size: 1.4rem !important;" class="btn btn-second">Join League</button>
                  </div>
                </div>
              </div>
              <div style="margin: 0 !important; text-align: center">
                <button @click="createLeagueOpenDialog" style="width: 100%" class="btn btn-first-light">Create League</button>
              </div>
            </div>
            <div v-else style="background-color: white; color: var(--error-state); margin: 1rem 0.1rem; padding: 0.2rem; border-radius: 0.2rem"> Pick your team first to create or join a private league.</div>
          </div>
        </div>
      </div>
      <div style="height: 100%; overflow-y: auto" v-else>
        <div style="background-color: var(--black-light-foreground); height: 100%; overflow-y: auto" v-if="teamViewMode">
          <points-view
            v-bind:user_id="user_id"
            v-bind:user_name="user_name"
            v-bind:user_team="user_team"
            v-bind:tournament="data"
            v-bind:user="point_see_user"
            v-on:cancel-view="goBack"
          ></points-view>
        </div>
        <div style="background-color: var(--black-light-foreground); height: 100%; overflow-y: auto" v-if="selectTeam">
          <team-selection
            v-bind:tournament="data"
            v-bind:user="user"
            v-on:save-change="saveSel"
            v-on:go-back="goBack"
          ></team-selection>
        </div>
        <div style="background-color: var(--black-light-foreground); height: 100%; overflow-y: auto" v-if="transfer">
          <transfer-view
            v-bind:tournament="data"
            v-bind:user="user"
            v-on:save-change="saveSel"
            v-on:go-back="goBack"
          ></transfer-view>
        </div>
        <div style="height: 100%; overflow-y: auto" v-if="leaderboardView">
          <leader-board
            v-on:cancel="goBack"
            v-bind:tournament-obj="data"
          ></leader-board>
        </div>
        <div style="background-color: var(--black-light-foreground); height: 100%; overflow-y: auto" v-if="fixtureView">
          <fixture
            v-on:cancel="goBack"
            v-bind:tournament-obj="data"
          ></fixture>
        </div>
        <div style="background-color: var(--black-light-foreground); height: 100%; overflow-y: auto" v-if="leagueSettings">
          <league-settings
            v-on:cancel="goBack"
            v-bind:league-key="editableLeagueKey"
            v-bind:league-obj="editableLeague"
            v-bind:tournament-id="id"
          ></league-settings>
        </div>
        <div style="background-color: var(--black-light-foreground); height: 100%; overflow-y: auto" v-if="leagueLeaderboardView">
          <league-leader-board
            v-on:cancel="goBack"
            v-bind:tournament-obj="data"
            v-bind:league-key="editableLeagueKey"
            v-bind:league-obj="editableLeague"
          ></league-leader-board>
        </div>
        <div v-if="rulesView">
          <rules-view
            v-on:cancel="goBack"
            v-bind:rules="data.rules"
            v-bind:rounds="data.rounds"
            v-bind:is-classic="true"
          ></rules-view>
        </div>
        <div style="background-color: var(--black-light-foreground); height: 100%; overflow-y: auto" v-if="statisticsView">
          <statistics-view
            v-on:cancel="goBack"
            v-bind:tournament="data"
          ></statistics-view>
        </div>
        <div style="height: 100%; overflow-y: auto" v-if="leaderBoardRound">
          <leaderboard-round
            v-on:cancel="goBack"
            v-bind:tournament="data"
          ></leaderboard-round>
        </div>
        <div style="height: 100%; overflow-y: auto" v-if="leaderBoardRoundAll">
          <leaderboard-round-all
            v-on:cancel="goBack"
            v-bind:tournament="data"
          ></leaderboard-round-all>
        </div>
        <div style="height: 100%; overflow-y: auto" v-if="h2hMode">
          <htoh-league
            v-on:cancel="goBack"
            v-bind:tournament="data"
          ></htoh-league>
        </div>
      </div>
    </div>
    <div v-else class="row" style="height: 100%">
      <div class="my-auto mx-auto">
        <v-progress-circular
          :size="100"
          :width="4"
          color="white"
          indeterminate
        ></v-progress-circular>
      </div>
    </div>
    <v-dialog persistent max-width="400" v-model="dialog">
      <v-card  style="max-width: 100%; overflow-y: auto; overflow-x: hidden;">
        <v-toolbar flat style="max-height: 6.4rem; background-color: var(--secondary-color)" dark >
          <v-toolbar-title style="font-size: 1.6rem">
            Create Your League
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon dark @click="dialog = false">
              <v-icon style="font-size: 2rem">mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <div style="margin: 2rem 2rem 2rem">
          <v-text-field
            v-model="league_name"
            outlined
            dense
            label="League Name"
            :error-messages="nameErrors"
          >
          </v-text-field>
          <v-select
            :items="maxParticipants"
            v-model="max_participants"
            outlined
            dense
            label="Maximum Participants"
          >
          </v-select>
          <div style="text-align: right">
            <button @click="createLeague" class="btn btn-third">Submit</button>
          </div>
        </div>
      </v-card>
    </v-dialog>
    <v-snackbar
      :color="snackbarColor"
      :timeout="3000"
      v-model="snackbar"
      centered
      bottom
    >
      {{snackbarMessage}}
    </v-snackbar>
  </div>
</template>

<script>
    import {required, maxLength} from "vuelidate/lib/validators";
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import TransferView from "./team"
    import TeamSelection from "./squad-select";
    import PointsView from "./points";
    import LeaderBoard from "./leaderboard-component";
    import Fixture from "./fixture-component";
    import LeagueSettings from "./league-settings";
    import LeagueLeaderBoard from "./league-leaderboard"
    import RulesView from "./team-rules";
    import StatisticsView from "../common/statistics-component"
    import LeaderboardRound from "./leaderboard-round-wise";
    import LeaderboardRoundAll from "./leaderboard-round-wise-all";
    import HtohLeague from "./h2h-leagues";
    import {generateCode, IsEmptyObject, getDeadLineByCurrentRound} from "../../filter";
    export default {
        name: "tournament-single",
        components: {
            TeamSelection,
            TransferView,
            PointsView,
            LeaderBoard,
            Fixture,
            LeagueSettings,
            LeagueLeaderBoard,
            RulesView,
            StatisticsView,
            LeaderboardRound,
            LeaderboardRoundAll,
            HtohLeague
        },
        validations: {
            league_name: {required, maxLength: maxLength(32)},
        },
        data: function(){
            return {
                snackbar: false,
                snackbarMessage: '',
                snackbarColor: '#5C2593',
                loading: false,
                dialog: false,
                currentUser: firebase.auth().currentUser,
                id: '',
                tournament: {},
                data: {},
                user: {},
                rounds: [],
                showLeague: false,
                selectionMode: false,
                selectTeam: false,
                teamViewMode: false,
                leaderboardView: false,
                fixtureView: false,
                createShowLeague: false,
                leagueCode: '',
                league_name: '',
                max_participants: 25,
                maxParticipants: [25,50,100],
                yourLeague: false,
                myLeagues: {},
                privateLeagues: {},
                myPrivateLeagues: {},
                EmptyObject: IsEmptyObject,
                leagueSettings: false,
                editableLeague: {},
                editableLeagueKey: '',
                leagueLeaderboardView: false,
                displayPoints: {},
                GET_DEADLINE: getDeadLineByCurrentRound,
                rulesView: false,
                statisticsView: false,
                transfer: false,
                point_see_user: {},
                user_id: '',
                user_name: '',
                user_team: '',
                leaderBoardRound: false,
                leaderBoardRoundAll: false,
                h2hMode: false
            }
        },
        methods: {
            resetExcept(){
                const self = this;
                self.selectTeam = false;
                self.teamViewMode = false;
                self.leaderboardView = false;
                self.leagueSettings = false;
                self.fixtureView = false;
                self.leagueLeaderboardView = false
                self.rulesView = false;
                self.statisticsView = false;
                self.transfer = false;
                self.leaderBoardRound = false;
                self.leaderBoardRoundAll = false;
                self.h2hMode = false;
            },
            getTournament(){
                const self = this;
                self.loading = true;
                let database = firebase.database();
                let tournament_ref = database.ref('tournaments/' + self.id);
                tournament_ref.child('data').on('value', function (snap) {
                    self.data = snap.val()
                    if(self.data) {
                        self.rounds = self.data.rounds;
                        let round = {};
                      if(parseInt(self.data.act_round) === 1 || (parseInt(self.data.act_round) === parseInt(self.data.tot_round) && !self.data.transfer_open)) {
                        round = self.getRoundByKey(self.rounds, self.data.act_round);
                        self.displayPoints = round;
                      } else {
                        round = self.getRoundByKey(self.rounds, parseInt(self.data.act_round - 1));
                        self.displayPoints = round;
                      }
                    }
                });
                let query = tournament_ref.child('users').orderByKey().equalTo(self.currentUser.uid).limitToFirst(1)
                query.on('value', function (snap) {
                    let u = snap.val();
                    if(u) {
                        self.user = u[self.currentUser.uid]
                        if(self.user["leagues"]) {
                            self.myLeagues = self.user["leagues"]
                        } else {
                            self.myLeagues = {}
                        }
                        if(self.user["private-leagues"]) {
                            self.myPrivateLeagues = self.user["private-leagues"];
                        } else {
                            self.myPrivateLeagues = {}
                        }
                    } else {
                        self.$router.push({name: 'dashboard'}).catch()
                    }
                    self.loading = false;
                });
                tournament_ref.child('leagues').on('value', function (snap) {
                    self.privateLeagues = snap.val()
                });
            },
            getRoundByKey(rounds, key){
                for(let i =0; i < rounds.length; i++) {
                    if(parseInt(rounds[i].key.substring(1)) === parseInt(key)) return rounds[i]
                }
            },
            gotoMyTournaments(){
                const self = this;
                self.$router.go(-1)
            },
            transfers(){
                const self = this;
                self.resetExcept()
                self.selectionMode = true;
                self.transfer = true;
            },
            pickTeam(){
                const self = this;
                self.resetExcept()
                self.selectionMode = true;
                self.selectTeam = true;
            },
            seePoints(id){
                const self = this;
                self.resetExcept();
                self.user_id = id;
                let database = firebase.database();
                database.ref('users/' + id).once('value', function (snapshot) {
                    self.user_name = snapshot.val() && snapshot.val().name;
                    database.ref('tournaments/' + self.id + '/users/' + id).once('value', function (snapshot_2) {
                        self.point_see_user = snapshot_2.val();
                        self.user_team = snapshot_2.val().tm_name
                        self.selectionMode = true;
                        self.teamViewMode = true;
                    });
                });
            },
            gotoH2HLeague(){
                const self = this;
                self.resetExcept();
                self.selectionMode = true;
                self.h2hMode = true;
            },
            seeLeaderBoard(){
                const self = this;
                self.resetExcept();
                self.selectionMode = true;
                self.leaderboardView = true;
            },
            seeLeaderBoardRound(){
                const self = this;
                self.resetExcept()
                self.selectionMode = true;
                self.leaderBoardRound = true;
            },
            seeLeaderBoardRoundAll(){
                const self = this;
                self.resetExcept()
                self.selectionMode = true;
                self.leaderBoardRoundAll = true;
            },
            seeFixture(){
                const self = this;
                self.resetExcept();
                self.selectionMode = true;
                self.fixtureView = true;
            },
            seeStatistics(){
                const self = this;
                self.resetExcept();
                self.selectionMode = true;
                self.statisticsView = true;
            },
            saveSel(){
                const self = this;
                self.selectionMode = false;
                self.resetExcept()
                setTimeout(function () {
                    self.snackbar = true;
                    self.snackbarMessage = 'Saved Successfully.'
                    self.snackbarColor = 'success';
                }, 100)
            },
            goBack(){
                const self = this;
                self.selectionMode = false;
                self.resetExcept()
            },
            createLeagueOpenDialog(){
                const self = this;
                self.dialog = true;
            },
            createLeague(){
                const self = this;
                self.$v.$touch();
                if (!self.$v.$anyError) {
                    let database = firebase.database();
                    let key = database.ref('tournaments/' + self.data.id + '/users/' + self.currentUser.uid + '/leagues/').push().getKey();
                    database.ref('tournaments/' + self.data.id + '/users/' + self.currentUser.uid + '/leagues/' + key).set({
                            participants: [],
                            league_name: self.league_name,
                            code: generateCode(),
                            max_p: self.max_participants
                    }).then(function () {
                        database.ref('tournaments/' + self.data.id + '/users/' + self.currentUser.uid + '/private-leagues/' + key).set({
                            tm_name: self.user.tm_name,
                            user_key: self.currentUser.uid,
                            doj: new Date().getTime(),
                            round_joined: self.data.act_round
                        }).then(function () {
                            self.snackbar = true;
                            self.snackbarMessage = 'Created tournament. Share the code to let your friends join.';
                            self.max_participants = 25;
                            self.league_name = '';
                        }).catch(function () {
                            self.snackbar = true;
                            self.snackbarMessage = 'Seems like something is not okay. We are looking ar it. Sorry for the interruption.';
                        });
                        self.dialog = false;
                    }).catch(function () {
                    });
                }
            },
            joinLeague(){
                const self = this;
                let found = false;
                let newLeague = '';
                let time_rem = getDeadLineByCurrentRound(self.data.act_round, self.data.rounds).distance
                if(time_rem > 0 && self.leagueCode.trim().length < 8){
                    for (let key in self.privateLeagues) {
                        if(self.privateLeagues[key].data.code.trim() === self.leagueCode.trim()) {
                            found = true;
                            newLeague = key;
                            let database = firebase.database();
                            database.ref('tournaments/' + self.data.id + '/users/' + self.currentUser.uid + '/private-leagues/' + newLeague).set({
                                tm_name: self.user.tm_name,
                                user_key: self.currentUser.uid,
                                doj: new Date().getTime(),
                                round_joined: self.data.act_round
                            }).then(function () {
                                self.snackbar = true;
                                self.snackbarColor = 'success';
                                self.snackbarMessage = 'Joining Complete';
                                self.leagueCode = '';
                            }).catch(function () {
                                self.snackbar = true;
                                self.snackbarMessage = 'Seems like something is not okay. We are looking ar it. Sorry for the interruption.';
                                self.leagueCode = '';
                            });
                            break;
                        }
                    }
                    if(!found) {
                        self.snackbar = true;
                        self.snackbarColor = 'error';
                        self.snackbarMessage = 'Sorry no league exists for this code' ;
                        self.leagueCode = '';
                    }
                } else {
                    self.snackbar = true;
                    self.snackbarColor = 'error';
                    self.snackbarMessage = 'Sorry Invalid code or tournament is already over.' ;
                    self.leagueCode = '';
                }
            },
            copyToClipBoard(val){
                const el = document.createElement('textarea');
                el.value = val;
                document.body.appendChild(el);
                el.select();
                document.execCommand('copy');
                document.body.removeChild(el);
            },
            getLeaguePosition(league, league_key){
                const self = this;
                for (let key in self.privateLeagues) {
                    if(key === league_key) {
                        for(let objKey in self.privateLeagues[key].participants) {
                            if(self.privateLeagues[key].participants[objKey].user_key === league.user_key) {
                                return self.privateLeagues[key].participants[objKey]
                            }
                        }
                    }
                }
            },
            getLeagueName(league, league_key){
                const self = this;
                for (let key in self.privateLeagues) {
                    if(key === league_key) {
                        return self.privateLeagues[key].data.league_name
                    }
                }
            },
            openSettings(league, key){
                const self = this;
                self.resetExcept();
                self.editableLeagueKey = key;
                self.editableLeague = self.privateLeagues[self.editableLeagueKey];
                self.selectionMode = true;
                self.leagueSettings = true;
            },
            goToleagueLeaderBoard(league, key) {
                const self = this;
                self.resetExcept();
                self.editableLeagueKey = key;
                self.editableLeague = self.privateLeagues[self.editableLeagueKey];
                self.selectionMode = true;
                self.leagueLeaderboardView = true;
            },
            gotoPointSystem(){
                const self = this;
                self.$router.push({name: 'points-distribution'}).catch()
            },
            gotoRulesSection(){
                const self = this;
                self.resetExcept();
                self.selectionMode = true;
                self.rulesView = true;
            }
        },
        computed: {
            nameErrors() {
                const errors = [];
                if (!this.$v.league_name.$dirty) return errors;
                !this.$v.league_name.maxLength &&
                errors.push('Maximum 32 Characters');
                !this.$v.league_name.required &&
                errors.push('Required');
                return errors;
            }
        },
        mounted(){
            const self = this;
            if(self.currentUser.emailVerified) {
                self.id = self.$route.query.q;
                self.getTournament()
            } else {
                self.$router.push({name: 'dashboard'}).catch()
            }

        }
    }
</script>

<style scoped>
  .timer-row{
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 2rem;
    border-radius: 0.2rem;
    font-size: 1.4rem;
  }
  .timer-col{
    text-align: center;
    border-radius: 0.4rem;
    padding: 1rem 0;
    color: white;
    border: 1px solid white;
  }
  .item-list{
    background-color: rgba(0,0,0,0.1);
    color: #ffffff;
    padding: 1rem 0.5rem;
    margin: 1rem 0.5rem;
    border-radius: 0.2rem;
    font-size: 1.4rem;
    cursor: pointer;
  }
  .icon-right{
    color: white;
    float: right;
  }
  .icon-left{
    color: white;
    float: left;
  }
  .item-list-league{
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    padding: 1rem 0.5rem;
    margin: 0.5rem;
    border-radius: 0.2rem;
    font-size: 1.4rem;
  }
  .item-list-league-col{
    padding: 0.5rem;
    margin: 0.5rem 0 !important;
    background-color: white;
    color: #050505;
    border-radius: 0.2rem;
  }
  .form-control {
    height: 3.3rem;
    border: 0 solid #eeeeee !important;
    background-color: white !important;
    font-size: 1.4rem;
  }
  .form-control:focus {
    box-shadow: none !important;
  }
</style>