<template>
  <div class="container-fluid top-header-mar-no-back">
    <div style="margin: 1rem 0" v-if="!selectionMode">
      <div :key="index" v-for="(tournament, index) in tournaments">
        <div v-if="tournament.status.enrolled" class="tournament">
          <v-card rounded class="mx-auto">
            <v-img
              class="white--text align-end"
              height="150px"
              :src="tournament.obj.data.imageURL"
              lazy-src="https://firebasestorage.googleapis.com/v0/b/crictreat-f4cb5.appspot.com/o/logo%2Fkhelo_preview.png?alt=media&token=369b8f4f-094c-492d-9069-c86834352f87"

            >
              <v-card-title style="position: relative; font-size: 1.6rem; color: white; background-image: var(--background-color)">
                <div class="tournament-text">
                  <div style="font-size: 1.6rem;">
                    {{tournament.obj.data.name}}
                    <span v-if="parseInt(tournament.obj.data.act_round) === parseInt(tournament.obj.data.tot_round) && GET_DEADLINE(tournament.obj.data.act_round, tournament.obj.data.rounds).distance <= 0" class="chip chip-end">Ended</span>
                    <span v-else class="chip">Live</span>
                  </div>
                </div>
              </v-card-title>
            </v-img>
            <div style="text-align: left; padding: 1rem 0.5rem">
              <div v-bind:class="[{usr: user[0] === currentUser.uid}]" style="border-radius: 0.4rem; padding: 0.2rem; background-color: white; color: #050505; margin: 0.5rem 0.1rem !important;" :key="index" v-for="(user, index) in getTop3(tournament.obj)" class="row">
                <div style="text-align: left;" class="col-1 p-1">{{user[1].rank}}</div>
                <div class="col-8 p-1">{{user[1].tm_name}}</div>
                <div style="text-align: right" class="col-3 p-1">{{user[1].total_points}}</div>
              </div>
              <div v-if="!inTop3" style="border-radius: 0.4rem; padding: 0.2rem; background-color: white; color: #050505; margin: 0.5rem 0.1rem !important;" class="row usr">
                <div style="text-align: left;" class="col-1 p-1">{{tournament.obj.data.users[currentUser.uid].rank}}</div>
                <div class="col-8 p-1">{{tournament.obj.data.users[currentUser.uid].tm_name}}</div>
                <div style="text-align: right" class="col-3 p-1">{{tournament.obj.data.users[currentUser.uid].total_points}}</div>
              </div>
              <div class="row justify-content-end" style="margin-top: 2rem !important;">
                <button style="margin-right: 1rem" @click="gotoLeaderBoard(tournament.obj)" class="btn btn-third">Leaderboard</button>
                <button @click="goToTournamentHome(tournament.obj)" class="btn btn-second">Ground</button>
              </div>
            </div>
          </v-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database';
    import 'firebase/auth';
    import {getDeadLineByCurrentRound} from "../../filter";
    export default {
        name: "tournament",
        data: function () {
            return {
                currentUser: firebase.auth().currentUser,
                tournaments: [],
                count: 0,
                selectionMode: false,
                teamViewMode: false,
                selectedTournament: {},
                GET_DEADLINE: getDeadLineByCurrentRound,
                inTop3: false,
                imageURL: require('../../assets/user.svg')
            }
        },
        methods: {
            getTournaments(){
                let database = firebase.database();
                const self = this;
                database.ref('tournaments').on('value', function(snapshot) {
                    let returnArr = [];
                    snapshot.forEach(function(childSnapshot) {
                        let object = {
                            obj: childSnapshot.val(),
                            status: {
                                enrolled: false,
                            }
                        };
                        if(childSnapshot.val().users) {
                            let status = childSnapshot.val().users[self.currentUser.uid]
                            if(status) {
                                object.status = status;
                                object.status.enrolled = true;
                            }
                        }
                        returnArr.push(object);
                        // Fill the local data property with Firebase data
                    });
                    self.tournaments = returnArr;
                });
            },
            getTop3(tournament){
                const self = this;
                let objects = tournament.data ? tournament.data.users : [];
                let sortable = [];
                for (let key in objects) {
                    if(parseInt(objects[key].rank) !== 0) sortable.push([key, objects[key]]);
                }
                sortable.sort((a, b) => (parseInt(a[1].rank) >= parseInt(b[1].rank) ? 1 : -1));
                let i = sortable.length > 3 ? 3 : sortable.length;
                let j;
                let temp = [];
                for(j=0; j < i ; j++) {
                    if(sortable[j][0] === self.currentUser.uid) self.inTop3 = true;
                    temp.push(sortable[j])
                }
                return temp
            },
            goToTournamentHome(tournament){
                const self = this;
                self.$router.push({name: "tournament", query: {
                    q: tournament.data.id
                    }}).catch()
            },
            goBack(){
                const self = this;
                self.selectionMode = false;
                self.getTournaments()
            },
            gotoLeaderBoard(tournament){
                const self = this;
                self.$router.push({name: "leaderboard", query: {
                        q: tournament.data.id
                    }}).catch()
            }
        },
        mounted(){
            const self = this;
            self.getTournaments()
        }
    }
</script>

<style scoped>
  .tournament{
    padding: 1rem !important;
    margin: 0.5rem !important;
    border-radius: 0.8rem;
    color: white;
  }
  .tournament-text{
    padding: 0.5rem;
  }
  .chip{
    color: var(--secondary-color);
    background-color: white;
    padding: 0.1rem 0.5rem;
    border-radius:0.25rem;
    margin-right: 0.25rem;
    margin-left: 0.1rem;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
  }
  .chip-end{
    color: var(--error-state);
  }
  .usr{
    background-color: rgba(130, 56, 205, 0.15) !important;
    color: rgba(130, 56, 205, 1) !important;
  }
</style>