<template>
<div>
  <div v-bind:class="[{ba: user.rank%2 === 1}]" style="position: relative" class="row back">
    <div class="col-4 col-sm-3 col-md-2 col-lg-3 col-xl-2 my-auto p-3">
      <div class="image-wrapper">
        <img class="image" :src="info.imageURL">
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 my-auto">
      <div style="font-size: 1.6rem; margin-top: 0.5rem;">
        <span style="cursor: pointer; text-decoration: underline" @click="openBox">{{info.name}}</span>
      </div>
      <div style="font-size: 1.2rem; margin-top: 0.5rem">
        <span style="text-align: center"><img style="width: 2rem; height: 2rem;margin-bottom: 0.4rem" src="@/assets/logo/icon_logo.svg"></span>{{user.total_stars}}
      </div>
    </div>
    <span style="position: absolute; right: 0; top: 0.2rem; padding: 0.5rem 2rem; background-color: var(--third-color-dark); color: white; border-radius: 0.4rem 0 0 0.4rem">{{user.rank}}</span>
  </div>
  <v-dialog max-width="40.0rem" v-model="open" persistent>
    <div class="image-upload-box-wrapper">
      <div class="image-upload-box">
        <v-toolbar flat style="max-height: 6.4rem; background-color: var(--primary-color-dark)" dark >
          <v-avatar>
            <img
                :src=info.imageURL
                alt="User"
            >
          </v-avatar>
          <v-spacer></v-spacer>
          <v-toolbar-title style="font-size: 1.4rem">
            <div style="font-size: 2rem">{{info.name}}</div>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon dark @click="closeBox">
            <v-icon style="font-size: 2rem">mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <div class="main-content">
          <div>
            <div class="row back" style="margin: 0.5rem !important;" :key="index" v-for="(series, index) in user.stars">
              <div class="col-10">
                <div style="font-size: 1.8rem">{{series.series_name}}</div>
                <div style="font-size: 1.2rem" v-if="series.points">Series Points: {{series.points}}</div>
              </div>
              <div class="col-2">
                <span style="text-align: center"><img style="width: 2rem; height: 2rem;margin-bottom: 0.4rem" src="@/assets/logo/icon_logo.svg"></span>
                <div>{{series.count}}</div>
              </div>
            </div>
          </div>
        </div>
        <div style="padding: 1rem; color: var(--primary-color-dark); text-align: center">
          Series Cup Total Points: {{user.total_points}}
        </div>
        <div style="padding: 1rem; background-color: #f7f7f7; color: var(--third-color); text-align: center">
          Series Cup Total <span style="text-align: center"><img style="width: 2rem; height: 2rem;margin-bottom: 0.4rem" src="@/assets/logo/icon_logo.svg"></span>
          {{user.total_stars}}
        </div>
      </div>
    </div>
  </v-dialog>
</div>
</template>

<script>
import firebase from "firebase/app";

export default {
  name: "user-card-series-cup",
  props: {
    id: String,
    user: Object,
  },
  data: function (){
    return{
      open: false,
      info: {
        name: 'N/A',
        imageURL: require('@/assets/user.svg')
      }
    }
  },
  methods: {
    openBox(){
      const self = this;
      self.open = true;
    },
    closeBox(){
      const self = this;
      self.open = false;
    },
    getUsersInfo(){
      const self = this;
      let database = firebase.database();
      database.ref('users/' + self.id).once('value', function(snapshot) {
        if(snapshot.val()){
          self.info = snapshot.val();
        }
      });
    },
  },
  mounted() {
    const self = this;
    if(self.id){
      self.getUsersInfo()
    }
  }
}
</script>

<style scoped>
.image-wrapper{
  height: 10rem;
  width: 10rem;
}
.image{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.ba{
  background-color: #e6e6e6 !important;
}
.back {
  background-color: #f7f7f7;
  margin: 0.25rem 0.5rem!important;
  border-radius: 0.2rem;
}
.image-upload-box-wrapper {
  background-color: #ffffff;
  width: 100%;
}
.image-upload-box {
}
.title-header {
  position: relative;
  text-align: left;
  font-size: 1.6rem;
  padding: 1rem;
}
</style>